In [1]:
import IPython.core.display as di # Example: di.display_html('<h3>%s:</h3>' % str, raw=True)
# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)
# This line will add a button to toggle visibility of code blocks, for use with the HTML export version
di.display_html('''<button onclick="jQuery('.input_area').toggle(); jQuery('.prompt').toggle();">Toggle code</button>''', raw=True)

import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
import pickle, os, gc, re, sys

sns.set();
sns.set_palette("colorblind")

from IPython.display import display, display_html, HTML
from IPython.core.debugger import set_trace
# plt.rcParams["axes.grid"] = False

import Jupyter_module_loader
# sys.path.insert(1, '/path/to/application/app/folder')
from utility import *
# import gaussian_kde

# import warnings
# warnings.filterwarnings('ignore')

import holoviews as hv
from holoviews import opts

encoding = "ISO-8859-1"

# you should clone this git to a subdirectory called 'BES_analysis_code' (in some directory - I call it BES_analysis - doesn't matter though)
# %matplotlib inline

In [2]:
dataset_folder = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\datasets\\"
output_folder = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\output\\"

In [3]:
CSES_int = pd.read_stata(dataset_folder + "CSES"+os.sep+"integrated 1-4"+os.sep+"cses_imd.dta")

In [4]:
CSES_5 = pd.read_stata(dataset_folder + "CSES"+os.sep+"module 5"+os.sep+"cses5.dta")

In [83]:
Int_variable_df_fi = pd.read_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"Int_variable_df_filledin.csv")

In [66]:
Int_variable_df_fi["var_descr_E"].isnull().sum()

21

In [67]:
int_or_ds_specific = (Int_variable_df_fi["INT_only"].notnull() | Int_variable_df_fi["Dataset_specific"].notnull())

In [70]:
Int_variable_df_fi[int_or_ds_specific&Int_variable_df_fi["var_descr_E"].notnull()]

,Unnamed: 0,description,20% matching contents_A,20% matching contents(length)_A,Top Score_A,Top Match_A,20% matching contents_B,20% matching contents(length)_B,Top Score_B,Top Match_B,...,var_descr_C,var_descr_D,var_descr_E,Match_A_discrepancy,Match_B_discrepancy,Match_C_discrepancy,Match_D_discrepancy,INT_only,Dataset_specific,notes
0,IMD1001,dataset,{},0,NaN,NaN,{},0,NaN,NaN,...,C1001,D1001,E1001,NaN,NaN,NaN,NaN,NaN,x,NaN
1,IMD1002_VER,DATASET VERSION,{},0,NaN,NaN,{},0,NaN,NaN,...,C1002_VER,D1002_VER,E1002_VER,NaN,NaN,NaN,NaN,NaN,x,NaN
2,IMD1002_DOI,DIGITAL OBJECT IDENTIFIER,{},0,NaN,NaN,{},0,NaN,NaN,...,C1002_DOI,D1002_DOI,E1002_DOI,NaN,NaN,NaN,NaN,NaN,x,NaN
29,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,{'A2026': 0.515839061673797},1,0.515839,A2026,{'B2032': 0.5855795567729084},1,0.585580,B2032,...,C2032,D1029,E1035_1,NaN,NaN,NaN,NaN,x,NaN,NaN
30,IMD1014_2,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E1035_2,NaN,NaN,NaN,NaN,x,NaN,NaN
33,IMD1016_2,MODE OF INTERVIEW - STUDY SECOND,{},0,NaN,NaN,"{'B3020': 0.8771632221115537, 'B3008': 0.83414...",22,0.877163,B3020,...,NaN,NaN,E1024_2,NaN,NaN,NaN,NaN,x,NaN,NaN
34,IMD1016_3,MODE OF INTERVIEW - STUDY THIRD,{},0,NaN,NaN,"{'B3020': 1.0, 'B3008': 0.9334225597609562, 'B...",22,1.000000,B3020,...,NaN,NaN,E1024_3,NaN,NaN,NaN,NaN,x,NaN,NaN
117,IMD5000_A,PARTY A IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_A,NaN,NaN,NaN,NaN,x,NaN,NaN
118,IMD5000_B,PARTY B IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_B,NaN,NaN,NaN,NaN,x,NaN,NaN
119,IMD5000_C,PARTY C IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_C,NaN,NaN,NaN,NaN,x,NaN,NaN
120,IMD5000_D,PARTY D IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_D,NaN,NaN,NaN,NaN,x,NaN,NaN
121,IMD5000_E,PARTY E IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_E,NaN,NaN,NaN,NaN,x,NaN,NaN
122,IMD5000_F,PARTY F IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_F,NaN,NaN,NaN,NaN,x,NaN,NaN
123,IMD5000_G,PARTY G IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_G,NaN,NaN,NaN,NaN,x,NaN,NaN
124,IMD5000_H,PARTY H IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_H,NaN,NaN,NaN,NaN,x,NaN,NaN
125,IMD5000_I,PARTY I IDENTIFIER - NUMERICAL,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,E5000_I,NaN,NaN,NaN,NaN,x,NaN,NaN

In [69]:
Int_variable_df_fi[ Int_variable_df_fi["var_descr_E"].isnull() & ~int_or_ds_specific ]

,Unnamed: 0,description,20% matching contents_A,20% matching contents(length)_A,Top Score_A,Top Match_A,20% matching contents_B,20% matching contents(length)_B,Top Score_B,Top Match_B,...,var_descr_C,var_descr_D,var_descr_E,Match_A_discrepancy,Match_B_discrepancy,Match_C_discrepancy,Match_D_discrepancy,INT_only,Dataset_specific,notes
35,IMD2001_1,AGE OF RESPONDENT (IN YEARS),{'A2001': 0.959428928519925},1,0.959429,A2001,{'B2001': 0.9631318476095617},1,0.963132,B2001,...,C2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"In mod 4/5, it becomes date of birth 2001_M,20..."
55,IMD3002_UH_DC_3,CURRENT UPPER HOUSE ELECTION: VOTE CHOICE - DI...,{},0,NaN,NaN,{},0,NaN,NaN,...,C3023_UH_DC_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,IMD3002_UH_DC_4,CURRENT UPPER HOUSE ELECTION: VOTE CHOICE - DI...,{},0,NaN,NaN,{},0,NaN,NaN,...,C3023_UH_DC_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,IMD3004_UH_DC_3,PREVIOUS UPPER HOUSE ELECTION: VOTE CHOICE - D...,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,IMD3013_2,STATE OF ECONOMY - BETTER,{'A3024': 0.25086125398580333},1,0.250861,A3024,"{'B3020': 0.9991284860557769, 'B3008': 0.93255...",22,0.999128,B3020,...,NaN,D3003_2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,IMD3013_3,STATE OF ECONOMY - WORSE,{'A3025': 0.22650579243378358},1,0.226506,A3025,"{'B3020': 0.9891060756972112, 'B3008': 0.92252...",22,0.989106,B3020,...,NaN,D3003_3,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
109,IMD3015_1,DICHOTOMIZED POLITICAL INFORMATION ITEM - 1ST,"{'A2023': 0.5196365908763159, 'A2024': 0.29665...",3,0.519637,A2023,"{'B3047_1': 0.7850317480079682, 'B3047_2': 0.5...",3,0.785032,B3047_1,...,C3036_1,D3025_1_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,IMD3015_2,DICHOTOMIZED POLITICAL INFORMATION ITEM - 2ND,"{'A2024': 0.35490073547084555, 'A2023': 0.2966...",2,0.354901,A2024,"{'B3047_2': 0.6104488296812749, 'B3047_1': 0.5...",3,0.610449,B3047_2,...,C3036_2,D3025_2_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,IMD3015_3,DICHOTOMIZED POLITICAL INFORMATION ITEM - 3RD,"{'A2025': 0.23881170984954092, 'A2023': 0.2071...",2,0.238812,A2025,"{'B3047_3': 0.43275336155378485, 'B3047_1': 0....",3,0.432753,B3047_3,...,C3036_3,D3025_3_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,IMD3015_4,DICHOTOMIZED POLITICAL INFORMATION ITEM - 4TH,{},0,NaN,NaN,"{'B3020': 1.0, 'B3008': 0.9334225597609562, 'B...",22,1.000000,B3020,...,NaN,D3025_4_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,IMD5026_2,NUMBER OF ELECTED LEGISLATIVE CHAMBERS,{},0,NaN,NaN,{},0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
missing_dict = dict(zip(["99. MISSING","97. VOLUNTEERED: REFUSED","98. VOLUNTEERED: DON'T KNOW",
                "9997. VOLUNTEERED: REFUSED","9998. VOLUNTEERED: DON'T KNOW","9999. MISSING"],[np.nan]*6))
CSES_5["E2001_Y"].value_counts().sort_index()

birth_year = CSES_5["E2001_Y"].replace(missing_dict).astype(float)
birth_year

birth_month = CSES_5["E2001_M"].replace(missing_dict).apply(lambda x: int(x[0:2]) if pd.notnull(x) else np.nan)
birth_month.value_counts()

#     E2001_M      >>> D01a    DATE OF BIRTH OF RESPONDENT - MONTH
#     E2001_Y      >>> D01b    DATE OF BIRTH OF RESPONDENT - YEAR


# lots of mossing months, a lot of studies didn't ask for birth year/month but age - either at a fixed point (June 30th)
# or at the interview time ... kind of unclear why they didn't include an age column!
# I guess we just set month as June by default and day by 14

birth_year.isnull().sum(),birth_month.isnull().sum()

# when year present but month missing, replace with June (most common and also the ref point used for some studies)
birth_month[birth_year.notnull()&birth_month.isnull()] = 6.0
# when month present but year missing (N=34), drop month so this is recorded as birthdate unknown!
birth_month[birth_year.isnull()&birth_month.notnull()] = np.nan

birth_date = pd.to_datetime((birth_year.astype(str)+birth_month.astype(str)).apply(lambda x: x.replace(".0","\\")+"14" if x!="nannan" else np.nan),
              format = "%Y\\%M\\%d")

In [84]:
int_to_mod5 = Int_variable_df_fi[Int_variable_df_fi["var_descr_E"].notnull()].set_index("Unnamed: 0")["var_descr_E"]

In [85]:
CSES_int[int_to_mod5.index].dtypes.value_counts()

category    9
object      9
category    9
category    9
category    3
           ..
category    1
category    1
category    1
category    1
category    1
Length: 206, dtype: int64

In [86]:
CSES_int[int_to_mod5.index].select_dtypes('object')

,IMD1001,IMD1002_VER,IMD1002_DOI,IMD1004,IMD1005,IMD1006,IMD1006_UN,IMD1006_NAM,IMD1008_RES
0,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ALB_2005,008020050000001111,0080,008,Albania,0000001111
1,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ALB_2005,008020050000001112,0080,008,Albania,0000001112
2,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ALB_2005,008020050000001113,0080,008,Albania,0000001113
3,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ALB_2005,008020050000001114,0080,008,Albania,0000001114
4,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ALB_2005,008020050000001115,0080,008,Albania,0000001115
...,...,...,...,...,...,...,...,...,...
281078,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ZAF_2014,710020140000001296,7100,710,South Africa,0000001296
281079,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ZAF_2014,710020140000001297,7100,710,South Africa,0000001297
281080,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ZAF_2014,710020140000001298,7100,710,South Africa,0000001298
281081,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ZAF_2014,710020140000001299,7100,710,South Africa,0000001299
281082,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,ZAF_2014,710020140000001300,7100,710,South Africa,0000001300

In [87]:
CSES_5[int_to_mod5.values].select_dtypes('object')

,E1001,E1002_VER,E1002_DOI,E1004,E1005,E1006,E1006_UN,E1006_NAM,E1009
0,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,AUS_2019,036020190000000001,0360,036,Australia,0000000001
1,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,AUS_2019,036020190000000003,0360,036,Australia,0000000003
2,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,AUS_2019,036020190000000004,0360,036,Australia,0000000004
3,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,AUS_2019,036020190000000005,0360,036,Australia,0000000005
4,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,AUS_2019,036020190000000006,0360,036,Australia,0000000006
...,...,...,...,...,...,...,...,...,...
35160,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,USA_2016,840020160000005085,8400,840,United States of America,0000005085
35161,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,USA_2016,840020160000005086,8400,840,United States of America,0000005086
35162,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,USA_2016,840020160000005087,8400,840,United States of America,0000005087
35163,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,USA_2016,840020160000005088,8400,840,United States of America,0000005088
35164,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,USA_2016,840020160000005089,8400,840,United States of America,0000005089

In [96]:
int_cats = CSES_int[int_to_mod5.index].select_dtypes('category').apply(lambda x: "|".join([str(x) for x in x.cat.categories]))

In [97]:
mod5_cats = CSES_5[int_to_mod5.values].select_dtypes('category').apply(lambda x: "|".join([str(x) for x in x.cat.categories]))

In [103]:
matched_cats = CSES_int[int_to_mod5.index].select_dtypes('category').columns[(int_cats.values == mod5_cats.values)]
matched_cats

Index(['IMD2006', 'IMD2007', 'IMD3005_4', 'IMD3006', 'IMD3007_A', 'IMD3007_B',
       'IMD3007_C', 'IMD3007_D', 'IMD3007_E', 'IMD3007_F', 'IMD3007_G',
       'IMD3007_H', 'IMD3007_I', 'IMD3008_A', 'IMD3008_B', 'IMD3008_C',
       'IMD3008_D', 'IMD3008_E', 'IMD3008_F', 'IMD3008_G', 'IMD3008_H',
       'IMD3008_I', 'IMD3009_A', 'IMD3009_B', 'IMD3009_C', 'IMD3009_D',
       'IMD3009_E', 'IMD3009_F', 'IMD3009_G', 'IMD3009_H', 'IMD3009_I',
       'IMD3011', 'IMD3012', 'IMD5007', 'IMD5013', 'IMD5016_4', 'IMD5017_4',
       'IMD5018_2', 'IMD5018_4', 'IMD5031_I'],
      dtype='object')

In [105]:
unmatched_cats = CSES_int[int_to_mod5.index].select_dtypes('category').columns[(int_cats.values != mod5_cats.values)]
unmatched_cats

Index(['IMD1003', 'IMD1007', 'IMD1009', 'IMD1011_M', 'IMD1011_D', 'IMD1011_Y',
       'IMD1012_M', 'IMD1012_D', 'IMD1012_Y', 'IMD1013_M',
       ...
       'IMD5056_1', 'IMD5056_2', 'IMD5056_3', 'IMD5057_1', 'IMD5057_2',
       'IMD5057_3', 'IMD5058_1', 'IMD5058_2', 'IMD5059_1', 'IMD5059_2'],
      dtype='object', length=202)

In [115]:
int_modes = CSES_int[unmatched_cats].describe(include='all').loc["top"]

In [116]:
mod5_modes = CSES_5[int_to_mod5.loc[unmatched_cats]].describe(include='all').loc["top"]

In [119]:
(int_modes.values==mod5_modes.values).sum(),(int_modes.values!=mod5_modes.values).sum(),

(78, 124)

In [170]:
int_cats_alpha = int_cats[unmatched_cats].apply(lambda x: "|".join( [cat for cat in x.split("|") if np.isnan(pd.to_numeric(cat,errors='coerce'))]))
int_cats_num = int_cats[unmatched_cats].apply(lambda x: [float(cat) for cat in x.split("|") if not np.isnan(pd.to_numeric(cat,errors='coerce'))]).apply(lambda x: (np.max(x),np.min(x)) if x!=[] else np.nan)
int_cats_num

IMD1003                          NaN
IMD1007                          NaN
IMD1009                          NaN
IMD1011_M                        NaN
IMD1011_D                (31.0, 1.0)
                      ...
IMD5057_3    (309326304.0, 271128.0)
IMD5058_1               (14.1, 1.32)
IMD5058_2             (150.96, 2.15)
IMD5059_1              (13.33, 1.16)
IMD5059_2             (121.76, 1.75)
Length: 202, dtype: object

In [169]:
mod_cats_alpha = mod5_cats[int_to_mod5.loc[unmatched_cats]].apply(lambda x: "|".join([cat for cat in x.split("|") if np.isnan(pd.to_numeric(cat,errors='coerce'))]))
mod_cats_num = mod5_cats[int_to_mod5.loc[unmatched_cats]].apply(lambda x: [float(cat) for cat in x.split("|") if not np.isnan(pd.to_numeric(cat,errors='coerce'))]).apply(lambda x: (np.max(x),np.min(x)) if x!=[] else np.nan)
mod_cats_num

var_descr_E
E1003                          NaN
E1007                          NaN
E1015                          NaN
E1016                          NaN
E1017                  (29.0, 4.0)
                    ...
E5098_3    (318622528.0, 327386.0)
E5078                (18.02, 2.82)
E5079                (18.02, 2.82)
E5080                (16.54, 2.09)
E5081                (16.54, 2.09)
Length: 202, dtype: object

In [179]:
int_cats_alpha[unmatched_cats][int_cats_alpha.values != mod_cats_alpha.values]

IMD1003      00802005. ALBANIA (2005)|03202015. ARGENTINA (...
IMD1007      001. [SEE ELECTION STUDY NOTES]|002. [SEE ELEC...
IMD1009      10. PARLIAMENTARY/LEGISLATIVE|12. PARLIAMENTAR...
IMD1011_M    01. JANUARY|02. FEBRUARY|03. MARCH|04. APRIL|0...
IMD1012_M    01. JANUARY|03. MARCH|04. APRIL|05. MAY|06. JU...
                                   ...
IMD5057_2    999999999. MISSING AND/OR NOT AVAILABLE AT TIM...
IMD5058_1    997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCU...
IMD5058_2    997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCU...
IMD5059_1    997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCU...
IMD5059_2    997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCU...
Length: 129, dtype: object

In [182]:
mod_cats_alpha[int_to_mod5.loc[unmatched_cats]][int_cats_alpha.values != mod_cats_alpha.values]

var_descr_E
E1003      03602019. AUSTRALIA (2019)|04002017. AUSTRIA (...
E1007      001. [SEE ELECTION STUDY NOTES]|002. [SEE ELEC...
E1015      10. PARLIAMENTARY/LEGISLATIVE|12. PARLIAMENTAR...
E1016      01. JANUARY|02. FEBRUARY|03. MARCH|04. APRIL|0...
E1019      05. MAY|10. OCTOBER|12. DECEMBER|96. NOT APPLI...
                                 ...
E5098_2
E5078      997. PRESIDENTIAL ELECTION ONLY - NOT CALCULAT...
E5079      997. PRESIDENTIAL ELECTION ONLY - NOT CALCULAT...
E5080      997. PRESIDENTIAL ELECTION ONLY - NOT CALCULAT...
E5081      997. PRESIDENTIAL ELECTION ONLY - NOT CALCULAT...
Length: 129, dtype: object

In [185]:
mod5_int_category_discrepancies = pd.DataFrame()
mod5_int_category_discrepancies["int_var"] = int_cats_alpha[unmatched_cats][int_cats_alpha.values != mod_cats_alpha.values].index
mod5_int_category_discrepancies["int_cat"] = int_cats_alpha[unmatched_cats][int_cats_alpha.values != mod_cats_alpha.values].values
mod5_int_category_discrepancies["mod_var"] = mod_cats_alpha[int_to_mod5.loc[unmatched_cats]][int_cats_alpha.values != mod_cats_alpha.values].index
mod5_int_category_discrepancies["mod_cat"] = mod_cats_alpha[int_to_mod5.loc[unmatched_cats]][int_cats_alpha.values != mod_cats_alpha.values].values

In [188]:
mod5_int_category_discrepancies.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"mod5_int_category_discrepancies.csv")

In [195]:
len( CSES_5["E1003"].unique() )

21

In [190]:
CSES_5["E1016"].value_counts()
# really, no december
# 21 studies ... pretty realistic

10. OCTOBER      9790
09. SEPTEMBER    7730
11. NOVEMBER     5648
04. APRIL        4237
03. MARCH        2001
05. MAY          2000
01. JANUARY      1690
06. JUNE         1069
02. FEBRUARY     1000
Name: E1016, dtype: int64

In [191]:
CSES_5["E1019"].value_counts()

96. NOT APPLICABLE: NO SECOND ROUND    27329
10. OCTOBER                             4006
12. DECEMBER                            2000
05. MAY                                 1830
Name: E1019, dtype: int64

In [ ]:
IMD1015 and E1023 - same variable name, but different contents
# -> one is about study timing, the other about study context

In [ ]:
#{IMD1016_1, E1024_1}
# need to be harmonized!
# 1. FACE-TO-FACE|2. TELEPHONE|3. MAIL OR SELF-COMPLETED SUPPLEMENT|4. INTERNET|9. MISSING
# 1. IN PERSON, FACE-TO-FACE - USING A QUESTIONNAIRE ON PAPER|2. IN PERSON, FACE-TO-FACE - USING AN ELECTRONIC/COMPUTERIZED QUESTIONNAIRE|3. TELEPHONE|4. MAIL OR SELF-COMPLETION SUPPLEMENT|5. INTERNET

# IMD1016_2	3. MAIL OR SELF-COMPLETED SUPPLEMENT|9. MISSING	E1024_2	0. NOT APPLICABLE|3. TELEPHONE|5. INTERNET
# IMD1016_3	9. MISSING	E1024_3	0. NOT APPLICABLE

In [ ]:
# gender: trivial harmonising
# IMD2002	1. MALE|2. FEMALE|3. [SEE ELECTION STUDY NOTES]|7. REFUSED|9. MISSING	E2002	1. MALE|2. FEMALE|3. [SEE ELECTION STUDY NOTES]|7. VOLUNTEERED: REFUSED|9. MISSING

In [ ]:
# education: non-trivial harmonising
# IMD2003	0. NONE (NO EDUCATION) / ILLITERATE|1. PRIMARY EDUCATION/LOWER SECONDARY EDUCATION|2. HIGHER SECONDARY EDUCATION|3. POST-SECONDARY (NON-UNIVERSITY) EDUCATION|4. UNIVERSITY EDUCATION|6. OTHER|7. VOLUNTEERED: REFUSED|8. VOLUNTEERED: DON'T KNOW|9. MISSING	E2003	01. ISCED LEVEL 0 - EARLY CHILDHOOD EDUCATION|02. ISCED LEVEL 1 - PRIMARY|03. ISCED LEVEL 2 - LOWER SECONDARY|04. ISCED LEVEL 3 - UPPER SECONDARY|05. ISCED LEVEL 4 - POST-SECONDARY NON-TERTIARY|06. ISCED LEVEL 5 - SHORT-CYCLE TERTIARY|07. ISCED LEVEL 6 - BACHELOR OR EQUIVALENT|08. ISCED LEVEL 7 - MASTER OR EQUIVALENT|09. ISCED LEVEL 8 - DOCTORAL OR EQUIVALENT|96. NONE (NO EDUCATION)|97. VOLUNTEERED: REFUSED|98. VOLUNTEERED: DON'T KNOW|99. MISSING

In [ ]:
# marital: trivial harmonising
# IMD2004	1. MARRIED OR LIVING TOGETHER AS MARRIED|2. WIDOWED|3. DIVORCED OR SEPARATED (MARRIED BUT SEPARATED/NOT LIVING WITH LEGAL SPOUSE)|4. SINGLE, NEVER MARRIED|5. [SEE ELECTION STUDY NOTES]|7. VOLUNTEERED: REFUSED|8. VOLUNTEERED: DON'T KNOW|9. MISSING	E2004	1. MARRIED OR LIVING TOGETHER AS MARRIED|2. WIDOWED|3. DIVORCED OR SEPARATED|4. SINGLE, NEVER MARRIED|5. [SEE ELECTION STUDY NOTES]|7. VOLUNTEERED: REFUSED|8. VOLUNTEERED: DON'T KNOW|9. MISSING

In [ ]:
# religion: non-trivial harmonising
# IMD2005	1. CATHOLIC|2. PROTESTANT|3. ORTHODOX/EASTERN CATHOLIC CHURCHES|4. OTHER CHRISTIAN (NO DENOMINATION GIVEN; INDEPENDENT; NON-AFFILIATED; NON-TRADITIONAL PROTESTANTS; MORMONS)|5. JEWISH|6. ISLAM - SUNNI|7. ISLAM - OTHER|8. BUDDHISM|9. HINDUISM|10. INDIGENOUS|11. ETHNORELIGIONS|12. NON-BELIEVERS|13. AGNOSTICS|96. OTHER: NOT SPECIFIED|97. VOLUNTEERED: REFUSED|98. VOLUNTEERED: DON'T KNOW|99. MISSING	E2013	1000. CHRISTIAN (NO DENOMINATION GIVEN)|1101. ROMAN CATHOLIC|1199. CATHOLIC, OTHER [SEE ELECTION STUDY VARIABLE NOTES]|1200. PROTESTANT, NO DENOMINATION GIVEN|1201. ADVENTIST|1203. BAPTIST|1205. EUROPEAN FREE CHURCH (ANABAPTISTS, MENNONITES)|1206. HOLINESS|1208. LUTHERAN|1209. METHODIST|1210. PENTECOSTAL|1211. PRESBYTERIAN|1213. SALVATION ARMY/SALVATIONIST|1214. CHRISTIAN BRETHEN|1215. CHURCHES OF CHRIST|1216. REFORMED CHURCHES|1298. PROTESTANT, OTHER [SEE ELECTION STUDY NOTES]|1299. PROTESTANT, OTHER [SEE ELECTION STUDY NOTES]|1300. EPISCOPALIAN, ANGLICAN, CHURCH OF ENGLAND, CHURCH OF IRELAND|1499. INDEPENDENT, OTHER [SEE ELECTION STUDY NOTES]|1501. CHRISTIAN SCIENTISTS|1502. MORMONS, CHURCH OF LATTER DAY SAINTS|1503. UNITARIAN UNIVERSALISTS|1504. JEHOVAH'S WITNESSES|1600. EASTERN ORTHODOX|1699. ORTHODOX, OTHER [SEE ELECTION STUDY NOTES]|2000. JEWISH|3000. MUSLIM; MOHAMMEDAN; ISLAM (NO DENOMINATION GIVEN)|4000. BUDDHIST|5000. HINDU|5600. SIKHISM|6100. CONFUCIANISM|6200. TAOISM|7100. PAGAN, HEATHEN, TRIBAL RELIGIONSIST, TRADITIONAL RELIGIONIST, ANIMISM, SHAMANISM|7110. RATANA, MAORI|7200. SPIRITISM|7500. BAHAI|7900. EHTNORELIGIONIST, OTHER [SEE ELECTION STUDY NOTES]|7901. EHTNORELIGIONIST, OTHER [SEE ELECTION STUDY NOTES]|8100. AGNOSTIC|8200. ATHEIST|8300. NONE|9001. [SEE ELECTION STUDY NOTES]|9002. [SEE ELECTION STUDY NOTES]|9003. [SEE ELECTION STUDY NOTES]|9004. [SEE ELECTION STUDY NOTES]|9005. [SEE ELECTION STUDY NOTES]|9600. OTHER: NOT SPECIFIED|9997. VOLUNTEERED: REFUSED|9998. VOLUNTEERED: DON'T KNOW|9999. MISSING

In [ ]:
# turnout: trivial harmonising
# IMD3001_PR_1	0. RESPONDENT DID NOT CAST A BALLOT|1. RESPONDENT CAST A BALLOT|9999993. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS [IF APPLICABLE]|9999995. NOT APPLICABLE: NO ROLE OF PRESIDENT|9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS|9999997. VOLUNTEERED: REFUSED|9999998. VOLUNTEERED: DON'T KNOW|9999999. MISSING	E3012_PR_1	0. RESPONDENT DID NOT/WILL NOT CAST A BALLOT|1. RESPONDENT CAST/WILL CAST A BALLOT|93. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS|95. NOT APPLICABLE: NO ROLE OF PRESIDENT|96. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS|97. VOLUNTEERED: REFUSED|98. VOLUNTEERED: DON'T KNOW|99. MISSING
# IMD3001_PR_2	0. RESPONDENT DID NOT CAST A BALLOT|1. RESPONDENT CAST A BALLOT|9999993. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS [IF APPLICABLE]|9999995. NOT APPLICABLE: NO ROLE OF PRESIDENT|9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS / NO SECOND ROUND|9999997. VOLUNTEERED: REFUSED|9999998. VOLUNTEERED: DON'T KNOW|9999999. MISSING	E3012_PR_2	0. RESPONDENT DID NOT/WILL NOT CAST A BALLOT|1. RESPONDENT CAST/WILL CAST A BALLOT|95. NOT APPLICABLE: NO ROLE OF PRESIDENT|96. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS / NO SECOND ROUND|97. VOLUNTEERED: REFUSED|98. VOLUNTEERED: DON'T KNOW
# IMD3001_LH	0. RESPONDENT DID NOT CAST A BALLOT|1. RESPONDENT CAST A BALLOT|9999993. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS [IF APPLICABLE]|9999996. NOT APPLICABLE: NO LOWER HOUSE ELECTION|9999997. VOLUNTEERED: REFUSED|9999998. VOLUNTEERED: DON'T KNOW|9999999. MISSING	E3012_LH	0. RESPONDENT DID NOT/WILL NOT CAST A BALLOT|1. RESPONDENT CAST/WILL CAST A BALLOT|93. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS|96. NOT APPLICABLE: NO LOWER HOUSE ELECTION|97. VOLUNTEERED: REFUSED|98. VOLUNTEERED: DON'T KNOW|99. MISSING
# IMD3001_UH	0. RESPONDENT DID NOT CAST A BALLOT|1. RESPONDENT CAST A BALLOT|9999993. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS [IF APPLICABLE]|9999995. NOT APPLICABLE: UNICAMERAL SYSTEM|9999996. NOT APPLICABLE: NO UPPER HOUSE ELECTION|9999997. VOLUNTEERED: REFUSED|9999998. VOLUNTEERED: DON'T KNOW|9999999. MISSING	E3012_UH	0. RESPONDENT DID NOT/WILL NOT CAST A BALLOT|1. RESPONDENT CAST/WILL CAST A BALLOT|93. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS|95. NOT APPLICABLE: UNICAMERAL SYSTEM|96. NOT APPLICABLE: NO UPPER HOUSE ELECTION|97. VOLUNTEERED: REFUSED|98. VOLUNTEERED: DON'T KNOW|99. MISSING