In [ ]:
# motivated by 
# https://twitter.com/MariosRichards/status/1258726923318018048

In [301]:
dataset_name = "W19_comb"
df_list = [ "BES_Panel" ]

In [302]:
import warnings
warnings.filterwarnings('ignore')

from IPython.display import display
from IPython.display import HTML
import IPython.core.display as di # Example: di.display_html('<h3>%s:</h3>' % str, raw=True)

# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)

# This line will add a button to toggle visibility of code blocks, for use with the HTML export version
di.display_html('''<button onclick="jQuery('.input_area').toggle(); jQuery('.prompt').toggle();">Toggle code</button>''', raw=True)

%matplotlib inline

import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
import pickle, os, gc, re

sns.set();
sns.set_palette("colorblind")

from IPython.display import display, display_html, HTML
from IPython.core.debugger import set_trace
# plt.rcParams["axes.grid"] = False

import Jupyter_module_loader
from utility import *
import gaussian_kde

import warnings
warnings.filterwarnings('ignore')

import holoviews as hv
from holoviews import opts

encoding = "ISO-8859-1"

# you should clone this git to a subdirectory called 'BES_analysis_code' (in some directory - I call it BES_analysis - doesn't matter though)
# %matplotlib inline
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric
data_subfolder = BES_data_folder + dataset_name + os.sep

(manifest, dataset_filename, dataset_description, dataset_citation,
 dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)

for df in df_list:
    if df=="BES_Panel":
        globals()[df]  = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    else:
        globals()[df]  = pd.read_pickle(data_subfolder + df + '.zip',compression='zip' )
        globals()[df].replace(-1,np.nan,inplace=True)
  
(var_type, cat_dictionary, new_old_col_names, old_new_col_names) = get_small_files(data_subfolder, encoding)

# get full set of inferred "cross wave" auth-lib/left-right values and ages
# pan_dataset_allr_values = pd.read_csv(BES_small_data_files + "pan_dataset_allr_values"+".csv")
# pan_dataset_ages = pd.read_pickle(BES_small_data_files + "pan_dataset_ages"+".zip", compression='zip')

var_type (7911, 14)

In [3]:
BESW19 = BES_Panel.copy()

In [6]:
BESW16 = BES_Panel.copy()

In [7]:
search(BESW16,"profile_past_vote_2010")

profile_past_vote_2010    63248
dtype: int64

In [8]:
search(BESW19,"profile_past_vote_2010")

profile_past_vote_2010    65581
dtype: int64

In [9]:
memory_use(locs = locals().items())

                        BESW19: 799.9MiB
                     BES_Panel: 695.0MiB
                        BESW16: 695.0MiB
                      var_type:   5.2MiB
                cat_dictionary: 288.1KiB
             new_old_col_names: 288.1KiB
             old_new_col_names: 144.1KiB
             BES_file_manifest:  58.5KiB
                           _i2:   2.5KiB
                           _i5:   2.5KiB

In [10]:
BESW19.shape,BESW16.shape

((97158, 7911), (92587, 6516))

In [13]:
BESW16 = BESW16.set_index("id").sort_index()
BESW19 = BESW19.set_index("id").sort_index()

In [15]:
BESW16["profile_past_vote_2010"].value_counts()

Conservative                                18121
Labour                                      14335
Liberal Democrat                            12307
I would not vote                             9655
Scottish National Party (SNP)                2290
Don't know                                   2018
United Kingdom Independence Party (UKIP)     1873
Green Party                                   993
Other                                         562
Plaid Cymru                                   550
British National Party (BNP)                  544
Name: profile_past_vote_2010, dtype: int64

In [16]:
BESW19["profile_past_vote_2010"].value_counts()

Conservative                                17934
Labour                                      16643
Liberal Democrat                            12853
Scottish National Party (SNP)                6158
I would not vote                             5001
United Kingdom Independence Party (UKIP)     1220
Brexit Party                                 1126
Don't know                                    952
British National Party (BNP)                  868
Plaid Cymru                                   829
10.0                                          741
Green Party                                   686
Other                                         371
Change UK- The Independent Group              199
Name: profile_past_vote_2010, dtype: int64

In [263]:
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

var_dict = {}

for dataset_name in BES_file_manifest[BES_file_manifest["Base_or_Strings"]=="Base"]["Name"]:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    try:
        df = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
        var_dict[dataset_name] = df.columns
    except:
        try:
            df = pd.read_stata(data_subfolder + dataset_filename).set_index("id").sort_index()
            var_dict[dataset_name] = df.columns
            df.to_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
        except:
            var_dict[dataset_name] = "dta not present either"

In [264]:
[x for x in var_dict.keys() if isinstance(var_dict[x],str)]

[]

In [265]:
# ['W13_only', 'W11_only', 'W10_only', 'W9_only', 'W7_only']
# need updating!
# Also updated: W15_only, W14_only,W12_only, ... all the way down, but 'only' files ... only



# bug W5_only appears twice

In [266]:
[x for x in var_dict.keys() if not isinstance(var_dict[x],str) and "profile_past_vote_2010" in var_dict[x]]

['W19_only',
 'W19_comb',
 'W18_only',
 'W17_only',
 'W16_only',
 'W16_comb',
 'W15_only',
 'W15_comb',
 'W14_comb',
 'W13_comb',
 'W11_only',
 'W10_comb',
 'W10_only',
 'W9_comb',
 'W9_only',
 'W8_only',
 'W8_comb',
 'W7_only',
 'W7_comb',
 'W6_only',
 'W6_comb',
 'W5_comb',
 'W5_only',
 'W4_only',
 'W4_comb',
 'W3_only',
 'W3_comb',
 'W2_only',
 'W1_only']

In [267]:
[x for x in var_dict.keys() if not isinstance(var_dict[x],str) and "profile_past_vote_2005" in var_dict[x]]

# W12_only!

['W19_only',
 'W19_comb',
 'W18_only',
 'W17_only',
 'W16_only',
 'W16_comb',
 'W15_only',
 'W15_comb',
 'W14_comb',
 'W13_comb',
 'W12_only',
 'W11_only',
 'W10_comb',
 'W10_only',
 'W9_comb',
 'W9_only',
 'W8_only',
 'W8_comb',
 'W7_only',
 'W7_comb',
 'W6_only',
 'W6_comb',
 'W5_comb',
 'W5_only',
 'W4_only',
 'W4_comb',
 'W3_only',
 'W3_comb',
 'W2_only',
 'W1_only']

In [268]:
[x for x in var_dict["W12_only"] if "profile" in x]
# W12_only really missing profile_past_vote_2010!

['profile_newspaper2',
 'profile_gross_household',
 'profile_socgrade',
 'profile_work_stat',
 'profile_house_tenure',
 'profile_religion',
 'profile_education_age',
 'profile_lea',
 'profile_oslaua',
 'profile_gross_personal',
 'profile_household_children',
 'profile_past_vote_2005',
 'profile_past_vote_2017',
 'profile_turnout_2017',
 'profile_past_vote_2015',
 'profile_turnout_2015',
 'profile_eurefvote',
 'profile_eurefturnout',
 'profile_scotref_turnout',
 'profile_scotref_vote']

In [269]:
present_in_datasets = [x for x in var_dict.keys() if not isinstance(var_dict[x],str) and "profile_past_vote_2010" in var_dict[x]]
present_in_datasets.remove("W19_comb")
present_in_datasets.insert(0,"W19_comb")
present_in_datasets
# need W19_comb first to set all indices!

# Assumes no indices are lost ...

['W19_comb',
 'W19_only',
 'W18_only',
 'W17_only',
 'W16_only',
 'W16_comb',
 'W15_only',
 'W15_comb',
 'W14_comb',
 'W13_comb',
 'W11_only',
 'W10_comb',
 'W10_only',
 'W9_comb',
 'W9_only',
 'W8_only',
 'W8_comb',
 'W7_only',
 'W7_comb',
 'W6_only',
 'W6_comb',
 'W5_comb',
 'W5_only',
 'W4_only',
 'W4_comb',
 'W3_only',
 'W3_comb',
 'W2_only',
 'W1_only']

In [270]:
present_in_datasets = [x for x in present_in_datasets if "only" in x]
present_in_datasets.insert(0,"W19_comb")
present_in_datasets

['W19_comb',
 'W19_only',
 'W18_only',
 'W17_only',
 'W16_only',
 'W15_only',
 'W11_only',
 'W10_only',
 'W9_only',
 'W8_only',
 'W7_only',
 'W6_only',
 'W5_only',
 'W4_only',
 'W3_only',
 'W2_only',
 'W1_only']

In [271]:
# df = pd.DataFrame()
# temp = BESW16[["profile_past_vote_2005","profile_past_vote_2005"]]
# temp.columns = ["W16_"+x for x in temp.columns]
# df = pd.concat([df,temp],axis=1)
# temp = BESW19[["profile_past_vote_2005","profile_past_vote_2005"]]
# temp.columns = ["W19_"+x for x in temp.columns]
# df = pd.concat([df,temp],axis=1)

# df

In [272]:
%%time
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

df = pd.DataFrame()
var_list = ["profile_past_vote_2005","profile_past_vote_2010"]

for dataset_name in present_in_datasets:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    BES_Panel = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    if "id" in BES_Panel.columns:
        temp = BES_Panel[var_list+["id"]].set_index("id").sort_index()
    else:
        temp = BES_Panel[var_list]
    temp.columns = [dataset_name+"_"+x for x in temp.columns]
    df = pd.concat([df,temp],axis=1)
    
df.index = df.index.astype('int')
# note - no extra rows over W19

Wall time: 34.1 s

In [273]:
# vote2005_categories = list( df[[x for x in df.columns if "profile_past_vote_2005"]].stack().value_counts().index )

In [274]:
# vote2010_categories = list( df[[x for x in df.columns if "profile_past_vote_2010"]].stack().value_counts().index )

In [275]:
replace_dict = {'I would not vote':'Did not vote',
                'Conservative Party':'Conservative',
                'Labour Party':'Labour',
                'Liberal Democrats':'Liberal Democrat',
                'Scottish National Party (SNP)':'Scottish National Party',
                'Some other party':'Other',
               }
ppv2005 = [x for x in df.columns if "profile_past_vote_2005" in x]
df.loc[:,ppv2005] = df.loc[:,ppv2005].replace(replace_dict)
vote2005_categories = list( df[ppv2005].stack().value_counts().index )
vote2005_categories

['Conservative',
 'Labour',
 'Liberal Democrat',
 'Did not vote',
 'Scottish National Party',
 "Don't know",
 'An independent candidate',
 'United Kingdom Independence Party (UKIP)',
 'Green Party',
 'Plaid Cymru',
 'British National Party (BNP)',
 'Other',
 10.0,
 'Brexit Party',
 'Change UK- The Independent Group']

In [276]:
replace_dict = {'I would not vote':'Did not vote',
                'Conservative Party':'Conservative',
                'Labour Party':'Labour',
                'Liberal Democrats':'Liberal Democrat',
                'Scottish National Party (SNP)':'Scottish National Party',
                'Some other party':'Other',
               }
ppv2010 = [x for x in df.columns if "profile_past_vote_2010" in x]
df.loc[:,ppv2010] = df.loc[:,ppv2010].replace(replace_dict)
vote2010_categories = list( df[ppv2010].stack().value_counts().index )
vote2010_categories

['Conservative',
 'Labour',
 'Liberal Democrat',
 'Did not vote',
 'Scottish National Party',
 'United Kingdom Independence Party (UKIP)',
 "Don't know",
 'British National Party (BNP)',
 'Plaid Cymru',
 'Green Party',
 'Brexit Party',
 10.0,
 'Other',
 'Change UK- The Independent Group']

In [277]:
%%time
number_of_unique_responses_per_row_2005 = df[ppv2005].apply(lambda x: len((x.dropna()).unique()),axis=1)
number_of_unique_responses_per_row_2005.value_counts()

Wall time: 44.9 s

1    50268
0    40149
2     6741
dtype: int64

In [278]:
%%time
number_of_unique_responses_per_row_2010 = df[ppv2010].apply(lambda x: len((x.dropna()).unique()),axis=1)
number_of_unique_responses_per_row_2010.value_counts()

Wall time: 44.8 s

1    56419
0    31577
2     9162
dtype: int64

In [329]:
# df[ppv2005].loc[  number_of_unique_responses_per_row_2005>=3 ].dropna(how='all',axis=1)

In [280]:
discrepancy_pairs_2005 = df[ppv2005].loc[  number_of_unique_responses_per_row_2005==2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

In [281]:
discrepancy_pairs_2010 = df[ppv2010].loc[  number_of_unique_responses_per_row_2010==2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

In [282]:
discrepancy_pairs_2010.value_counts()

Labour|Conservative                                     2946
Liberal Democrat|Labour                                 1680
Conservative|Did not vote                               1652
Scottish National Party|Liberal Democrat                1634
Brexit Party|Don't know                                  454
10.0|United Kingdom Independence Party (UKIP)            322
British National Party (BNP)|Green Party                 185
Plaid Cymru|Scottish National Party                      113
Change UK- The Independent Group|Other                    82
Green Party|British National Party (BNP)                  65
United Kingdom Independence Party (UKIP)|Plaid Cymru      29
dtype: int64

In [283]:
discrepancy_pairs_2005.value_counts()

Labour|Conservative                                     1896
Liberal Democrat|Labour                                 1593
Conservative|Did not vote                               1287
Scottish National Party|Liberal Democrat                 904
An independent candidate|Don't know                      662
British National Party (BNP)|Green Party                 130
10.0|United Kingdom Independence Party (UKIP)            118
Plaid Cymru|Scottish National Party                       57
Brexit Party|Other                                        47
Green Party|British National Party (BNP)                  25
United Kingdom Independence Party (UKIP)|Plaid Cymru      20
Change UK- The Independent Group|Other                     2
dtype: int64

In [284]:
df["discrepancy_pairs_2005"] = discrepancy_pairs_2005
df["discrepancy_pairs_2010"] = discrepancy_pairs_2010

In [285]:
# df[df["discrepancy_pairs_2005"]=="10.0|United Kingdom Independence Party (UKIP)"]["discr_2005_change_dataset"].value_counts()

In [286]:
df["discr_2005_change_dataset"] = np.nan
# discrep_pair = "Other|Veritas"
for discrep_pair in discrepancy_pairs_2005.value_counts().index:
    pair_first_part = discrep_pair.split("|")[0]
    if pair_first_part=="10.0":
        pair_first_part=10.0
    temp_ser = (df.loc[discrepancy_pairs_2005[discrepancy_pairs_2005==discrep_pair].index,ppv2005]==pair_first_part).replace(False,np.nan).cumsum(axis=1).replace(True,1.0).idxmax(axis=1)
    df.loc[temp_ser.index,"discr_2005_change_dataset"] = temp_ser
df.groupby("discr_2005_change_dataset")["discrepancy_pairs_2005"].value_counts()

discr_2005_change_dataset        discrepancy_pairs_2005
W10_only_profile_past_vote_2005  Labour|Conservative                                     454
                                 Conservative|Did not vote                               409
                                 Liberal Democrat|Labour                                 398
                                 Scottish National Party|Liberal Democrat                240
                                 An independent candidate|Don't know                     210
                                                                                        ...
W8_only_profile_past_vote_2005   Plaid Cymru|Scottish National Party                      25
                                 Green Party|British National Party (BNP)                 11
                                 Brexit Party|Other                                        8
                                 United Kingdom Independence Party (UKIP)|Plaid Cymru      8
                                 Change UK- The Independent Group|Other                    1
Name: discrepancy_pairs_2005, Length: 74, dtype: int64

In [287]:
df["discr_2010_change_dataset"] = np.nan
# discrep_pair = "Other|Veritas"
for discrep_pair in discrepancy_pairs_2010.value_counts().index:
    pair_first_part = discrep_pair.split("|")[0]
    if pair_first_part=="10.0":
        pair_first_part=10.0    
    temp_ser = (df.loc[discrepancy_pairs_2010[discrepancy_pairs_2010==discrep_pair].index,ppv2010]==pair_first_part).replace(False,np.nan).cumsum(axis=1).replace(True,1.0).idxmax(axis=1)
  
    df.loc[temp_ser.index,"discr_2010_change_dataset"] = temp_ser
df.groupby("discr_2010_change_dataset")["discrepancy_pairs_2010"].value_counts()

discr_2010_change_dataset        discrepancy_pairs_2010
W10_only_profile_past_vote_2010  Labour|Conservative                                     674
                                 Conservative|Did not vote                               479
                                 Scottish National Party|Liberal Democrat                410
                                 Liberal Democrat|Labour                                 377
                                 Brexit Party|Don't know                                 123
                                                                                        ...
W8_only_profile_past_vote_2010   British National Party (BNP)|Green Party                 29
                                 Plaid Cymru|Scottish National Party                      27
                                 Green Party|British National Party (BNP)                 20
                                 Change UK- The Independent Group|Other                   18
                                 United Kingdom Independence Party (UKIP)|Plaid Cymru      8
Name: discrepancy_pairs_2010, Length: 83, dtype: int64

In [288]:
df["discr_2010_change_dataset"].value_counts().sort_index()

W10_only_profile_past_vote_2010    2259
W11_only_profile_past_vote_2010     891
W15_only_profile_past_vote_2010    1633
W17_only_profile_past_vote_2010     132
W18_only_profile_past_vote_2010      62
W19_comb_profile_past_vote_2010      81
W19_only_profile_past_vote_2010       6
W7_only_profile_past_vote_2010     2062
W8_only_profile_past_vote_2010     2036
Name: discr_2010_change_dataset, dtype: int64

In [289]:
df["discr_2005_change_dataset"].value_counts().sort_index()

W10_only_profile_past_vote_2005    1830
W11_only_profile_past_vote_2005     725
W15_only_profile_past_vote_2005     339
W17_only_profile_past_vote_2005      34
W18_only_profile_past_vote_2005      12
W19_comb_profile_past_vote_2005      24
W4_only_profile_past_vote_2005        2
W7_only_profile_past_vote_2005     1835
W8_only_profile_past_vote_2005     1940
Name: discr_2005_change_dataset, dtype: int64

In [290]:
df["discrepancy_pairs_2005"].value_counts()

Labour|Conservative                                     1896
Liberal Democrat|Labour                                 1593
Conservative|Did not vote                               1287
Scottish National Party|Liberal Democrat                 904
An independent candidate|Don't know                      662
British National Party (BNP)|Green Party                 130
10.0|United Kingdom Independence Party (UKIP)            118
Plaid Cymru|Scottish National Party                       57
Brexit Party|Other                                        47
Green Party|British National Party (BNP)                  25
United Kingdom Independence Party (UKIP)|Plaid Cymru      20
Change UK- The Independent Group|Other                     2
Name: discrepancy_pairs_2005, dtype: int64

In [291]:
df["discrepancy_pairs_2010"].value_counts()

Labour|Conservative                                     2946
Liberal Democrat|Labour                                 1680
Conservative|Did not vote                               1652
Scottish National Party|Liberal Democrat                1634
Brexit Party|Don't know                                  454
10.0|United Kingdom Independence Party (UKIP)            322
British National Party (BNP)|Green Party                 185
Plaid Cymru|Scottish National Party                      113
Change UK- The Independent Group|Other                    82
Green Party|British National Party (BNP)                  65
United Kingdom Independence Party (UKIP)|Plaid Cymru      29
Name: discrepancy_pairs_2010, dtype: int64

In [292]:
df["W7_only_profile_past_vote_2005"].value_counts()

Conservative                                8919
Labour                                      7793
Liberal Democrat                            4585
Did not vote                                2657
Scottish National Party                     1474
Don't know                                   883
An independent candidate                     430
United Kingdom Independence Party (UKIP)     408
Green Party                                  348
Plaid Cymru                                  303
Other                                        199
British National Party (BNP)                 198
10.0                                          83
Brexit Party                                  32
Change UK- The Independent Group               1
Name: W7_only_profile_past_vote_2005, dtype: int64

In [308]:
df

,W19_comb_profile_past_vote_2005,W19_comb_profile_past_vote_2010,W19_only_profile_past_vote_2005,W19_only_profile_past_vote_2010,W18_only_profile_past_vote_2005,W18_only_profile_past_vote_2010,W17_only_profile_past_vote_2005,W17_only_profile_past_vote_2010,W16_only_profile_past_vote_2005,W16_only_profile_past_vote_2010,...,W3_only_profile_past_vote_2005,W3_only_profile_past_vote_2010,W2_only_profile_past_vote_2005,W2_only_profile_past_vote_2010,W1_only_profile_past_vote_2005,W1_only_profile_past_vote_2010,discrepancy_pairs_2005,discrepancy_pairs_2010,discr_2005_change_dataset,discr_2010_change_dataset
1,Labour,United Kingdom Independence Party (UKIP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Labour,United Kingdom Independence Party (UKIP),Labour,United Kingdom Independence Party (UKIP),NaN,NaN,NaN,NaN
2,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,NaN,NaN,...,Conservative,Conservative,NaN,NaN,Conservative,Conservative,NaN,NaN,NaN,NaN
3,Labour,Liberal Democrat,Labour,Liberal Democrat,NaN,NaN,NaN,NaN,Labour,Liberal Democrat,...,Labour,Liberal Democrat,Labour,Liberal Democrat,Labour,Liberal Democrat,NaN,NaN,NaN,NaN
4,Conservative,Conservative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Conservative,Conservative,Conservative,Conservative,NaN,NaN,NaN,NaN
5,Did not vote,Liberal Democrat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Did not vote,Liberal Democrat,Did not vote,Liberal Democrat,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [293]:
DNV2005 = (df["W7_only_profile_past_vote_2005"]=="Did not vote")
DNV2010 = (df["W7_only_profile_past_vote_2010"]=="Did not vote")

In [310]:
BES_Panel = BES_Panel.set_index("id").sort_index()

In [311]:
first_wave_joined_panel = BES_Panel[search(BES_Panel,"wave\d+").index].replace(False,np.nan).fillna(method='ffill',axis=1).replace(np.nan,False).astype('bool')
first_wave_joined_panel.columns = [int(x.replace("wave","")) for x in first_wave_joined_panel.columns]

In [313]:
for wave in range(1,20):
    mask  = list(set(first_wave_joined_panel[first_wave_joined_panel[wave]].index).union()  )
    print( wave,
          DNV2010.loc[first_wave_joined_panel[first_wave_joined_panel[wave]].index].sum(),
          DNV2010.loc[first_wave_joined_panel[~first_wave_joined_panel[wave]].index].sum(),
          DNV2005.loc[first_wave_joined_panel[first_wave_joined_panel[wave]].index].sum(),
          DNV2005.loc[first_wave_joined_panel[~first_wave_joined_panel[wave]].index].sum(),
         )

1 1661 714 1990 667
2 1836 539 2180 477
3 2028 347 2298 359
4 2374 1 2657 0
5 2375 0 2657 0
6 2375 0 2657 0
7 2375 0 2657 0
8 2375 0 2657 0
9 2375 0 2657 0
10 2375 0 2657 0
11 2375 0 2657 0
12 2375 0 2657 0
13 2375 0 2657 0
14 2375 0 2657 0
15 2375 0 2657 0
16 2375 0 2657 0
17 2375 0 2657 0
18 2375 0 2657 0
19 2375 0 2657 0

In [309]:
df.shape, BES_Panel.shape

((97158, 38), (97158, 7911))

In [300]:
temp_df = df.copy()

In [303]:
df = temp_df.copy()

In [322]:
var_counts = pd.DataFrame.from_dict( {k:v for k,v in var_dict.items() if k in present_in_datasets} , orient='index').stack().value_counts()

In [327]:
var_counts[var_counts==17].index

Index(['housing', 'profile_past_vote_2005', 'profile_turnout_2017',
       'profile_past_vote_2017', 'euRefLA', 'profile_past_vote_2010',
       'profile_newspaper', 'profile_scotref_turnout', 'profile_turnout_2015',
       'profile_gross_household', 'profile_lea', 'profile_eurefvote',
       'profile_past_vote_2015', 'profile_gross_personal', 'disability',
       'profile_household_children', 'gender', 'profile_scotref_vote',
       'profile_education_age', 'marital', 'ageGroup'],
      dtype='object')

In [388]:
var_counts[var_counts==4].index

Index(['natSecurityGrn', 'profile_work_type', 'responsibleDebtEU',
       'responsibleImmigLibDems', 'happyEULeave', 'scotRefID4', 'respdate',
       'responsibleDebtDontKnow', 'approveEU', 'responsibleCostLiveLab',
       ...
       'responsibleEducationWelshGovt', 'responsibleImmigConservatives',
       'responsibleImmigLabour', 'partyContactBrexit_4',
       'responsibleNHSScottishGovt', 'partyContactBrexit_7', 'refAreGood',
       'responsibleCostLiveNone', 'beliefTradeoff',
       'responsibleEducationScotGovt'],
      dtype='object', length=116)

In [ ]:
# profile_eurefturnout, profile_ethnicity, profile_religion, countryOfBirth, profile_past_vote_2015

In [373]:
var_counts.value_counts().sort_index()

1     8383
2      913
3      127
4      116
5       97
6       55
7       57
8       22
9       39
10      34
11      21
12      13
13      69
14      25
15      25
16      18
17      21
dtype: int64

In [330]:
present_in_datasets

['W19_comb',
 'W19_only',
 'W18_only',
 'W17_only',
 'W16_only',
 'W15_only',
 'W11_only',
 'W10_only',
 'W9_only',
 'W8_only',
 'W7_only',
 'W6_only',
 'W5_only',
 'W4_only',
 'W3_only',
 'W2_only',
 'W1_only']

In [333]:
%%time
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

df = pd.DataFrame()
var_list = list(var_counts[var_counts==17].index)

for dataset_name in present_in_datasets:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    BES_Panel = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    if "id" in BES_Panel.columns:
        temp = BES_Panel[var_list+["id"]].set_index("id").sort_index()
    else:
        temp = BES_Panel[var_list]
    temp.columns = [dataset_name+"_"+x for x in temp.columns]
    df = pd.concat([df,temp],axis=1)
    
df.index = df.index.astype('int')
# note - no extra rows over W19

Wall time: 51.7 s

In [334]:
%%time

number_of_unique_responses_per_row = {}

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]

    number_of_unique_responses_per_row[focal_var] = df[var_cols].apply(lambda x: len((x.dropna()).unique()),axis=1)
    number_of_unique_responses_per_row[focal_var].value_counts()

Wall time: 20min 46s

In [338]:
for key in number_of_unique_responses_per_row.keys():
    print(key)
    display(number_of_unique_responses_per_row[key].value_counts())

housing

0    65301
1    31857
dtype: int64

profile_past_vote_2005

1    50268
0    40149
2     6741
dtype: int64

profile_turnout_2017

1    70322
0    26836
dtype: int64

profile_past_vote_2017

1    60451
0    36707
dtype: int64

euRefLA

1    93773
0     3385
dtype: int64

profile_past_vote_2010

1    56419
0    31577
2     9162
dtype: int64

profile_newspaper

1    56739
0    30228
2     9731
3      460
dtype: int64

profile_scotref_turnout

0    87199
1     9959
dtype: int64

profile_turnout_2015

1    77713
0    19328
2      117
dtype: int64

profile_gross_household

1    39499
2    27572
3    14400
0     9005
4     5190
5     1325
6      161
7        6
dtype: int64

profile_lea

1    54633
0    42525
dtype: int64

profile_eurefvote

1    68514
0    28644
dtype: int64

profile_past_vote_2015

1    71125
0    26033
dtype: int64

profile_gross_personal

1    55276
0    22902
2    18460
3      520
dtype: int64

disability

1    51225
0    33356
2    11798
3      779
dtype: int64

profile_household_children

1    73757
0    19313
2     4080
3        8
dtype: int64

gender

1    96521
0      629
2        8
dtype: int64

profile_scotref_vote

0    88359
1     8799
dtype: int64

profile_education_age

1    39216
0    23432
2    21590
3    12920
dtype: int64

marital

1    64090
0    33068
dtype: int64

ageGroup

1    66930
0    30228
dtype: int64

In [ ]:
# discrepancy_pairs_2005 = df[ppv2005].loc[  number_of_unique_responses_per_row_2005==2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

In [339]:
%%time

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]
    df["nuniq_"+focal_var] = number_of_unique_responses_per_row[focal_var]
    df["discrep_"+focal_var] = df[var_cols].loc[  df["nuniq_"+focal_var]>=2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

Wall time: 1min 35s

In [342]:
df

,W19_comb_housing,W19_comb_profile_past_vote_2005,W19_comb_profile_turnout_2017,W19_comb_profile_past_vote_2017,W19_comb_euRefLA,W19_comb_profile_past_vote_2010,W19_comb_profile_newspaper,W19_comb_profile_scotref_turnout,W19_comb_profile_turnout_2015,W19_comb_profile_gross_household,...,nuniq_gender,discrep_gender,nuniq_profile_scotref_vote,discrep_profile_scotref_vote,nuniq_profile_education_age,discrep_profile_education_age,nuniq_marital,discrep_marital,nuniq_ageGroup,discrep_ageGroup
1,Own the leasehold/freehold outright,Labour,NaN,NaN,E06000050,United Kingdom Independence Party (UKIP),The Mirror / Daily Record,NaN,"Yes, voted","10,000 to 14,999 per year",...,1,NaN,0,NaN,1,NaN,1,NaN,1,NaN
2,Own the leasehold/freehold outright,Conservative,"Yes, voted",Conservative,E07000215,Conservative,The Daily Telegraph,NaN,"Yes, voted","50,000 to 59,999 per year",...,1,NaN,0,NaN,3,20+|d|Foreman or Supervisor of Other Workers (...,1,NaN,1,NaN
3,Own the leasehold/freehold outright,Labour,"Yes, voted",Labour,E07000136,Liberal Democrat,The Mirror / Daily Record,NaN,"Yes, voted","5,000 to 9,999 per year",...,1,NaN,0,NaN,2,20+|d,1,NaN,1,NaN
4,Buying leasehold/freehold on a mortgage,Conservative,NaN,NaN,NaN,Conservative,The Sun,NaN,NaN,"25,000 to 29,999 per year",...,1,NaN,0,NaN,1,NaN,1,NaN,1,NaN
5,Own the leasehold/freehold outright,I would not vote,NaN,NaN,NaN,Liberal Democrat,The Daily Telegraph,NaN,NaN,"25,000 to 29,999 per year",...,1,NaN,0,NaN,1,NaN,1,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98447,NaN,NaN,"No, did not vote",NaN,NaN,NaN,NaN,NaN,"No, did not vote",NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
98448,NaN,NaN,"No, did not vote",NaN,NaN,NaN,NaN,NaN,"No, did not vote",NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
98449,NaN,NaN,"Yes, voted",Don't know,NaN,NaN,NaN,NaN,"Yes, voted",NaN,...,1,NaN,0,NaN,1,NaN,0,NaN,0,NaN
98450,NaN,NaN,"No, did not vote",NaN,NaN,NaN,NaN,NaN,Don't know,NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
98451,NaN,NaN,Don't know,NaN,NaN,NaN,NaN,NaN,"Yes, voted",NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [347]:
df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1)

,discrep_profile_past_vote_2005,discrep_profile_past_vote_2010,discrep_profile_newspaper,discrep_profile_turnout_2015,discrep_profile_gross_household,discrep_profile_gross_personal,discrep_disability,discrep_profile_household_children,discrep_gender,discrep_profile_education_age
1,NaN,NaN,The Mirror / Daily Record|None,NaN,"10,000 to 14,999 per year|25,000 to 29...",NaN,"Yes, limited a little|No",NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,"50,000 to 59,999 per year|60,000 to 69,9...","50,000 to 59,999 per year|10,000 to 14,9...",NaN,NaN,NaN,20+|d|Foreman or Supervisor of Other Workers (...
3,NaN,NaN,NaN,NaN,"5,000 to 9,999 per year|5,000 to 9,999 p...","5,000 to 9,999 per year|5,000 to 9,999 p...",NaN,NaN,NaN,20+|d
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
98447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [349]:
df["discrep_gender"].value_counts()

Female|Male    7
Male|Female    1
Name: discrep_gender, dtype: int64

In [352]:
BES_Panel.loc[df[df["discrep_gender"].notnull()].index,]

Int64Index([30929, 35852, 38388, 39244, 76846, 77218, 77875, 89977], dtype='int64')

In [353]:
search(BES_Panel,"sexuality")

Series([], dtype: float64)

In [360]:
df[df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1).columns[3]].value_counts()

No, did not vote|Yes, voted    33
Yes, voted|No, did not vote    21
Yes, voted|Don't know          20
No, did not vote|Don't know    19
Don't know|Yes, voted          13
Don't know|No, did not vote    11
Name: discrep_profile_turnout_2015, dtype: int64

In [368]:
df[df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1).columns[8]].value_counts().head(20)

Female|Male    7
Male|Female    1
Name: discrep_gender, dtype: int64

In [391]:
%%time
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

df = pd.DataFrame()
var_list = ["profile_eurefturnout", "profile_ethnicity", "profile_religion", "countryOfBirth", "profile_past_vote_2015"]

for dataset_name in present_in_datasets:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    BES_Panel = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    pres_var_list = [x for x in var_list if x in BES_Panel.columns]
    if "id" in BES_Panel.columns:
        temp = BES_Panel[pres_var_list+["id"]].set_index("id").sort_index()
    else:
        temp = BES_Panel[pres_var_list]
    temp.columns = [dataset_name+"_"+x for x in temp.columns]
    df = pd.concat([df,temp],axis=1)
    
df.index = df.index.astype('int')
# note - no extra rows over W19

Wall time: 30.4 s

In [392]:
%%time

number_of_unique_responses_per_row = {}

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]

    number_of_unique_responses_per_row[focal_var] = df[var_cols].apply(lambda x: len((x.dropna()).unique()),axis=1)
    number_of_unique_responses_per_row[focal_var].value_counts()

Wall time: 4min 56s

In [393]:
%%time

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]
    df["nuniq_"+focal_var] = number_of_unique_responses_per_row[focal_var]
    df["discrep_"+focal_var] = df[var_cols].loc[  df["nuniq_"+focal_var]>=2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

Wall time: 6.39 s

In [397]:
df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1).columns

Index(['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'],
      dtype='object')

In [406]:
df[['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'][2]].value_counts().head(5)

Other: Rest of world|Other: Commonwealth member country    27
Other: Commonwealth member country|Other: Rest of world    27
England|Other: Rest of world                               25
Prefer not to answer|England                               15
England|Wales                                              10
Name: discrep_countryOfBirth, dtype: int64

In [404]:
df[['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'][1]].value_counts().head(5)

Yes - Church of England/Anglican/Episcopal|No, I do not regard myself as belonging to any particular religion.    1615
No, I do not regard myself as belonging to any particular religion.|Yes - Church of England/Anglican/Episcopal    1434
No, I do not regard myself as belonging to any particular religion.|Prefer not to say                              705
Yes - Other|No, I do not regard myself as belonging to any particular religion.                                    300
Yes - Roman Catholic|No, I do not regard myself as belonging to any particular religion.                           294
Name: discrep_profile_religion, dtype: int64

In [407]:
df[['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'][0]].value_counts().head(5)

Any other white background|White British        6
White British|Any other white background        4
Any other mixed background|White British        3
Prefer not to say|White British                 2
Any other Asian background|Prefer not to say    1
Name: discrep_profile_ethnicity, dtype: int64