In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import gc
import re

from itertools import cycle
from IPython.display import display
import pickle, os

import seaborn as sns

In [2]:
# you should clone this git to this subdirectory (in some directory - I call it BES_analysis - doesn't matter though)

if os.getcwd().split(os.sep)[-1] != 'BES_analysis_code':
    raise Exception("Stop! You're in the wrong directory - should be in 'BES_analysis_code'")

BES_code_folder   = "../BES_analysis_code/" # we should be here!
BES_small_data_files = BES_code_folder + "small data files" + os.sep
if not os.path.exists( BES_small_data_files ):
    os.makedirs( BES_small_data_files )

# we should create these if they don't already exist
BES_data_folder   = "../BES_analysis_data/"
if not os.path.exists( BES_data_folder ):
    os.makedirs( BES_data_folder )

BES_output_folder = "../BES_analysis_output/"
if not os.path.exists( BES_output_folder ):
    os.makedirs( BES_output_folder )

In [3]:
import Jupyter_module_loader

In [4]:
BES_file_manifest = pd.read_csv( BES_small_data_files + "BES_file_manifest.csv" )

In [74]:
encoding = "ISO-8859-1"

In [5]:
import Untitled5
from Untitled5 import process_dataset

importing Jupyter notebook from Untitled5.ipynb

In [19]:
for dataset_name in ["W13_comb"]:
# [x for x in BES_file_manifest["Name"] if not ( ("strings" in x) or ("comb" in x) )]:
# [x for x in BES_file_manifest["Name"] if not ("strings" in x)]: #  and not ("strings" in x)]:
    if dataset_name in BES_file_manifest["Name"].values:
        print(dataset_name)
        process_dataset(dataset_name)

W13_comb

In [7]:
# %run Untitled5

In [8]:
# W4_comb KeyError: 'likeSalmonW1'

In [9]:
# BES_file_manifest["Name"].sort_values()

In [10]:
# ["W"+str(x)+"_comb" for x in range(1,13)]

In [11]:
# BES_file_manifest["Name"].values

In [12]:
# a = ['cciW1W2W3W4W5','ccinoITW1W2W3W4W5','justITW1W2W3W4W5','cciW6W7W8W9','ccinoITW6W7W8W9','justITW6W7W8W9']

In [13]:
# dataset_name = 'W4_comb'

In [14]:
# BES_file_manifest = pd.read_csv( BES_small_data_files + "BES_file_manifest.csv" )
# manifest = BES_file_manifest[ BES_file_manifest["Name"] == dataset_name ]

# data_subfolder = BES_data_folder + dataset_name + os.sep

# filename = manifest["Stata_Filename"].values[0]

# global BES_Panel
# BES_Panel = pd.read_stata( data_subfolder + filename)

In [15]:
# likeSalmond_list = "Strongly dislike|1.0|2.0|3.0|4.0|5.0|6.0|7.0|8.0|9.0|Strongly like|9999.0"
#     if ( dataset_name in [ "W4_comb","W5_comb" ] ):
#         hardcoded_fix("likeSalmondW1",
#                       likeSalmond_list )

In [16]:
# def hardcoded_fix(col,cat_list):
    
#     var_type.loc[ col , "dtype" ]           = BES_Panel[col].dtype.name
#     if (var_type.loc[ col , "dtype" ] == 'category'):
#         var_type.loc[ col , "cat_all_strings" ] = np.all([isinstance(x,str) for x in BES_Panel[ col ].cat.categories])
        
#     BES_Panel[col] = \
#         BES_Panel[col].astype("category").cat.rename_categories( cat_list.split("|") )
        
#     var_type.loc[ col , "dataset_specific_hardcoded_fix" ] = "|".join( BES_Panel[col].cat.categories.values )

In [17]:
# BES_Panel["likeSalmondW1"].astype("category").cat.rename_categories( likeSalmond_list.split("|") )

In [18]:
# np.all([isinstance(x,str) for x in BES_Panel[ "likeSalmondW1" ].cat.categories])

In [224]:
def fix_a_hat_chars(cat_string):
    cat_array = cat_string.split("|")
    a_hat_present = False
    for el_no in range( 0, len(cat_array) ):
        el = cat_array[el_no]
        el = re.sub( "SiÃƒÂ¢n C. Jame|SiÃ¢n C. James|SiÃ¢n C. Jame|Siân C. James", "Sian C. James", el)
        el = re.sub( "ThÃ©rÃ¨se  Coff|Thérèse  Coffey", "Therese  Coffey", el)
        el = re.sub( "RA©union|RÃ©union|RAÂ©union|RÃƒÂ©union", "Reunion", el)
        el = re.sub( "\xa0Lower supervisory occupations", "Lower supervisory occupations", el)
        el = re.sub( "Don‘t know|Don?t know|Dona??t know|Dona€™t know|Donâ€™t know|Don’t know|Don‘t know|Don\x91t know|Don\x92t know|Dona\x80\x99t know|Do\x92t know","Don't know", el  )
        el = re.sub( "Â–|\x96|–", "-", el )
        el = re.sub( "Â£|\xc2£", "£", el )
        el = re.sub( "\xa0|\sâ€“\s|\s\xe2\x80\x93\s|\sÂ‘|Â’\s" , " ", el )
        el = re.sub( "Â‘|Â’|Â€Â™|â\?\?|\x80\x99|â€™|\xe2\x80\x99|â|â\x80\x99|\?\?|\x92|‘|\x91|’", "'", el )
        
        if el != cat_array[el_no]:
            a_hat_present = True
            cat_array[el_no] = el
            
    if a_hat_present:
        return cat_array
    else:
        return None
    
def careful_fix_a_hat_chars(cat_string):
    if not isinstance(cat_string,str):
        return None
    cat_array = cat_string.split("|")
    a_hat_present = False
    for el_no in range( 0, len(cat_array) ):
        el = cat_array[el_no]
        el = re.sub( "SiÃƒÂ¢n C. Jame|SiÃ¢n C. James|SiÃ¢n C. Jame|Siân C. James", "Sian C. James", el)
        el = re.sub( "ThÃ©rÃ¨se  Coff|Thérèse  Coffey", "Therese  Coffey", el)
        el = re.sub( "RA©union|RÃ©union|RAÂ©union|RÃƒÂ©union", "Reunion", el)
        el = re.sub( "\xa0Lower supervisory occupations", "Lower supervisory occupations", el)
        el = re.sub( "Don‘t know|Don?t know|Dona??t know|Dona€™t know|Donâ€™t know|Don’t know|Don‘t know|Don\x91t know|Don\x92t know|Dona\x80\x99t know|Do\x92t know","Don't know", el  )
        el = re.sub( "Â–|\x96|–", "-", el )
        el = re.sub( "Â£|\xc2£", "£", el )
        el = re.sub( "\xa0|\sâ€“\s|\s\xe2\x80\x93\s|\sÂ‘|Â’\s" , " ", el )
        el = re.sub( "Â‘|Â’|Â€Â™|â\?\?|\x80\x99|â€™|\xe2\x80\x99|â|â\x80\x99|\?\?|\x92|‘|\x91|’", "'", el )

        if el != cat_array[el_no]:
            a_hat_present = True
            cat_array[el_no] = el
            
    if a_hat_present:
        return "|".join( cat_array )
    else:
        return None

In [223]:
vtad = pd.read_csv( BES_data_folder + "var_type_all_datasets.csv", encoding=encoding)

In [202]:
test = "Employers in large establishments|Higher managerial and administrative occupations|L3.1 ‘Traditional’ employees|L3.2 ‘New’ employees|L3.3 ‘Traditional’ self-employed|L3.4 ‘New’ self-employed|L4.1 ‘Traditional’ employees|L4.2 ‘New’ employees|L4.3 ‘Traditional’ self-employed|L4.4 ‘New’ self-employed|Lower managerial and administrative occupations|Higher supervisory occupations|L7.1 Intermediate clerical and administrative occupations|L7.2 Intermediate sales and service occupations|L7.3 Intermediate technical and auxiliary occupations|L7.4 Intermediate engineering occupations|L8.1 Employers in small establishments in industry, commerce, services etc.|L8.2 Employers in small establishments in agriculture|L9.1 Own account workers (non-professional)|L9.2 Own account workers (agriculture)| Lower supervisory occupations|L11.1 Lower technical craft occupations|L11.2 Lower technical process operative occupations|L12.1 Semi-routine sales occupations|L12.2 Semi-routine service occupations|L12.3 Semi-routine technical occupations|L12.4 Semi-routine operative occupations|L12.5 Semi-routine agricultural occupations|L12.6 Semi-routine clerical occupations|L12.7 Semi routine childcare occupations|L13.1 Routine sales and service occupations|L13.2 Routine production occupations|L13.3 Routine technical occupations|L13.4 Routine operative occupations|L13.5 Routine agricultural occupations"
fix_a_hat_chars(test)

['Employers in large establishments',
 'Higher managerial and administrative occupations',
 "L3.1 'Traditional' employees",
 "L3.2 'New' employees",
 "L3.3 'Traditional' self-employed",
 "L3.4 'New' self-employed",
 "L4.1 'Traditional' employees",
 "L4.2 'New' employees",
 "L4.3 'Traditional' self-employed",
 "L4.4 'New' self-employed",
 'Lower managerial and administrative occupations',
 'Higher supervisory occupations',
 'L7.1 Intermediate clerical and administrative occupations',
 'L7.2 Intermediate sales and service occupations',
 'L7.3 Intermediate technical and auxiliary occupations',
 'L7.4 Intermediate engineering occupations',
 'L8.1 Employers in small establishments in industry, commerce, services etc.',
 'L8.2 Employers in small establishments in agriculture',
 'L9.1 Own account workers (non-professional)',
 'L9.2 Own account workers (agriculture)',
 'Lower supervisory occupations',
 'L11.1 Lower technical craft occupations',
 'L11.2 Lower technical process operative occupations',
 'L12.1 Semi-routine sales occupations',
 'L12.2 Semi-routine service occupations',
 'L12.3 Semi-routine technical occupations',
 'L12.4 Semi-routine operative occupations',
 'L12.5 Semi-routine agricultural occupations',
 'L12.6 Semi-routine clerical occupations',
 'L12.7 Semi routine childcare occupations',
 'L13.1 Routine sales and service occupations',
 'L13.2 Routine production occupations',
 'L13.3 Routine technical occupations',
 'L13.4 Routine operative occupations',
 'L13.5 Routine agricultural occupations']

In [225]:
a = vtad["original_cat_list"].copy()
b = a.apply(careful_fix_a_hat_chars)
a[b.notnull()] = b[b.notnull()]

In [207]:
vtad["original_cat_list"][vtad["original_cat_list"] == test]

Series([], Name: original_cat_list, dtype: object)

In [227]:
long_string  = "".join(a.dropna().tolist())

In [212]:
test = "Employers in large establishments|Higher managerial and administrative occupations|L3.1 ‘Traditional’ employees|L3.2 ‘New’ employees|L3.3 ‘Traditional’ self-employed|L3.4 ‘New’ self-employed|L4.1 ‘Traditional’ employees|L4.2 ‘New’ employees|L4.3 ‘Traditional’ self-employed|L4.4 ‘New’ self-employed|Lower managerial and administrative occupations|Higher supervisory occupations|L7.1 Intermediate clerical and administrative occupations|L7.2 Intermediate sales and service occupations|L7.3 Intermediate technical and auxiliary occupations|L7.4 Intermediate engineering occupations|L8.1 Employers in small establishments in industry, commerce, services etc.|L8.2 Employers in small establishments in agriculture|L9.1 Own account workers (non-professional)|L9.2 Own account workers (agriculture)| Lower supervisory occupations|L11.1 Lower technical craft occupations|L11.2 Lower technical process operative occupations|L12.1 Semi-routine sales occupations|L12.2 Semi-routine service occupations|L12.3 Semi-routine technical occupations|L12.4 Semi-routine operative occupations|L12.5 Semi-routine agricultural occupations|L12.6 Semi-routine clerical occupations|L12.7 Semi routine childcare occupations|L13.1 Routine sales and service occupations|L13.2 Routine production occupations|L13.3 Routine technical occupations|L13.4 Routine operative occupations|L13.5 Routine agricultural occupations"
vtad["original_cat_list"][ vtad["original_cat_list"].values == test ]

Series([], Name: original_cat_list, dtype: object)

In [228]:
long_string = long_string.replace("|","")

In [229]:
long_string_list = list(long_string)

In [230]:
long_string_series = pd.Series(data = long_string_list)

In [232]:
long_string_series.apply(str.lower).value_counts().sort_index()

     227728
"        16
$        59
%        18
&       148
'     30591
(      2612
)      2560
*       193
+        45
,      5085
-      3210
.     32886
/      1200
0     68817
1     22517
2     23247
3     18794
4     18883
5     23105
6     17840
7     16551
8     16756
9     18309
:       186
[        28
]        28
_        51
a    132403
b     25249
c     41024
d     96715
e    226079
f     24972
g     52970
h     61540
i    118499
j      3855
k     50151
l    100805
m     39179
n    196777
o    190702
p     31273
q      1625
r    141462
s    107145
t    160160
u     42389
v     23254
w     55788
x      1343
y     67854
z       693
£      1449
dtype: int64

In [189]:
long_string_series.apply(str.lower)[ ~ long_string_series.apply(is_ascii) ].value_counts().index

Index(['©', 'ã'], dtype='object')

In [169]:
def is_ascii(s): # ascii or £
    return all( ( (ord(c) < 128) or (ord(c)==163))   for c in s)

def careful_not_ascii(s): # ascii or £
    if not isinstance(s,str):
        return False
    return not all( ( (ord(c) < 128) or (ord(c)==163))   for c in s)

def return_not_ascii(s): # ascii or £
    if not isinstance(s,str):
        return None
    return "|".join([ c for c in s if not ((ord(c) < 128) or (ord(c)==163)) ])

def return_specific_not_ascii(s,x):
    if not isinstance(s,str):
        return None
    if any([ord(c)==x for c in s]):
        return s
    else:
        return None

In [113]:
s = "Own â outright|Own â with a mortgage"
[ c for c in s if not ((ord(c) < 128) or (ord(c)==163)) ]

['â', '\x80', '\x93', 'â', '\x80', '\x93']

In [170]:
return_specific_not_ascii("Own â outright|Own â with a mortgage",147)

'Own â\x80\x93 outright|Own â\x80\x93 with a mortgage'

In [ ]:
return_specific_not_ascii("Own â outright|Own â with a mortgage",147)

In [165]:
ord( "" )

147

In [156]:
# df[0].apply( return_not_ascii ).loc[0].encode(encoding)
df[0].apply( return_not_ascii ).apply( lambda x: x.encode(encoding) )

0                                               b'\xa9'
1                                          b'\xc3|\xa9'
2       b'\x91|\x91|\x91|\x91|\x91|\x91|\x91|\x91|\xa0'
3                      b'\xc3|\xa9|\xc3|\xa8|\xc3|\xa2'
4                      b'\xc3|\xa9|\xc3|\xa8|\xc3|\xa2'
5                                     b'\xe9|\xe8|\xe2'
6                                     b'\xe9|\xe8|\xe2'
7                                          b'\x96|\x96'
8                      b'\xe2|\x80|\x93|\xe2|\x80|\x93'
9                 b'\x96|\x96|\x96|\x96|\x96|\x96|\x96'
10           b'\x96|\x96|\x96|\x96|\x96|\x96|\x96|\x96'
11    b'\xe2|\x80|\x93|\xe2|\x80|\x93|\xe2|\x80|\x93...
Name: 0, dtype: object

In [226]:
# [ vtad["final_cat_list"].notnull() ]

# ser = pd.Series( vtad["final_cat_list"][ vtad["final_cat_list"].apply(careful_not_ascii) ].sort_values().unique() )

ser = pd.Series( a[ a.apply(careful_not_ascii) ].sort_values().unique() )

df = pd.DataFrame(ser)
df["weirdchars"] = df[0].apply( return_not_ascii )
df["weirdbytestrings"] = df["weirdchars"].apply( lambda x: x.encode(encoding) )
df.to_csv( BES_data_folder + "final_cat_list_weird_chars.csv", encoding = encoding )
df

Empty DataFrame
Columns: [0, weirdchars, weirdbytestrings]
Index: []

In [213]:
col = "original_cat_list"

ser = pd.Series( vtad[ vtad[ col ].apply(careful_not_ascii) ].sort_values().unique() )

df = pd.DataFrame(ser)
df["weirdchars"] = df[0].apply( return_not_ascii )
df["weirdbytestrings"] = df["weirdchars"].apply( lambda x: x.encode(encoding) )
df.to_csv( BES_data_folder + col + "_weird_chars.csv", encoding = encoding )
df

TypeError: sort_values() missing 1 required positional argument: 'by'

In [221]:
vtad[ vtad[ col ].apply(careful_not_ascii) ].sort_values(by=col)["original_cat_list"][29065]

'Employers in large establishments|Higher managerial and administrative occupations|L3.1 \x91Traditional\x92 employees|L3.2 \x91New\x92 employees|L3.3 \x91Traditional\x92 self-employed|L3.4 \x91New\x92 self-employed|L4.1 \x91Traditional\x92 employees|L4.2 \x91New\x92 employees|L4.3 \x91Traditional\x92 self-employed|L4.4 \x91New\x92 self-employed|Lower managerial and administrative occupations|Higher supervisory occupations|L7.1 Intermediate clerical and administrative occupations|L7.2 Intermediate sales and service occupations|L7.3 Intermediate technical and auxiliary occupations|L7.4 Intermediate engineering occupations|L8.1 Employers in small establishments in industry, commerce, services etc.|L8.2 Employers in small establishments in agriculture|L9.1 Own account workers (non-professional)|L9.2 Own account workers (agriculture)|\xa0Lower supervisory occupations|L11.1 Lower technical craft occupations|L11.2 Lower technical process operative occupations|L12.1 Semi-routine sales occupations|L12.2 Semi-routine service occupations|L12.3 Semi-routine technical occupations|L12.4 Semi-routine operative occupations|L12.5 Semi-routine agricultural occupations|L12.6 Semi-routine clerical occupations|L12.7 Semi routine childcare occupations|L13.1 Routine sales and service occupations|L13.2 Routine production occupations|L13.3 Routine technical occupations|L13.4 Routine operative occupations|L13.5 Routine agricultural occupations'

In [109]:
pd.Series( vtad["original_cat_list"][ vtad["original_cat_list"].apply(careful_not_ascii) ].sort_values().unique() )

0     Afghanistan|Albania|Algeria|American Samoa|Ang...
1     Afghanistan|Albania|Algeria|American Samoa|Ang...
2     An individual share in a company|A portfolio o...
3     Conservative|Labour|Liberal Democrat|ukip|Gree...
4     Employers in large establishments|Higher manag...
5     Gerald Howarth|Richard Shepherd|Graham Brady|N...
6     Gerald Howarth|Richard Shepherd|Graham Brady|N...
7     Gerald Howarth|Richard Shepherd|Graham Brady|N...
8     Gerald Howarth|Richard Shepherd|Graham Brady|N...
9     Leave the European Union|Stay in EU and reduce...
10    More than today|Exactly the same as today|Less...
11    More than £102|Exactly £102|Less than £102|Don...
12    Most people can be trusted|Canât be too care...
13    Much worse|Worse|About the same|Better|Much be...
14    No limit at all|Â£7,500|Â£20,000|Â£50,000|Â£10...
15    No, I do not regard myself as belonging to any...
16    No, I do not regard myself as belonging to any...
17    No, I have never attended higher education|Yes...
18    No, I havent received any letter|Yes, I was t...
19    No, didnt vote|Yes, they voted|They were not ...
20    Not at all confident|Not very confident|Fairly...
21    Own  outright|Own  with a mortgage|Own (part...
22    Own  outright|Own  with a mortgage|Own (part...
23    Own â outright|Own â with a mortgage|Own (...
24    The Conservative candidate|The Labour candidat...
25    To remain a member of the European Union|To le...
26    Very aware|Fairly aware|Not very aware|Not awa...
27             Yes, voted|No, did not vote|Donat know
28               Yes, voted|No, did not vote|Dont know
29             Yes, voted|No, did not vote|Donât know
30    under Â£5,000 per year|Â£5,000 to Â£9,999 per ...
31    under Â£5,000 per year|Â£5,000 to Â£9,999 per ...
32    under Â£5,000 per year|Â£5,000 to Â£9,999 per ...
dtype: object

In [50]:
a = "conPriorities2_natsecW4|labPriorities2_natsecW4|ldPriorities2_natsecW4|ukipPriorities2_natsecW4|EUContactRemainConW7|EUContactRemainLabW7|EUContactRemainLDW7|EUContactRemainSNPW7|EUContactRemainPCW7|EUContactRemainUKIPW7|EUContactRemainGreenW7|EUContactRemainOthW7|EUContactRemainNoneW7|EUContactRemainDKW7|EUContactLeaveConW7|EUContactLeaveLabW7|EUContactLeaveLDW7|EUContactLeaveSNPW7|EUContactLeavePCW7|EUContactLeaveUKIPW7|EUContactLeaveGreenW7|EUContactLeaveOthW7|EUContactLeaveNoneW7|EUContactLeaveDKW7|resourceAccess1_99W7|resourceAccess2_99W7|resourceAccess3_99W7|belongGroup_99W11|discussantsSameAddress_99W12|voteMethodEurope_dkW2|discussantsAskedYouToVote_DKW2|discussantsAccompaniedVote_dkW2|referendumContact_dkW2|referendumContact_dkW3"
b= a.split("|")

In [69]:
d = [x for x in b if re.search("_99|_111|_dk|_DK",x) is not None]
"|".join( d )

'resourceAccess1_99W7|resourceAccess2_99W7|resourceAccess3_99W7|belongGroup_99W11|discussantsSameAddress_99W12|voteMethodEurope_dkW2|discussantsAskedYouToVote_DKW2|discussantsAccompaniedVote_dkW2|referendumContact_dkW2|referendumContact_dkW3'

In [235]:
"Get a lot worse|Get a little worse|Stay the same|Get a little better|Get a lot better|Don't know".split("|")

['Get a lot worse',
 'Get a little worse',
 'Stay the same',
 'Get a little better',
 'Get a lot better',
 "Don't know"]