In [1]:
%%time
dataset_name = "W20_only"
df_list = "BES_Panel"

%matplotlib inline
%run BES_header.py {dataset_name} {df_list}

Wall time: 49.3 s

In [191]:
import tabula
 
file = "C:\\Users\\Gamer\\Downloads\\public-first-more-in-common-brexit-and-political-polling-december-2022.pdf"
 
tables = tabula.read_pdf(file, pages = "all", multiple_tables = True)

In [156]:
# 54 tables = 18x3
df_total = pd.DataFrame()


for ques_no in range(0,18):
    table_0 = ques_no*3 + 0
    # replace_dict = {"South":"South East","East of":"East of England",""}
    title_0 = ["Current","Total","London","South East","South West","East of England","East Midlands","West Midlands",
              "Yorkshire and the Humber","North East","North West","Scotland","Wales","Leave","Remain","I did not vote"]
    type_dict_0 = {"Current":"Raw","Total":"Raw",
                 "London":"Region","South East":"Region","South West":"Region","East of England":"Region","East Midlands":"Region",
                     "West Midlands":"Region","Yorkshire and the Humber":"Region","North East":"Region","North West":"Region",
                     "Scotland":"Region","Wales":"Region",
                 "Leave":"2016EUREF Vote","Remain":"2016EUREF Vote","I did not vote":"2016EUREF Vote",
                 }

    df_temp = tables[table_0].drop([0,1,2,9])
    df_temp = df_temp.replace("Reform UK / The","Reform UK / The Brexit Party")
    df_temp.columns = title_0
    df_temp[df_temp.columns[1:]] = df_temp[df_temp.columns[1:]].applymap(lambda x:int( x.replace("%","") ) ).values
    df_temp0 = df_temp.copy()
    df_temp0_melt = df_temp0.melt(id_vars = ["Current","Total"])
    df_temp0_melt["type"] = df_temp0_melt["variable"].apply( lambda x: type_dict_0[x])    
    
    table_1 = ques_no*3 + 1
    title_1 = ["Current","Total","18-24","25-34","35-44","45-54","55-64","65+","Conservative","Labour","Liberal","The Brexit Party",
              "I did not vote","Conservative","Labour","Liberal Democrats",]
    type_dict_1 = {"Current":"Raw","Total":"Raw",
                 "18-24":"Age","25-34":"Age","35-44":"Age","45-54":"Age","55-64":"Age","65+":"Age",
                 "Conservative":"2019GE Vote","Labour":"2019GE Vote","Liberal":"2019GE Vote","The Brexit Party":"2019GE Vote",
                      "I did not vote":"2019GE Vote",
                 "Conservative":"Voting Intention","Labour":"Voting Intention","Liberal Democrats":"Voting Intention",
                 }

    df_temp = tables[table_1].drop([0,1,2,9])
    df_temp = df_temp.replace("Reform UK / The","Reform UK / The Brexit Party")

    df_temp.insert(8,"Conservative",df_temp["Unnamed: 7"].apply(lambda x: split_segment(x,0)))
    df_temp.insert(9,"Labour",df_temp["Unnamed: 7"].apply(lambda x: split_segment(x,0)))
    df_temp = df_temp.drop("Unnamed: 7",axis=1)

    df_temp.insert(14,"Conservative VI",df_temp["Voting Intention"].apply(lambda x: split_segment(x,0)))
    df_temp.insert(15,"Labour VI",df_temp["Voting Intention"].apply(lambda x: split_segment(x,0)))
    df_temp.insert(16,"Liberal Democrats VI",df_temp["Voting Intention"].apply(lambda x: split_segment(x,0)))
    df_temp = df_temp.drop("Voting Intention",axis=1)

    df_temp.columns = title_1

    df_temp[df_temp.columns[1:]] = df_temp[df_temp.columns[1:]].applymap(lambda x:int( x.replace("%","") ) ).values
    df_temp1 = df_temp.copy()
    df_temp1_melt = df_temp1.melt(id_vars = ["Current","Total"])
    df_temp1_melt["type"] = df_temp1_melt["variable"].apply( lambda x: type_dict_1[x])
    
    table_2 = ques_no*3 + 2
    title_2 = ["Current","Total","Male","Female","AB","C1","C2","DE","Activist left","Moderate left","Disengaged economic left",
               "Comfortable centre","Populist","Disengaged right-leaning","Civic conservative"
              ]
    type_dict_2 = {"Current":"Raw","Total":"Raw",
                 "Male":"Gender","Female":"Gender",
                 "AB":"Social Grade","C1":"Social Grade","C2":"Social Grade","DE":"Social Grade",
                 "Activist left":"Segment","Moderate left":"Segment","Disengaged economic left":"Segment",
                     "Comfortable centre":"Segment","Populist":"Segment","Disengaged right-leaning":"Segment",
                     "Civic conservative":"Segment"}

    df_temp = tables[table_2].drop([0,1,2,9])
    df_temp = df_temp.replace("Reform UK / The","Reform UK / The Brexit Party")

    df_temp.insert(12,"Comfortable centre",df_temp["Segment"].apply(lambda x: split_segment(x,0)))
    df_temp.insert(13,"Populist",df_temp["Segment"].apply(lambda x: split_segment(x,0)))
    df_temp = df_temp.drop("Segment",axis=1)

    df_temp.columns = title_2
    df_temp[df_temp.columns[1:]] = df_temp[df_temp.columns[1:]].applymap(lambda x:int( x.replace("%","") ) ).values
    df_temp2 = df_temp.copy()
    df_temp2_melt = df_temp2.melt(id_vars = ["Current","Total"])
    df_temp2_melt["type"] = df_temp2_melt["variable"].apply( lambda x: type_dict_2[x])
    
    assert (df_temp0["Total"]==df_temp1["Total"]).all()
    assert (df_temp0["Total"]==df_temp2["Total"]).all()
    assert (df_temp0["Current"]==df_temp1["Current"]).all()
    assert (df_temp0["Current"]==df_temp2["Current"]).all()    
    
    df_append = pd.concat( [df_temp0_melt,
            df_temp1_melt,
            df_temp2_melt,],axis=0)
    df_append["ques"] = "ques_str"
    df_total = df_total.append(df_append)
df_total

KeyError: '[2 9] not found in axis'

In [157]:
%debug

> e:\users\gamer\anaconda3\envs\test_tensorflow_install\lib\site-packages\pandas\core\indexes\base.py(5591)drop()
   5589         if mask.any():
   5590             if errors != "ignore":
-> 5591                 raise KeyError(f"{labels[mask]} not found in axis")
   5592             indexer = indexer[~mask]
   5593         return self.delete(indexer)

ipdb> up
> e:\users\gamer\anaconda3\envs\test_tensorflow_install\lib\site-packages\pandas\core\generic.py(4188)_drop_axis()
   4186                 new_axis = axis.drop(labels, level=level, errors=errors)
   4187             else:
-> 4188                 new_axis = axis.drop(labels, errors=errors)
   4189             result = self.reindex(**{axis_name: new_axis})
   4190

ipdb> up
> e:\users\gamer\anaconda3\envs\test_tensorflow_install\lib\site-packages\pandas\core\generic.py(4153)drop()
   4151         for axis, labels in axes.items():
   4152             if labels is not None:
-> 4153                 obj = obj._drop_axis(labels, axis, level=level, errors=errors)
   4154
   4155         if inplace:

ipdb> up
> e:\users\gamer\anaconda3\envs\test_tensorflow_install\lib\site-packages\pandas\core\frame.py(4315)drop()
   4313             level=level,
   4314             inplace=inplace,
-> 4315             errors=errors,
   4316         )
   4317

ipdb> up
> <ipython-input-156-c3783194f9ff>(17)<module>()
     15                  }
     16
---> 17     df_temp = tables[table_0].drop([0,1,2,9])
     18     df_temp = df_temp.replace("Reform UK / The","Reform UK / The Brexit Party")
     19     df_temp.columns = title_0

ipdb> table_0
6
ipdb> quit

In [168]:
tables[0]["Unnamed: 0"]

0                   NaN
1                   NaN
2                   NaN
3            Unweighted
4              Weighted
5                Labour
6          Conservative
7     Liberal Democrats
8       Reform UK / The
9          Brexit Party
10      The Green Party
11        Another party
12     I would not vote
13           Donâ€™t Know
Name: Unnamed: 0, dtype: object

In [179]:
pd.Series( ["|".join(x["Unnamed: 0"].dropna().values) for x in tables]  )

0     Unweighted|Weighted|Labour|Conservative|Libera...
1     Unweighted|Weighted|Labour|Conservative|Libera...
2     Unweighted|Weighted|Labour|Conservative|Libera...
3     Unweighted|Weighted|Labour|Conservative|Libera...
4     Unweighted|Weighted|Labour|Conservative|Libera...
5     Unweighted|Weighted|Labour|Conservative|Libera...
6                                                 Total
7                                                 Total
8                                                 Total
9                                                 Total
10                                                Total
11                                                Total
12                                                Total
13                                                Total
14                                                Total
15    Unweighted|Weighted|It is too stressful to thi...
16    Unweighted|Weighted|It is too stressful to thi...
17    Unweighted|Weighted|It is too stressful to thi...
18    Unweighted|Weighted|0- Definitely will not|vot...
19    Unweighted|Weighted|0- Definitely will not|vot...
20    Unweighted|Weighted|0- Definitely will not|vot...
21                                                Total
22                                                Total
23                                                Total
24    Unweighted|Weighted|Leave|Remain|Would not vot...
25    Unweighted|Weighted|Leave|Remain|Would not vot...
26    Unweighted|Weighted|Leave|Remain|Would not vot...
27    Unweighted|Weighted|Brexit damaged the|economy...
28    Unweighted|Weighted|Brexit damaged the|economy...
29    Unweighted|Weighted|Brexit damaged the|economy...
30    Unweighted|Weighted|Brexit is done we need|to ...
31    Unweighted|Weighted|Brexit is done we need|to ...
32    Unweighted|Weighted|Brexit is done we need|to ...
33    Unweighted|Weighted|Brexit was not a|mistake, ...
34    Unweighted|Weighted|Brexit was not a|mistake, ...
35    Unweighted|Weighted|Brexit was not a|mistake, ...
36    Unweighted|Weighted|Much more likely to|vote L...
37    Unweighted|Weighted|Much more likely to|vote L...
38    Unweighted|Weighted|Much more likely to|vote L...
39    Unweighted|Weighted|We should re-join the|EU|W...
40    Unweighted|Weighted|We should re-join the|EU|W...
41    Unweighted|Weighted|We should re-join the|EU|W...
42    Unweighted|Weighted|Very important|Somewhat im...
43    Unweighted|Weighted|Very important|Somewhat im...
44    Unweighted|Weighted|Very important|Somewhat im...
45    Unweighted|Weighted|Very important|Somewhat im...
46    Unweighted|Weighted|Very important|Somewhat im...
47    Unweighted|Weighted|Very important|Somewhat im...
48    Unweighted|Weighted|Very important|Somewhat im...
49    Unweighted|Weighted|Very important|Somewhat im...
50    Unweighted|Weighted|Very important|Somewhat im...
51    Unweighted|Weighted|Very important|Somewhat im...
52    Unweighted|Weighted|Very important|Somewhat im...
53    Unweighted|Weighted|Very important|Somewhat im...
dtype: object

In [183]:
tables[6]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Region,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,EU 2016 Vote,Unnamed: 12
0,Total,London,South East,South West,East of,East Midlands,West,Yorkshire and,North East,North West,Scotland,Wales,Leave,Remain,I did not vote
1,NaN,NaN,NaN,NaN,England,NaN,Midlands,the Humber,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
tables[7]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Age,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2019,Unnamed: 8,Unnamed: 9,Unnamed: 10,Voting Intention,Unnamed: 11
0,Total,18-24,25-34,35-44,45-54,55-64,65+,Conservative,Labour,Liberal,The Brexit,I did not vote,Conservative,Labour,Liberal
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat,Party,NaN,NaN,NaN,Democrats

In [185]:
tables[8]

,Unnamed: 0,Unnamed: 1,Gender,Unnamed: 2,Unnamed: 3,Social Grade,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Segment,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Total,Male,Female,AB,C1,C2,DE,Activist left,Moderate left,Disengaged,Comfortable,Populist,Disengaged,Civic
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,economic left,centre,NaN,right-leaning,conservative

In [186]:
tables[9]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Region,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,EU 2016 Vote,Unnamed: 12
0,Total,London,South East,South West,East of,East Midlands,West,Yorkshire and,North East,North West,Scotland,Wales,Leave,Remain,I did not vote
1,NaN,NaN,NaN,NaN,England,NaN,Midlands,the Humber,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
tables[10]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Age,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2019,Unnamed: 8,Unnamed: 9,Unnamed: 10,Voting Intention,Unnamed: 11
0,Total,18-24,25-34,35-44,45-54,55-64,65+,Conservative,Labour,Liberal,The Brexit,I did not vote,Conservative,Labour,Liberal
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat,Party,NaN,NaN,NaN,Democrats

In [188]:
tables[11]

,Unnamed: 0,Unnamed: 1,Gender,Unnamed: 2,Unnamed: 3,Social Grade,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Segment,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Total,Male,Female,AB,C1,C2,DE,Activist left,Moderate left,Disengaged,Comfortable,Populist,Disengaged,Civic
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,economic left,centre,NaN,right-leaning,conservative

In [189]:
tables[12]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Region,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,EU 2016 Vote,Unnamed: 12
0,Total,London,South East,South West,East of,East Midlands,West,Yorkshire and,North East,North West,Scotland,Wales,Leave,Remain,I did not vote
1,NaN,NaN,NaN,NaN,England,NaN,Midlands,the Humber,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
tables[13]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Age,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2019,Unnamed: 8,Unnamed: 9,Unnamed: 10,Voting Intention,Unnamed: 11
0,Total,18-24,25-34,35-44,45-54,55-64,65+,Conservative,Labour,Liberal,The Brexit,I did not vote,Conservative,Labour,Liberal
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat,Party,NaN,NaN,NaN,Democrats

In [194]:
tables[16]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Age,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,2019,Unnamed: 9,Unnamed: 10,Unnamed: 11,Voting Intention,Unnamed: 12
0,NaN,Total,18-24,25-34,35-44,45-54,55-64,65+,Conservative,Labour,Liberal,The Brexit,I did not,Conservative,Labour,Liberal
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Democrat,Party,vote,NaN,NaN,Democrats
2,Unweighted,124,23,27,28,19,16,11,18,3,1,3,87,0,0,0
3,Weighted,132,27,33,28,18,16,10,19,3,1,3,94,0,0,0
4,It is too stressful to think,7%,6%,12%,3%,0%,14%,0%,6%,38%,0%,0%,6%,*,*,*
5,about,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Iâ€™m not registered to vote,6%,27%,0%,0%,0%,0%,0%,0%,0%,0%,0%,4%,*,*,*
7,I donâ€™t have the time to go,6%,13%,0%,11%,4%,0%,10%,0%,0%,100%,0%,8%,*,*,*
8,and vote,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Voting doesnâ€™t change,47%,26%,57%,34%,69%,55%,52%,45%,62%,0%,100%,47%,*,*,*
10,anything,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,All politicians are as bad as,46%,21%,40%,57%,51%,65%,66%,70%,0%,0%,61%,43%,*,*,*
12,each other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Donâ€™t know,4%,5%,2%,7%,0%,6%,0%,5%,0%,0%,0%,4%,*,*,*
14,I have a moral or religious,3%,3%,6%,4%,0%,0%,0%,0%,0%,0%,0%,2%,*,*,*
15,objection to voting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,I am not eligible to vote,3%,5%,0%,3%,0%,6%,0%,0%,0%,0%,0%,4%,*,*,*
17,I cannot bring myself to,28%,14%,32%,20%,43%,41%,26%,45%,0%,0%,24%,24%,*,*,*
18,support a political party,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,I canâ€™t be bothered to vote,13%,17%,8%,24%,5%,13%,0%,0%,0%,0%,0%,17%,*,*,*
20,I want to make a point by,12%,10%,15%,7%,21%,8%,19%,30%,0%,0%,76%,9%,*,*,*
21,not voting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Other (Please specify),5%,0%,12%,4%,0%,8%,8%,13%,0%,0%,0%,5%,*,*,*

In [150]:
# replace_dict = {"South":"South East","East of":"East of England",""}
title_0 = ["Current","Total","London","South East","South West","East of England","East Midlands","West Midlands",
          "Yorkshire and the Humber","North East","North West","Scotland","Wales","Leave","Remain","I did not vote"]
type_dict_0 = {"Current":"Raw","Total":"Raw",
             "London":"Region","South East":"Region","South West":"Region","East of England":"Region","East Midlands":"Region",
                 "West Midlands":"Region","Yorkshire and the Humber":"Region","North East":"Region","North West":"Region",
                 "Scotland":"Region","Wales":"Region",
             "Leave":"2016EUREF Vote","Remain":"2016EUREF Vote","I did not vote":"2016EUREF Vote",
             }

df_temp = tables[0].drop([0,1,2,9])
df_temp = df_temp.replace("Reform UK / The","Reform UK / The Brexit Party")
df_temp.columns = title_0
df_temp[df_temp.columns[1:]] = df_temp[df_temp.columns[1:]].applymap(lambda x:int( x.replace("%","") ) ).values
df_temp0 = df_temp.copy()
df_temp0_melt = df_temp0.melt(id_vars = ["Current","Total"])
df_temp0_melt["type"] = df_temp0_melt["variable"].apply( lambda x: type_dict_0[x])

In [151]:
title_1 = ["Current","Total","18-24","25-34","35-44","45-54","55-64","65+","Conservative","Labour","Liberal","The Brexit Party",
          "I did not vote","Conservative","Labour","Liberal Democrats",]
type_dict_1 = {"Current":"Raw","Total":"Raw",
             "18-24":"Age","25-34":"Age","35-44":"Age","45-54":"Age","55-64":"Age","65+":"Age",
             "Conservative":"2019GE Vote","Labour":"2019GE Vote","Liberal":"2019GE Vote","The Brexit Party":"2019GE Vote",
                  "I did not vote":"2019GE Vote",
             "Conservative":"Voting Intention","Labour":"Voting Intention","Liberal Democrats":"Voting Intention",
             }

df_temp = tables[1].drop([0,1,2,9])
df_temp = df_temp.replace("Reform UK / The","Reform UK / The Brexit Party")

df_temp.insert(8,"Conservative",df_temp["Unnamed: 7"].apply(lambda x: split_segment(x,0)))
df_temp.insert(9,"Labour",df_temp["Unnamed: 7"].apply(lambda x: split_segment(x,0)))
df_temp = df_temp.drop("Unnamed: 7",axis=1)

df_temp.insert(14,"Conservative VI",df_temp["Voting Intention"].apply(lambda x: split_segment(x,0)))
df_temp.insert(15,"Labour VI",df_temp["Voting Intention"].apply(lambda x: split_segment(x,0)))
df_temp.insert(16,"Liberal Democrats VI",df_temp["Voting Intention"].apply(lambda x: split_segment(x,0)))
df_temp = df_temp.drop("Voting Intention",axis=1)

df_temp.columns = title_1

df_temp[df_temp.columns[1:]] = df_temp[df_temp.columns[1:]].applymap(lambda x:int( x.replace("%","") ) ).values
df_temp1 = df_temp.copy()
df_temp1_melt = df_temp1.melt(id_vars = ["Current","Total"])
df_temp1_melt["type"] = df_temp1_melt["variable"].apply( lambda x: type_dict_1[x])

In [152]:
title_2 = ["Current","Total","Male","Female","AB","C1","C2","DE","Activist left","Moderate left","Disengaged economic left",
           "Comfortable centre","Populist","Disengaged right-leaning","Civic conservative"
          ]
type_dict_2 = {"Current":"Raw","Total":"Raw",
             "Male":"Gender","Female":"Gender",
             "AB":"Social Grade","C1":"Social Grade","C2":"Social Grade","DE":"Social Grade",
             "Activist left":"Segment","Moderate left":"Segment","Disengaged economic left":"Segment",
                 "Comfortable centre":"Segment","Populist":"Segment","Disengaged right-leaning":"Segment",
                 "Civic conservative":"Segment"}

df_temp = tables[2].drop([0,1,2,9])
df_temp = df_temp.replace("Reform UK / The","Reform UK / The Brexit Party")

df_temp.insert(12,"Comfortable centre",df_temp["Segment"].apply(lambda x: split_segment(x,0)))
df_temp.insert(13,"Populist",df_temp["Segment"].apply(lambda x: split_segment(x,0)))
df_temp = df_temp.drop("Segment",axis=1)

df_temp.columns = title_2
df_temp[df_temp.columns[1:]] = df_temp[df_temp.columns[1:]].applymap(lambda x:int( x.replace("%","") ) ).values
df_temp2 = df_temp.copy()
df_temp2_melt = df_temp2.melt(id_vars = ["Current","Total"])
df_temp2_melt["type"] = df_temp2_melt["variable"].apply( lambda x: type_dict_2[x])

In [153]:
assert (df_temp0["Total"]==df_temp1["Total"]).all()
assert (df_temp0["Total"]==df_temp2["Total"]).all()
assert (df_temp0["Current"]==df_temp1["Current"]).all()
assert (df_temp0["Current"]==df_temp2["Current"]).all()

In [154]:
df_append = pd.concat( [df_temp0_melt,
            df_temp1_melt,
            df_temp2_melt,],axis=0)
df_append["ques"] = "ques_str"

                          Current Total            variable value     type
0                      Unweighted  2013              London   276   Region
1                        Weighted  2013              London   290   Region
2                          Labour    37              London    40   Region
3                    Conservative    22              London    22   Region
4               Liberal Democrats     6              London     6   Region
..                            ...   ...                 ...   ...      ...
125  Reform UK / The Brexit Party     5  Civic conservative     4  Segment
126               The Green Party     5  Civic conservative     4  Segment
127                 Another party     4  Civic conservative     1  Segment
128              I would not vote     7  Civic conservative     1  Segment
129                    Donâ€™t Know    15  Civic conservative    15  Segment

[410 rows x 5 columns]

In [144]:
# type_dict = type_dict_0
# type_dict.update(type_dict_1)
# type_dict.update(type_dict_2)
# type_dict
# .uppdate(type_dict_2)

{'Current': 'Raw',
 'Total': 'Raw',
 'London': 'Region',
 'South East': 'Region',
 'South West': 'Region',
 'East of England': 'Region',
 'East Midlands': 'Region',
 'West Midlands': 'Region',
 'Yorkshire and the Humber': 'Region',
 'North East': 'Region',
 'North West': 'Region',
 'Scotland': 'Region',
 'Wales': 'Region',
 'Leave': '2016EUREF Vote',
 'Remain': '2016EUREF Vote',
 'I did not vote': '2019GE Vote',
 '18-24': 'Age',
 '25-34': 'Age',
 '35-44': 'Age',
 '45-54': 'Age',
 '55-64': 'Age',
 '65+': 'Age',
 'Conservative': 'Voting Intention',
 'Labour': 'Voting Intention',
 'Liberal': '2019GE Vote',
 'The Brexit Party': '2019GE Vote',
 'Liberal Democrats': 'Voting Intention',
 'Male': 'Gender',
 'Female': 'Gender',
 'AB': 'Social Grade',
 'C1': 'Social Grade',
 'C2': 'Social Grade',
 'DE': 'Social Grade',
 'Activist left': 'Segment',
 'Moderate left': 'Segment',
 'Disengaged economic left': 'Segment',
 'Comfortable centre': 'Segment',
 'Populist': 'Segment',
 'Disengaged right-leaning': 'Segment',
 'Civic conservative': 'Segment'}

In [125]:
df_temp0

,Current,Total,London,South East,South West,East of England,East Midlands,West Midlands,Yorkshire and the Humber,North East,North West,Scotland,Wales,Leave,Remain,I did not vote
3,Unweighted,2013,276,291,178,187,135,166,191,89,248,169,83,780,821,248
4,Weighted,2013,290,270,166,187,145,187,166,83,228,187,104,776,809,255
5,Labour,37,40,34,32,35,36,40,34,38,46,28,45,25,49,28
6,Conservative,22,22,27,25,24,22,23,19,28,18,14,18,31,18,15
7,Liberal Democrats,6,6,9,6,5,10,2,7,2,6,7,1,4,8,5
8,Reform UK / The Brexit Party,5,4,3,4,6,4,5,7,3,4,5,6,10,1,1
10,The Green Party,5,7,4,6,8,4,5,7,2,5,4,3,4,7,5
11,Another party,4,1,0,0,2,1,2,1,1,1,25,6,3,4,2
12,I would not vote,7,8,6,7,5,7,7,5,12,6,3,7,4,2,29
13,Donâ€™t Know,15,12,17,21,14,17,15,18,14,13,13,12,20,11,14

In [40]:
# tables[1]["Voting Intention"].apply(lambda x: x.split(" ")[0] if pd.notnull(x) else np.nan)

In [32]:
def split_segment(x,seg,divider = " "):
    if pd.isnull(x):
        return np.nan
    elif len(x.split(divider))==1:
        return x
    else:
        return x.split(divider)[seg]

In [42]:
tables[1]["Voting Intention"].apply(lambda x: split_segment(x,1))

0        Labour
1     Democrats
2           NaN
3           736
4           748
5          100%
6            0%
7            0%
8            0%
9           NaN
10           0%
11           0%
12           0%
13           0%
Name: Voting Intention, dtype: object

In [30]:
tables[2]["Segment"]

0     Comfortable Populist
1                   centre
2                      NaN
3                  155 519
4                  158 527
5                  25% 33%
6                  35% 25%
7                    7% 5%
8                   4% 10%
9                      NaN
10                   6% 3%
11                   1% 3%
12                   9% 5%
13                 13% 17%
Name: Segment, dtype: object

In [24]:
tables[2]["Segment"].apply(lambda x: x.split(" ")[1] if ((pd.notnull(x))&(len(x.split(" "))>1)) else np.nan)

AttributeError: 'float' object has no attribute 'split'

In [23]:
%debug

> <ipython-input-22-b989169f162c>(1)<lambda>()
----> 1 tables[2]["Segment"].apply(lambda x: x.split(" ")[1] if pd.notnull(x)&(len(x.split(" "))>1) else np.nan)

ipdb> x
nan
ipdb> pd.notnull(x)
False
ipdb> quit

In [13]:
tables[3]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Region,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,EU 2016 Vote,Unnamed: 13
0,NaN,Total,London,South,South,East of,East,West,Yorkshire,North,North,Scotland,Wales,Leave,Remain,I did not
1,NaN,NaN,NaN,East,West,England,Midlands,Midlands,and the,East,West,NaN,NaN,NaN,NaN,vote
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Humber,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unweighted,1414,193,198,119,133,93,109,125,65,180,136,63,542,680,91
4,Weighted,1414,203,184,110,132,101,126,108,59,164,150,77,544,670,91
5,Labour,48%,52%,43%,46%,45%,50%,51%,48%,52%,59%,34%,55%,33%,56%,52%
6,Conservative,29%,28%,37%,35%,29%,29%,32%,26%,38%,23%,17%,25%,42%,21%,28%
7,Liberal Democrats,8%,8%,12%,7%,7%,13%,2%,10%,3%,7%,8%,0%,5%,10%,9%
8,Reform UK / The,5%,3%,3%,5%,7%,4%,6%,10%,3%,4%,5%,7%,11%,1%,2%
9,Brexit Party,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,The Green Party,6%,8%,6%,7%,9%,5%,6%,6%,3%,6%,5%,4%,4%,8%,5%
11,Another party,4%,1%,0%,0%,2%,0%,2%,1%,1%,1%,31%,9%,4%,5%,4%

In [8]:
tables[53]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Gender,Unnamed: 3,Unnamed: 4,Social Grade,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Segment,Unnamed: 9,Unnamed: 10
0,NaN,Total,Male,Female,AB,C1,C2,DE,Activist,Moderate,Disengaged,Comfortable Populist,Disengaged,Civic con-
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left,left,economic,centre,right-,servative
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left,NaN,leaning,NaN
3,Unweighted,2013,916,1090,592,569,373,471,256,422,409,155 519,104,148
4,Weighted,2013,991,1015,541,521,441,502,253,404,424,158 527,103,143
5,Very important,17%,19%,16%,19%,18%,16%,16%,18%,15%,13%,12% 24%,8%,23%
6,Somewhat important,33%,33%,33%,37%,34%,30%,30%,27%,35%,29%,39% 35%,37%,32%
7,Neither important nor,22%,23%,21%,20%,21%,24%,22%,23%,21%,22%,23% 20%,24%,22%
8,unimportant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Somewhat unimportant,5%,6%,4%,5%,6%,5%,5%,11%,4%,5%,4% 3%,6%,8%
10,Very unimportant,5%,7%,4%,6%,4%,6%,5%,7%,4%,6%,6% 5%,5%,5%
11,Donâ€™t know,18%,13%,23%,13%,17%,20%,22%,15%,21%,24%,16% 13%,20%,11%
12,Total Important:,50%,51%,49%,56%,52%,45%,46%,45%,50%,42%,51% 58%,45%,54%
13,Total Unimportant:,10%,13%,8%,11%,10%,11%,10%,17%,7%,11%,10% 8%,11%,13%
14,Net:,40%,38%,41%,45%,42%,34%,36%,28%,43%,31%,41% 51%,34%,42%

In [ ]:
# bah - ghostscript is such pain!

In [9]:
# import camelot
# file = "http://lab.fs.uni-lj.si/lasin/wp/IMIT_files/neural/doc/seminar8.pdf"
 
# tables = camelot.read_pdf(file, pages = "1-end")

In [5]:
import ctypes
from ctypes.util import find_library
find_library("".join(("gsdll", str(ctypes.sizeof(ctypes.c_voidp) * 8), ".dll")))

'E:\\Users\\Gamer\\anaconda3\\envs\\test_tensorflow_install\\Library\\bin\\gsdll64.dll'

In [14]:
import tkinter

In [4]:
import ghostscript

ModuleNotFoundError: No module named 'ghostscript'