In [1]:
%%time
dataset_name = "W19_comb"
df_list = "BES_Panel|BES_reduced_with_na"

%matplotlib inline
%run BES_header.py {dataset_name} {df_list}

2023-05-26 17:33:34,151 WARNING: panel.io.resources - Mimetype declaration for .js files was set to 'text/plain'. This will interefere with serving JS modules. Ensure your system does not override the mimetype declaration and/or contact your system administrator.
Wall time: 16.9 s

In [2]:
pan_dataset_allr_values = pd.read_pickle(BES_small_data_files + "pan_dataset_allr_valuesW19"+".zip",compression='zip')
# pan_dataset_allr_values = pan_dataset_allr_values.loc[BES_Panel.index].sort_index()
pan_dataset_ages = pd.read_pickle(BES_small_data_files + "pan_dataset_ages"+".zip", compression='zip')
pan_dataset_votes = pd.read_pickle(BES_small_data_files+"pan_dataset_votes"+".zip",compression='zip')

In [15]:
search(BES_Panel,"wt.*W5")

wt_daily_W5                   30725
wt_full_W5                    30725
wt_full_W1W2W3W4W5            17673
wt_full_W4W5                  28096
wt_full_W1W2W3W4W5W6          16807
wt_full_W4W5W6                26144
wt_full_W1W2W3W4W5W6W7W8      11411
wt_full_W1W2W3W4W5W6W7W8W9    10172
wt_full_W1W2W3W4W5W6W7        13313
dtype: int64

In [ ]:
# wt_new_W13_result    31135
# wt_new_W19_result    32177

In [16]:
BES_Panel["wt_full_W5"]

id
1        0.621257
2        0.923585
3        4.116567
4             NaN
5             NaN
           ...
98447         NaN
98448         NaN
98449         NaN
98450         NaN
98451         NaN
Name: wt_full_W5, Length: 97006, dtype: float64

In [5]:
pan_dataset_votes["2015GEVote_complete"].value_counts()

CON            23689
LAB            22425
DNV            11159
UNK            10936
UKIP            7570
LD              6148
GP              3977
SNP             3831
TYTV(Def)       2686
DK              1429
OTH             1177
TYTV(Maybe)      879
PC               548
Not Present      477
BNP               75
Name: 2015GEVote_complete, dtype: int64

In [ ]:
radical_right_2015 = pan_dataset_votes["2015GEVote_complete"].isin(["UKIP","BNP"])

In [ ]:
pan_dataset_votes["2010GEVote_complete"]

In [10]:
pd.crosstab(pan_dataset_votes["2010GEVote_complete"],pan_dataset_votes["2015GEVote_complete"])

2015GEVote_complete,BNP,CON,DK,GP,LAB,LD,OTH,PC,SNP,UKIP,DNV,TYTV(Def),TYTV(Maybe),Not Present,UNK
2010GEVote_complete,,,,,,,,,,,,,,,
BNP,14,67,8,7,49,7,6,0,8,306,51,0,0,0,82
CON,9,14097,110,227,978,615,162,27,139,2359,773,0,0,0,1840
DK,1,426,304,71,340,102,55,9,64,217,428,0,0,0,353
GP,0,97,11,481,237,70,23,10,41,68,73,0,0,0,109
LAB,10,1061,99,484,10171,434,151,65,681,762,689,0,0,0,1890
LD,10,1874,122,1313,3820,3230,207,92,492,1027,615,0,0,0,1391
OTH,0,57,17,56,110,23,96,4,39,91,45,0,0,0,84
PC,0,40,6,19,75,19,27,231,3,36,22,0,0,0,125
SNP,2,81,12,18,101,44,71,2,1635,29,75,0,0,0,424
UKIP,7,315,26,41,144,41,44,7,19,1270,115,0,0,0,220
DNV,5,1301,95,347,1582,355,113,22,283,732,4104,0,0,0,1389
TYTV(Def),2,982,95,621,1901,415,118,26,185,221,1649,2686,879,0,929
TYTV(Maybe),1,112,35,30,208,36,8,5,13,15,243,0,0,0,227
Not Present,0,0,0,0,0,0,0,0,0,0,0,0,0,477,0
UNK,14,3179,489,262,2709,757,96,48,229,437,2277,0,0,0,1873

In [11]:
pd.crosstab(pan_dataset_votes["2010GEVote_simple"],pan_dataset_votes["2015GEVote_simple"])

2015GEVote_simple,BNP,CON,DK,DNV,GP,LAB,LD,OTH,PC,SNP,TYTV,UKIP,UNK
2010GEVote_simple,,,,,,,,,,,,,
BNP,14,67,8,51,7,49,7,6,0,8,0,306,82
CON,9,14097,110,773,227,978,615,162,27,139,0,2359,1840
DK,1,426,304,428,71,340,102,55,9,64,0,217,353
DNV,5,1301,95,4104,347,1582,355,113,22,283,0,732,1389
GP,0,97,11,73,481,237,70,23,10,41,0,68,109
LAB,10,1061,99,689,484,10171,434,151,65,681,0,762,1890
LD,10,1874,122,615,1313,3820,3230,207,92,492,0,1027,1391
OTH,0,57,17,45,56,110,23,96,4,39,0,91,84
PC,0,40,6,22,19,75,19,27,231,3,0,36,125
SNP,2,81,12,75,18,101,44,71,2,1635,0,29,424
TYTV,3,1094,130,1892,651,2109,451,126,31,198,3565,236,1156
UKIP,7,315,26,115,41,144,41,44,7,19,0,1270,220
UNK,14,3179,489,2277,262,2709,757,96,48,229,0,437,1873

In [22]:
round(pd.crosstab(pan_dataset_votes["2010GEVote_simple"],pan_dataset_votes["2015GEVote_simple"],
           values=BES_Panel["wt_full_W5"],aggfunc=sum,normalize='columns')*100,2)

2015GEVote_simple,BNP,CON,DK,DNV,GP,LAB,LD,OTH,PC,SNP,TYTV,UKIP,UNK
2010GEVote_simple,,,,,,,,,,,,,
BNP,9.59,0.33,1.72,0.91,0.21,0.23,0.09,0.38,0.00,0.15,0.0,3.58,0.66
CON,5.30,69.88,19.93,12.57,8.06,5.20,12.02,20.11,7.14,3.47,0.0,37.35,20.99
DK,0.00,1.44,13.55,3.94,1.25,1.06,1.13,5.35,1.77,1.11,0.0,2.29,4.49
DNV,0.00,5.94,4.29,49.01,8.63,8.04,7.24,14.11,3.11,8.45,0.0,10.28,17.17
GP,0.00,0.30,1.13,0.47,4.46,0.72,0.55,0.98,0.85,0.51,0.0,0.54,0.47
LAB,36.19,5.85,18.30,11.90,12.38,58.40,8.02,15.61,13.22,30.83,0.0,13.47,23.94
LD,48.92,10.58,29.16,10.42,48.95,19.16,64.56,28.45,21.57,11.13,0.0,18.34,17.70
OTH,0.00,0.29,2.72,0.80,1.21,0.62,0.25,4.31,0.56,0.70,0.0,1.21,0.64
PC,0.00,0.18,0.38,0.17,0.15,0.32,0.34,1.02,44.88,0.03,0.0,0.52,0.57
SNP,0.00,0.16,0.00,0.74,0.82,0.35,0.47,0.43,0.18,37.56,0.0,0.23,2.14
TYTV,0.00,4.05,7.50,8.50,12.83,5.13,4.92,4.70,4.62,5.61,100.0,2.63,10.01
UKIP,0.00,1.00,1.32,0.58,1.04,0.76,0.41,4.55,2.11,0.44,0.0,9.57,1.13
UNK,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.09

In [25]:
pan_dataset_votes[["2010GEVote_complete","2015GEVote_complete"]].stack().value_counts()

replace_dict = {"Not Present":np.nan,"UKIP":"UKIP&BNP","BNP":"UKIP&BNP"}

pan_dataset_votes[["2010GEVote_merged","2015GEVote_merged"]] = pan_dataset_votes[["2010GEVote_complete","2015GEVote_complete"]].replace(replace_dict)

In [28]:
round(pd.crosstab(pan_dataset_votes["2010GEVote_merged"],pan_dataset_votes["2015GEVote_merged"],
           values=BES_Panel["wt_full_W5"],aggfunc=sum,normalize='columns')*100,2).drop(["TYTV(Def)","TYTV(Maybe)","UNK"],axis=1).drop("UNK")

2015GEVote_merged,CON,DK,DNV,GP,LAB,LD,OTH,PC,SNP,UKIP&BNP
2010GEVote_merged,,,,,,,,,,
CON,69.88,19.93,12.57,8.06,5.20,12.02,20.11,7.14,3.47,37.15
DK,1.44,13.55,3.94,1.25,1.06,1.13,5.35,1.77,1.11,2.28
DNV,5.94,4.29,49.01,8.63,8.04,7.24,14.11,3.11,8.45,10.22
GP,0.30,1.13,0.47,4.46,0.72,0.55,0.98,0.85,0.51,0.53
LAB,5.85,18.30,11.90,12.38,58.40,8.02,15.61,13.22,30.83,13.62
LD,10.58,29.16,10.42,48.95,19.16,64.56,28.45,21.57,11.13,18.53
OTH,0.29,2.72,0.80,1.21,0.62,0.25,4.31,0.56,0.70,1.20
PC,0.18,0.38,0.17,0.15,0.32,0.34,1.02,44.88,0.03,0.52
SNP,0.16,0.00,0.74,0.82,0.35,0.47,0.43,0.18,37.56,0.23
TYTV(Def),3.92,6.40,7.87,12.53,5.08,4.87,4.59,4.62,5.59,2.53
TYTV(Maybe),0.13,1.10,0.64,0.30,0.05,0.05,0.11,0.00,0.02,0.09
UKIP&BNP,1.33,3.05,1.49,1.25,1.00,0.51,4.93,2.11,0.60,13.12

In [29]:
.126*13.62

1.7161199999999999

In [31]:
.0585*36.8

2.1528