In [1]:
%%time
%matplotlib inline
%run Prosser_header.py

Wall time: 3.37 s

In [89]:
dataset_folder = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\datasets\\"
output_folder  = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\output\\"

In [90]:
CSES_int = pd.read_stata(dataset_folder + "CSES"+os.sep+"integrated 1-4"+os.sep+"cses_imd.dta")

def get_dta_meta(fn):
    reader = pd.io.stata.StataReader( fn )
    header = reader.variable_labels()
    labels = reader.value_labels()
    return header,labels

# pd.read_stata(dataset_folder + "CSES"+os.sep+"module 5"+os.sep+"cses5.dta")
header5,labels5 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 5"+os.sep+"cses5.dta")
header4,labels4 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 4"+os.sep+"cses4.dta")
header3,labels3 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 3"+os.sep+"cses3.dta")
header2,labels2 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 2"+os.sep+"cses2.dta")
header1,labels1 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 1"+os.sep+"cses1.dta")
headerINT,labelsINT = get_dta_meta(dataset_folder + "CSES"+os.sep+"integrated 1-4"+os.sep+"cses_imd.dta")

In [93]:
CSES_int_5 = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_int_5.pkl")
CSES_int_final = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_int_final.pkl")




CSES_int_final = CSES_int_final.reset_index().rename(columns={"index":"original_index"})

replace_dict= {"9997. VOLUNTEERED: REFUSED":"9997. REFUSED",
 "9998. VOLUNTEERED: DON'T KNOW":"9998. DON'T KNOW",}
CSES_int_final["IMD2001_1"] = CSES_int_final["IMD2001_1"].replace(replace_dict)
#
replace_dict = {'9997. VOLUNTEERED: REFUSED':'9997. REFUSED',
                "9998. VOLUNTEERED: DON'T KNOW":"9998. DON'T KNOW"}
CSES_int_final["IMD2001_2"] = CSES_int_final["IMD2001_2"]\
                                  .replace(replace_dict).astype('category').cat.set_categories(CSES_int["IMD2001_2"].cat.categories,
                                  ordered=True)
#
replace_dict = {'97. NOT APPLICABLE':'97.00 NOT APPLICABLE'}

CSES_int_final["IMD5022_2"] = CSES_int_final["IMD5022_2"].replace(replace_dict)
CSES_int_final["IMD5022_3"] = CSES_int_final["IMD5022_3"].replace(replace_dict)
CSES_int_final["IMD5022_4"] = CSES_int_final["IMD5022_4"].replace(replace_dict)

int_var = "IMD5058_1"
CSES_int_final[int_var] = CSES_int[int_var].astype('object').append(CSES_int_5[int_var].astype('object'),ignore_index=True)
int_var = "IMD5059_1"
CSES_int_final[int_var] = CSES_int[int_var].astype('object').append(CSES_int_5[int_var].astype('object'),ignore_index=True)
int_var = "IMD5058_2"
CSES_int_final[int_var] = CSES_int[int_var].astype('object').append(CSES_int_5[int_var].astype('object'),ignore_index=True)
int_var = "IMD5059_2"
CSES_int_final[int_var] = CSES_int[int_var].astype('object').append(CSES_int_5[int_var].astype('object'),ignore_index=True)

In [88]:
CSES_int_5 = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_int_5.pkl")
CSES_int_5[int_var].astype('category').cat.categories

Index(['0. RESPONDENT DID NOT CAST A BALLOT', '1. RESPONDENT CAST A BALLOT',
       '9999993. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS [IF APPLICABLE]',
       '9999996. NOT APPLICABLE: NO LOWER HOUSE ELECTION',
       '9999997. VOLUNTEERED: REFUSED', '9999998. VOLUNTEERED: DON'T KNOW',
       '9999999. MISSING'],
      dtype='object')

In [76]:
CSES_int_final.isnull().sum().sort_values()

original_index    0
IMD5008_2         0
IMD5009_1         0
IMD5009_2         0
IMD5011_A         0
                 ..
IMD3008_F         0
IMD3008_E         0
IMD3008_D         0
IMD3009_A         0
IMD1008_MOD_5     0
Length: 278, dtype: int64

In [ ]:
# IMD5058_1

In [61]:
CSES_int["IMD5058_1"][CSES_int_final["IMD5058_1"].isnull()]

Series([], Name: IMD5058_1, dtype: category
Categories (133, object): [1.32 < 2.16 < 2.18 < 2.19 ... 11.24 < 14.1 < 997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCU... < 999.00. MISSING])

In [67]:
CSES_int_final["IMD5058_1"][CSES_int_final["IMD5058_1"].isnull()]

281083    NaN
281084    NaN
281085    NaN
281086    NaN
281087    NaN
         ...
312595    NaN
312596    NaN
312597    NaN
312598    NaN
312599    NaN
Name: IMD5058_1, Length: 23373, dtype: category
Categories (133, object): [1.32 < 2.16 < 2.18 < 2.19 ... 11.24 < 14.1 < 997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCU... < 999.00. MISSING]

In [74]:
CSES_int_final

,original_index,IMD1001,IMD1002_VER,IMD1002_DOI,IMD1003,IMD1004,IMD1005,IMD1006,IMD1006_UN,IMD1006_NAM,...,IMD5056_2,IMD5056_3,IMD5057_1,IMD5057_2,IMD5057_3,IMD5058_1,IMD5058_2,IMD5059_1,IMD5059_2,IMD1008_MOD_5
0,0,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001111,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
1,1,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001112,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
2,2,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001113,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
3,3,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001114,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
4,4,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001115,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316243,35160,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005085,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316244,35161,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005086,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316245,35162,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005087,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316246,35163,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005088,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316247,35164,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005089,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5

In [67]:
df = CSES_int_final.apply(lambda x: "|".join([str(x) for x in x.unique()]))
df = df.reset_index()

In [68]:
df["un_val_len"] = df[0].apply(lambda x: len(x.split("|")))

In [256]:
df["descr"] = df["index"].apply(lambda x: headerINT[x] if x in headerINT.keys() else np.nan)

In [70]:
df[0][df["un_val_len"]>100] = df[0][df["un_val_len"]>100].apply(lambda x: x.split("|")[0:100])

In [71]:
df["final_dtypes"] = CSES_int_final.apply(lambda x: x.dtype.name).values
df["original_dtypes"] = df["index"].apply(lambda x: CSES_int[x].dtype if x in CSES_int.columns else np.nan)

In [72]:
df

,index,0,un_val_len,descr,final_dtypes,original_dtypes
0,IMD1001,CSES-IMD|CSES-MODULE-5,2,dataset,object,object
1,IMD1002_VER,VER2019-OCT-17|VER2020-MAY-14,2,DATASET VERSION,object,object
2,IMD1002_DOI,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,2,DIGITAL OBJECT IDENTIFIER,object,object
3,IMD1003,"[00802005. ALBANIA (2005), 03202015. ARGENTINA...",194,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),object,category
4,IMD1004,"[ALB_2005, ARG_2015, AUS_1996, AUS_2004, AUS_2...",194,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),object,object
...,...,...,...,...,...,...
272,IMD5058_1,"[10.46, 3.4, 3.21, 3.17, 3.03, 3.42, 4.83, 5.1...",134,EFFECTIVE NUMBER OF ELECTORAL PARTIES,category,category
273,IMD5058_2,999.00. MISSING|3.4|3.03|3.42|4.83|5.15|5.78|1...,91,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,category,category
274,IMD5059_1,"[3.75, 3.52, 2.62, 2.44, 2.43, 2.36, 4.27, 4.5...",134,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,category,category
275,IMD5059_2,999.00. MISSING|3.48|2.43|2.36|4.27|4.59|5.06|...,88,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,category,category
276,IMD1008_MOD_5,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,2,NaN,category,NaN

In [103]:
len( CSES_int_final.apply(lambda x: x.dtype.name).values )

277

In [45]:
df = df[['index',  'un_val_len','final_dtypes', 'original_dtypes','descr', 0,  ]]

In [261]:
df.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv")

In [260]:
df

,index,un_val_len,final_dtypes,original_dtypes,descr,Short Description,0,variable type,variable structural type
0,IMD1001,2,object,object,dataset,Dataset Name,CSES-IMD|CSES-MODULE-5,meta,dataset
1,IMD1002_VER,2,object,object,DATASET VERSION,Dataset Version,VER2019-OCT-17|VER2020-MAY-14,meta,dataset
2,IMD1002_DOI,2,object,object,DIGITAL OBJECT IDENTIFIER,Digital Object Identifier,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,meta,dataset
3,IMD1003,194,object,category,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),Study Id No,"['00802005. ALBANIA (2005)', '03202015. ARGENT...",meta,country
4,IMD1004,194,object,object,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),Study Id Name,"['ALB_2005', 'ARG_2015', 'AUS_1996', 'AUS_2004...",meta,country
...,...,...,...,...,...,...,...,...,...
272,IMD5058_1,148,object,category,EFFECTIVE NUMBER OF ELECTORAL PARTIES,Of BER OFo,"['10.46', '3.4', '3.21', '3.17', '3.03', '3.42...",seminumeric,country
273,IMD5058_2,108,object,category,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,Of UMBERo,"['999.00. MISSING', '3.4', '3.03', '3.42', '4....",seminumeric,country
274,IMD5059_1,149,object,category,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,Of OFo,"['3.75', '3.52', '2.62', '2.44', '2.43', '2.36...",seminumeric,country
275,IMD5059_2,106,object,category,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,Of UMBERo,"['999.00. MISSING', '3.48', '2.43', '2.36', '4...",seminumeric,country
276,IMD1008_MOD_5,2,category,NaN,NaN,NaN,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,meta,country

In [ ]:
## how much has partyfacts updated?

In [73]:
partyfacts_core_parties = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+"partyfacts-core-parties.csv")
partyfacts_external_parties = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+ "partyfacts-external-parties.csv")

In [74]:
partyfacts_core_parties_newest = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+"Newest version"+os.sep+"partyfacts-core-parties.csv")
partyfacts_external_parties_newest = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+"Newest version"+os.sep+ "partyfacts-external-parties.csv")
# partyfacts_countries = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+ "partyfacts-countries.csv")
# partyfacts_datasets = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+ "partyfacts-datasets.csv")

# pf_country_to_code = partyfacts_countries[["country","name"]].set_index("name")["country"].apply(lambda x: x.lower())

# county_iso = 'THA'

# pfc = partyfacts_core_parties[partyfacts_core_parties["country"]==county_iso].sort_values(by='year_first')
# pfc[-60:]

In [75]:
partyfacts_core_parties.shape, partyfacts_core_parties_newest.shape

((6902, 17), (6962, 17))

In [76]:
partyfacts_external_parties.shape,partyfacts_external_parties_newest.shape

((25319, 17), (26595, 17))

In [81]:
cses_variable_types = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"cses_variable_types.pkl")
# fix to add new variable
cses_variable_types.loc["IMD1008_MOD_5"] = ["ID COMPONENT - CSES MODULE 5","country"]

In [85]:
df = pd.read_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv",index_col="Unnamed: 0")
df

,index,un_val_len,final_dtypes,original_dtypes,descr,0,variable type,variable structural type
0,IMD1001,2,object,object,dataset,CSES-IMD|CSES-MODULE-5,meta,dataset
1,IMD1002_VER,2,object,object,DATASET VERSION,VER2019-OCT-17|VER2020-MAY-14,meta,dataset
2,IMD1002_DOI,2,object,object,DIGITAL OBJECT IDENTIFIER,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,meta,dataset
3,IMD1003,194,object,category,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),"['00802005. ALBANIA (2005)', '03202015. ARGENT...",metam,country
4,IMD1004,194,object,object,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),"['ALB_2005', 'ARG_2015', 'AUS_1996', 'AUS_2004...",meta,country
...,...,...,...,...,...,...,...,...
272,IMD5058_1,148,object,category,EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['10.46', '3.4', '3.21', '3.17', '3.03', '3.42...",seminumeric,country
273,IMD5058_2,108,object,category,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['999.00. MISSING', '3.4', '3.03', '3.42', '4....",seminumeric,country
274,IMD5059_1,149,object,category,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,"['3.75', '3.52', '2.62', '2.44', '2.43', '2.36...",seminumeric,country
275,IMD5059_2,106,object,category,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,"['999.00. MISSING', '3.48', '2.43', '2.36', '4...",seminumeric,country
276,IMD1008_MOD_5,2,category,NaN,NaN,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,meta,country

In [87]:
df["variable structural type"] = df["index"].apply(lambda x: cses_variable_types.loc[x])["variable type"]

In [28]:
df.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv")

In [262]:
df = pd.read_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv", index_col = "Unnamed: 0")
df

,index,un_val_len,final_dtypes,original_dtypes,descr,Short Description,0,variable type,variable structural type
0,IMD1001,2,object,object,dataset,Dataset Name,CSES-IMD|CSES-MODULE-5,meta,dataset
1,IMD1002_VER,2,object,object,DATASET VERSION,Dataset Version,VER2019-OCT-17|VER2020-MAY-14,meta,dataset
2,IMD1002_DOI,2,object,object,DIGITAL OBJECT IDENTIFIER,Digital Object Identifier,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,meta,dataset
3,IMD1003,194,object,category,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),Study Id No,"['00802005. ALBANIA (2005)', '03202015. ARGENT...",meta,country
4,IMD1004,194,object,object,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),Study Id Name,"['ALB_2005', 'ARG_2015', 'AUS_1996', 'AUS_2004...",meta,country
...,...,...,...,...,...,...,...,...,...
272,IMD5058_1,148,object,category,EFFECTIVE NUMBER OF ELECTORAL PARTIES,Effective Number of Electoral Parties,"['10.46', '3.4', '3.21', '3.17', '3.03', '3.42...",seminumeric,country
273,IMD5058_2,108,object,category,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,Corrected Effective Number of Electoral Parties,"['999.00. MISSING', '3.4', '3.03', '3.42', '4....",seminumeric,country
274,IMD5059_1,149,object,category,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,Effective Number of Parliamentary Parties,"['3.75', '3.52', '2.62', '2.44', '2.43', '2.36...",seminumeric,country
275,IMD5059_2,106,object,category,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,Corrected Effective Number of Parliamentary Pa...,"['999.00. MISSING', '3.48', '2.43', '2.36', '4...",seminumeric,country
276,IMD1008_MOD_5,2,category,category,ID COMPONENT - CSES MODULE 4,Module 5,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,meta,country

In [6]:
df["variable type"].value_counts()

seminumeric    112
ordinal         73
party           31
dummy           25
meta            20
date            15
drop             1
Name: variable type, dtype: int64

In [89]:
# variable whose contents should be *explicit decimal values* or *non-response codes*

seminumeric_vars = df[df["variable type"]=="seminumeric"]["index"].values
seminumeric_replace_dict = {"10. Democratic":10,"-10. AUTOCRATIC":-10,"00.00 THERE IS NO THRESHOLD":0}

In [160]:
decimals_dropped = CSES_int_final[seminumeric_vars].applymap(lambda x: x if not isnum(x) else np.nan)

In [161]:
decimals_dropped_vc = decimals_dropped.stack().value_counts()

In [170]:
decimals_dropped_vc

999. MISSING                                                      4555367
996. NOT APPLICABLE: UNICAMERAL SYSTEM                            2178722
997. NOT APPLICABLE: NO UPPER HOUSE ELECTION                      1978464
97. NOT APPLICABLE                                                1447699
997. NOT APPLICABLE: NO PRESIDENTIAL ELECTION                     1235379
996. NOT APPLICABLE: NO ROLE OF PRESIDENT                          972396
10. Democratic                                                     576914
99.00 MISSING                                                      501448
997. NOT APPLICABLE: NO LOWER HOUSE ELECTION                       468614
97.00 NOT APPLICABLE                                               425221
999.00. MISSING                                                    285892
9996. NOT APPLICABLE: NO SECOND ROUND                              271965
00.00 THERE IS NO THRESHOLD                                        180328
91. [SEE ELECTION STUDY NOTES]                                      68173
999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION                59626
99. MISSING                                                         50895
9999. MISSING                                                       44481
997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCULATED                 42722
96.00 OTHER THRESHOLD [SEE ELECTION STUDY NOTES]                    41478
99999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION              27559
999999999. MISSING AND/OR NOT AVAILABLE AT TIME OF PUBLICATION      25686
99.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION                 24043
999999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION             22034
9995. NOT ASCERTAINED                                                5413
-88. Transition Periods                                              2220
9. MISSING                                                           1208
9997. REFUSED                                                         656
9998. DON'T KNOW                                                      119
dtype: int64

In [156]:
manual_fixes = ["-88. Transition Periods","00.00 THERE IS NO THRESHOLD","10. Democratic"]

# (1) "00.00 THERE IS NO THRESHOLD"
# IMD5022_1       >>> PARTY THRESHOLD - LOWER – 1ST SEGMENT (TIER)
# IMD5022_2       >>> PARTY THRESHOLD - LOWER – 2ND SEGMENT (TIER)
# IMD5022_3       >>> PARTY THRESHOLD - UPPER – 1ST SEGMENT (TIER)
# IMD5022_4       >>> PARTY THRESHOLD - UPPER – 2ND SEGMENT (TIER)
# "00.00 THERE IS NO THRESHOLD"
# should this coded as "non-response" (there is already a 'is there a threshold?'
# so normally you'd treat that as a filter and code 'no' as some type of non-response
# or "0")
# -> 0

# (2) "-88. Transition Periods","10. Democratic"
# 
# 
# 

seminumeric_replace_dict = {"10. Democratic":10,"-10. AUTOCRATIC":-10,"00.00 THERE IS NO THRESHOLD":0}


np.unique( [int(x.split(".")[0]) for x in decimals_dropped_vc.index if x not in manual_fixes] )

array([        9,        91,        96,        97,        99,       996,
             997,       999,      9995,      9996,      9997,      9998,
            9999,     99999,    999999, 999999999])

In [67]:
CSES_int["IMD5051_2"].value_counts().sort_index()

-88. Transition Periods      1118
-7                           2000
-6                           2000
-5                           1990
1                            1102
3                            3590
4                            3533
5                            1175
6                            3262
7                            4573
8                           40073
9                           35209
10. Democratic             169807
99. MISSING                 11651
Name: IMD5051_2, dtype: int64

In [174]:
[x for x in decimals_dropped_vc.index if not re.match("9{1,8}\d?\.(00)?\.?",x)]

['10. Democratic', '00.00 THERE IS NO THRESHOLD', '-88. Transition Periods']

In [181]:
# %debug

In [ ]:
ordinal         72
party           32
dummy           25

In [164]:
ordinal_vars = df[df["variable type"]=="ordinal"]["index"].values
ordinal_decimals_dropped = CSES_int_final[ordinal_vars].applymap(lambda x: x if not isnum(x) else np.nan)
ordinal_decimals_dropped_vc = ordinal_decimals_dropped.stack().value_counts()

In [184]:
party_vars = df[df["variable type"]=="party"]["index"].values
party_decimals_dropped = CSES_int_final[party_vars].applymap(lambda x: x if not isnum(x) else np.nan)
party_ordinal_decimals_dropped_vc = party_decimals_dropped.stack().value_counts()

In [194]:
dummy_vars = df[df["variable type"]=="dummy"]["index"].values
dummy_decimals_dropped = CSES_int_final[dummy_vars].applymap(lambda x: x if not isnum(x) else np.nan)
dummy_decimals_dropped_vc = dummy_decimals_dropped.stack().value_counts()

In [16]:
# dummy_vars = df[df["variable type"]=="dummy"]["index"].values
all_decimals_dropped = CSES_int_final.applymap(lambda x: x if not isnum(x) else np.nan)
all_decimals_dropped_vc = all_decimals_dropped.stack().value_counts()

In [56]:
misc_vars = df[df["variable type"].apply(lambda x: x in ["ordinal","dummy","meta","seminumeric"])]["index"].values
# misc_decimals_dropped = CSES_int_final[misc_vars].applymap(lambda x: x if not isnum(x) else np.nan)
# misc_decimals_dropped_vc = misc_decimals_dropped.stack().value_counts()

In [237]:
# misc_vars =

In [58]:
(CSES_int_final[misc_vars]=="6. OTHER").sum().sort_values()

IMD1001       0
IMD5012_A     0
IMD5012_B     0
IMD5012_C     0
IMD5012_D     0
             ..
IMD3015_2     0
IMD3015_3     0
IMD3015_4     0
IMD3009_H     0
IMD2003      41
Length: 230, dtype: int64

In [46]:
# ordinal_decimals_dropped_vc.head(60)

In [47]:
# pd.Series( [x for x in ordinal_decimals_dropped_vc.index if re.match("9{1,8}\d?\.(00)?\.?",x)] )

In [ ]:
 # ordinals
    # non responses missing from match
    "8. VOLUNTEERED: DON'T KNOW", "6. [SEE ELECTION STUDY NOTES]", "7. VOLUNTEERED: REFUSED"
 # party
    # non responses
    ['9999989. INDEPENDENT CANDIDATE',
       '999989. INDEPENDENT (NON-PARTY CANDIDATE)',
       '999989. INDEPENDENT CANDIDATE',
       '9999988. NONE OF THE CANDIDATES/PARTIES',
       '9999988. NONE OF THE CANDIDATES PARTIES',
       '999988. NONE OF THE CANDIDATES/PARTIES']
 # dummy
    # non responses
'5. [SEE ELECTION STUDY NOTES]','3. [SEE ELECTION STUDY NOTES]'],'4. [SEE ELECTION STUDY NOTES]',
"8. VOLUNTEERED: DON'T KNOW",'7. REFUSED','7. VOLUNTEERED: REFUSED','7. NOT APPLICABLE',    
#     responses
'9. CONSERVATIVE PARTIES','9. HINDUISM',

# everything else
'001. [SEE ELECTION STUDY NOTES]','002. [SEE ELECTION STUDY NOTES]'

In [21]:
all_decimals_dropped_vc

99. MISSING                                                               5431487
999. MISSING                                                              4555424
9. MISSING                                                                4004808
996. NOT APPLICABLE: UNICAMERAL SYSTEM                                    2178722
997. NOT APPLICABLE: NO UPPER HOUSE ELECTION                              1978464
                                                                           ...
0760030. BRA - Free Homeland Party                                              1
1910017. HRV - Independent Democratic Serbian Party                             1
4280031. LVA - Fatherland Union                                                 1
0760041. BRA - Party of the Nations Retirees                                    1
6080130. PHL - Isang Lapian ng Mangingisda at Bayan Tungo sa Kaunlaran          1
Length: 2647, dtype: int64

In [48]:
# pattern = "(9{2,8}\d?\.(00)?\.?)|(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)|(.*MISSING)"
# pattern = "(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)"
pd.Series( [x for x in all_decimals_dropped_vc.index if not re.match(pattern,x) ]).values

array(['1. RESPONDENT CAST A BALLOT', '5. NO', '10. Democratic', ...,
       '4280031. LVA - Fatherland Union',
       '0760041. BRA - Party of the Nations Retirees',
       '6080130. PHL - Isang Lapian ng Mangingisda at Bayan Tungo sa Kaunlaran'],
      dtype=object)

In [44]:
pattern = "(9{2,8}\d?\.(00)?\.?)|(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)|(.*MISSING)|(.*(INTERRUPTION|INTERREGUM|TRANSITION) PERIODS)"

            -66. INTERRUPTION PERIODS
            -77. INTERREGUM PERIODS
            -88. TRANSITION PERIODS
# pattern = "(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)"
pd.Series( [x for x in misc_decimals_dropped_vc.index if re.match(pattern,x) ]).values

array(['99. MISSING', '999. MISSING', '9. MISSING',
       '996. NOT APPLICABLE: UNICAMERAL SYSTEM',
       '997. NOT APPLICABLE: NO UPPER HOUSE ELECTION',
       '97. NOT APPLICABLE', '7. NOT APPLICABLE',
       '997. NOT APPLICABLE: NO PRESIDENTIAL ELECTION',
       '996. NOT APPLICABLE: NO ROLE OF PRESIDENT', '99.00 MISSING',
       '997. NOT APPLICABLE: NO LOWER HOUSE ELECTION',
       '97.00 NOT APPLICABLE',
       '9999995. NOT APPLICABLE: NO ROLE OF PRESIDENT',
       '9999999. MISSING', "98. VOLUNTEERED: DON'T KNOW WHERE TO PLACE",
       '001. [SEE ELECTION STUDY NOTES]', '999.00. MISSING',
       '9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS / NO SECOND ROUND',
       '9996. NOT APPLICABLE: NO SECOND ROUND',
       "8. VOLUNTEERED: DON'T KNOW",
       '9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS',
       '9999996. NOT APPLICABLE: NO UPPER HOUSE ELECTION',
       '9999995. NOT APPLICABLE: UNICAMERAL SYSTEM',
       "98. DON'T KNOW ENOUGH ABOUT/DON'T KNOW WHERE TO RATE",
       '97. VOLUNTEERED: REFUSED', '91. [SEE ELECTION STUDY NOTES]',
       '999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION',
       '9999999. MISSING / ABSTAINED (DID NOT VOTE)',
       '9999996. NOT APPLICABLE: NO LOWER HOUSE ELECTION',
       '9999. MISSING', '4. [SEE ELECTION STUDY NOTES]',
       '997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCULATED',
       '96.00 OTHER THRESHOLD [SEE ELECTION STUDY NOTES]',
       '7. VOLUNTEERED: REFUSED',
       '9999996. NOT ASCERTAINED/INCUMBENT CANDIDATE/PARTY DID NOT CONTEST',
       '99999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION',
       '999999999. MISSING AND/OR NOT AVAILABLE AT TIME OF PUBLICATION',
       '99.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION',
       '999999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION',
       '002. [SEE ELECTION STUDY NOTES]',
       '9999993. VOLUNTEERED: RESPONDENT NOT REGISTERED ON ELECTORAL LISTS [IF APPLICABLE]',
       '9999997. VOLUNTEERED: REFUSED',
       "9999998. VOLUNTEERED: DON'T KNOW", '9995. NOT ASCERTAINED',
       '003. [SEE ELECTION STUDY NOTES]',
       '006. [SEE ELECTION STUDY NOTES]',
       '004. [SEE ELECTION STUDY NOTES]', "98. VOLUNTEERED: DON'T KNOW",
       '9997. REFUSED', '005. [SEE ELECTION STUDY NOTES]',
       "9998. DON'T KNOW", '5. [SEE ELECTION STUDY NOTES]',
       '6. [SEE ELECTION STUDY NOTES]', '7. REFUSED',
       '3. [SEE ELECTION STUDY NOTES]'], dtype=object)

In [32]:
all_decimals_dropped_vc.loc[['9999990. OTHER LEFT WING CANDIDATE/PARTY',
                             '9999991. OTHER RIGHT WING CANDIDATE/PARTY',
       '999990. OTHER LEFT WING CANDIDATE/PARTY',
       '999991. OTHER RIGHT WING CANDIDATE/PARTY']]

# There's a strong case for handling these differently

9999990. OTHER LEFT WING CANDIDATE/PARTY     236
9999991. OTHER RIGHT WING CANDIDATE/PARTY     98
999990. OTHER LEFT WING CANDIDATE/PARTY        4
999991. OTHER RIGHT WING CANDIDATE/PARTY       1
dtype: int64

In [192]:
pd.Series( [x for x in party_ordinal_decimals_dropped_vc.index if not re.match("9{1,8}\d?\.(00)?\.?",x) and x[0:1]=="9"] ).values

array(['9999989. INDEPENDENT CANDIDATE',
       '999989. INDEPENDENT (NON-PARTY CANDIDATE)',
       '999989. INDEPENDENT CANDIDATE',
       '9999988. NONE OF THE CANDIDATES/PARTIES',
       '9999988. NONE OF THE CANDIDATES PARTIES',
       '999988. NONE OF THE CANDIDATES/PARTIES'], dtype=object)

In [197]:
pd.Series( [x for x in dummy_decimals_dropped_vc.index if re.match("9{1,8}\d?\.(00)?\.?",x)] ).values

array(['99. MISSING', '9. MISSING', '9. CONSERVATIVE PARTIES',
       '90. OTHER', '97. NOT APPLICABLE',
       '98. NO IDEOLOGICAL FAMILY MENTIONED', '96. OTHER: NOT SPECIFIED',
       '9999. MISSING', '97. VOLUNTEERED: REFUSED',
       "98. VOLUNTEERED: DON'T KNOW", '9997. REFUSED', '9. HINDUISM',
       "9998. DON'T KNOW"], dtype=object)

In [45]:
misc_vars = df[df["variable type"].apply(lambda x: x in ["meta","date","drop"])]["index"].values
misc_decimals_dropped = CSES_int_final[misc_vars].applymap(lambda x: x if not isnum(x) else np.nan)
misc_decimals_dropped_vc = misc_decimals_dropped.stack().value_counts()
pattern = "(9{2,8}\d?\.(00)?\.?)|(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)|(.*MISSING)"
# pattern = "(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)"
pd.Series( [x for x in misc_decimals_dropped_vc.index if not re.match(pattern,x) ]).values

array(['00. NOT IN CSES MODULE 5', 'VER2019-OCT-17', 'CSES-IMD',
       'doi:10.7804/cses.imd.2019-10-17', '00. NOT IN CSES MODULE 1',
       '00. NOT IN CSES MODULE 2', '00. NOT IN CSES MODULE 4',
       '00. NOT IN CSES MODULE 3', '10. OCTOBER', '09. SEPTEMBER',
       '11. NOVEMBER', '05. MAY', '06. JUNE', '07. JULY', '04. APRIL',
       '03. MARCH', '01. IN CSES MODULE 3', '01. IN CSES MODULE 4',
       '01. IN CSES MODULE 2', '01. IN CSES MODULE 1', '12. DECEMBER',
       '01. JANUARY', 'doi:10.7804/cses.module5.2020-05-14',
       'VER2020-MAY-14', 'CSES-MODULE-5', '01. IN CSES MODULE 5',
       '02. FEBRUARY', 'Canada', 'Mexico', 'Germany', 'Norway',
       'Australia', 'New Zealand', 'Brazil', '08. AUGUST', 'Switzerland',
       'Iceland', 'Taiwan', 'United States of America', 'Poland',
       'Netherlands', 'Romania', 'Czech Republic', 'Peru', 'Portugal',
       'France', 'Ireland', 'Japan', 'Belgium', 'Republic of Korea',
       'Chile', 'Denmark', 'Finland', 'Great Britain', 'Hong Kong',
       'Slovenia', 'Russian Federation', 'Spain', 'Sweden', 'Thailand',
       'Israel', 'CAN_2008', '12402008. CANADA (2008)',
       '75602011. SWITZERLAND (2011)', 'CHE_2011', 'CAN_2015',
       '12402015. CANADA (2015)', 'Greece', 'NZL_1996',
       '55401996. NEW ZEALAND (1996)', 'AUS_2013',
       '03602013. AUSTRALIA (2013)', 'Hungary',
       '84002016. UNITED STATES (2016)', 'USA_2016', 'Philippines',
       'CAN_2011', '12402011. CANADA (2011)', 'Italy', 'Austria',
       'Turkey', 'CHE_2007', '75602007. SWITZERLAND (2007)', 'BRA_2014',
       '07602014. BRAZIL (2014)', 'Latvia', 'GBR_1997',
       '82601997. GREAT BRITAIN (1997)', '62002005. PORTUGAL (2005)',
       'PRT_2005', '07602002. BRAZIL (2002)', 'BRA_2002', 'Lithuania',
       'BRA_2018', '07602018. BRAZIL (2018)', 'South Africa', 'Bulgaria',
       'POL_2005', '61602005. POLAND (2005)', 'MEX_2012',
       '48402009. MEXICO (2009)', 'MEX_2009', '48402012. MEXICO (2012)',
       'IRL_2002', '37202002. IRELAND (2002)',
       '52802006. NETHERLANDS (2006)', 'NLD_2006', 'Slovakia', 'ROU_2012',
       '64202012. ROMANIA (2012)', 'BEL_2003', '05602003. BELGIUM (2003)',
       'Montenegro', '05611999. BELGIUM-FLANDERS (1999)', 'BELF1999',
       '52802010. NETHERLANDS (2010)', 'NLD_2010', 'USA_2008',
       '84002008. UNITED STATES (2008)', 'NLD_1998',
       '52801998. NETHERLANDS (1998)', 'DEU_2009',
       '27602009. GERMANY (2009)', 'GRC_2015', '30002015. GREECE (2015)',
       '35202017. ICELAND (2017)', 'ISL_2017', 'NOR_1997',
       '57801997. NORWAY (1997)', 'NOR_2001', '57802001. NORWAY (2001)',
       '75601999. SWITZERLAND (1999)', 'CHE_1999', 'MEX_1997',
       '48401997. MEXICO (1997)', 'PER_2006', '60402006. PERU (2006)',
       '27602017. GERMANY (2017)', 'DEU_2017',
       '70501996. SLOVENIA (1996)', 'SVN_1996', 'DNK_2001',
       '20802001. DENMARK (2001)', 'TWN_2001', '15802001. TAIWAN (2001)',
       '27601998. GERMANY (1998)', 'DEU_1998', 'DEU_2005',
       '27602005. GERMANY (2005)', 'FRA_2012', '25002012. FRANCE (2012)',
       '57802005. NORWAY (2005)', 'NOR_2005', '61601997. POLAND (1997)',
       'POL_1997', 'CZE_2006', '20302006. CZECH REPUBLIC (2006)',
       '38002018. ITALY (2018)', 'ITA_2018', 'DNK_1998',
       '20801998. DENMARK (1998)', '15202017. CHILE (2017)',
       '27612002. GERMANY (2002 Telephone)', 'FRA_2007', 'DEU12002',
       'CHL_2017', 'Kyrgyzstan', '03602019. AUSTRALIA (2019)', 'AUS_2019',
       '25002007. FRANCE (2007)', '07602010. BRAZIL (2010)', 'KGZ_2005',
       'BRA_2010', '41702005. KYRGYZSTAN (2005)', 'Belarus',
       '48402003. MEXICO (2003)', 'MEX_2003', 'THA_2007',
       '76402007. THAILAND (2007)', '39202004. JAPAN (2004)', 'JPN_2004',
       '05621999. BELGIUM-WALLONIA (1999)', 'BELW1999', 'JPN_2013',
       '39202013. JAPAN (2013)', 'USA_2012',
       '84022012. UNITED STATES (2012)', '61602011. POLAND (2011)',
       'POL_2011', '64202004. ROMANIA (2004)', 'ROU_2004', 'TWN_2008',
       '15802008. TAIWAN (2008)', '27602013. GERMANY (2013)', 'DEU_2013',
       'AUS_2007', '03602007. AUSTRALIA (2007)',
       '20302010. CZECH REPUBLIC (2010)', 'CZE_2010', 'IRL_2011',
       '37202011. IRELAND (2011)', '12401997. CANADA (1997)', 'CAN_1997',
       'RUS_1999', '64301999. RUSSIA (1999)', 'FRA_2017',
       '25002017. FRANCE (2017)', 'TWN_2012', '15802012. TAIWAN (2012)',
       'TWN_2004', '15802004. TAIWAN (2004)', '61602007. POLAND (2007)',
       'POL_2007', 'NZL_2017', '55402017. NEW ZEALAND (2017)',
       '03601996. AUSTRALIA (1996)', 'AUS_1996',
       '61602001. POLAND (2001)', 'POL_2001', '57802017. NORWAY (2017)',
       'NOR_2017', '57802009. NORWAY (2009)', 'NOR_2009',
       '03602004. AUSTRALIA (2004)', 'AUS_2004', 'MEX_2000',
       '48402000. MEXICO (2000)', '64302000. RUSSIA (2000)', 'RUS_2000',
       'NZL_2002', '55402002. NEW ZEALAND (2002)',
       '57802013. NORWAY (2013)', 'NOR_2013', '15802016. TAIWAN (2016)',
       'TWN_2016', '12402004. CANADA (2004)', 'CAN_2004',
       '20302013. CZECH REPUBLIC (2013)', 'CZE_2013', 'ISL_1999',
       '35201999. ICELAND (1999)', '35202007. ICELAND (2007)', 'ISL_2007',
       'MEX_2006', '48402006. MEXICO (2006)', 'FIN_2015',
       '24602015. FINLAND (2015)', '52802002. NETHERLANDS (2002)',
       'NLD_2002', '60402016. PERU (2016)', 'PER_2016',
       '60402011. PERU (2011)', 'PER_2011', '68802012. SERBIA (2012)',
       'SRB_2012', 'Serbia', 'GBR_2015', '82602015. GREAT BRITAIN (2015)',
       '75202006. SWEDEN (2006)', 'SWE_2006', 'USA_1996',
       '84001996. UNITED STATES (1996)', 'HUN_1998',
       '34801998. HUNGARY (1998)', 'LTU_2016',
       '76402011. THAILAND (2011)', 'THA_2011',
       '41002004. SOUTH KOREA (2004)', '44002016. LITHUANIA (2016)',
       'KOR_2004', '62002015. PORTUGAL (2015)', 'PRT_2015',
       '64302004. RUSSIA (2004)', 'RUS_2004', '10002001. BULGARIA(2001)',
       'BGR_2001', '35202013. ICELAND (2013)', 'ISL_2013',
       '35202003. ICELAND (2003)', 'ISL_2003', '20802007. DENMARK (2007)',
       'DNK_2007', 'ITA_2006', '38002006. ITALY (2006)', 'IRL_2007',
       '37202007. IRELAND (2007)', '75602003. SWITZERLAND (2003)',
       'CHE_2003', '03202015. ARGENTINA (2015)', 'ARG_2015', 'Argentina',
       '64202009. ROMANIA (2009)', 'ROU_2009', 'ISL_2009',
       '35202009. ICELAND (2009)', '55402011. NEW ZEALAND (2011)',
       'NZL_2011', 'JPN_2007', '39202007. JAPAN (2007)',
       '39201996. JAPAN (1996)', 'JPN_1996', 'PRT_2009',
       '62002009. PORTUGAL (2009)', 'PRT_2002',
       '62002002. PORTUGAL (2002)', '71002014. SOUTH AFRICA (2014)',
       'ZAF_2014', '24602011. FINLAND (2011)', 'FIN_2011', 'ISL_2016',
       '35202016. ICELAND (2016)', '24602007. FINLAND (2007)', 'FIN_2007',
       '20301996. CZECH REPUBLIC (1996)', 'CZE_1996', 'NZL_2014',
       '55402014. NEW ZEALAND (2014)', '49902016. MONTENEGRO (2016)',
       'MNE_2016', '72401996. SPAIN (1996)', '37602003. ISRAEL (2003)',
       'ESP_1996', 'ESP_2004', '72402004. SPAIN (2004)', 'ISR_2003',
       '72402000. SPAIN (2000)', 'HUN_2018', 'ESP_2000',
       '34802018. HUNGARY (2018)', '72402008. SPAIN (2008)', 'ESP_2008',
       '04002017. AUSTRIA (2017)', 'SVK_2010', 'AUT_2017',
       '70302010. SLOVAKIA (2010)', 'TWN_1996', 'HUN_2002',
       '60802004. PHILIPPINES (2004)', 'ZAF_2009',
       '37602006. ISRAEL (2006)', '40402013. KENYA (2013)',
       '60802010. PHILIPPINES (2010)', 'ISR_2006', 'PHL_2010', 'Kenya',
       'CHL_2009', '34802002. HUNGARY (2002)', 'CHL_2005',
       '71002009. SOUTH AFRICA (2009)', 'PHL_2016',
       '60802016. PHILIPPINES (2016)', 'KEN_2013',
       '15202009. CHILE (2009)', '15801996. TAIWAN (1996)', 'PHL_2004',
       '15202005. CHILE (2005)', '41002016. SOUTH KOREA (2016)',
       'KOR_2016', '48402015. MEXICO (2015)', 'MEX_2015', 'FIN_2003',
       '24602003. FINLAND (2003)', '64201996. ROMANIA (1996)', 'ROU_1996',
       '15201999. CHILE (1999)', 'CHL_1999', 'AUT_2008',
       '04002008. AUSTRIA (2008)', 'SWE_1998', '75201998. SWEDEN (1998)',
       'SVK_2016', '70302016. SLOVAKIA (2016)',
       '55402008. NEW ZEALAND (2008)', 'NZL_2008', 'UKR_1998', 'Ukraine',
       '80401998. UKRAINE (1998)', '60402001. PERU (2001)', 'PER_2001',
       '00802005. ALBANIA (2005)', 'Albania', 'ALB_2005',
       '64202014. ROMANIA (2014)', 'ROU_2014', 'TUR_2011',
       '79202011. TURKEY (2011)', 'PER_2000', '60402000. PERU (2000)',
       'KOR_2000', '41002000. SOUTH KOREA (2000)',
       '37601996. ISRAEL (1996)', 'ISR_1996', '79202015. TURKEY (2015)',
       'TUR_2015', 'THA_2001', '76402001. THAILAND (2001)',
       '79202018. TURKEY (2018)', 'TUR_2018',
       '84002004. UNITED STATES (2004)', 'USA_2004',
       '75202002. SWEDEN (2002)', 'SWE_2002', 'SVN_2008',
       '70502008. SLOVENIA (2008)', '34402012. HONG KONG (2012)',
       'HKG_2012', '42802014. LATVIA (2014)', 'LVA_2014', 'SVN_2011',
       '70502011. SLOVENIA (2011)', 'GRC_2012', '30002012. GREECE (2012)',
       '27622002. GERMANY (2002 Mail-Back)', 'DEU22002',
       '30002009. GREECE (2009)', 'GRC_2009', 'HKG_2016',
       '34402016. HONG KONG (2016)', '37602013. ISRAEL (2013)',
       'ISR_2013', '44001997. LITHUANIA (1997)', 'LTU_1997', 'LVA_2010',
       '42802010. LATVIA (2010)', 'Croatia', '42802011. LATVIA (2011)',
       'LVA_2011', '19102007. CROATIA (2007)', 'HRV_2007', 'SVN_2004',
       '70502004. SLOVENIA (2004)', '41002012. SOUTH KOREA (2012)',
       '34401998. HONG KONG (1998)', '11202001. BELARUS (2001)',
       'IRL_2016', 'BLR_2008', '04002013. AUSTRIA (2013)',
       '23302011. ESTONIA (2011)', 'KOR_2008', 'KOR_2012',
       '37202016. IRELAND (2016)', 'Estonia', '07602006. BRAZIL (2006)',
       'HKG_1998', 'FRA_2002', 'BLR_2001', 'EST_2011',
       '11202008. BELARUS (2008)', 'BRA_2006',
       '41002008. SOUTH KOREA (2008)', '25002002. FRANCE (2002)',
       'AUT_2013', '10002014. BULGARIA (2014)', 'BGR_2014', 'URY_2009',
       'Uruguay', '85802009. URUGUAY (2009)', 'MNE_2012',
       '49902012. MONTENEGRO (2012)', '20302002. CZECH REPUBLIC (2002)',
       'CZE_2002', '82602005. GREAT BRITAIN (2005)', 'GBR_2005',
       'SWE_2014', '75202014. SWEDEN (2014)',
       '34402008. HONG KONG (2008)', 'HKG_2008',
       '34402000. HONG KONG (2000)', 'HKG_2000', 'HKG_2004',
       '34402004. HONG KONG (2004)'], dtype=object)

In [59]:
isnum_vc = CSES_int_final.applymap(lambda x: x if isnum(x) else np.nan).stack().value_counts()

In [61]:
isnum_vc.head(50)

1.0     2788296
0       2787412
5.0     1293638
2.0     1057328
3       1056575
4.0     1048401
7.0      860574
6.0      853420
8.0      817856
9.0      532695
1.5      169137
19       141912
10       137861
12.0     127681
16.0     125084
15       124463
14       115654
20.0     114324
17       107193
18.0     103530
2011     102412
23.0      95045
2.5       94812
22.0      93218
2012      89413
2007      88044
2016      85430
2009      84885
13        83383
21        82284
2013      80843
0.87      76468
2015      72908
2002      72458
0.88      72355
24        72094
2004      71766
2008      71464
11        70418
25        70272
2006      69437
27        68569
1996      68282
2017      66004
0.86      65095
0.91      63295
0.89      63224
0.9       63143
28        62387
2005      57987
dtype: int64

In [148]:
df["variable type"].value_counts()

seminumeric    112
ordinal         73
party           31
dummy           25
meta            20
date            15
drop             1
Name: variable type, dtype: int64

In [6]:
def isnum(x):
    return str(x).replace('.','',1).replace('-','',1).isdigit()

def list_categories(ser):
    return "|".join([str(x) for x in ser.cat.categories])

In [181]:
pattern = "(9{2,8}\d?\.(00)?\.?)|(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)|(.*MISSING)|(.*Transition Periods)"

seminumeric_replace_dict = {"10. Democratic":10,"-10. AUTOCRATIC":-10,"00.00 THERE IS NO THRESHOLD":0}

date_replace_dict = {'01. JANUARY':1, '02. FEBRUARY':2, '03. MARCH':3, '04. APRIL':4, '05. MAY':5, '06. JUNE':6,
                     '07. JULY':7, '08. AUGUST':8, '09. SEPTEMBER':9, '10. OCTOBER':10, '11. NOVEMBER':11, '12. DECEMBER':12}



def process_var(ser,var_type):
    non_resp = ser.apply(lambda x: x if not isnum(x) and re.match(pattern,x) else np.nan).astype('category').copy()    
    non_resp.name = ser.name+"_DK"
    non_resp_cont_inf = non_resp.value_counts().sort_index().to_dict()
    
    if var_type == "seminumeric":
        
        resp=ser.copy()
        
        if ser.dtype.name=='object':
            resp = resp.replace(seminumeric_replace_dict)
        # FIX LATER
        
        resp = resp.apply(lambda x: x if isnum(x) else np.nan).astype('float32').copy()
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_NUM"
        resp_cont_inf = (resp.min(),resp.max())
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf
    
    elif var_type == "ordinal":
        
        resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        resp_cont_inf = dict(zip(resp.cat.categories,
                             range(0,len(resp.cat.categories))))
        
        resp = resp.cat.codes.replace(-1,np.nan).astype('float32')
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_ORD"
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf
    
    elif var_type == "dummy":
        
        resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        resp_cont_inf = resp.value_counts().sort_index().to_dict()
        
        resp = pd.get_dummies( resp, prefix = ser.name )
        resp.name = ser.name
        
        ## should we change this to numbers???
        
        assert (non_resp.notnull().sum()+resp.any(axis=1).sum()) == ser.shape[0]
        
#         resp.name = ser.name+"_DUM"
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf    
    
    elif var_type == "party":
        resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories).apply(lambda x: float(x[0:7]) if pd.notnull() else np.nan).astype('float32')
        
        # what information would you really want here for party data?
        resp_cont_inf = resp.value_counts().sort_index().to_dict()
        
        resp.name = ser.name
        
        ## should we change this to numbers???
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_PTY"
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf
    
    elif var_type == "date":
        
        resp=ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        
        if (resp.dtype.name=='object') or (resp.dtype.name=='category' and resp.cat.categories.dtype!='int64'):
            resp = resp.replace(date_replace_dict)
                
        resp = resp.astype('float32')
        
        # what information would you really want here for party data?
        resp_cont_inf = resp.value_counts().sort_index().to_dict()
        
        resp.name = ser.name
        
        ## should we change this to numbers???
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_DAT"
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf    
    
        ## some final processing here to get datetimes
        # maybe separate variables?
        
    elif var_type == "meta":
                        
        resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        
        # what information would you really want here for party data?
        resp_cont_inf = resp.value_counts().sort_index().to_dict()
        
#         resp = pd.get_dummies( resp, prefix = ser.name )
        resp.name = ser.name
        
        ## should we change this to numbers???
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_MET"
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf           

    
    # Date?

In [182]:
# pd.get_dummies( CSES_int_final["IMD2006"].cat.remove_categories(["6. [SEE ELECTION STUDY NOTES]"]) )


# date_vc = CSES_int_final[df[df["variable type"]=="date"]["index"].values].stack().apply(lambda x: x if not isnum(x) and re.match(pattern,x) else np.nan).astype('category').value_counts()
# date_vc

In [183]:
# CSES_int_final["IMD5000_D"]

In [184]:
# CSES_int_final["IMD5000_D"].apply(lambda x: float(x[0:7]))

In [185]:
%%time
process_variable_manifest = pd.DataFrame(columns = ["new_variable_name",
                                                    "source_variable_name",
                                                    "description",
                                                    "response/non-response",
                                                    "resp_rows",
                                                    "non_resp_rows",
                                                    "contents_inf",
                                                    "variable type",
                                                    "variable structural type"])



# maybe also want "display names" (descriptions)

resp_df = pd.DataFrame()
non_resp_df = pd.DataFrame()
    
# process_var(CSES_int_final[seminumeric_vars[0]],"seminumeric")

for variable_type in ["seminumeric","ordinal","dummy","date","meta","drop","party"]:
#["date","meta","ordinal","drop"]:
#["seminumeric","ordinal","dummy"]:
    specific_vars = df[df["variable type"]==variable_type]["index"].values
    if variable_type=="drop":
        continue

    for variable in specific_vars:
        (non_resp,resp,non_resp_cont_inf,resp_cont_inf) = process_var(CSES_int_final[variable],variable_type)






        # add non_resp to relevant dataframe    
        non_resp_rows = non_resp.notnull().sum()
        non_resp_df[non_resp.name] = non_resp

        if isinstance(resp,pd.Series):

            # add resp to relevant dataframe    
            resp_rows = resp.notnull().sum()
            resp_df[resp.name] = resp

            # get next manifest index
            if process_variable_manifest.shape[0]==0:
                man_ind = 0
            else:
                man_ind = np.max(process_variable_manifest.index)+1

            process_variable_manifest.loc[man_ind] = [resp.name,
                                                      variable,
                                                      df.set_index("index").loc[variable,"descr"],
                                                      "response",
                                                      resp_rows,
                                                      non_resp_rows,
                                                      resp_cont_inf,
                                                      variable_type,
                                                      df.set_index("index").loc[variable,"variable structural type"],

                                                     ]
        else:
            for col in resp.columns:

                # add resp to relevant dataframe    
                resp_rows = resp.any(axis=1).sum()
                resp_df[resp[col].name] = resp[col]

                # get next manifest index
                if process_variable_manifest.shape[0]==0:
                    man_ind = 0
                else:
                    man_ind = np.max(process_variable_manifest.index)+1

                process_variable_manifest.loc[man_ind] = [resp[col].name,
                                                          variable,
                                                          df.set_index("index").loc[variable,"descr"],
                                                          "response",
                                                          resp_rows,
                                                          non_resp_rows,
                                                          resp_cont_inf,
                                                          variable_type,
                                                          df.set_index("index").loc[variable,"variable structural type"],

                                                         ]            

        # get next manifest index
        if process_variable_manifest.shape[0]==0:
            man_ind = 0
        else:
            man_ind = np.max(process_variable_manifest.index)+1    

        process_variable_manifest.loc[man_ind] = [non_resp.name,
                                                  variable,
                                                  df.set_index("index").loc[variable,"descr"],
                                                  "non-response",
                                                  resp_rows,
                                                  non_resp_rows,
                                                  non_resp_cont_inf,
                                                  variable_type,
                                                  df.set_index("index").loc[variable,"variable structural type"],

                                                 ]    
    
# ["new_variable_name",
# "source_variable_name",
# "response/non-response",
# "resp_rows",
# "non_resp_rows",
# "contents_inf",
# "variable type",
# "variable structural type"]    
    
    

# spit out

# response column/s
# non-response columns

# create meaningful names for each
# record in manifesto dataframe

# source variable|resp/non-respone|new name|categories inf|rows-resp|rows-non-resp

# categories inf
#  non-resp = sorted category set
#  semi-numeric = min,max
#  ordinal = code -> value dict
#  dummy = largest category??

# balance of rows of resp/non-resp?


# SHORTNAME!

# dummy variables - useful to know what the largest category is (in case used as 'base' - can you do that when you have missing values?)

process_variable_manifest

Wall time: 4min 40s

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
0,IMD1014_1_NUM,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,281024,35224,"(0.0, 362.0)",seminumeric,int only
1,IMD1014_1_DK,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,non-response,281024,35224,"{'9995. NOT ASCERTAINED': 4, '9999. MISSING': ...",seminumeric,int only
2,IMD1014_2_NUM,IMD1014_2,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,35437,280811,"(1.0, 275.0)",seminumeric,int only
3,IMD1014_2_DK,IMD1014_2,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,non-response,35437,280811,"{'9995. NOT ASCERTAINED': 5409, '9996. NOT APP...",seminumeric,int only
4,IMD2001_1_NUM,IMD2001_1,AGE OF RESPONDENT (IN YEARS),response,309649,6599,"(15.0, 115.0)",seminumeric,int only
...,...,...,...,...,...,...,...,...,...
740,IMD5008_2_DK,IMD5008_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,248963,67285,{'999997. NOT APPLICABLE - PRESIDENTIAL REGIME...,party,country
741,IMD5009_1_PTY,IMD5009_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,205282,110966,"{320001.0: 1406, 400001.0: 2165, 760001.0: 613...",party,country
742,IMD5009_1_DK,IMD5009_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,205282,110966,{'999997. NOT APPLICABLE - PARLIAMENTARY REGIM...,party,country
743,IMD5009_2_PTY,IMD5009_2,PERCENT SEATS - UPPER HOUSE - PARTY G,response,205282,110966,"{320002.0: 1406, 400001.0: 2165, 760001.0: 865...",party,country
744,IMD5009_2_DK,IMD5009_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,205282,110966,{'999997. NOT APPLICABLE - PARLIAMENTARY REGIM...,party,country

In [191]:
# %debug

In [186]:
process_variable_manifest["variable type"].value_counts()

dummy          243
seminumeric    224
ordinal        146
party           62
meta            40
date            30
Name: variable type, dtype: int64

In [187]:
process_variable_manifest

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
0,IMD1014_1_NUM,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,281024,35224,"(0.0, 362.0)",seminumeric,int only
1,IMD1014_1_DK,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,non-response,281024,35224,"{'9995. NOT ASCERTAINED': 4, '9999. MISSING': ...",seminumeric,int only
2,IMD1014_2_NUM,IMD1014_2,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,35437,280811,"(1.0, 275.0)",seminumeric,int only
3,IMD1014_2_DK,IMD1014_2,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,non-response,35437,280811,"{'9995. NOT ASCERTAINED': 5409, '9996. NOT APP...",seminumeric,int only
4,IMD2001_1_NUM,IMD2001_1,AGE OF RESPONDENT (IN YEARS),response,309649,6599,"(15.0, 115.0)",seminumeric,int only
...,...,...,...,...,...,...,...,...,...
740,IMD5008_2_DK,IMD5008_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,248963,67285,{'999997. NOT APPLICABLE - PRESIDENTIAL REGIME...,party,country
741,IMD5009_1_PTY,IMD5009_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,205282,110966,"{320001.0: 1406, 400001.0: 2165, 760001.0: 613...",party,country
742,IMD5009_1_DK,IMD5009_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,205282,110966,{'999997. NOT APPLICABLE - PARLIAMENTARY REGIM...,party,country
743,IMD5009_2_PTY,IMD5009_2,PERCENT SEATS - UPPER HOUSE - PARTY G,response,205282,110966,"{320002.0: 1406, 400001.0: 2165, 760001.0: 865...",party,country
744,IMD5009_2_DK,IMD5009_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,205282,110966,{'999997. NOT APPLICABLE - PARLIAMENTARY REGIM...,party,country

In [118]:
process_variable_manifest[(process_variable_manifest["resp_rows"]/CSES_int_final.shape[0])>.95].sort_values(by="resp_rows").tail(50)

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
5,IMD2001_1_DK,IMD2001_1,AGE OF RESPONDENT (IN YEARS),non-response,309649,6599,"{'9997. REFUSED': 656, '9998. DON'T KNOW': 119...",seminumeric,int only
4,IMD2001_1_NUM,IMD2001_1,AGE OF RESPONDENT (IN YEARS),response,309649,6599,"(15.0, 115.0)",seminumeric,int only
183,IMD5052_2_DK,IMD5052_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,310203,6045,{'99.00. MISSING/NOT AVAILABLE AT TIME OF PUBL...,seminumeric,country
182,IMD5052_2_NUM,IMD5052_2,PERCENT SEATS - UPPER HOUSE - PARTY G,response,310203,6045,"(-17.95, 11.31)",seminumeric,country
109,IMD5018_1_DK,IMD5018_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,310961,5287,{'97. NOT APPLICABLE': 5287},seminumeric,country
108,IMD5018_1_NUM,IMD5018_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,310961,5287,"(1.0, 2.0)",seminumeric,country
189,IMD5053_2_DK,IMD5053_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,311203,5045,{'999999.00. MISSING/NOT AVAILABLE AT TIME OF ...,seminumeric,country
188,IMD5053_2_NUM,IMD5053_2,PERCENT SEATS - UPPER HOUSE - PARTY G,response,311203,5045,"(2074.84, 101563.7)",seminumeric,country
388,IMD2001_2_01. YOUNGEST - 24 YEARS,IMD2001_2,AGE OF RESPONDENT (IN CATEGORIES),response,311869,4379,"{'01. YOUNGEST - 24 YEARS': 34371, '02. 25-34 ...",dummy,int only
394,IMD2001_2_DK,IMD2001_2,AGE OF RESPONDENT (IN CATEGORIES),non-response,311869,4379,"{'9997. REFUSED': 656, '9998. DON'T KNOW': 119...",dummy,int only
393,IMD2001_2_06. 65 - OLDEST,IMD2001_2,AGE OF RESPONDENT (IN CATEGORIES),response,311869,4379,"{'01. YOUNGEST - 24 YEARS': 34371, '02. 25-34 ...",dummy,int only
392,IMD2001_2_05. 55-64 YEARS,IMD2001_2,AGE OF RESPONDENT (IN CATEGORIES),response,311869,4379,"{'01. YOUNGEST - 24 YEARS': 34371, '02. 25-34 ...",dummy,int only
391,IMD2001_2_04. 45-54 YEARS,IMD2001_2,AGE OF RESPONDENT (IN CATEGORIES),response,311869,4379,"{'01. YOUNGEST - 24 YEARS': 34371, '02. 25-34 ...",dummy,int only
390,IMD2001_2_03. 35-44 YEARS,IMD2001_2,AGE OF RESPONDENT (IN CATEGORIES),response,311869,4379,"{'01. YOUNGEST - 24 YEARS': 34371, '02. 25-34 ...",dummy,int only
389,IMD2001_2_02. 25-34 YEARS,IMD2001_2,AGE OF RESPONDENT (IN CATEGORIES),response,311869,4379,"{'01. YOUNGEST - 24 YEARS': 34371, '02. 25-34 ...",dummy,int only
97,IMD5006_1_DK,IMD5006_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,312489,3759,{'999. MISSING': 3759},seminumeric,country
96,IMD5006_1_NUM,IMD5006_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,312489,3759,"(40.57, 95.77)",seminumeric,country
169,IMD5050_1_DK,IMD5050_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,315040,1208,{'9. MISSING': 1208},seminumeric,country
168,IMD5050_1_NUM,IMD5050_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,315040,1208,"(1.0, 6.5)",seminumeric,country
396,IMD2002_2. FEMALE,IMD2002,gender,response,315729,519,"{'1. MALE': 150391, '2. FEMALE': 165338}",dummy,int only
395,IMD2002_1. MALE,IMD2002,gender,response,315729,519,"{'1. MALE': 150391, '2. FEMALE': 165338}",dummy,int only
397,IMD2002_DK,IMD2002,gender,non-response,315729,519,"{'3. [SEE ELECTION STUDY NOTES]': 23, '7. REFU...",dummy,int only
380,IMD1016_1_2. TELEPHONE,IMD1016_1,MODE OF INTERVIEW - STUDY FIRST,response,316246,2,"{'1. FACE-TO-FACE': 217833, '2. TELEPHONE': 66...",dummy,int only
381,IMD1016_1_3. MAIL OR SELF-COMPLETED SUPPLEMENT,IMD1016_1,MODE OF INTERVIEW - STUDY FIRST,response,316246,2,"{'1. FACE-TO-FACE': 217833, '2. TELEPHONE': 66...",dummy,int only
382,IMD1016_1_4. INTERNET,IMD1016_1,MODE OF INTERVIEW - STUDY FIRST,response,316246,2,"{'1. FACE-TO-FACE': 217833, '2. TELEPHONE': 66...",dummy,int only
383,IMD1016_1_DK,IMD1016_1,MODE OF INTERVIEW - STUDY FIRST,non-response,316246,2,{'9. MISSING': 2},dummy,int only
379,IMD1016_1_1. FACE-TO-FACE,IMD1016_1,MODE OF INTERVIEW - STUDY FIRST,response,316246,2,"{'1. FACE-TO-FACE': 217833, '2. TELEPHONE': 66...",dummy,int only
587,IMD5013_1. MAJORITARIAN,IMD5013,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"{'1. MAJORITARIAN': 56320, '2. PROPORTIONAL': ...",dummy,country
172,IMD5050_3_NUM,IMD5050_3,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"(1.0, 6.5)",seminumeric,country
124,IMD5027_NUM,IMD5027,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"(60.0, 709.0)",seminumeric,country
125,IMD5027_DK,IMD5027,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,316248,0,{},seminumeric,country
588,IMD5013_2. PROPORTIONAL,IMD5013,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"{'1. MAJORITARIAN': 56320, '2. PROPORTIONAL': ...",dummy,country
170,IMD5050_2_NUM,IMD5050_2,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"(1.0, 6.5)",seminumeric,country
171,IMD5050_2_DK,IMD5050_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,316248,0,{},seminumeric,country
173,IMD5050_3_DK,IMD5050_3,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,316248,0,{},seminumeric,country
372,IMD1009_13. PARLIAMENTARY/LEGISLATIVE AND PRIM...,IMD1009,ELECTION TYPE,response,316248,0,"{'10. PARLIAMENTARY/LEGISLATIVE': 239043, '12....",dummy,country
341,IMD5007_DK,IMD5007,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,316248,0,{},ordinal,country
368,IMD5026_1_ORD,IMD5026_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,{'1. UNICAMERAL LEGISLATURE (ONE LEGISLATIVE C...,ordinal,country
369,IMD5026_1_DK,IMD5026_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,316248,0,{},ordinal,country
370,IMD1009_10. PARLIAMENTARY/LEGISLATIVE,IMD1009,ELECTION TYPE,response,316248,0,"{'10. PARLIAMENTARY/LEGISLATIVE': 239043, '12....",dummy,country
371,IMD1009_12. PARLIAMENTARY/LEGISLATIVE AND PRES...,IMD1009,ELECTION TYPE,response,316248,0,"{'10. PARLIAMENTARY/LEGISLATIVE': 239043, '12....",dummy,country
373,IMD1009_20. PRESIDENTIAL,IMD1009,ELECTION TYPE,response,316248,0,"{'10. PARLIAMENTARY/LEGISLATIVE': 239043, '12....",dummy,country
374,IMD1009_DK,IMD1009,ELECTION TYPE,non-response,316248,0,{},dummy,country
375,IMD1015_1. POST-ELECTION STUDY,IMD1015,STUDY CONTEXT,response,316248,0,"{'1. POST-ELECTION STUDY': 264071, '2. PRE-ELE...",dummy,int only
376,IMD1015_2. PRE-ELECTION AND POST-ELECTION STUDY,IMD1015,STUDY CONTEXT,response,316248,0,"{'1. POST-ELECTION STUDY': 264071, '2. PRE-ELE...",dummy,int only
377,IMD1015_3. BETWEEN ROUNDS,IMD1015,STUDY CONTEXT,response,316248,0,"{'1. POST-ELECTION STUDY': 264071, '2. PRE-ELE...",dummy,int only
378,IMD1015_DK,IMD1015,STUDY CONTEXT,non-response,316248,0,{},dummy,int only
589,IMD5013_3. MIXED,IMD5013,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"{'1. MAJORITARIAN': 56320, '2. PROPORTIONAL': ...",dummy,country
340,IMD5007_ORD,IMD5007,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"{'1. YES; STRICTLY ENFORCED SANCTIONS': 0, '2....",ordinal,country
590,IMD5013_DK,IMD5013,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,316248,0,{},dummy,country

In [223]:
## Dates!


# process_variable_manifest[process_variable_manifest["variable type"]=="date"]["source_variable_name"].value_counts().sort_index()

# IMD1011_X
# DATE 1ST ROUND ELECTION BEGAN

# IMD1012_X
# DATE 2ND ROUND ELECTION BEGAN

# IMD1013_X
# DATE QUESTIONNAIRE ADMINISTERED

# IMD5024_X
# DATE ELECTION SCHEDULED

# IMD5025_X
# DATE ELECTION HELD

def get_date(x):
    if pd.notnull(x):
        return str(int(x))
    else:
        return "nan"
    
def create_date_column(base_int,d_str,m_str,y_str):
    null_date_rows = resp_df[[base_int+d_str+"_DAT",base_int+m_str+"_DAT",base_int+y_str+"_DAT"]].isnull().any(axis=1)
    date = resp_df[base_int+d_str+"_DAT"].apply(get_date)+"\\"+resp_df[base_int+m_str+"_DAT"].apply(get_date)+"\\"+resp_df[base_int+y_str+"_DAT"].apply(get_date)
    date[null_date_rows] = np.nan
    return pd.to_datetime(date, format = "%d\%m\%Y")

In [266]:
# base_int = "IMD1011"
# d_str = "_D"
# m_str = "_M"
# y_str = "_Y"
# create_date_column(base_int,d_str,m_str,y_str)

In [233]:
# DATE 1ST ROUND ELECTION BEGAN
base_int = "IMD1011"
d_str = "_D"
m_str = "_M"
y_str = "_Y"
IMD1011_date = create_date_column(base_int,d_str,m_str,y_str)

In [227]:
# DATE 2ND ROUND ELECTION BEGAN
base_int = "IMD1012"
d_str = "_D"
m_str = "_M"
y_str = "_Y"
IMD1012_date = create_date_column(base_int,d_str,m_str,y_str)

In [228]:
# DATE QUESTIONNAIRE ADMINISTERED
base_int = "IMD1013"
d_str = "_D"
m_str = "_M"
y_str = "_Y"
IMD1013_date = create_date_column(base_int,d_str,m_str,y_str)

In [230]:
# DATE ELECTION SCHEDULED
base_int = "IMD5024"
d_str = "_2"
m_str = "_1"
y_str = "_3"
IMD5024_date = create_date_column(base_int,d_str,m_str,y_str)

In [231]:
# DATE ELECTION HELD
base_int = "IMD5025"
d_str = "_2"
m_str = "_1"
y_str = "_3"
IMD5025_date = create_date_column(base_int,d_str,m_str,y_str)

## all country structural variables except for date questionnaire administered

process_variable_manifest.loc[process_variable_manifest.index.max()+1] = [base_int+'_date',
 [base_int+d_str,base_int+m_str,base_int+y_str],### ????? erm - no single source variable but an amalgam??? -> list of all variables?
 'DATE ELECTION HELD', ### ???? -> need to write new description
       'response',
         IMD5025_date.notnull().sum(),
         IMD5025_date.notnull().sum(),
         (IMD5025_date.min(),IMD5025_date.max()),
       'date',### more specific datetime string
 'country']

resp_df[base_int+'_date']


# should we add a nonresp_df reference???

In [267]:
# process_variable_manifest.loc[process_variable_manifest.index.max()+1] = ['IMD5025_date',
#  ['IMD5025_1','IMD5025_2','IMD5025_3'],### ????? erm - no single source variable but an amalgam??? -> list of all variables?
#  'DATE ELECTION HELD', ### ???? -> need to write new description
#        'response',
#          IMD5025_date.notnull().sum(),
#          IMD5025_date.notnull().sum(),
#          (IMD5025_date.min(),IMD5025_date.max()),
#        'date',### more specific datetime string
#  'country']


# ## all country structural variables except for date questionnaire administered


# # add to resp_df but not nonresp_df?

In [12]:
# QUESTIONS

# WHAT ABOUT VARIABLES WITH NO MISSING VALUES?

# SHOULD THE ROWS POINT AT THE ALTERNATVE RESP/NON-RESP version variable name?

# SHOULD WE STORE OTHER DETAILS LIKE NUMBER OF DISTINCT VALUES?

#

744

In [232]:
# non_resp_df.dtypes.value_counts()

In [99]:
resp_df.dtypes.value_counts()

uint8      218
float32    112
float64     71
int8         2
dtype: int64

In [110]:
(resp_df.select_dtypes('float64').astype('float32') != resp_df.select_dtypes('float64')).sum().sum() == resp_df.select_dtypes('float64').isnull().sum().sum()
## we can safely downcast the float64s to float32

True

In [ ]:
## check categories, see if we have any with the same 'numbers'

In [102]:
CSES_int_final.select_dtypes('object').shape

def is_dup(x):
    return len(set(x))!=len(x)

In [104]:
CSES_int_final.select_dtypes('category').apply(lambda x:is_dup([int(y.split(".")[0]) for y in x.cat.categories if isinstance(y,str) and re.match("(\d+)\.",y)]))

0

In [108]:
temp = CSES_int_final.select_dtypes('object').astype('category').apply(lambda x:is_dup([int(y.split(".")[0]) for y in x.cat.categories if isinstance(y,str) and re.match("(\d+)\.",y)]))

In [111]:
CSES_int_final[CSES_int_final.select_dtypes('object').columns[temp]]

## any repeated

,IMD2001_1,IMD2001_2,IMD5022_2,IMD5022_3,IMD5022_4
0,22,01. YOUNGEST - 24 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
1,22,01. YOUNGEST - 24 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
2,56,05. 55-64 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
3,50,04. 45-54 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
4,48,04. 45-54 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
...,...,...,...,...,...
35160,20,01. YOUNGEST - 24 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35161,36,03. 35-44 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35162,81,06. 65 - OLDEST,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35163,26,02. 25-34 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35164,38,03. 35-44 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE

In [10]:
CSES_int_final

,original_index,IMD1001,IMD1002_VER,IMD1002_DOI,IMD1003,IMD1004,IMD1005,IMD1006,IMD1006_UN,IMD1006_NAM,...,IMD5056_2,IMD5056_3,IMD5057_1,IMD5057_2,IMD5057_3,IMD5058_1,IMD5058_2,IMD5059_1,IMD5059_2,IMD1008_MOD_5
0,0,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001111,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
1,1,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001112,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
2,2,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001113,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
3,3,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001114,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
4,4,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001115,0080,008,Albania,...,3.16,5.2,3011487,3026939,3039616,10.46,999.00. MISSING,3.75,999.00. MISSING,00. NOT IN CSES MODULE 5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316243,35160,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005085,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316244,35161,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005086,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316245,35162,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005087,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316246,35163,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005088,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5
316247,35164,CSES-MODULE-5,VER2020-MAY-14,doi:10.7804/cses.module5.2020-05-14,84002016. UNITED STATES (2016),USA_2016,840020160000005089,8400,840,United States of America,...,1.08,1.79,323405920,321039840,318622528,999.00. MISSING,999.00. MISSING,999.00. MISSING,999.00. MISSING,01. IN CSES MODULE 5

In [239]:
df["variable structural type"].value_counts()

int only    96
party       90
country     87
dataset      3
empty        1
Name: variable structural type, dtype: int64

In [242]:
cses_variable_types = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"cses_variable_types.pkl")
cses_variable_types["variable type"].value_counts()

int only    96
party       90
country     86
dataset      3
empty        1
Name: variable type, dtype: int64

In [243]:
cses_variable_types[cses_variable_types["variable type"]=="int only"]

                                                   description variable type
IMD1005                               ID VARIABLE - RESPONDENT      int only
IMD1007                                       SAMPLE COMPONENT      int only
IMD1008_RES    ID COMPONENT - RESPONDENT WITHIN ELECTION STUDY      int only
IMD1010_1                        ELECTION STUDY WEIGHT: SURVEY      int only
IMD1010_2                   ELECTION STUDY WEIGHT: DEMOGRAPHIC      int only
...                                                        ...           ...
IMD3015_4       DICHOTOMIZED POLITICAL INFORMATION ITEM  - 4TH      int only
IMD3015_A    POLITICAL KNOWLEDGE SCALE - CSES MODULE 1 (0-3...      int only
IMD3015_B    POLITICAL KNOWLEDGE SCALE - CSES MODULE 2 (0-3...      int only
IMD3015_C    POLITICAL KNOWLEDGE SCALE - CSES MODULE 3 (0-3...      int only
IMD3015_D    POLITICAL KNOWLEDGE SCALE - CSES MODULE 4 (0-4...      int only

[96 rows x 2 columns]

In [244]:
resp_df

,IMD1014_1_NUM,IMD1014_2_NUM,IMD2001_1_NUM,IMD5001_A_NUM,IMD5001_B_NUM,IMD5001_C_NUM,IMD5001_D_NUM,IMD5001_E_NUM,IMD5001_F_NUM,IMD5001_G_NUM,...,IMD5000_D_PTY,IMD5000_E_PTY,IMD5000_F_PTY,IMD5000_G_PTY,IMD5000_H_PTY,IMD5000_I_PTY,IMD5008_1_PTY,IMD5008_2_PTY,IMD5009_1_PTY,IMD5009_2_PTY
0,NaN,NaN,22.0,44.060001,39.439999,0.0,1.34,8.23,0.0,0.73,...,80005.0,80003.0,80030.0,80031.0,80011.0,80010.0,80001.0,80002.0,9999989.0,9999989.0
1,NaN,NaN,22.0,44.060001,39.439999,0.0,1.34,8.23,0.0,0.73,...,80005.0,80003.0,80030.0,80031.0,80011.0,80010.0,80001.0,80002.0,9999989.0,9999989.0
2,NaN,NaN,56.0,44.060001,39.439999,0.0,1.34,8.23,0.0,0.73,...,80005.0,80003.0,80030.0,80031.0,80011.0,80010.0,80001.0,80002.0,9999989.0,9999989.0
3,NaN,NaN,50.0,44.060001,39.439999,0.0,1.34,8.23,0.0,0.73,...,80005.0,80003.0,80030.0,80031.0,80011.0,80010.0,80001.0,80002.0,9999989.0,9999989.0
4,NaN,NaN,48.0,44.060001,39.439999,0.0,1.34,8.23,0.0,0.73,...,80005.0,80003.0,80030.0,80031.0,80011.0,80010.0,80001.0,80002.0,9999989.0,9999989.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316243,9.0,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,840004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840001.0,840002.0
316244,3.0,NaN,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,840004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840001.0,840002.0
316245,1.0,NaN,81.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,840004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840001.0,840002.0
316246,14.0,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,840004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840001.0,840002.0
316247,10.0,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,840004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,840001.0,840002.0

In [248]:
process_variable_manifest["variable structural type"] = process_variable_manifest["variable structural type"].replace("int only","respondent")

In [254]:
process_variable_manifest[process_variable_manifest["variable type"]=="date"]

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
613,IMD1011_M_DAT,IMD1011_M,DATE 1ST ROUND ELECTION BEGAN - MONTH,response,316248,0,"{1.0: 7834, 2.0: 5654, 3.0: 28288, 4.0: 28833,...",date,country
614,IMD1011_M_DK,IMD1011_M,DATE 1ST ROUND ELECTION BEGAN - MONTH,non-response,316248,0,{},date,country
615,IMD1011_D_DAT,IMD1011_D,DATE 1ST ROUND ELECTION BEGAN - DAY,response,316248,0,"{1.0: 8319, 2.0: 15649, 3.0: 8005, 4.0: 10911,...",date,country
616,IMD1011_D_DK,IMD1011_D,DATE 1ST ROUND ELECTION BEGAN - DAY,non-response,316248,0,{},date,country
617,IMD1011_Y_DAT,IMD1011_Y,DATE 1ST ROUND ELECTION BEGAN - YEAR,response,316248,0,"{1996.0: 16677, 1997.0: 11848, 1998.0: 10951, ...",date,country
618,IMD1011_Y_DK,IMD1011_Y,DATE 1ST ROUND ELECTION BEGAN - YEAR,non-response,316248,0,{},date,country
619,IMD1012_M_DAT,IMD1012_M,DATE 2ND ROUND ELECTION BEGAN - MONTH,response,47515,268733,"{1.0: 5663, 3.0: 1200, 4.0: 1102, 5.0: 7937, 6...",date,country
620,IMD1012_M_DK,IMD1012_M,DATE 2ND ROUND ELECTION BEGAN - MONTH,non-response,47515,268733,{'96. NOT APPLICABLE: NO SECOND ROUND': 268733},date,country
621,IMD1012_D_DAT,IMD1012_D,DATE 2ND ROUND ELECTION BEGAN - DAY,response,47515,268733,"{1.0: 1229, 3.0: 1118, 4.0: 3041, 5.0: 2572, 6...",date,country
622,IMD1012_D_DK,IMD1012_D,DATE 2ND ROUND ELECTION BEGAN - DAY,non-response,47515,268733,{'96. NOT APPLICABLE: NO SECOND ROUND': 268733},date,country
623,IMD1012_Y_DAT,IMD1012_Y,DATE 2ND ROUND ELECTION BEGAN - YEAR,response,47515,268733,"{1996.0: 3604, 1998.0: 2534, 2000.0: 2275, 200...",date,country
624,IMD1012_Y_DK,IMD1012_Y,DATE 2ND ROUND ELECTION BEGAN - YEAR,non-response,47515,268733,{'9996. NOT APPLICABLE: NO SECOND ROUND': 268733},date,country
625,IMD1013_M_DAT,IMD1013_M,DATE QUESTIONNAIRE ADMINISTERED - MONTH,response,293848,22400,"{1.0: 17267, 2.0: 10956, 3.0: 19685, 4.0: 1382...",date,respondent
626,IMD1013_M_DK,IMD1013_M,DATE QUESTIONNAIRE ADMINISTERED - MONTH,non-response,293848,22400,{'99. MISSING': 22400},date,respondent
627,IMD1013_D_DAT,IMD1013_D,DATE QUESTIONNAIRE ADMINISTERED - DAY,response,284674,31574,"{1.0: 7000, 2.0: 9850, 3.0: 8754, 4.0: 9252, 5...",date,respondent
628,IMD1013_D_DK,IMD1013_D,DATE QUESTIONNAIRE ADMINISTERED - DAY,non-response,284674,31574,{'99. MISSING': 31574},date,respondent
629,IMD1013_Y_DAT,IMD1013_Y,DATE QUESTIONNAIRE ADMINISTERED - YEAR,response,305012,11236,"{1996.0: 14645, 1997.0: 12871, 1998.0: 11960, ...",date,respondent
630,IMD1013_Y_DK,IMD1013_Y,DATE QUESTIONNAIRE ADMINISTERED - YEAR,non-response,305012,11236,{'9999. MISSING': 11236},date,respondent
631,IMD5024_1_DAT,IMD5024_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,187991,128257,"{1.0: 4594, 2.0: 2442, 3.0: 9510, 4.0: 18252, ...",date,country
632,IMD5024_1_DK,IMD5024_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,187991,128257,{'99. MISSING': 128257},date,country
633,IMD5024_2_DAT,IMD5024_2,PERCENT SEATS - UPPER HOUSE - PARTY G,response,168901,147347,"{1.0: 3400, 2.0: 5710, 3.0: 4569, 4.0: 7658, 5...",date,country
634,IMD5024_2_DK,IMD5024_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,168901,147347,"{'96. [SEE ELECTION STUDY NOTES]': 6099, '99. ...",date,country
635,IMD5024_3_DAT,IMD5024_3,PERCENT SEATS - UPPER HOUSE - PARTY G,response,189013,127235,"{2005.0: 4414, 2006.0: 9358, 2007.0: 14856, 20...",date,country
636,IMD5024_3_DK,IMD5024_3,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,189013,127235,{'9999. MISSING': 127235},date,country
637,IMD5025_1_DAT,IMD5025_1,PERCENT SEATS - UPPER HOUSE - PARTY G,response,315019,1229,"{1.0: 7834, 2.0: 5654, 3.0: 28288, 4.0: 28833,...",date,country
638,IMD5025_1_DK,IMD5025_1,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,315019,1229,{'96. [SEE ELECTION STUDY NOTES]': 1229},date,country
639,IMD5025_2_DAT,IMD5025_2,PERCENT SEATS - UPPER HOUSE - PARTY G,response,312418,3830,"{1.0: 8319, 2.0: 15649, 3.0: 8005, 4.0: 10911,...",date,country
640,IMD5025_2_DK,IMD5025_2,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,312418,3830,{'96. [SEE ELECTION STUDY NOTES]': 3830},date,country
641,IMD5025_3_DAT,IMD5025_3,PERCENT SEATS - UPPER HOUSE - PARTY G,response,316248,0,"{1996.0: 16677, 1997.0: 11848, 1998.0: 10951, ...",date,country
642,IMD5025_3_DK,IMD5025_3,PERCENT SEATS - UPPER HOUSE - PARTY G,non-response,316248,0,{},date,country

In [271]:
dataset_response_variables = process_variable_manifest[(process_variable_manifest["variable structural type"]=="dataset") &
                          (process_variable_manifest["response/non-response"]=="response")]["new_variable_name"].values

In [274]:
resp_df[dataset_response_variables].drop_duplicates()

# hmm - have a think about this, maybe separate 'dataset' -> effectively makes this a 'country/election study' level variable

# I'd be tempted to include source and destination rows as lists

          IMD1001_MET IMD1002_VER_MET                      IMD1002_DOI_MET
0            CSES-IMD  VER2019-OCT-17      doi:10.7804/cses.imd.2019-10-17
281083  CSES-MODULE-5  VER2020-MAY-14  doi:10.7804/cses.module5.2020-05-14

In [275]:
country_response_variables = process_variable_manifest[(process_variable_manifest["variable structural type"]=="country") &
                          (process_variable_manifest["response/non-response"]=="response")]["new_variable_name"].values

In [276]:
country_response_variables

# ** categorical variables have needless numbering
# ** we have four "party reference" country-level variables (party before/after for PM/Pres)

array(['IMD5006_1_NUM', 'IMD5006_2_NUM', 'IMD5016_1_NUM', 'IMD5016_2_NUM',
       'IMD5016_3_NUM', 'IMD5016_4_NUM', 'IMD5018_1_NUM', 'IMD5018_2_NUM',
       'IMD5018_3_NUM', 'IMD5018_4_NUM', 'IMD5022_1_NUM', 'IMD5022_2_NUM',
       'IMD5022_3_NUM', 'IMD5022_4_NUM', 'IMD5027_NUM', 'IMD5028_NUM',
       'IMD5030_NUM', 'IMD5049_NUM', 'IMD5050_1_NUM', 'IMD5050_2_NUM',
       'IMD5050_3_NUM', 'IMD5051_1_NUM', 'IMD5051_2_NUM', 'IMD5051_3_NUM',
       'IMD5052_1_NUM', 'IMD5052_2_NUM', 'IMD5052_3_NUM', 'IMD5053_1_NUM',
       'IMD5053_2_NUM', 'IMD5053_3_NUM', 'IMD5054_1_NUM', 'IMD5054_2_NUM',
       'IMD5054_3_NUM', 'IMD5055_1_NUM', 'IMD5055_2_NUM', 'IMD5055_3_NUM',
       'IMD5056_1_NUM', 'IMD5056_2_NUM', 'IMD5056_3_NUM', 'IMD5057_1_NUM',
       'IMD5057_2_NUM', 'IMD5057_3_NUM', 'IMD5058_1_NUM', 'IMD5058_2_NUM',
       'IMD5059_1_NUM', 'IMD5059_2_NUM', 'IMD5007_ORD', 'IMD5021_1_ORD',
       'IMD5021_2_ORD', 'IMD5021_3_ORD', 'IMD5021_4_ORD', 'IMD5026_1_ORD',
       'IMD1009_10. PARLIAMENTARY/LEGISLATIVE',
       'IMD1009_12. PARLIAMENTARY/LEGISLATIVE AND PRESIDENTIAL',
       'IMD1009_13. PARLIAMENTARY/LEGISLATIVE AND PRIME MINISTER',
       'IMD1009_20. PRESIDENTIAL', 'IMD5013_1. MAJORITARIAN',
       'IMD5013_2. PROPORTIONAL', 'IMD5013_3. MIXED',
       'IMD5014_1. PLURALITY', 'IMD5014_2. ABSOLUTE MAJORITY RULE',
       'IMD5014_3. QUALIFIED MAJORITY RULE',
       'IMD5014_4. ELECTORAL COLLEGE', 'IMD5014_5. ALTERNATIVE VOTE',
       'IMD5017_1_1. CANDIDATES', 'IMD5017_1_2. PARTY LISTS',
       'IMD5017_2_1. CANDIDATES', 'IMD5017_2_2. PARTY LISTS',
       'IMD5017_3_1. CANDIDATES', 'IMD5017_3_2. PARTY LISTS',
       'IMD5017_4_2. PARTY LISTS', 'IMD5026_2_0. UNICAMERAL LEGISLATURE',
       'IMD5026_2_1. BICAMERAL LEGISLATURE: INDIRECTLY ELECTED OR APPOINTED',
       'IMD5026_2_2. BICAMERAL LEGISLATURE: FULLY DIRECTLY ELECTED',
       'IMD5026_2_6. BICAMERAL LEGISLATURE: PARTIALLY DIRECTLY ELECTED [SEE POLITY NOTES]',
       'IMD1011_M_DAT', 'IMD1011_D_DAT', 'IMD1011_Y_DAT', 'IMD1012_M_DAT',
       'IMD1012_D_DAT', 'IMD1012_Y_DAT', 'IMD5024_1_DAT', 'IMD5024_2_DAT',
       'IMD5024_3_DAT', 'IMD5025_1_DAT', 'IMD5025_2_DAT', 'IMD5025_3_DAT',
       'IMD1003_MET', 'IMD1004_MET', 'IMD1006_MET', 'IMD1006_UN_MET',
       'IMD1006_NAM_MET', 'IMD1008_YEAR_MET', 'IMD1008_MOD_1_MET',
       'IMD1008_MOD_2_MET', 'IMD1008_MOD_3_MET', 'IMD1008_MOD_4_MET',
       'IMD1008_MOD_5_MET', 'IMD5008_1_PTY', 'IMD5008_2_PTY',
       'IMD5009_1_PTY', 'IMD5009_2_PTY'], dtype=object)

In [280]:
resp_df[sorted(country_response_variables)].drop_duplicates()

# you need to index this by Country and Year

,IMD1003_MET,IMD1004_MET,IMD1006_MET,IMD1006_NAM_MET,IMD1006_UN_MET,IMD1008_MOD_1_MET,IMD1008_MOD_2_MET,IMD1008_MOD_3_MET,IMD1008_MOD_4_MET,IMD1008_MOD_5_MET,...,IMD5056_1_NUM,IMD5056_2_NUM,IMD5056_3_NUM,IMD5057_1_NUM,IMD5057_2_NUM,IMD5057_3_NUM,IMD5058_1_NUM,IMD5058_2_NUM,IMD5059_1_NUM,IMD5059_2_NUM
0,00802005. ALBANIA (2005),ALB_2005,0080,Albania,008,00. NOT IN CSES MODULE 1,01. IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,00. NOT IN CSES MODULE 5,...,3.300000,3.160000,5.200000,3011487.0,3026939.0,3039616.0,10.46,NaN,3.75,NaN
1116,03202015. ARGENTINA (2015),ARG_2015,0320,Argentina,032,00. NOT IN CSES MODULE 1,00. NOT IN CSES MODULE 2,00. NOT IN CSES MODULE 3,01. IN CSES MODULE 4,00. NOT IN CSES MODULE 5,...,23.750000,40.720001,23.879999,43416756.0,42980024.0,42538304.0,3.40,3.40,3.52,3.48
2522,03601996. AUSTRALIA (1996),AUS_1996,0360,Australia,036,01. IN CSES MODULE 1,00. NOT IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,00. NOT IN CSES MODULE 5,...,2.700000,2.270000,1.020000,18311000.0,18072000.0,17855000.0,3.21,NaN,2.62,NaN
4320,03602004. AUSTRALIA (2004),AUS_2004,0360,Australia,036,00. NOT IN CSES MODULE 1,01. IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,00. NOT IN CSES MODULE 5,...,3.310000,3.110000,2.860000,20127400.0,19895400.0,19651400.0,3.17,NaN,2.44,NaN
6089,03602007. AUSTRALIA (2007),AUS_2007,0360,Australia,036,00. NOT IN CSES MODULE 1,00. NOT IN CSES MODULE 2,01. IN CSES MODULE 3,00. NOT IN CSES MODULE 4,00. NOT IN CSES MODULE 5,...,5.090000,4.870000,4.090000,21072500.0,20697900.0,20394800.0,3.03,3.03,2.43,2.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306241,57802017. NORWAY (2017),NOR_2017,5780,Norway,578,00. NOT IN CSES MODULE 1,00. NOT IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,01. IN CSES MODULE 5,...,3.950000,-1.470000,-2.860000,5276968.0,5234519.0,5188607.0,5.55,5.55,4.95,4.95
308033,55402017. NEW ZEALAND (2017),NZL_2017,5540,New Zealand,554,00. NOT IN CSES MODULE 1,00. NOT IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,01. IN CSES MODULE 5,...,2.450000,2.460000,1.330000,4793900.0,4693200.0,4509700.0,2.91,2.91,2.67,2.67
309841,79202018. TURKEY (2018),TUR_2018,7920,Turkey,792,00. NOT IN CSES MODULE 1,00. NOT IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,01. IN CSES MODULE 5,...,16.440001,10.960000,8.100000,82319728.0,81101888.0,79821728.0,3.72,3.72,3.08,3.08
310910,15802016. TAIWAN (2016),TWN_2016,1580,Taiwan,158,00. NOT IN CSES MODULE 1,00. NOT IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,01. IN CSES MODULE 5,...,1.000000,NaN,NaN,23545964.0,23485756.0,NaN,2.82,2.82,2.17,2.17
312600,84002016. UNITED STATES (2016),USA_2016,8400,United States of America,840,00. NOT IN CSES MODULE 1,00. NOT IN CSES MODULE 2,00. NOT IN CSES MODULE 3,00. NOT IN CSES MODULE 4,01. IN CSES MODULE 5,...,1.280000,1.080000,1.790000,323405920.0,321039840.0,318622528.0,NaN,NaN,NaN,NaN

In [326]:
greece_2015 = resp_df["IMD1003_MET"]=="30002015. GREECE (2015)"
mod_5 = resp_df["IMD1008_MOD_5_MET"]=="01. IN CSES MODULE 5"
resp_df["IMD1008_MOD_5_MET"][greece_2015].value_counts()

01. IN CSES MODULE 5        1078
00. NOT IN CSES MODULE 5    1008
Name: IMD1008_MOD_5_MET, dtype: int64

In [365]:

# IMD1003
resp_df["IMD1003_MET"] = resp_df["IMD1003_MET"].astype('object')
resp_df["IMD1003_MET"][greece_2015&~mod_5] = resp_df["IMD1003_MET"][greece_2015&~mod_5].replace({"30002015. GREECE (2015)":"30012015. GREECE (2015)"})
resp_df["IMD1003_MET"][greece_2015& mod_5] = resp_df["IMD1003_MET"][greece_2015& mod_5].replace({"30002015. GREECE (2015)":"30022015. GREECE (2015)"})
resp_df["IMD1003_MET"] = resp_df["IMD1003_MET"].astype('category')
# resp_df["IMD1003_MET"][greece_2015].value_counts()

# IMD1005
resp_df["IMD1005_MET"] = resp_df["IMD1005_MET"].astype('object')
resp_df["IMD1005_MET"][greece_2015&~mod_5] = resp_df["IMD1005_MET"][greece_2015&~mod_5].astype(str).apply(lambda x: x.replace("30002015","30012015"))
resp_df["IMD1005_MET"][greece_2015& mod_5] = resp_df["IMD1005_MET"][greece_2015& mod_5].astype(str).apply(lambda x: x.replace("30002015","30022015"))


# IMD1005, IMD1006


search(resp_df,"IMD1006")
# resp_df["IMD1005_MET"][greece_2015].astype(str).apply(lambda x: int(x.replace("30002015","30012015")))
# resp_df["IMD1005_MET"][greece_2015].apply(lambda x: x[0:8])#.value_counts()

IMD1006_MET        316248
IMD1006_UN_MET     316248
IMD1006_NAM_MET    316248
dtype: int64

In [367]:
resp_df["IMD1006_MET"][greece_2015].value_counts()

# resp_df["IMD1005_MET"][greece_2015].astype(str).apply(lambda x: x[0:8]).value_counts()

3000    2086
8580       0
8402       0
3760       0
3720       0
3520       0
3480       0
3440       0
2762       0
2761       0
2760       0
2500       0
2460       0
2330       0
2080       0
2030       0
1910       0
1580       0
1520       0
1240       0
1120       0
1000       0
0760       0
0562       0
0561       0
0560       0
0400       0
0360       0
0320       0
3800       0
3920       0
4040       0
6430       0
8400       0
8260       0
8040       0
7920       0
7640       0
7560       0
7520       0
7240       0
7100       0
7050       0
7030       0
6880       0
6420       0
4100       0
6200       0
6160       0
6080       0
6040       0
5780       0
5540       0
5280       0
4990       0
4840       0
4400       0
4280       0
4170       0
0080       0
Name: IMD1006_MET, dtype: int64

In [283]:
resp_df[sorted(country_response_variables)].drop_duplicates()["IMD1003_MET"].value_counts()

30002015. GREECE (2015)         2
85802009. URUGUAY (2009)        1
24602007. FINLAND (2007)        1
34402016. HONG KONG (2016)      1
34402012. HONG KONG (2012)      1
                               ..
57801997. NORWAY (1997)         1
55402017. NEW ZEALAND (2017)    1
55402014. NEW ZEALAND (2014)    1
55402011. NEW ZEALAND (2011)    1
00802005. ALBANIA (2005)        1
Name: IMD1003_MET, Length: 194, dtype: int64

In [285]:
temp = resp_df[sorted(country_response_variables)].drop_duplicates()
descr = temp[temp["IMD1003_MET"]=="30002015. GREECE (2015)"].describe()

In [ ]:
# 30002015. GREECE (2015)	

# in both module 4 and module 5!


# https://en.wikipedia.org/wiki/January_2015_Greek_legislative_election
# they really did have two elections in 2015

In [290]:
discrep_temp = temp[temp["IMD1003_MET"]=="30002015. GREECE (2015)"][ descr.columns[descr.loc["std"]>0] ]

In [368]:
discrep_temp

# IMD5026: missing in one
# dates of election/next election different
# turnout is different
# bunch of small, country political variables change (size of cabinet, number of political parties)

,IMD1011_D_DAT,IMD1011_M_DAT,IMD5006_1_NUM,IMD5006_2_NUM,IMD5024_1_DAT,IMD5024_3_DAT,IMD5025_1_DAT,IMD5025_2_DAT,IMD5026_2_0. UNICAMERAL LEGISLATURE,IMD5028_NUM,...,IMD5052_3_NUM,IMD5053_1_NUM,IMD5053_2_NUM,IMD5054_2_NUM,IMD5054_3_NUM,IMD5055_2_NUM,IMD5058_1_NUM,IMD5058_2_NUM,IMD5059_1_NUM,IMD5059_2_NUM
111640,25.0,1.0,63.939999,77.349998,6.0,2016.0,1.0,25.0,1,26.0,...,-0.29,26450.130859,26536.890625,26.50,27.500000,0.87,4.43,4.43,3.09,3.09
292654,20.0,9.0,56.160000,60.639999,1.0,2019.0,9.0,20.0,0,33.0,...,-3.24,26697.250000,26838.460938,26.49,27.469999,0.86,4.51,4.51,3.24,3.24

In [372]:
# temp[temp["IMD1003_MET"]=="30002015. GREECE (2015)"][search(temp,"IMD5026").index]
discrep_temp.columns

Index(['IMD1011_D_DAT', 'IMD1011_M_DAT', 'IMD5006_1_NUM', 'IMD5006_2_NUM',
       'IMD5024_1_DAT', 'IMD5024_3_DAT', 'IMD5025_1_DAT', 'IMD5025_2_DAT',
       'IMD5026_2_0. UNICAMERAL LEGISLATURE', 'IMD5028_NUM', 'IMD5030_NUM',
       'IMD5052_2_NUM', 'IMD5052_3_NUM', 'IMD5053_1_NUM', 'IMD5053_2_NUM',
       'IMD5054_2_NUM', 'IMD5054_3_NUM', 'IMD5055_2_NUM', 'IMD5058_1_NUM',
       'IMD5058_2_NUM', 'IMD5059_1_NUM', 'IMD5059_2_NUM'],
      dtype='object')

In [295]:
temp[temp["IMD1003_MET"]=="30002015. GREECE (2015)"][ [x for x in descr.columns if "DAT" in x] ]


# this is bonkers - they disagree on which date the election was *originally scheduled for*

## wait - it's based on the assumed full term of 4 years from last election

## they look quite distinct -> you'd better relabel Greece2! (no, definitely different, completely distinct listing of respondents)

## Yep -> should we modify both greece's -> seems to be the convention to give them both a 4th digit 1 ... 2 value

# we should do this at the point when Module 5 is integrated
# need to modify IMD1003, IMD1005, IMD1006


# upshot is that *year x country* is no longer unique
# -> *election date* x country

,IMD1011_D_DAT,IMD1011_M_DAT,IMD1011_Y_DAT,IMD1012_D_DAT,IMD1012_M_DAT,IMD1012_Y_DAT,IMD5017_1_1. CANDIDATES,IMD5017_2_1. CANDIDATES,IMD5017_3_1. CANDIDATES,IMD5024_1_DAT,IMD5024_2_DAT,IMD5024_3_DAT,IMD5025_1_DAT,IMD5025_2_DAT,IMD5025_3_DAT
111640,25.0,1.0,2015.0,NaN,NaN,NaN,0,0,0,6.0,NaN,2016.0,1.0,25.0,2015.0
292654,20.0,9.0,2015.0,NaN,NaN,NaN,0,0,0,1.0,NaN,2019.0,9.0,20.0,2015.0

In [318]:
CSES_int[CSES_int.columns[0:10]]

,IMD1001,IMD1002_VER,IMD1002_DOI,IMD1003,IMD1004,IMD1005,IMD1006,IMD1006_UN,IMD1006_NAM,IMD1007
0,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001111,0080,008,Albania,001. [SEE ELECTION STUDY NOTES]
1,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001112,0080,008,Albania,001. [SEE ELECTION STUDY NOTES]
2,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001113,0080,008,Albania,001. [SEE ELECTION STUDY NOTES]
3,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001114,0080,008,Albania,001. [SEE ELECTION STUDY NOTES]
4,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,00802005. ALBANIA (2005),ALB_2005,008020050000001115,0080,008,Albania,001. [SEE ELECTION STUDY NOTES]
...,...,...,...,...,...,...,...,...,...,...
281078,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,71002014. SOUTH AFRICA (2014),ZAF_2014,710020140000001296,7100,710,South Africa,001. [SEE ELECTION STUDY NOTES]
281079,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,71002014. SOUTH AFRICA (2014),ZAF_2014,710020140000001297,7100,710,South Africa,001. [SEE ELECTION STUDY NOTES]
281080,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,71002014. SOUTH AFRICA (2014),ZAF_2014,710020140000001298,7100,710,South Africa,001. [SEE ELECTION STUDY NOTES]
281081,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,71002014. SOUTH AFRICA (2014),ZAF_2014,710020140000001299,7100,710,South Africa,001. [SEE ELECTION STUDY NOTES]
281082,CSES-IMD,VER2019-OCT-17,doi:10.7804/cses.imd.2019-10-17,71002014. SOUTH AFRICA (2014),ZAF_2014,710020140000001300,7100,710,South Africa,001. [SEE ELECTION STUDY NOTES]

In [312]:
CSES_int_5[CSES_int_5["IMD1003"]=="30002015. GREECE (2015)"]["IMD1008_RES"].astype(int)

11571    1020
11572    1034
11573    1035
11574    1038
11575    1039
         ...
12644    4492
12645    4493
12646    4494
12647    4495
12648    4496
Name: IMD1008_RES, Length: 1078, dtype: int32

In [304]:
search(CSES_int_5,"RES")

IMD1008_RES    35165
dtype: int64