In [ ]:
## Region variables

In [1]:
# %%time
## Just an easy way to load utility functions
dataset_name = "W19_only"
df_list = []

%matplotlib inline 
%run f2f_header.py {dataset_name} {df_list}

global BES_label_list, BES_df_list

BES_df_list = pickle.load( open( "E:\\BES_analysis_data\\Face_to_face\\BES_df_list.pickle", "rb" ) )
f2f_harmonised = pd.read_pickle("E:\\BES_analysis_data\\Face_to_face\\f2f_harmonised.zip", compression='zip')
BES_label_list = pickle.load( open( "E:\\BES_analysis_data\\Face_to_face\\BES_label_list.pickle", "rb" ) )
demo_var_dict = pickle.load( open( "E:\\BES_analysis_data\\Face_to_face\\demo_var_dict.pickle", "rb" ) )
var_type_dict_nonans = pickle.load( open( "E:\\BES_analysis_data\\Face_to_face\\var_type_dict_nonans.pickle", "rb" ) )

generic_cols = f2f_harmonised.columns
list_of_scale_harm_vars = ["Age","year_past_min_sch_leave_age","in_school_past_min_age"]

%run f2f_utility.py

In [ ]:
# 2019: region, Constit_Code, Constit_Name
# 2017: region
# 2015: Constit_Code, Constit_Name
# 2010: region, aconsnam, consname, cnameh
# 2005: agor, agorx, bregion, dq2
# 2001: regnall, aregion, tregion, seat, aconstit, tconstit
# 1997: ??
# 1992: arfe, area
# 1987: scprarea
# 1983: areano
# 1979: m001001a, m251316
# 1974_oct: oct145, oct251
# 1974_feb: feb145, feb251
# 1964-1970: v31-v34 (const nos),v35-v38 (region), v895 (region father), v899 (region mother),
    # v903 (region as child), v907 (regions lived in)

In [18]:
for ge in f2f_harmonised["dataset"].unique():
    print(ge)
    print( {k:v for k,v in BES_label_list[ge].items() if re.search("region|constituency|^reg|const|area|(\s|^)geo|lived",v.lower())} )

2019
{'b0603': 'Reason for 2019 GE vote: Preferred party had no chance in my constituency', 'b0607': 'Better for the area / local MP / candidate', 'k02': 'Regularly read about politics in newspapers?', 'n02': 'Perceived class of MP in your constituency before 2019 GE', 'region': 'Region', 'Constit_Code': 'Constituency code', 'Constit_Name': 'Constituency name', 'LA_UA_Code': 'Local Authority Unitary Area code', 'LA_UA_Name': 'Local Authority Unitary Area name', 'pano': 'Press Association Constituency ID'}
2017
{'b0603': 'I really preferred another party but it stood no chance of winning in my constit', 'region': 'Region', 'Constit_Name': 'Parliamentary Constituency Name', 'Constit_Code': 'ONS Parliamentary Constituency identifier', 'pano': 'Press Association Constituency ID'}
2015
{'Constit_Code': 'Constit_Code', 'Constit_Name': 'Constit_Name', 'LA_UA_Code': 'Local Authority Unitary Area code', 'LA_UA_Name': 'Local Authority Unitary Area name', 'pano': 'Press Association Constituency ID', 'gor': 'Government Office Region'}
2010
{'agor': 'region', 'aq12_1': "likelihood labour win r's constituency", 'aq12_2': "likelihood consvatives win r's constituency", 'aq12_3': "likelihood lib dems win r's constituency", 'aq12_4': "likelihood snp win r's constituency", 'aq12_5': "likelihood plaid cymru win r's constituency", 'aq18_8': 'local mp tries hard look after people in const', 'aq40': "r's vote makes diff who wins constituency", 'aq41_2': "party vote 2005 win r's constituency", 'aq42': 'vote 2007 scot parl-constituency msp', 'aq43': 'vote 2007 scot parl-regional list', 'aq44': 'vote 2007 welsh asmbly-constituency am', 'aq45': 'vote 2007 welsh asmbly-regional list', 'aq56': 'votes people like r make diff win constit', 'aconsnam': 'constituency name', 'region': 'region(3rd)', 'bgor': 'standard region', 'bq46_2': "party vote 2005 win r's constituency(3rd)", 'consname': 'constituency name(3rd)', 'panumber': 'press association constituency number', 'pregion': 'census region', 'pa05': 'standard press association constituency reference number, 2005', 'v107_a': 'f. construction', 'tconstit': '2010 constituency name-total', 'cq31_2': 'attachment to constituency', 'cnameh': 'constituency name(4th)', 'zgor': 'standard region(3rd)'}
2005
{'pa05': 'std press assoc constituency ref no, 2005', 'agor': 'region', 'aq12a': "labour win r's constituency", 'aq12b': "conservatives win r's constituency", 'aq12c': "liberal democrats win r's constituency", 'aq12d': "ukip win r's constituency", 'aq12e': "snp win r's constituency", 'aq12f': "plaid cymru win r's constituency", 'aq18h': 'local mp tries hard for const', 'aq30h': 'uk approve eu constitution', 'aq35': "r's vote-make diff who wins constit", 'aq37a': 'constit vote-last scot election', 'aq38a': 'constit vote-last wales election', 'aq46': 'people like r make diff who wins const', 'agorx': 'region(3rd)', 'aregion': 'country & region', 'bq37': 'vote eu constitution referendum', 'bq45a': 'const vote-2003 scot parl election', 'bq46a': 'const vote-2003 welsh assembly election', 'bq49b': 'vote eu constitutional referendum', 'bregion': 'region(4th)', 'tregion': 'combined region', 'cq29': 'years lived in neighbourhood', 'cq30b': 'attachment to constituency', 'cq31d': 'regularly talk others in neigh', 'seat05': 'name of constituency 2005', 'region': 'major census region (britain)', 'old_pa': 'standard pa constituency ref number, 2001', 'seat01': 'name of constituency 2001', 'acorn1': 'wealthy achievers, suburban areas 2000', 'acorn3': 'prosperous pensioners, retirement areas 2000', 'acorn4': 'affluent executives, family areas 2000', 'acorn5': 'well-off workers, family areas 2000', 'acorn6': 'affluent urbanites, town and city areas 2000', 'acorn7': 'prosperous professionals, metropolitan areas 2000', 'acorn8': 'better off executives, inner city areas 2000', 'acorn9': 'comfortable middle agers, mature home owning areas 2000', 'acorn10': 'skilled workers, home owning areas 2000', 'acorn12': 'white collar workers, better off multi-ethnic areas 2000', 'acorn13': 'older people, less prosperous areas 2000', 'hseat05': 'name of constituency 2005(3rd)', 'dq2': 'region(5th)'}
2001
{'ref': 'standard pa constituency reference number', 'seatname': 'name of constituency', 'region': 'major census region (britain)', 'seat': 'constituency', 'aregion': 'region coded from nop constituency', 'aconstit': 'constituency(2nd)', 'constrev': 'corrected constituency codes (see value labels)', 'aq9': "party likely win in r's constituency", 'aq9aux': "party likely win r's constituency-other", 'aq13d': "respect-local government in r's area", 'aq27': "how close election in r's constituency", 'regwgthc': 'hdc - region weight', 'awgtgb': 'region x gender x age w/ gender weight', 'bq53': 'scotland-constitutional options', 'bq56': 'wales-constitutional options', 'bq59c': 'other regional newspapers', 'bregnwgt': 'panel weight-region', 'bpanwgt': 'panel weight-gender x age w/gender x region', 'tregion': 'region-top-up sample', 'tconstit': 'constituency-top-up sample', 'tddcode': 'top-up census constituency codes', 'tpacode': 'top-up press association constituency codes', 'regnall': 'region-all respondents', 'regoctwt': 'region weight-post-election respondents', 'postoctw': 'post-election x-sect weight-region*gender*age w/gender', 'ddcode': 'census constituency codes', 'ddrev': 'revised census constituency codes', 'pacode': 'press association constituency codes', 'parev': 'revised press association constituency codes', 'cq7e': 'vote local elec-best policy-my area', 'cq18': 'ec conitions last 12 months-this area', 'cq20d': "respect-local government r's area", 'cq29b': 'r attached to constituency', 'mregnwgt': 'mailback-region weight', 'mailwgt': 'mailback-region*gender*age w/gender weight', 'vconstit': 'bes constituency code - all respondents'}
1997
{'stregion': 'standard region  dv', 'areachge': 'has area prospered since the election compared others? q575', 'yareacge': 'why area changed since election compared with others? q576', 'mmingrp': 'mother: r.g. constituent minor group [no father] q697', 'rmingrp': "r's r.g. constituent minor groups dv q761", 'smingrp': 'spouse: r.g. constituent minor group [if married]  q829', 'nghbrhd': 'how long have you lived in this neighbourhood? q956', 'isspano': 'press association constituency number  ', 'issconst': 'parliamentary constituency census      ', 'issconsn': '1997+ parliamentary constituency name  ', 'isscc': 'county/region ons code', 'issccnam': 'county name/region name <a25>', 'o96pano': 'press association constituency no. [oct 96 add]', 'o96const': '1997+parliamentary constituency   [oct96 add]', 'o96consn': '1997+ parliamentary constituency  [oct96 add]', 'o96cc': 'county/region ons code      [oct96 add]', 'o96ccnam': 'county name/region name     [oct96 add]', 'othpano': 'press association constituency no [other add]', 'othconst': '1997+ parliamentary constituency  [other add]', 'othconsn': '1997+ parliamentary constituency  [other add] (diff format)', 'othcc': 'county/region ons code    [other add]', 'othccnam': 'county name/region name  [other add]'}
1992
{'arfc': 'field area (first coding)            arfc', 'arfe': "registrar general's standard region arfe", 'arff': 'opcs constitituency no.                   arff', 'arfg': 'old opcs constituency no.                 arfg', 'arfh': 'pa constitituency no.                     arfh', 'arfi': 'old pa constitituency no.                 arfi', 'area': 'constituency of sample point', 'v54a': 'this area compared to other parts of gb?   q54a', 'v202b': 'reg.constituency meetings:mp should q202b', 'fmingrp': "f's r.g.constituent minor groups      dv", 'rmingrp': "r's r.g.constituent minor groups      dv", 'smingrp': 'spouse:r.g.constt minor group [if marr] dv'}
1987
{'scprarea': 'area number', 'pano': 'pa constituency no', 'v10a': 'party thought would win constituency', 'v43k': 'gone too far: new houses in country areas', 'v122c1': 'geog. proximity of person most discussed politics', 'v122c2': 'geog. proximity of person 2nd discussed politics'}
1983
{'areano': 'area number', 'pano': 'pa constituency number', 'region': 'standard region [post-1974 def.]'}
1979
{'m001001a': 'area code', 'm000124': "r's view:assemblies for regions-q35", 'm249283': 'how long lived in area:decimal years', 'm071300': 'standard region', 'm251316': 'area grew up in'}
1974_feb
{'feb071': 'standard region', 'feb145': 'constituency code', 'feb251': 'area grew up in'}
1974_oct
{'oct071': 'standard region', 'oct145': 'constituency code', 'oct489': 'party which won constit', 'oct251': 'area grew up in'}
1970
{'v31': 'CONSTITUENCY NUMBER 1963', 'v32': 'CONSTITUENCY NUMBER 1964', 'v33': 'CONSTITUENCY NUMBER 1966', 'v34': 'CONSTITUENCY NUMBER 1970', 'v35': 'REGION              1963', 'v36': 'REGION              1964', 'v37': 'REGION              1966', 'v38': 'REGION              1970', 'v39': 'TYPE OF CONSTITUENCY  63', 'v40': 'TYPE OF CONSTITUENCY  64', 'v41': 'TYPE OF CONSTITUENCY  66', 'v42': 'TYPE OF CONSTITUENCY  70', 'v384': 'LIB VOTE-NO CONST WIN 64', 'v385': 'LIB VOTE-NO CONST WIN 66', 'v386': 'LIB VOTE-NO CONST WIN 70', 'v430': 'EXPECTED CONSTIT WIN  63', 'v431': 'EXPECTED CONSTIT WIN  64', 'v432': 'EXPECTED CONSTIT WIN  66', 'v433': 'EXPECTED CONSTIT WIN  70', 'v434': 'HOW CLOSE IN CONSTIT  70', 'v435': 'LIB CHANCE IN CONSTIT 63', 'v436': 'LIB CHANCE IN CONSTIT 64', 'v437': 'LIB CHANCE IN CONSTIT 66', 'v438': 'LIB CHANCE IN CONSTIT 70', 'v530': 'VOTE-CONSTANT VOTERS  63', 'v597': 'MP DONE FOR CONSTIT 1963', 'v598': 'MP DONE FOR CONSTIT 1966', 'v599a': 'MP CONSTIT SERVICES MR63 (1)', 'v599b': 'MP CONSTIT SERVICES MR63 (2)', 'v600a': 'MP CONSTIT SERVICES MR66 (1)', 'v600b': 'MP CONSTIT SERVICES MR66 (2)', 'v895': 'REGION FATHER FROM  1963', 'v899': 'REGION MOTHER FROM  1963', 'v902': 'R LIVED IN CHILDHOOD', 'v903': 'REGION R LIVED (CHILD)', 'v904a': 'CNTYS R LIVED (CHILD) (1)', 'v904b': 'CNTYS R LIVED (CHILD) (2)', 'v905': 'SIZE OF PLACE R LIVED 64', 'v906': 'WHERE R HAS LIVED', 'v907': 'REGIONS R HAS LIVED 1963', 'v908a': 'R LIVED SINCE CHILD MR66 (1)', 'v908b': 'R LIVED SINCE CHILD MR66 (2)', 'v911': 'YRS R LIVED IN AREA', 'v912': 'YRS R LIVED IN HOUSE  63', 'v913': 'YRS R LIVED IN HOUSE  64', 'v914': 'YRS R LIVED IN HOUSE  70'}
1966
{'v31': 'CONSTITUENCY NUMBER 1963', 'v32': 'CONSTITUENCY NUMBER 1964', 'v33': 'CONSTITUENCY NUMBER 1966', 'v34': 'CONSTITUENCY NUMBER 1970', 'v35': 'REGION              1963', 'v36': 'REGION              1964', 'v37': 'REGION              1966', 'v38': 'REGION              1970', 'v39': 'TYPE OF CONSTITUENCY  63', 'v40': 'TYPE OF CONSTITUENCY  64', 'v41': 'TYPE OF CONSTITUENCY  66', 'v42': 'TYPE OF CONSTITUENCY  70', 'v384': 'LIB VOTE-NO CONST WIN 64', 'v385': 'LIB VOTE-NO CONST WIN 66', 'v386': 'LIB VOTE-NO CONST WIN 70', 'v430': 'EXPECTED CONSTIT WIN  63', 'v431': 'EXPECTED CONSTIT WIN  64', 'v432': 'EXPECTED CONSTIT WIN  66', 'v433': 'EXPECTED CONSTIT WIN  70', 'v434': 'HOW CLOSE IN CONSTIT  70', 'v435': 'LIB CHANCE IN CONSTIT 63', 'v436': 'LIB CHANCE IN CONSTIT 64', 'v437': 'LIB CHANCE IN CONSTIT 66', 'v438': 'LIB CHANCE IN CONSTIT 70', 'v530': 'VOTE-CONSTANT VOTERS  63', 'v597': 'MP DONE FOR CONSTIT 1963', 'v598': 'MP DONE FOR CONSTIT 1966', 'v599a': 'MP CONSTIT SERVICES MR63 (1)', 'v599b': 'MP CONSTIT SERVICES MR63 (2)', 'v600a': 'MP CONSTIT SERVICES MR66 (1)', 'v600b': 'MP CONSTIT SERVICES MR66 (2)', 'v895': 'REGION FATHER FROM  1963', 'v899': 'REGION MOTHER FROM  1963', 'v902': 'R LIVED IN CHILDHOOD', 'v903': 'REGION R LIVED (CHILD)', 'v904a': 'CNTYS R LIVED (CHILD) (1)', 'v904b': 'CNTYS R LIVED (CHILD) (2)', 'v905': 'SIZE OF PLACE R LIVED 64', 'v906': 'WHERE R HAS LIVED', 'v907': 'REGIONS R HAS LIVED 1963', 'v908a': 'R LIVED SINCE CHILD MR66 (1)', 'v908b': 'R LIVED SINCE CHILD MR66 (2)', 'v911': 'YRS R LIVED IN AREA', 'v912': 'YRS R LIVED IN HOUSE  63', 'v913': 'YRS R LIVED IN HOUSE  64', 'v914': 'YRS R LIVED IN HOUSE  70'}
1964
{'v31': 'CONSTITUENCY NUMBER 1963', 'v32': 'CONSTITUENCY NUMBER 1964', 'v33': 'CONSTITUENCY NUMBER 1966', 'v34': 'CONSTITUENCY NUMBER 1970', 'v35': 'REGION              1963', 'v36': 'REGION              1964', 'v37': 'REGION              1966', 'v38': 'REGION              1970', 'v39': 'TYPE OF CONSTITUENCY  63', 'v40': 'TYPE OF CONSTITUENCY  64', 'v41': 'TYPE OF CONSTITUENCY  66', 'v42': 'TYPE OF CONSTITUENCY  70', 'v384': 'LIB VOTE-NO CONST WIN 64', 'v385': 'LIB VOTE-NO CONST WIN 66', 'v386': 'LIB VOTE-NO CONST WIN 70', 'v430': 'EXPECTED CONSTIT WIN  63', 'v431': 'EXPECTED CONSTIT WIN  64', 'v432': 'EXPECTED CONSTIT WIN  66', 'v433': 'EXPECTED CONSTIT WIN  70', 'v434': 'HOW CLOSE IN CONSTIT  70', 'v435': 'LIB CHANCE IN CONSTIT 63', 'v436': 'LIB CHANCE IN CONSTIT 64', 'v437': 'LIB CHANCE IN CONSTIT 66', 'v438': 'LIB CHANCE IN CONSTIT 70', 'v530': 'VOTE-CONSTANT VOTERS  63', 'v597': 'MP DONE FOR CONSTIT 1963', 'v598': 'MP DONE FOR CONSTIT 1966', 'v599a': 'MP CONSTIT SERVICES MR63 (1)', 'v599b': 'MP CONSTIT SERVICES MR63 (2)', 'v600a': 'MP CONSTIT SERVICES MR66 (1)', 'v600b': 'MP CONSTIT SERVICES MR66 (2)', 'v895': 'REGION FATHER FROM  1963', 'v899': 'REGION MOTHER FROM  1963', 'v902': 'R LIVED IN CHILDHOOD', 'v903': 'REGION R LIVED (CHILD)', 'v904a': 'CNTYS R LIVED (CHILD) (1)', 'v904b': 'CNTYS R LIVED (CHILD) (2)', 'v905': 'SIZE OF PLACE R LIVED 64', 'v906': 'WHERE R HAS LIVED', 'v907': 'REGIONS R HAS LIVED 1963', 'v908a': 'R LIVED SINCE CHILD MR66 (1)', 'v908b': 'R LIVED SINCE CHILD MR66 (2)', 'v911': 'YRS R LIVED IN AREA', 'v912': 'YRS R LIVED IN HOUSE  63', 'v913': 'YRS R LIVED IN HOUSE  64', 'v914': 'YRS R LIVED IN HOUSE  70'}
1959
{'v31': 'CONSTITUENCY NUMBER 1963', 'v32': 'CONSTITUENCY NUMBER 1964', 'v33': 'CONSTITUENCY NUMBER 1966', 'v34': 'CONSTITUENCY NUMBER 1970', 'v35': 'REGION              1963', 'v36': 'REGION              1964', 'v37': 'REGION              1966', 'v38': 'REGION              1970', 'v39': 'TYPE OF CONSTITUENCY  63', 'v40': 'TYPE OF CONSTITUENCY  64', 'v41': 'TYPE OF CONSTITUENCY  66', 'v42': 'TYPE OF CONSTITUENCY  70', 'v384': 'LIB VOTE-NO CONST WIN 64', 'v385': 'LIB VOTE-NO CONST WIN 66', 'v386': 'LIB VOTE-NO CONST WIN 70', 'v430': 'EXPECTED CONSTIT WIN  63', 'v431': 'EXPECTED CONSTIT WIN  64', 'v432': 'EXPECTED CONSTIT WIN  66', 'v433': 'EXPECTED CONSTIT WIN  70', 'v434': 'HOW CLOSE IN CONSTIT  70', 'v435': 'LIB CHANCE IN CONSTIT 63', 'v436': 'LIB CHANCE IN CONSTIT 64', 'v437': 'LIB CHANCE IN CONSTIT 66', 'v438': 'LIB CHANCE IN CONSTIT 70', 'v530': 'VOTE-CONSTANT VOTERS  63', 'v597': 'MP DONE FOR CONSTIT 1963', 'v598': 'MP DONE FOR CONSTIT 1966', 'v599a': 'MP CONSTIT SERVICES MR63 (1)', 'v599b': 'MP CONSTIT SERVICES MR63 (2)', 'v600a': 'MP CONSTIT SERVICES MR66 (1)', 'v600b': 'MP CONSTIT SERVICES MR66 (2)', 'v895': 'REGION FATHER FROM  1963', 'v899': 'REGION MOTHER FROM  1963', 'v902': 'R LIVED IN CHILDHOOD', 'v903': 'REGION R LIVED (CHILD)', 'v904a': 'CNTYS R LIVED (CHILD) (1)', 'v904b': 'CNTYS R LIVED (CHILD) (2)', 'v905': 'SIZE OF PLACE R LIVED 64', 'v906': 'WHERE R HAS LIVED', 'v907': 'REGIONS R HAS LIVED 1963', 'v908a': 'R LIVED SINCE CHILD MR66 (1)', 'v908b': 'R LIVED SINCE CHILD MR66 (2)', 'v911': 'YRS R LIVED IN AREA', 'v912': 'YRS R LIVED IN HOUSE  63', 'v913': 'YRS R LIVED IN HOUSE  64', 'v914': 'YRS R LIVED IN HOUSE  70'}

In [228]:
BES_df_list["1974_feb"]["feb145"].apply(lambda x: x.replace("&","")).astype(int).value_counts(dropna=False)
# 182 diff vals
BES_df_list["1974_feb"]["feb145"].apply(lambda x: x.replace("&","")).astype(int).describe()

count    2462.000000
mean      401.926076
std       301.147566
min         1.000000
25%       105.000000
50%       502.000000
75%       621.000000
max       919.000000
Name: feb145, dtype: float64

In [222]:
BES_df_list["1970"]["v34"].value_counts(dropna=False)

NaN      1567
14.0       27
63.0       25
49.0       25
55.0       24
         ...
112.0       1
141.0       1
173.0       1
177.0       1
149.0       1
Name: v34, Length: 136, dtype: int64

In [ ]:
# ** Region
    # region mother/father from
    # region grew up/lived in previously
# ** Constituency 
# ** Type of Constituency
# **

In [ ]:
# Where were you born? v890
# 1. Scotland
# 2. Wales
# 3. Northern England
# 4. Midlands and East England
# 5. South West England
# 6. London and South East England
# 7. Ulster
# 8. Overseas
# 9. DK
# 0. NA

# Where were you born - expanded v891
# Father's region of origin - expanded v896
# Father's region of origin - expanded v900
# region lived as a child - expanded v904
# region lived since childhood *before present* - expanded v908
# Note 11 - quite detailed

# Father's region of origin v895
# Mother's region of origin v899
# region lived as a child v903
# region lived since childhood *before present region* v907 (9 becomes "MOVED AROUND",  DK -> 0, LIVED ONLY IN PRESENT REGION ->0)

In [ ]:
# # Size of place of birth v892
# 1. Connurbation - London, Manchester, Birmingham, Glasgow, Liverpool, West Yorkshire (leeds/sheffield/etc), Edinburgh, Tyneside
# 2. Large Town - pop >150k
# 3. Medium sized town - pop 50-150k
# 4. Smaller town - pop 25-50k
# 5. Smallest town - pop 5-25k
# 6. Rural area or village - pop<5k
# 9. resp not interviewed
# 0. dk/na/not interviewed

# # Size of father's place of birth v897
# # Size of mother's place of birth v901
# # Size of place lived as a child v905

In [ ]:
# # Parent's Birthplace v893
# 1. Both always there
# 2. One always there
# 3. Neither there
# 8 resp not int, 9 dk, 0 na

In [ ]:
# # Where exactly did r's parents come from?
# Father v894, Mother v898, You in your childhood v902,
# you since childhood v906, you right now v909
# 1. In same town/village
# 2. In diff town/village but same county
# 3. Diff county, same region
# 4. Diff region
# 8 resp not int/9 dk/0 na

In [ ]:
# # Residential mobility v910
# 1.HAS ALWAYS LIVED IN SAME TOWN OR VILLAGE AS WAS BORN AND WHERE BOTH PARENTS BROUGHT UP
# 2.HAS ALWAYS LIVED IN SAME TOWN OR VILLAGE AS WAS BORN
# 3.HAS ALWAYS LIVED IN SAME TOWN OR VILLAGE AS LIVED AS CHILD
# 4.HAS ALWAYS LIVED IN SAME COUNTY AS LIVED AS A CHILD
# 5.HAS ALWAYS LIVED IN SAME REGION AS LIVED AS A CHILD
# 6.HAS LIVED IN DIFFERENT REGIONS
# 9 RESP NOT INT,0 NA;RESP NOT INT

In [ ]:
# YEARS LIVED IN AREA v911
# YEARS R LIVED IN HOUSE 63 v912
# YEARS R LIVED IN HOUSE 64 v913
# YEARS R LIVED IN HOUSE 69 v914
# 1 0-2 YEARS
# 2 3-5 YEARS
# 3 6-10 YEARS
# 4 11-20 YEARS
# 5 21-30 YEARS
# 6 31+ YEARS
# 7 SHORT BUT UNSPECIFIED
# 8 HAVE ALWAYS LIVED HERE, AS LONG AS I CAN REMEMBER
# 9 DK, 0 NA

In [ ]:
# EXPECT TO MOVE NEXT YEAR OR TWO v918
# 1 YES
# 5 NO
# 8 RESP NOT INTERVIEWED, 9 DK, 0 NA

In [ ]:
# WHERE MOVING TO v919
# 1 SPEC ADDRESS GIVEN
# 2 SPEC ADDRESS NOT GIVEN, BUT IN SAME TOWN OR LOCALITY
# 3 SPEC ADDRESS NOT GIVEN, AND MOVING TO ANOTHER AREA
# 4 DESCR OF SORT OF PLACE DESIRED BUT WITHOUT REF TO ANY SPECIFIC AREA
# 5 EMIGRATION
# 8 OTHER, 9 DK, 0 NA/INAP (ANYTHING BUT 1 ON LAST QUES)

In [219]:
BES_df_list["1970"]["v32"].describe()

count    1828.000000
mean       40.739606
std        22.778076
min         1.000000
25%        21.000000
50%        41.000000
75%        60.000000
max        99.000000
Name: v32, dtype: float64

In [5]:
BES_df_list[ge]["v35"].value_counts(dropna=False)

# ** Region

# 1. SCOTLAND
# 2. WALES (inc Monmouthshire)
# 3. NORTHERN ENGLAND (Cheshire, Cumberland, Durham, Lancashire, Northumberland, Westmorland, Yorkshire)
# 4. MIDLANDS AND EASTERN ENGLAND (Bedfordshire, Cambridgeshire, Derbyshire, Herefordshire, Huntingdonshire, Isle of Ely, Leicestershire, Lincolnshire, Norfolk, Northamptonshire, Nottinghamshire, Shropshire, Oxfordshire, Staffordshire, Suffolk, Warwickshire, Worcestershire)
# 5. SOUTHWESTERN ENGLAND (Cornwall, Devonshire, Gloucestershire, Somerset, Wiltshire)
# 6. LONDON AND SOUTHEASTERN ENGLAND (Berkshire, Buckinghamshire, Dorset, Essex, Hampshire, Hertfordshire, Isle of Wight, Kent, London, Middlesex, Surrey, Sussex)
# 0. RESP NOT INTERVIEWED IN 63

0.0    913
6.0    609
3.0    576
4.0    414
1.0    194
5.0    117
2.0     99
Name: v35, dtype: int64

In [6]:
# ** Type of Constituency

# 1. BOROUGHS, TYPE A (Single-Stage Random Sample)
# 2. COUNTIES, TYPE A
# 3. COUNTIES, TYPE B (Core area represented by unclustered random sample, outlying area represented by sample clustered in one polling district)
# 4. COUNTIES, TYPE C (Represented by sample clustered in two polling districts)
# 5. SUPPLEMENTARY CONSTITUENCIES (into which respondents have moved. not chosen as original sampling points)
# 0. RESP NOT INTERVIEWED IN 63

BES_df_list[ge]["v39"].value_counts(dropna=False)

1.0    1049
0.0     913
4.0     471
3.0     412
2.0      77
Name: v39, dtype: int64

In [ ]:
## 74_feb 'feb071'
## 74_oct 'oct071'
# region

# 1 North
# 2 Yorkshire-Humberside
# 3 East Midlands
# 4 East Anglia
# 5 South East
# 6 Greater London
# 7 South West
# 8 Wales
# 9 West Midlands
# 10 North West
# 12 Scotland

In [ ]:
## 74_feb 'feb190'
## place grew up in 
# 1 City
# 2 Town
# 3 Village
# 4 Country
# 5 More than one
# 8 DK
# 0 NA

In [ ]:
## 74_feb 'feb214'
## Expect to move
# 1 Yes
# 2 No
# 8 DK/ambiguous
# 0 NA

In [ ]:
## 74_oct 'oct251'
## Area grew up in
# 1 North
# 2 Yorkshire-Humberside
# 3 East Midlands
# 4 East Anglia
# 5 South East
# 6 Greater London
# 7 South West
# 8 Wales
# 9 West Midlands
# 10 North West
# 12 Scotland
# 13 Ireland
# 21 White Commonwealth
# 22 New Commonwealth
# 23 Other country
# 0 NA

In [ ]:
## 74_oct 'oct250'
## Previous location
# 1 Same village or town
# 2 Same city or county
# 3 Same region
# 4 Elsewhere in Britain
# 5 Abroad
# 0 NA

In [ ]:
## 74_oct 'oct249'
## Length of residence
# No yrs
# 85: 85+ yrs
# 88: DK
# 0:  NA

In [ ]:
## 79 'm249283'
# how long have you lived in this area
# no of years
# 888 missing data

In [29]:
BES_df_list["1979"]["m001001a"].apply(lambda x: x.replace("&","")).astype(int).describe()

count    1893.000000
mean      432.076070
std       297.918921
min         1.000000
25%       112.000000
50%       507.000000
75%       625.000000
max       919.000000
Name: m001001a, dtype: float64

In [140]:
BES_df_list["1979"]["m071300"].value_counts(dropna=False)
# 1 NORTHERN
# 2 YORKSHIRE & HUMBERSD
# 3 EAST MIDLANDS
# 4 EAST ANGLIA
# 5 SOUTH EAST
# 6 GREATER LONDON
# 7 SOUTHWEST
# 8 WALES
# 9 WEST MIDLANDS
# 10 NORTHWEST
# 12 SCOTLAND

south east              374
greater london          214
west midlands           202
northwest               199
yorkshire & humbersd    188
scotland                149
southwest               146
northern                126
east midlands           126
wales                   103
east anglia              66
Name: m071300, dtype: int64

In [14]:
BES_df_list["1979"]["m251316"].value_counts()

south east              253
greater london          230
yorkshire-humberside    189
north west              188
west midlands           183
scotland                170
north                   138
south west              127
wales                   111
east midlands           107
east anglia              45
asia & africa new co     45
eire                     23
other developed coun     19
n. ireland               13
new commonwealth         13
white commonwealth        6
other 3rd world coun      4
unclassifiable            2
Name: m251316, dtype: int64

In [24]:
# 1983
# {'areano': 'area number', 'pano': 'pa constituency number', 'region': 'standard region [post-1974 def.]'}
BES_df_list["1983"]['areano'].describe()
## old constituency numbering

count    3955.000000
mean      475.948673
std       296.458773
min         1.000000
25%       209.000000
50%       414.000000
75%       812.000000
max       931.000000
Name: areano, dtype: float64

In [25]:
BES_df_list["1983"]['pano'].describe()
## new constituency number

count    3955.000000
mean      343.319848
std       180.757566
min         8.000000
25%       189.000000
50%       359.000000
75%       493.000000
max       650.000000
Name: pano, dtype: float64

In [31]:
BES_df_list["1983"]['region'].value_counts()

south east        708
north west        513
greater london    420
scotland          402
west midlands     386
yorks & humber    371
east midlands     288
south west        285
north             229
wales             212
east anglia       141
Name: region, dtype: int64

In [32]:
BES_df_list["1983"]['mover'].value_counts()

# sampling - if people move address, they try to find them (and maybe reallocate their region)

non-mover            3441
reissued              341
local mover           124
reallocated mover      49
Name: mover, dtype: int64

In [ ]:
# 1987
# {'scprarea': 'area number', 'pano': 'pa constituency no', 'v10a': 'party thought would win constituency',
#  'v43k': 'gone too far: new houses in country areas', 'v122c1': 'geog. proximity of person most discussed politics',
#  'v122c2': 'geog. proximity of person 2nd discussed politics'}

In [138]:
def area_to_region(x):
    if x>=115 and x<=137:
        return "Scotland"
    if x>=101 and x<=114:
        return "North"    
    if x>=201 and x<=229:
        return "North West"    
    if x>=301 and x<=322:
        return "Yorks/Humbs"    
    if x>=401 and x<=424:
        return "West Mids"    
    if x>=501 and x<=518:
        return "East Mids"    
    if x>=601 and x<=609:
        return "East Anglia"    
    if x>=701 and x<=720:
        return "South West"    
    if x>=801 and x<=848:
        return "South East"    
    if x>=902 and x<=931:
        return "Greater London"    
    if x>=1 and x<=13:
        return "Wales"

In [139]:
BES_df_list["1987"]['scprarea'].apply(area_to_region).value_counts()

South East        707
North West        433
Greater London    386
West Mids         368
Scotland          366
South West        346
Yorks/Humbs       329
East Mids         281
North             252
Wales             214
East Anglia       144
Name: scprarea, dtype: int64

In [48]:
BES_df_list["1987"]['scprarea'].value_counts()
Area Codes Serial Nos
Scotland 115-137 5449-6000
North 101-114 0001-0336
North West 201-229 0337-1032
Yorks/Humbs 301-322 1033-1560
West Mids 401-424 1561-2136
East Mids 501-518 2137-2568
East Anglia 601-609 2569-2784
South West 701-720 2785-3264
South East 801-848 3265-4416
Greater London 902-931 4417-5136
Wales 001-013 5137-5448

## this may explain why serial nos sometimes appear as regressors!

606.0    22
707.0    22
604.0    22
128.0    22
106.0    22
         ..
134.0     8
218.0     8
912.0     7
401.0     7
835.0     5
Name: scprarea, Length: 250, dtype: int64

In [49]:
BES_df_list["1987"]['pano'].value_counts()

blyth valley      22
cambs ne          22
gloucs west       22
edin pentlands    22
mid norfolk       22
                  ..
epsom & ewell      8
hendon north       8
barking            7
mid worcs          7
portsmouth s       5
Name: pano, Length: 250, dtype: int64

In [51]:
BES_df_list["1987"]['opcsno'].value_counts()
# OPCS constituency number for addresses initially sampled

372.0    22
137.0    22
612.0    22
138.0    22
17.0     22
         ..
193.0     8
627.0     8
153.0     7
401.0     7
338.0     5
Name: opcsno, Length: 250, dtype: int64

In [52]:
BES_df_list["1987"]['mover'].value_counts()

1.0    281
Name: mover, dtype: int64

In [ ]:
# 1992
# {'arfc': 'field area (first coding)            arfc', 'arfe': "registrar general's standard region arfe",
#  'arff': 'opcs constitituency no.                   arff', 'arfg': 'old opcs constituency no.                 arfg',
#  'arfh': 'pa constitituency no.                     arfh', 'arfi': 'old pa constitituency no.                 arfi',
#  'area': 'constituency of sample point', 'v54a': 'this area compared to other parts of gb?   q54a',
#  'v202b': 'reg.constituency meetings:mp should q202b', 'fmingrp': "f's r.g.constituent minor groups      dv",
#  'rmingrp': "r's r.g.constituent minor groups      dv", 'smingrp': 'spouse:r.g.constt minor group [if marr] dv'}

In [54]:
BES_df_list["1992"]["arfc"].value_counts()
# SCPR Field Area

1.0    957
4.0    458
7.0    430
3.0    427
9.0    408
2.0    351
8.0    335
6.0    168
Name: arfc, dtype: int64

In [135]:
BES_df_list["1992"]["arfe"].value_counts(dropna=False)
# Registrar General's Standard Region

scotland              957
south east england    534
greater london        303
north west            296
west midlands         293
yorks+humberside      267
south west england    250
east midlands         214
north                 177
wales                 149
east anglia            94
Name: arfe, dtype: int64

In [56]:
BES_df_list["1992"]["arff"].value_counts()
# OPCS Constituency Number

warley west             32
hazel grove             22
n.durham                22
bristol n.w.            22
rugby&kenilworth        22
                        ..
southend east            9
southwark&bermondsey     9
gravesham                8
lewisham deptford        7
n.thanet                 6
Name: arff, Length: 158, dtype: int64

In [57]:
BES_df_list["1992"]["arfg"].value_counts()
# Old OPCS Constituency Number

bristol north west    22
clydesdale            22
rugby&kenilworth      22
hazel grove           22
north durham          22
                      ..
southend east          9
ayr                    8
gravesham              8
lewisham deptford      7
north thanet           6
Name: arfg, Length: 218, dtype: int64

In [58]:
BES_df_list["1992"]["arfh"].value_counts()
# press association constituency number

hazel grove     22
rugby           22
carrick         22
bristol nw      22
durham north    22
                ..
bermondsey       9
ayr              8
gravesham        8
deptford         7
thanet north     6
Name: arfh, Length: 218, dtype: int64

In [59]:
BES_df_list["1992"]["arfi"].value_counts()
# old press association constituency number

hazel grove     22
rugby           22
carrick         22
bristol nw      22
durham north    22
                ..
bermondsey       9
ayr              8
gravesham        8
deptford         7
thanet north     6
Name: arfi, Length: 218, dtype: int64

In [60]:
BES_df_list["1992"]["arf12c"].value_counts()
# moved?

resp moved once    82
Name: arf12c, dtype: int64

In [61]:
BES_df_list["1992"]["area"].value_counts()
# 'area'

north durham        22
carrick.cum.doon    22
clydesdale          22
rugby kenil         22
bristol n.w.        22
                    ..
paisley north        9
gravesham            8
ayr                  8
lewisham dept.       7
north thanet         6
Name: area, Length: 218, dtype: int64

In [62]:
BES_df_list["1992"]["ward"].value_counts()

craghead      22
drongan       22
carmichael    22
park hill     22
horfield      22
              ..
gallowhill     9
pelham         8
craigie        8
drake          7
heron          6
Name: ward, Length: 218, dtype: int64

In [63]:
BES_df_list["1992"]["polldist"].value_counts()
# polling district

92.0     22
160.0    22
5.0      22
163.0    22
20.0     22
         ..
144.0     9
194.0     8
123.0     8
147.0     7
127.0     6
Name: polldist, Length: 218, dtype: int64

In [ ]:
# 1997
# {'stregion': 'standard region  dv',  'nghbrhd': 'how long have you lived in this neighbourhood? q956',
#  'isspano': 'press association constituency number  ', 'issconst': 'parliamentary constituency census      ',
#  'issconsn': '1997+ parliamentary constituency name  ', 'isscc': 'county/region ons code',
#  'issccnam': 'county name/region name <a25>', 'o96pano': 'press association constituency no. [oct 96 add]',
#  'o96const': '1997+parliamentary constituency   [oct96 add]', 'o96consn': '1997+ parliamentary constituency  [oct96 add]',
#  'o96cc': 'county/region ons code      [oct96 add]', 'o96ccnam': 'county name/region name     [oct96 add]',
#  'othpano': 'press association constituency no [other add]', 'othconst': '1997+ parliamentary constituency  [other add]',
#  'othconsn': '1997+ parliamentary constituency  [other add] (diff format)', 'othcc': 'county/region ons code    [other add]',
#  'othccnam': 'county name/region name  [other add]'}

In [64]:
BES_df_list["1997"]["stregion"].value_counts()

scotland              882
south east england    586
greater london        314
west midlands         293
yorks+humberside      261
north west            258
south west england    248
east midlands         227
north                 197
wales                 182
east anglia           167
Name: stregion, dtype: int64

In [66]:
BES_df_list["1997"]["nghbrhd"].value_counts()
# 'how long have you lived in this neighbourhood? q956',
# 98/99 dk/na

fife central              62
cunninghame s             58
watford                   58
braintree                 53
aberdeenshire w           50
                          ..
brentford &isle.           1
brent east                 1
tyne bridge                1
newcastle north            1
warrington north           1
Name: isspano, Length: 218, dtype: int64

In [67]:
BES_df_list["1997"]["isspano"].value_counts()

fife central              62
cunninghame s             58
watford                   58
braintree                 53
aberdeenshire w           50
                          ..
brentford &isle.           1
brent east                 1
tyne bridge                1
newcastle north            1
warrington north           1
Name: isspano, Length: 218, dtype: int64

In [69]:
BES_df_list["1997"]["issconst"].value_counts()

fife central              62
cunninghame s             58
watford                   58
braintree                 53
aberdeenshire w           50
                          ..
essex north                1
hackney s &shor.           1
brentford &isle.           1
edin central               1
brent east                 1
Name: issconst, Length: 218, dtype: int64

In [68]:
BES_df_list["1997"]["othpano"].value_counts()

cunninghame s             3
leeds east                3
braintree                 3
falkirk east              3
loughborough              2
                         ..
gillingham                1
essex north               1
edin north&leith          1
east lothian              1
york, city of             1
Name: othpano, Length: 122, dtype: int64

In [ ]:
# 2001
# {'ref': 'standard pa constituency reference number', 'seatname': 'name of constituency', 'region': 'major census region (britain)',
#  'seat': 'constituency', 'aregion': 'region coded from nop constituency', 'aconstit': 'constituency(2nd)',
#  'constrev': 'corrected constituency codes (see value labels)', 
#  'tregion': 'region-top-up sample',
#  'tconstit': 'constituency-top-up sample', 'tddcode': 'top-up census constituency codes',
#  'tpacode': 'top-up press association constituency codes', 'regnall': 'region-all respondents',
#  'ddcode': 'census constituency codes', 'ddrev': 'revised census constituency codes',
#  'pacode': 'press association constituency codes', 'parev': 'revised press association constituency codes',
#  'vconstit': 'bes constituency code - all respondents'}

In [71]:
BES_df_list["2001"]["ref"].value_counts(dropna=False)

253.0    56
410.0    54
126.0    54
268.0    53
3.0      53
         ..
383.0     8
138.0     7
474.0     4
595.0     2
147.0     2
Name: ref, Length: 128, dtype: int64

In [72]:
BES_df_list["2001"]["seatname"].value_counts(dropna=False)

Fife Central                        56
Montgomeryshire                     54
Cardiff West                        54
Aberdeen North                      53
Glasgow Govan                       53
                                    ..
Loughborough                         8
Cheltenham                           7
Regent's Park & Kensington North     4
Upminster                            2
Cities of London & Westminster       2
Name: seatname, Length: 128, dtype: int64

In [74]:
BES_df_list["2001"]["seat"].value_counts(dropna=False)

Fife Central                      56
Montgomeryshire                   54
Cardiff West                      54
Glasgow Govern                    53
Aberdeen North                    53
                                  ..
Loughborough                       8
Cheltenham                         7
Regent's Park & Kensington Nor     4
Cities of London & Westminster     2
Upminster                          2
Name: seat, Length: 128, dtype: int64

In [73]:
BES_df_list["2001"]["region"].value_counts(dropna=False)

scotland                    737
wales                       488
south-east                  454
north west                  236
yorkshire and humberside    233
south west                  178
greater london              172
west midlands               167
north                       142
east midlands               125
east anglia                  98
Name: region, dtype: int64

In [75]:
BES_df_list["2001"]["regnall"].value_counts(dropna=False)

scotland             737
wales                488
south east           454
north west           236
york & humberside    233
south west           178
greater london       172
west midlands        167
north                142
east midlands        125
east anglia           98
Name: regnall, dtype: int64

In [76]:
BES_df_list["2001"]["vconstit"].value_counts(dropna=False)

122.0    56
110.0    54
101.0    54
113.0    53
124.0    53
         ..
22.0      8
69.0      7
35.0      4
41.0      2
39.0      2
Name: vconstit, Length: 128, dtype: int64

In [ ]:
# 2005
# {'pa05': 'std press assoc constituency ref no, 2005', 'agor': 'region',
# 'agorx': 'region(3rd)', 'aregion': 'country & region',
#  'bregion': 'region(4th)',
#  'tregion': 'combined region', 'cq29': 'years lived in neighbourhood', 'cq30b': 'attachment to constituency',
#  'seat05': 'name of constituency 2005', 'region': 'major census region (britain)',
#  'old_pa': 'standard pa constituency ref number, 2001', 'seat01': 'name of constituency 2001',
#  'hseat05': 'name of constituency 2005(3rd)', 'dq2': 'region(5th)'}

In [133]:
BES_df_list["2005"]["region"].value_counts(dropna=False)

11    1019
10     773
1      593
4      286
7      275
3      240
5      235
6      230
8      228
2      144
9      138
Name: region, dtype: int64

In [77]:
BES_df_list["2005"]["pa05"].value_counts(dropna=False)

206.0    69
2.0      60
556.0    52
446.0    49
433.0    48
         ..
178.0    18
522.0    15
330.0    15
148.0     6
94.0      1
Name: pa05, Length: 127, dtype: int64

In [87]:
BES_df_list["2005"]["hseat05"].value_counts(dropna=False)

Dunbartonshire West               69
Aberdeen North                    60
Swansea West                      52
Perth and North Perthshire        49
Ochil and South Perthshire        48
                                  ..
Denton & Reddish                  18
Southwark  North & Bermondsey     15
Islington South & Finsbury        15
Cities of London & Westminster     6
Bridgend                           1
Name: hseat05, Length: 127, dtype: int64

In [84]:
BES_df_list["2005"]["old_pa"].value_counts(dropna=False)

NaN      213
3.0       60
566.0     52
455.0     49
442.0     48
        ...
181.0     18
341.0     15
531.0     15
147.0      6
92.0       1
Name: old_pa, Length: 123, dtype: int64

In [85]:
BES_df_list["2005"]["seat01"].value_counts(dropna=False)

Dunbartonshire West               69
Aberdeen North                    60
Swansea West                      52
Perth and North Perthshire        49
Ochil and South Perthshire        48
                                  ..
Denton & Reddish                  18
Southwark  North & Bermondsey     15
Islington South & Finsbury        15
Cities of London & Westminster     6
Bridgend                           1
Name: seat01, Length: 127, dtype: int64

In [83]:
BES_df_list["2005"]["seat05"].value_counts(dropna=False)

Dunbartonshire West               69
Aberdeen North                    60
Swansea West                      52
Perth and North Perthshire        49
Ochil and South Perthshire        48
                                  ..
Denton & Reddish                  18
Southwark  North & Bermondsey     15
Islington South & Finsbury        15
Cities of London & Westminster     6
Bridgend                           1
Name: seat05, Length: 127, dtype: int64

In [78]:
BES_df_list["2005"]["agor"].value_counts(dropna=False)

NaN                         1792
South East                   404
East of England              333
North West                   299
South_West                   286
Yorkshire and the Humber     275
London                       240
West Midlands                235
East Midlands                199
North East                    98
Name: agor, dtype: int64

In [79]:
BES_df_list["2005"]["agorx"].value_counts(dropna=False)

99    1792
7      404
2      333
5      299
6      286
3      275
4      240
1      235
8      199
9       98
Name: agorx, dtype: int64

In [80]:
BES_df_list["2005"]["aregion"].value_counts(dropna=False)

11    1019
10     773
7      404
2      333
5      299
6      286
3      275
4      240
1      235
8      199
9       98
Name: aregion, dtype: int64

In [195]:
BES_df_list["2005"]["agor"][BES_df_list["2005"]["aregion"]==10].value_counts()
# 10 -> Wales
# 11 -> Scotland

Series([], Name: agor, dtype: int64)

In [181]:
BES_df_list["2005"]["bregion"].value_counts(dropna=False)

11    1019
10     773
7      404
2      333
5      299
6      286
3      275
4      240
1      235
8      199
9       98
Name: bregion, dtype: int64

In [82]:
BES_df_list["2005"]["tregion"].value_counts(dropna=False)

## not clear what 10/11 are - but seems like a *lot* of missing values!

11    1019
10     773
7      404
2      333
5      299
6      286
3      275
4      240
1      235
8      199
9       98
Name: tregion, dtype: int64

In [182]:
BES_df_list["2005"]["agor"].value_counts(dropna=False)

NaN                         1792
South East                   404
East of England              333
North West                   299
South_West                   286
Yorkshire and the Humber     275
London                       240
West Midlands                235
East Midlands                199
North East                    98
Name: agor, dtype: int64

In [86]:
BES_df_list["2005"]["dq2"].value_counts(dropna=False)

99.0    3231
6.0      200
9.0      136
7.0      132
8.0       77
1.0       75
5.0       73
2.0       59
11.0      57
3.0       53
10.0      48
4.0       19
NaN        1
Name: dq2, dtype: int64

In [187]:
BES_df_list["2005"]["agor"][BES_df_list["2005"]["dq2"]!=99.0].value_counts()

South East                  124
East of England              92
North West                   71
South_West                   67
Yorkshire and the Humber     61
London                       60
West Midlands                51
East Midlands                50
North East                   16
Name: agor, dtype: int64

In [ ]:
# 2010
# {'agor': 'region', 'aconsnam': 'constituency name', 'region': 'region(3rd)',
#  'bgor': 'standard region', 'consname': 'constituency name(3rd)',
#  'panumber': 'press association constituency number', 'pregion': 'census region',
#  'pa05': 'standard press association constituency reference number, 2005',
#  'tconstit': '2010 constituency name-total', 'cq31_2': 'attachment to constituency', 'cnameh': 'constituency name(4th)',
#  'zgor': 'standard region(3rd)'}

In [88]:
BES_df_list["2010"]["region"].value_counts(dropna=False)

england     2175
scotland     665
wales        235
Name: region, dtype: int64

In [93]:
BES_df_list["2010"]["consname"].value_counts(dropna=False)

Edinburgh West Burgh Const                             35
Kilmarnock and Loudoun Co Const                        33
Kirkcaldy and Cowdenbeath Co Const                     32
Ochil and South Perthshire Co Const                    31
Perth and North Perthshire Co Const                    31
                                                       ..
"Sheffield, Brightside and Hillsborough Boro Const"     4
Birmingham, Ladywood Boro Const                         4
"Birmingham, Yardley Boro Const"                        4
Kensington Boro Const                                   3
Blaenau Gwent Co Const                                  3
Name: consname, Length: 210, dtype: int64

In [94]:
BES_df_list["2010"]["panumber"].value_counts(dropna=False)

232    35
342    33
345    32
436    31
450    31
       ..
128     5
304     5
316     4
71      3
340     3
Name: panumber, Length: 200, dtype: int64

In [97]:
BES_df_list["2010"]["cnameh"].value_counts(dropna=False)

Edinburgh West Burgh Const              35
Kilmarnock and Loudoun Co Const         33
Kirkcaldy and Cowdenbeath Co Const      32
Perth and North Perthshire Co Const     31
Ochil and South Perthshire Co Const     31
                                        ..
Hendon Boro Const                        5
Cardiff South and Penarth Boro Const     5
Holborn and St. Pancras Boro Const       4
Kensington Boro Const                    3
Blaenau Gwent Co Const                   3
Name: cnameh, Length: 201, dtype: int64

In [95]:
BES_df_list["2010"]["pregion"].value_counts(dropna=False)

Scotland                    642
South East                  406
North West                  311
West Midlands               244
South West                  241
Wales                       235
East of England             225
London                      213
Yorkshire and The Humber    208
East Midlands               191
North East                  159
Name: pregion, dtype: int64

In [ ]:
# 2015
# {'Constit_Code': 'Constit_Code', 'Constit_Name': 'Constit_Name', 'LA_UA_Code': 'Local Authority Unitary Area code',
#  'LA_UA_Name': 'Local Authority Unitary Area name', 'pano': 'Press Association Constituency ID',
#  'gor': 'Government Office Region'}

In [98]:
BES_df_list["2015"]["Constit_Code"].value_counts(dropna=False)

E14000611    19
E14000938    19
S14000055    17
E14000836    16
E14000948    16
             ..
S14000028     2
S14000022     2
E14000541     2
E14000925     1
E14000661     1
Name: Constit_Code, Length: 304, dtype: int64

In [102]:
BES_df_list["2015"]["pano"].value_counts(dropna=False)

163    19
111    19
479    17
426    16
265    16
       ..
151     2
228     2
29      2
509     1
180     1
Name: pano, Length: 304, dtype: int64

In [99]:
BES_df_list["2015"]["Constit_Name"].value_counts(dropna=False)

Bury North                              19
South East Cornwall                     19
Ross, Skye and Lochaber                 17
South Cambridgeshire                    16
Normanton, Pontefract and Castleford    16
                                        ..
Barnsley Central                         2
Cities of London and Westminster         2
Falkirk                                  2
Shipley                                  1
Denton and Reddish                       1
Name: Constit_Name, Length: 304, dtype: int64

In [100]:
BES_df_list["2015"]["LA_UA_Code"].value_counts(dropna=False)

E08000025    78
E06000052    60
E08000019    44
S12000046    36
E06000057    34
             ..
E07000131     2
S12000029     2
S12000040     2
E09000033     2
E09000007     1
Name: LA_UA_Code, Length: 249, dtype: int64

In [101]:
BES_df_list["2015"]["LA_UA_Name"].value_counts(dropna=False)

Birmingham                   78
Cornwall                     60
Sheffield                    44
Glasgow City                 36
Cheshire West and Chester    34
                             ..
North Dorset                  2
Harborough                    2
South Lanarkshire             2
Harrogate                     2
Camden                        1
Name: LA_UA_Name, Length: 249, dtype: int64

In [103]:
BES_df_list["2015"]["gor"].value_counts(dropna=False)

North West                  408
South East                  398
London                      310
West Midlands               294
South West                  277
Yorkshire and the Humber    272
Scotland                    266
East of England             255
East Midlands               215
Wales                       161
North East                  131
Name: gor, dtype: int64

In [130]:
BES_df_list["2015"]["Stratum"].value_counts(dropna=False).head(10)

34    282
21    186
6     153
39    126
28    121
48    115
55    101
11     92
19     89
12     86
Name: Stratum, dtype: int64

In [115]:
# {k:v for k,v in BES_df_list["2015"].items() if "census" in v}
# lsoa11 STRING VARIABLE
# 2011 Census lower layer super output area

# Can't find!

{}

In [106]:
BES_df_list["2015"]["Stratumlabel"].value_counts(dropna=False)

Con LD        785
Lab Con       664
Con Lab       604
Lab LD        335
LD            171
Lab SNP       121
LD Lab         51
Con Lab/LD     39
LD Con         37
Lab            35
LD Con/SDP     28
Lab LibDem     27
SNP Con        21
Lab Plaid      18
Con            17
Lab Con/LD     16
Plaid          11
Other           7
Name: Stratumlabel, dtype: int64

In [107]:
BES_df_list["2015"]["IMDquintile"].value_counts(dropna=False)
# IMD quintile 1 = most deprived through to 5 = least deprived.

2    670
4    619
3    579
5    570
1    549
Name: IMDquintile, dtype: int64

In [108]:
BES_df_list["2015"]["dwel_type"].value_counts(dropna=False)

# -> housing

Semi-detached / end terraced house    1104
Centre terraced house                  527
Detached house                         504
Purpose built flat                     365
NaN                                    184
Bungalow                               182
Conversion flat / maisonette            85
Other type of dwelling                  36
Name: dwel_type, dtype: int64

In [109]:
BES_df_list["2015"]["Floor_of_dwelling"].value_counts(dropna=False)
# some people living in cellars??

 NaN     2312
 0.0      414
 1.0      140
 2.0       70
 3.0       22
 8.0        7
 4.0        5
 5.0        5
 10.0       2
 40.0       2
-1.0        2
 6.0        1
 11.0       1
 18.0       1
 13.0       1
 12.0       1
 7.0        1
Name: Floor_of_dwelling, dtype: int64

In [ ]:
# 2017
{'region': 'Region',
 'Constit_Name': 'Parliamentary Constituency Name', 'Constit_Code': 'ONS Parliamentary Constituency identifier',
 'pano': 'Press Association Constituency ID'}

In [ ]:
# Q20. Which country were you born in?

In [117]:
BES_df_list["2017"]["region"].value_counts(dropna=False)

North West            304
South East            282
West Midlands         227
Eastern               226
London                212
Scotland              191
Yorkshire & Humber    187
South West            167
East Midlands         156
Wales                 129
North East            113
Name: region, dtype: int64

In [118]:
BES_df_list["2017"]["Constit_Name"].value_counts(dropna=False)

Birmingham    57
North East    44
Sheffield,    26
Liverpool,    22
Falkirk       21
              ..
South Than     4
Great Grim     3
Glenrothes     2
Perth and      2
Bolton Wes     1
Name: Constit_Name, Length: 214, dtype: int64

In [120]:
BES_df_list["2017"]["pano"].value_counts(dropna=False)

245    21
124    20
77     19
149    19
388    18
       ..
456     4
629     4
452     3
276     3
450     2
Name: pano, Length: 229, dtype: int64

In [119]:
BES_df_list["2017"]["Constit_Code"].value_counts(dropna=False)

S14000028    21
E14000618    20
E14000579    19
E14000637    19
E14000808    18
             ..
E14000958     4
E14001048     4
E14000716     3
E14000879     3
S14000054     2
Name: Constit_Code, Length: 229, dtype: int64

In [ ]:
# 2019
# {'region': 'Region', 'Constit_Code': 'Constituency code',
#  'Constit_Name': 'Constituency name', 'LA_UA_Code': 'Local Authority Unitary Area code',
#  'LA_UA_Name': 'Local Authority Unitary Area name', 'pano': 'Press Association Constituency ID'}

In [124]:
BES_df_list["2019"]["region"].value_counts(dropna=False)

South East            531
North West            470
London                449
Scotland              379
Yorkshire & Humber    379
West Midlands         369
Eastern               350
South West            337
East Midlands         281
Wales                 211
North East            190
Name: region, dtype: int64

In [125]:
BES_df_list["2019"]["Constit_Code"].value_counts(dropna=False)

E14000931    18
E14000603    17
E14000730    16
S14000019    16
E14000648    16
             ..
W07000080     4
E14000989     4
E14000653     2
E14000606     2
E14000642     2
Name: Constit_Code, Length: 400, dtype: int64

In [126]:
BES_df_list["2019"]["Constit_Name"].value_counts(dropna=False)

Solihull                                    18
Broadland                                   17
East Kilbride, Strathaven and Lesmahagow    16
Harrogate and Knaresborough                 16
Corby                                       16
                                            ..
Birmingham, Erdington                        4
Ealing Central and Acton                     4
Crewe and Nantwich                           2
Broxbourne                                   2
Clacton                                      2
Name: Constit_Name, Length: 400, dtype: int64

In [127]:
BES_df_list["2019"]["LA_UA_Code"].value_counts(dropna=False)

E08000035    69
E08000019    58
E06000052    43
E06000050    40
E08000036    39
             ..
E07000146     3
E07000076     2
E07000166     2
E07000197     1
E07000095     1
Name: LA_UA_Code, Length: 289, dtype: int64

In [128]:
BES_df_list["2019"]["LA_UA_Name"].value_counts(dropna=False)

Leeds                        69
Sheffield                    58
Cornwall                     43
Cheshire West and Chester    40
Wakefield                    39
                             ..
Rushcliffe                    3
Tendring                      2
Richmondshire                 2
Broxbourne                    1
Stafford                      1
Name: LA_UA_Name, Length: 289, dtype: int64

In [129]:
BES_df_list["2019"]["pano"].value_counts(dropna=False)

516    18
103    17
223    16
161    16
293    16
       ..
482     4
151     4
106     2
152     2
169     2
Name: pano, Length: 400, dtype: int64

In [ ]:
### notion to look at patterns of like/out of ten questions as a measure of polarisation

In [36]:
{k:v for k,v in BES_label_list["2019"].items() if "like" in v}

{'m02_1': "Politicians don't care what people like me think",
 'm02_3': 'People like me have no say in what government does',
 'b0611': 'I dislike / can`t support the leader',
 'b0614': 'I like / have more confidence in the standing candidate / good MP',
 'i01_1': 'Like/dislike leader: Corbyn',
 'i01_2': 'Like/dislike leader: Johnson',
 'i01_3': 'Like/dislike leader: Swinson',
 'i01_4': 'Like/dislike leader: Berry',
 'i01_5': 'Like/dislike leader: Bartley',
 'i01_6': 'Like/dislike leader: Farage',
 'i01_7': 'Like/dislike leader: Sturgeon',
 'i01_8': 'Like/dislike leader: Price',
 's01_1': 'Like/dislike scale: Conservatives',
 's01_2': 'Like/dislike scale: Labour',
 's01_3': 'Like/dislike scale: Liberal Democrats',
 's01_4': 'Like/dislike scale: Brexit Party',
 's01_5': 'Like/dislike scale: Greens',
 's01_6': 'Like/dislike scale: SNP',
 's01_7': 'Like/dislike scale: Plaid Cymru'}

In [37]:
BES_df_list["2019"]["i01_2"].value_counts().sort_index()

Haven't heard of them      8
Don't know               102
0 Strongly dislike       510
1                        212
2                        240
3                        230
4                        219
5                        424
6                        285
7                        396
8                        364
9                        158
10 Strongly like         297
Name: i01_2, dtype: int64

In [46]:
{k:v for k,v in BES_label_list["2010"].items() if "brown" in v}

{'aq14_1': 'feelings-gordon brown',
 'aq19_1': 'competence-gordon brown',
 'aq20_1': 'trust-gordon brown',
 'aq32a': 'fin crisis-responsible-gordon brown',
 'bq15_1': 'feelings-gordon brown(3rd)',
 'bq19_1': 'competence-gordon brown(3rd)',
 'bq20_1': 'trust-gordon brown(3rd)',
 'bq31a': 'fin crisis responsible-gordon brown'}

In [45]:
BES_df_list["2010"]['aq14_2'].value_counts().sort_index()

0-strongly dislike     92
1                      44
2                      92
3                     112
4                     145
5                     287
6                     196
7                     207
8                     165
9                      48
10-strongly like       35
Name: aq14_2, dtype: int64

In [47]:
BES_df_list["2010"]['aq14_1'].value_counts().sort_index()

0-strongly dislike    191
1                      95
2                     136
3                     173
4                     156
5                     210
6                     146
7                     146
8                     120
9                      45
10-strongly like       46
Name: aq14_1, dtype: int64

In [ ]:
# 2019 region
South East            531
North West            470
London                449
Scotland              379
Yorkshire & Humber    379
West Midlands         369
Eastern               350
South West            337
East Midlands         281
Wales                 211
North East            190

# 2017 region
North West            304
South East            282
West Midlands         227
Eastern               226
London                212
Scotland              191
Yorkshire & Humber    187
South West            167
East Midlands         156
Wales                 129
North East            113

# 2015 gor
North West                  408
South East                  398
London                      310
West Midlands               294
South West                  277
Yorkshire and the Humber    272
Scotland                    266
East of England             255
East Midlands               215
Wales                       161
North East                  131

# 2010 pregion
Scotland                    642
South East                  406
North West                  311
West Midlands               244
South West                  241
Wales                       235
East of England             225
London                      213
Yorkshire and The Humber    208
East Midlands               191
North East                  159

# 2005 tregion
South East                  404
East of England             333
North West                  299
South_West                  286
Yorkshire and the Humber    275
London                      240
West Midlands               235
East Midlands               199
North East                   98
??? missing values ???

# 2001 regnall, region
scotland             737
wales                488
south east           454
north west           236
york & humberside    233
south west           178
greater london       172
west midlands        167
north                142
east midlands        125
east anglia           98

# 1997 stregion
scotland              882
south east england    586
greater london        314
west midlands         293
yorks+humberside      261
north west            258
south west england    248
east midlands         227
north                 197
wales                 182
east anglia           167

# 1992 arfe
scotland              957
south east england    534
greater london        303
north west            296
west midlands         293
yorks+humberside      267
south west england    250
east midlands         214
north                 177
wales                 149
east anglia            94

# 1987 ['scprarea'].apply(area_to_region).value_counts()
South East        707
North West        433
Greater London    386
West Mids         368
Scotland          366
South West        346
Yorks/Humbs       329
East Mids         281
North             252
Wales             214
East Anglia       144

# 1983 region
south east        708
north west        513
greater london    420
scotland          402
west midlands     386
yorks & humber    371
east midlands     288
south west        285
north             229
wales             212
east anglia       141

# 1979  m071300
south east              374
greater london          214
west midlands           202
northwest               199
yorkshire & humbersd    188
scotland                149
southwest               146
northern                126
east midlands           126
wales                   103
east anglia              66

## 74_feb 'feb071'
## 74_oct 'oct071'
# region

# 1 North
# 2 Yorkshire-Humberside
# 3 East Midlands
# 4 East Anglia
# 5 South East
# 6 Greater London
# 7 South West
# 8 Wales
# 9 West Midlands
# 10 North West
# 12 Scotland

## 1964-70 v35-v38
# 1. SCOTLAND
# 2. WALES (inc Monmouthshire)
# 3. NORTHERN ENGLAND (Cheshire, Cumberland, Durham, Lancashire, Northumberland, Westmorland, Yorkshire)
# 4. MIDLANDS AND EASTERN ENGLAND (Bedfordshire, Cambridgeshire, Derbyshire, Herefordshire, Huntingdonshire, Isle of Ely, Leicestershire, Lincolnshire, Norfolk, Northamptonshire, Nottinghamshire, Shropshire, Oxfordshire, Staffordshire, Suffolk, Warwickshire, Worcestershire)
# 5. SOUTHWESTERN ENGLAND (Cornwall, Devonshire, Gloucestershire, Somerset, Wiltshire)
# 6. LONDON AND SOUTHEASTERN ENGLAND (Berkshire, Buckinghamshire, Dorset, Essex, Hampshire, Hertfordshire, Isle of Wight, Kent, London, Middlesex, Surrey, Sussex)
# 0. RESP NOT INTERVIEWED IN 63

In [143]:
f2f_harmonised["region"] = np.nan

In [148]:
ge = "1974_feb"
rep_dict = {"south east":"South East","north west":"North West","greater london":"London","yorkshire-humberside":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","east anglia":"Eastern"}
BES_df_list[ge]['feb071'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['feb071'].replace(rep_dict)

In [150]:
ge = "1974_oct"
rep_dict = {"south east":"South East","north west":"North West","greater london":"London","yorkshire-humberside":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","east anglia":"Eastern"}
BES_df_list[ge]['oct071'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['oct071'].replace(rep_dict)

In [153]:
ge = "1979"
rep_dict = {"south east":"South East","northwest":"North West","greater london":"London","yorkshire & humbersd":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","southwest":"South West","east midlands":"East Midlands",
           "northern":"North East","wales":"Wales","east anglia":"Eastern"}
BES_df_list[ge]['m071300'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['m071300'].replace(rep_dict)

In [156]:
ge = "1983"
rep_dict = {"south east":"South East","north west":"North West","greater london":"London","yorks & humber":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","east anglia":"Eastern"}
BES_df_list[ge]['region'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['region'].replace(rep_dict)

In [159]:
ge = "1987"
rep_dict = {"south east":"South East","north west":"North West","Greater London":"London","yorks & humber":"Yorks/Humbs",
           "scotland":"Scotland","West Mids":"West Midlands","south west":"South West","East Mids":"East Midlands",
           "North":"North East","wales":"Wales","East Anglia":"Eastern"}
BES_df_list[ge]['scprarea'].apply(area_to_region).replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['scprarea'].apply(area_to_region).replace(rep_dict)

In [162]:
ge = "1992"
rep_dict = {"south east england":"South East","north west":"North West","greater london":"London","yorks+humberside":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west england":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","east anglia":"Eastern"}
BES_df_list[ge]['arfe'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['arfe'].replace(rep_dict)

In [165]:
ge = "1997"
rep_dict = {"south east england":"South East","north west":"North West","greater london":"London","yorks+humberside":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west england":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","east anglia":"Eastern"}
BES_df_list[ge]['stregion'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['stregion'].replace(rep_dict)

In [168]:
ge = "2001"
rep_dict = {"south-east":"South East","north west":"North West","greater london":"London","yorkshire and humberside":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","east anglia":"Eastern"}
BES_df_list[ge]['region'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['region'].replace(rep_dict)

In [171]:
ge = "2010"
rep_dict = {"south-east":"South East","north west":"North West","greater london":"London","Yorkshire and The Humber":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","East of England":"Eastern"}
BES_df_list[ge]['pregion'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['pregion'].replace(rep_dict)

In [174]:
ge = "2015"
rep_dict = {"south-east":"South East","north west":"North West","greater london":"London","Yorkshire and the Humber":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","East of England":"Eastern"}
BES_df_list[ge]['gor'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['gor'].replace(rep_dict)

In [177]:
ge = "2017"
rep_dict = {"south-east":"South East","north west":"North West","greater london":"London","Yorkshire & Humber":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","East of England":"Eastern"}
BES_df_list[ge]['region'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['region'].replace(rep_dict)

In [179]:
ge = "2019"
rep_dict = {"south-east":"South East","north west":"North West","greater london":"London","Yorkshire & Humber":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","south west":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","East of England":"Eastern"}
BES_df_list[ge]['region'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['region'].replace(rep_dict)

In [201]:
ge = "2005"

BES_df_list["2005"]["region_complete"] = np.nan
BES_df_list["2005"]["region_complete"] = BES_df_list["2005"]["agor"]
BES_df_list["2005"].loc[BES_df_list["2005"]["aregion"]==10,"region_complete"] = "Wales"
BES_df_list["2005"].loc[BES_df_list["2005"]["aregion"]==11,"region_complete"] = "Scotland"
BES_df_list["2005"]["region_complete"].value_counts(dropna=False)

rep_dict = {"south-east":"South East","north west":"North West","greater london":"London","Yorkshire and the Humber":"Yorks/Humbs",
           "scotland":"Scotland","west midlands":"West Midlands","South_West":"South West","east midlands":"East Midlands",
           "north":"North East","wales":"Wales","East of England":"Eastern"}
BES_df_list[ge]['region_complete'].replace(rep_dict).value_counts(dropna=False)
f2f_harmonised.loc[f2f_harmonised["dataset"]==ge,"region"] = BES_df_list[ge]['region_complete'].replace(rep_dict)

In [230]:
BES_df_list["1970"]["v38"].value_counts()

## 1964-70 v35-v38
# 1. SCOTLAND
# 2. WALES (inc Monmouthshire)
# 3. NORTHERN ENGLAND (Cheshire, Cumberland, Durham, Lancashire, Northumberland, Westmorland, Yorkshire)
# 4. MIDLANDS AND EASTERN ENGLAND (Bedfordshire, Cambridgeshire, Derbyshire, Herefordshire, Huntingdonshire, Isle of Ely, Leicestershire, Lincolnshire, Norfolk, Northamptonshire, Nottinghamshire, Shropshire, Oxfordshire, Staffordshire, Suffolk, Warwickshire, Worcestershire)
# 5. SOUTHWESTERN ENGLAND (Cornwall, Devonshire, Gloucestershire, Somerset, Wiltshire)
# 6. LONDON AND SOUTHEASTERN ENGLAND (Berkshire, Buckinghamshire, Dorset, Essex, Hampshire, Hertfordshire, Isle of Wight, Kent, London, Middlesex, Surrey, Sussex)
# 0. RESP NOT INTERVIEWED IN 63

## 0, 1, 2, 5, don't need to be touched
# 3 -> needs to be split into North West and North East and Yorks/Humber
# 4 -> needs to be split into East Midlands, West Midlands and Eastern
# 6 -> needs to be split into (Greater) London and South East

0.0    1567
6.0     407
3.0     388
4.0     284
1.0     111
5.0      89
2.0      76
Name: v38, dtype: int64

In [233]:
BES_df_list["1970"]["v34"][BES_df_list["1970"]["v38"]==6].value_counts().shape

# 52 constituencies

(52,)

In [ ]:
"""001 1
003 1
005 1
007 1
009 2
011 2
013 3
015 3
017 3
019 3
021 3
023 3
025 3
027 3
029 3
031 3
033 3
035 4
037 4
039 4
3
3
1
1
4
1
4
3
2
3
1
1
1
1
1
1
1
4
4
2
RENFREWSHIRE EAST
CENTRAL AYRSHIRE
EDINBURGH NORTH
GLASGOW BRIDGETON
CARMARTHEN
CARDIFF WEST
HEXHAM
SOUTH FYLDE
MIDDLETON & PRESTWICH
DON VALLEY
NEWCASTLE UPON TYNE
SOUTH SHIELDS
BLACKPOOL NORTH
SHEFFIELD HEELEY
MANCHESTER WYTHENSHAWE
BIRKENHEAD
SHEFFIELD HILLSBOROUGH
HARBOROUGH
BURY ST. EDMUNDS
NUNEATON
002
004
006
008
010
012
014
016
018
020
022
024
026
028
030
032
034
036
038
040
1
1
1
1
2
2
3
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
1
1
4
3
4
4
3
3
1
1
1
1
1
1
1
4
3
1
ABERDEENSHIRE WEST
CLACKMANNAN & EAST STIRLING
EDINBURGH EAST
PAISLEY
CAERNARVON
PONTYPOOL
DURHAM
THIRSK & MALTON
DARWEN
HEHSWORTH
LIVERPOOL EDGE HILL
BARNSLEY
MANCHESTER MOSS SIDE
DARLINGTON
BRADFORD SOUTH
DEWSBURY
HUDDERSFIELD WEST
HENLEY
RUSHCLIFFE
COVENTRY NORTH"""

In [ ]:
"""041 4
043 4
045 4
047 4
049 4
051 5
053 5
055 5
057 6
059 6
061 6
063 6
065 6
067 6
069 6
071 6
073 6
075 6
077 6
079 6
081 3
083 6
085 5
087 6
089 4
091 4
093 6
095 6
097 4
099 4
4
4
1
1
1
4
1
3
3
3
4
3
1
1
1
1
1
1
1
1
5
5
5
5
5
5
5
5
5
5
HOLLAND WITH BOSTON 042 4
LEEK 044 4
BIRMINGHAM HANDSWORTH 046 4
WALSALL SOUTH 048 4
NOTTINGHAM NORTH 050 4
HONITON 052 5
TORQUAY 054 5
FALHOUTH & CAMBORNE 056 6
EPSOM 058 6
FOLKESTONE & HYTHE 060 6
BASINGSTOKE 062 6
HITCHIN 064 6
POOLE 066 6
PORTSMOUTH WEST 068 6
KINGSTON UPON THAMES 070 6
WEMBLEY SOUTH 072 6
LEWISHAM WEST 074 6
FELTHAM 076 6
SOUTHAMPTON ITCHEN 078 6
WILLESDEN WEST 080 6
BARKSTON ASH 082 3
BRIGHTON KEMPTON 084 4
EXETER 086 3
HARROW CENTRAL 088 6
BARKET BOSWORTH 090 4
NOTTINGHAM WEST 092 2
REIGATE 094 1
RICHMOND (SURREY) 096 6
SOUTH EAST DERBYSHIRE 098 4
YARMOUTH 100 6
4
3
1
1
1
4
1
3
3
4
4
3
2
1
1
1
1
1
1
1
5
5
5
5
5
z
5
5
5
SOUTH NORTHANTS
ILKESTON
NORTHAMPTON
COVENTRY SOUTH
STOKE ON TRENT CENTRAL
BRIDGWATER
BRISTOL CENTRAL
HERTFORD
WINCHESTER
SEVENOAKS
AYLESBURY
GUILDPORD
UXBRIDGE
BARONS COURT
BROMLEY
HESTON & ISLEWORTH
ACTON
TOTTENHAH
FULHAM
BERMONDSEY
BISHOP AUCKLAND
CARLTON
GOOLE
HENDON SOUTH
MID-BEDFORDSHIRE
OGMORE
RENFREWSHIRE WEST
SOUTHWARK
WEST DERBYSHIRE
BECKENHAM"""

In [ ]:
"""101
106
112
114
116
118
121
124
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
102
110
113
115
117
120
122
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172

BLACKPOOL SOUTH
IPSWICH
WOKINGHAM
DONCASTER
NEWCASTLE UPON TYNE EAST
LIVERPOOL GARSTON
COVENTRY EAST
BILLERICAY
BRIGHOUSE & SPENBOROUGH
SEDGEFIELD
NEWCASTLE UPON TYNE WEST
BEBINGTON
GLASGOW-SHETTLESTON
ISLINGTON

HORSHAM
ARUNDEL & SHOREHAM
BATLEY & MORLEY
BRECON & RADNOR

CHELSEA
CREWE

DEVON NORTH
DORSET SOUTH
EASTLEIGH
GLASGOW-CATHCART
GOWER

MAIDSTONE
MONTGOMERY
NEWBURY
READING



ALDERSHOT
BOURNEMOUTH E. & CHRISTCHURCH
CHEADLE
CHESTER-LE-STREET
DEARNE VALLEY
DORSET NORTH
EASINGTON
EPPING
GOSPORT & FAREHAH
HEMEL HEMPSTEAD
MIDLOTHIAN
MORECAMBE
PORTSMOUTH SOUTH
RICHMOND (YORKS)
SOMERSET NORTH
SPELTHORNE
STOCKPORT SOUTH
TAUNTON
TWICKENHAM
WANDSWORTH & PUTNEY
WESTON-S-MARE
WIMBLEDON
WOKING

RUNCORN

SOUTHALL
STOCKPORT NORTH
SUTTON COLDFIELD
TIVERTON
WAKEFIELD
WELLS

WIGAN
WINDSOR
KETTERING"""

In [239]:
dict(zip("""173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232""".split("\n"),
"""LEITH
PONTEFRACT
CARDIFF S.E.
BOURNEHOUTH WEST
BUCKINGHAM
DORSET WEST
HAMMERSMITH NORTH
PETERSFIELD
SUTTON & CHEAM
OSWESTRY
GRIMSBY
BURLEY (N.E. DERBYSHIRE)
CHICHESTER
CHISLEHURST
N.W. CROYDON
WARRINGTON (LANCS)
LOWESTOFT
KING'S LYNN
WEST LOTHIAN
HOVE
ACCRINGTON
ST. IVES
PECKHAM
ROCHDALE
COLNE VALLEY
ALTRINCHAM & SALE
BOSWORTH
WIRRAL
SHEFFIELD PARK
YEOVIL
CONWAY
LIVERPOOL WAVERTREE
CARDIFF N.
EALING SOUTH
SHEFFIELD HALLAM
HACKNEY CENTRAL
BARNET
HUDDERSFIELD EAST
LUTON
KNUTSFORD
PRESTON NORTH
ROTHER VALLEY
WOOLWICH WEST
WORTHING
ORMSKIRK
ABERDEEN SOUTH
CARDIGAN
MERIONETH
BUTE & N. AYRSHIRE
LANARK
WESTMORLAND
CHERTSEY
CHIPPENHAM
CHESTER (CITY)
BASSETLAW
OLDHAM WEST
TOTNES
DERBY SOUTH
SOUTHAMPTON TEST
LOUTH""".split("\n") ))

{'173': 'LEITH',
 '175': 'PONTEFRACT',
 '177': 'CARDIFF S.E.',
 '179': 'BOURNEHOUTH WEST',
 '181': 'BUCKINGHAM',
 '183': 'DORSET WEST',
 '185': 'HAMMERSMITH NORTH',
 '187': 'PETERSFIELD',
 '189': 'SUTTON & CHEAM',
 '191': 'OSWESTRY',
 '193': 'GRIMSBY',
 '195': 'BURLEY (N.E. DERBYSHIRE)',
 '197': 'CHICHESTER',
 '199': 'CHISLEHURST',
 '201': 'N.W. CROYDON',
 '203': 'WARRINGTON (LANCS)',
 '205': 'LOWESTOFT',
 '207': "KING'S LYNN",
 '209': 'WEST LOTHIAN',
 '211': 'HOVE',
 '213': 'ACCRINGTON',
 '215': 'ST. IVES',
 '217': 'PECKHAM',
 '219': 'ROCHDALE',
 '221': 'COLNE VALLEY',
 '223': 'ALTRINCHAM & SALE',
 '225': 'BOSWORTH',
 '227': 'WIRRAL',
 '229': 'SHEFFIELD PARK',
 '231': 'YEOVIL',
 '174': 'CONWAY',
 '176': 'LIVERPOOL WAVERTREE',
 '178': 'CARDIFF N.',
 '180': 'EALING SOUTH',
 '182': 'SHEFFIELD HALLAM',
 '184': 'HACKNEY CENTRAL',
 '186': 'BARNET',
 '188': 'HUDDERSFIELD EAST',
 '190': 'LUTON',
 '192': 'KNUTSFORD',
 '194': 'PRESTON NORTH',
 '196': 'ROTHER VALLEY',
 '198': 'WOOLWICH WEST',
 '200': 'WORTHING',
 '202': 'ORMSKIRK',
 '204': 'ABERDEEN SOUTH',
 '206': 'CARDIGAN',
 '208': 'MERIONETH',
 '210': 'BUTE & N. AYRSHIRE',
 '212': 'LANARK',
 '214': 'WESTMORLAND',
 '216': 'CHERTSEY',
 '218': 'CHIPPENHAM',
 '220': 'CHESTER (CITY)',
 '222': 'BASSETLAW',
 '224': 'OLDHAM WEST',
 '226': 'TOTNES',
 '228': 'DERBY SOUTH',
 '230': 'SOUTHAMPTON TEST',
 '232': 'LOUTH'}

In [238]:
dict(zip("""233
235
237
239
241
243
245
247
249
251
253
255
257
261
263
265
234
236
238
240
242
244
246
248
250
252
254
256
260
262
264
266""".split("\n"),\
"""ENFIELD
HAYES & HARLINGTON
BANBURY
WATFORD (HERTS)
EAST HAM SOUTH
ASHFORD
EASTBOURNE
S.E. ESSEX
BERWICK UPON TWEED
ROXBURGH, SELKIRK & PEEBLES 
TYNEMOUTH
MERIDEN
HOUGHTON-LE-SPRING
SALISBURY
CAMBRIDGE 
LOUGHBOROUGH
CHELMSFORD
RUISLIP-NORTHWOOD
WILLESDEN EAST
CATHCART
EALING NORTH
LEWES
RYE
HARWICH
BLACKBURN
SOUTH AYRSHIRE
HARROW WEST
LICHFIELD & TAMWORTH
SOUTH WEST NORFOLK
EDINBURGH WEST
WELLINGBOROUGH
HERTFORDSHIRE EAST""".split("\n") ))

{'233': 'ENFIELD',
 '235': 'HAYES & HARLINGTON',
 '237': 'BANBURY',
 '239': 'WATFORD (HERTS)',
 '241': 'EAST HAM SOUTH',
 '243': 'ASHFORD',
 '245': 'EASTBOURNE',
 '247': 'S.E. ESSEX',
 '249': 'BERWICK UPON TWEED',
 '251': 'ROXBURGH, SELKIRK & PEEBLES ',
 '253': 'TYNEMOUTH',
 '255': 'MERIDEN',
 '257': 'HOUGHTON-LE-SPRING',
 '261': 'SALISBURY',
 '263': 'CAMBRIDGE ',
 '265': 'LOUGHBOROUGH',
 '234': 'CHELMSFORD',
 '236': 'RUISLIP-NORTHWOOD',
 '238': 'WILLESDEN EAST',
 '240': 'CATHCART',
 '242': 'EALING NORTH',
 '244': 'LEWES',
 '246': 'RYE',
 '248': 'HARWICH',
 '250': 'BLACKBURN',
 '252': 'SOUTH AYRSHIRE',
 '254': 'HARROW WEST',
 '256': 'LICHFIELD & TAMWORTH',
 '260': 'SOUTH WEST NORFOLK',
 '262': 'EDINBURGH WEST',
 '264': 'WELLINGBOROUGH',
 '266': 'HERTFORDSHIRE EAST'}

In [ ]:
South East            531 x
North West            470 x
London                449 x
Scotland              379 x
Yorkshire & Humber    379 x
West Midlands         369 x
Eastern               350 (east anglia) x
South West            337 x
East Midlands         281 x
Wales                 211 x
North East            190 (north != northwest) x

south east              374 x
greater london          214 x
west midlands           202 x
northwest               199 x
yorkshire & humbersd    188 x
scotland                149 x
southwest               146 x
northern                126 x
east midlands           126 x
wales                   103 x
east anglia              66 x


# 1 North x
# 2 Yorkshire-Humberside x
# 3 East Midlands x
# 4 East Anglia x
# 5 South East x
# 6 Greater London x
# 7 South West x
# 8 Wales x
# 9 West Midlands x
# 10 North West x
# 12 Scotland x