In [201]:
%%time
%matplotlib inline
%run Prosser_header.py

dataset_folder = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\datasets\\"
output_folder  = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\output\\"

Wall time: 7.56 s
Parser   : 122 ms

In [2]:
CSES_int_final = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_int_final.pkl")

def get_dta_meta(fn):
    reader = pd.io.stata.StataReader( fn )
    header = reader.variable_labels()
    labels = reader.value_labels()
    return header,labels
headerINT,labelsINT = get_dta_meta(dataset_folder + "CSES"+os.sep+"integrated 1-4"+os.sep+"cses_imd.dta")

variable_manifest = pd.read_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv",index_col="Unnamed: 0")

cses_variable_types = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"cses_variable_types.pkl")

party_ref = party_ref_final = pd.read_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"party_ref_final.csv",index_col="Unnamed: 0")

In [3]:
# variable_manifest["variable structural type"].value_counts()

In [4]:
country_vars = list(variable_manifest[variable_manifest["variable structural type"]=="country"]["index"])
party_vars = list(variable_manifest[variable_manifest["variable structural type"]=="party"]["index"])
respondent_vars = list(variable_manifest[variable_manifest["variable structural type"]=="respondent"]["index"])
dataset_vars = list(variable_manifest[variable_manifest["variable structural type"]=="dataset"]["index"])

In [5]:
# election_study_level_dataset[election_study_level_dataset["IMD1006_NAM"]=="Greece"]

## Greece election studies fixed!

In [6]:
election_study_level_dataset = CSES_int_final[country_vars+dataset_vars].drop_duplicates().sort_values("IMD1003").set_index("IMD1003")
# election_study_level_dataset

In [7]:
# base variables for the full set of party variabes _A ... _I
cses_to_partyfacts_final = party_ref.set_index("cses_party_id")["partyfacts_id_min_tech"]

party_base_variables = ['IMD5000', 'IMD5001', 'IMD5002', 'IMD5003', 'IMD5004', 'IMD5005', 'IMD5011', 'IMD5012', 'IMD5029', 'IMD5031']
party_level = CSES_int_final[party_vars].groupby(CSES_int_final["IMD1003"]).first()

df = pd.melt( party_level[ search( party_level , 'IMD5000' ).index].reset_index(),
         id_vars = ["IMD1003"])
for base in party_base_variables[1:]:
    df[base] = pd.melt( party_level[ search( party_level , base ).index].reset_index(),
         id_vars = ["IMD1003"])["value"]

df["value"] = df["value"].apply(lambda x: cses_to_partyfacts_final.loc[x])
df = df[df["value"].notnull()]
df["value"] = df["value"].astype(int)

column_rename = {
 "variable":"party_letter",
 "value":"partyfacts_id",   
#  "IMD1003": "ELECTION STUDY ID",
#  'IMD5000': 'PARTY IDENTIFIER',
#  'IMD5001': 'PERCENT VOTE - LOWER HOUSE',
#  'IMD5002': 'PERCENT SEATS - LOWER HOUSE',
#  'IMD5003': 'PERCENT VOTE - UPPER HOUSE',
#  'IMD5004': 'PERCENT SEATS - UPPER HOUSE',
#  'IMD5005': 'PERCENT VOTE - PRESIDENT',
#  'IMD5011': 'IDEOLOGICAL FAMILY',
#  'IMD5012': 'LEFT-RIGHT',
#  'IMD5029': 'NUMBER OF PORTFOLIOS BEFORE',
#  'IMD5031': 'NUMBER OF PORTFOLIOS AFTER'
}

df = df.rename(columns=column_rename)
df["party_letter"] = df["party_letter"].apply(lambda x: x.split("_")[1])
df["ELECTION YEAR"] = df["IMD1003"].apply(lambda x: int(x.split("(")[1][0:4]))
df["COUNTRY"] = df["IMD1003"].apply(lambda x: x.split(". ")[1].split("(")[0].strip())
# BELGIUM-FLANDERS     6
# BELGIUM-WALLONIA     4

party_level_dataset = df.copy()

In [8]:
# party_level_dataset

In [9]:
# party_level_dataset.columns

In [10]:

variable_manifest.loc[variable_manifest.index.max()+1]=["party_letter",9,'object','object',"dataset letter key",
                                        "Top 9 party ref",list(party_level_dataset["party_letter"].unique()),
                                        "meta","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["partyfacts_id",len(party_level_dataset['partyfacts_id'].unique()),
                                        'int32','int32',"Partyfacts Id",
                                        "Partyfacts Id",list(party_level_dataset["partyfacts_id"].unique()),
                                        "meta","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5001",len(party_level_dataset['IMD5001'].unique()),
                                        'object','category',"PERCENT VOTE - LOWER HOUSE",
                                        "Voteshare - Lower House",list(party_level_dataset["IMD5001"].unique()),
                                        "seminumeric","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5002",len(party_level_dataset['IMD5002'].unique()),
                                        'object','category',"PERCENT SEATS - LOWER HOUSE",
                                        "Seatshare - Lower House",list(party_level_dataset["IMD5002"].unique()),
                                        "seminumeric","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5003",len(party_level_dataset['IMD5003'].unique()),
                                        'object','category',"PERCENT VOTE - UPPER HOUSE",
                                        "Voteshare - Upper House",list(party_level_dataset["IMD5003"].unique()),
                                        "seminumeric","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5004",len(party_level_dataset['IMD5004'].unique()),
                                        'object','category',"PERCENT SEATS - UPPER HOUSE",
                                        "Seatshare - Upper House",list(party_level_dataset["IMD5004"].unique()),
                                        "seminumeric","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5005",len(party_level_dataset['IMD5005'].unique()),
                                        'object','category',"PERCENT VOTE - PRESIDENT",
                                        "Voteshare - President",list(party_level_dataset["IMD5005"].unique()),
                                        "seminumeric","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5011",len(party_level_dataset['IMD5011'].unique()),
                                        'object','category',"IDEOLOGICAL FAMILY",
                                        "Ideological Family",list(party_level_dataset["IMD5011"].unique()),
                                        "dummy","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5012",len(party_level_dataset['IMD5012'].unique()),
                                        'object','category',"LEFT-RIGHT",
                                        "Left-Right",list(party_level_dataset["IMD5012"].unique()),
                                        "seminumeric","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5029",len(party_level_dataset['IMD5029'].unique()),
                                        'object','category',"NUMBER OF PORTFOLIOS BEFORE",
                                        "No Portfolios Before Election",list(party_level_dataset["IMD5029"].unique()),
                                        "seminumeric","party"]
variable_manifest.loc[variable_manifest.index.max()+1]=["IMD5031",len(party_level_dataset['IMD5031'].unique()),
                                        'object','category',"NUMBER OF PORTFOLIOS AFTER",
                                        "No Portfolios After Election",list(party_level_dataset["IMD5031"].unique()),
                                        "seminumeric","party"]

In [11]:
# 999. MISSING                                     2401
# 0.0                                              1456
# 996. NOT APPLICABLE: UNICAMERAL SYSTEM           1350
# 997. NOT APPLICABLE: NO UPPER HOUSE ELECTION     1074
# 99. MISSING                                       862
# 997. NOT APPLICABLE: NO PRESIDENTIAL ELECTION     689
# 996. NOT APPLICABLE: NO ROLE OF PRESIDENT         540
# 9999999. MISSING                                  357
# 997. NOT APPLICABLE: NO LOWER HOUSE ELECTION      288
# 97. NOT APPLICABLE                                 40

# missing_vals = ["999. MISSING","996. NOT APPLICABLE: UNICAMERAL SYSTEM","997. NOT APPLICABLE: NO UPPER HOUSE ELECTION",
#  "99. MISSING","997. NOT APPLICABLE: NO PRESIDENTIAL ELECTION","996. NOT APPLICABLE: NO ROLE OF PRESIDENT",
#  "9999999. MISSING","997. NOT APPLICABLE: NO LOWER HOUSE ELECTION","97. NOT APPLICABLE",0]

# replace_dict = dict(zip(missing_vals,[np.nan]*len(missing_vals)))

## bunch of 0s in IMD5029, IMD5031 (min. portfolios before/after by party) which should be missing (because party identifier columns registers missing!)
## -> minor bug

# 37602006. ISRAEL (2006)	IMD5000_G: IMD5031 -> 2 ??? BUG!

# 15201999. CHILE (1999)	IMD5000_E: IMD5005 -> .4
# 44001997. LITHUANIA (1997)	IMD5000_F	IMD5000_E: IMD5005 -> .9
# Maybe they included data before dropping parties by 

## safe to drop all rows with missing party identifier

# discrepant_not_nulls = df[df["value"]=="9999999. MISSING"][party_base_variables[1:]].replace(replace_dict).notnull()
# df[df["value"]=="9999999. MISSING"][ discrepant_not_nulls.any(axis=1) ]

In [12]:
### save X-level datasets to pkls

### save any new variables to variable manifest (e.g. party level generic variables)

# Not so sure how

In [13]:
respondent_vars_level_dataset = CSES_int_final[["IMD1003"]+respondent_vars].copy()

In [14]:
election_study_level_dataset.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"election_study_level_dataset.pkl")
respondent_vars_level_dataset.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respondent_vars_level_dataset.pkl")
party_level_dataset.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"party_level_dataset.pkl")

In [15]:
#  "IMD1003": "ELECTION STUDY ID",
#  'IMD5000': 'PARTY IDENTIFIER',
#  'IMD5001': 'PERCENT VOTE - LOWER HOUSE',
#  'IMD5002': 'PERCENT SEATS - LOWER HOUSE',
#  'IMD5003': 'PERCENT VOTE - UPPER HOUSE',
#  'IMD5004': 'PERCENT SEATS - UPPER HOUSE',
#  'IMD5005': 'PERCENT VOTE - PRESIDENT',
#  'IMD5011': 'IDEOLOGICAL FAMILY',
#  'IMD5012': 'LEFT-RIGHT',
#  'IMD5029': 'NUMBER OF PORTFOLIOS BEFORE',
#  'IMD5031': 'NUMBER OF PORTFOLIOS AFTER'

In [16]:
# cses_variable_types

In [17]:
# missing_narrow = ["99. MISSING","9999. MISSING"]
# missing_narrow_dict = dict(zip(missing_narrow,[np.nan]*len(missing_narrow)))

# CSES_int_final[ flatten( [[x+y for y in base_date_dict[x]] for x in base_date_dict.keys()] ) ].replace(missing_narrow_dict).isnull().sum()

In [18]:
# missing_nonapp = ["96. NOT APPLICABLE: NO SECOND ROUND","9996. NOT APPLICABLE: NO SECOND ROUND"]
# missing_nonapp_dict = dict(zip(missing_nonapp,[np.nan]*len(missing_nonapp)))

# CSES_int_final[ flatten( [[x+y for y in base_date_dict[x]] for x in base_date_dict.keys()] ) ].replace(missing_nonapp_dict).isnull().sum()

In [19]:
# missing = ["96. NOT APPLICABLE: NO SECOND ROUND","99. MISSING","9996. NOT APPLICABLE: NO SECOND ROUND","9999. MISSING"]
# missing_dict = dict(zip(missing,[np.nan]*len(missing)))

# CSES_int_final[ flatten( [[x+y for y in base_date_dict[x]] for x in base_date_dict.keys()] ) ].replace(missing_dict).isnull().sum()
# #.stack().value_counts().head(50)

# # 96. NOT APPLICABLE: NO SECOND ROUND      537466
# # 99. MISSING                              323479
# # 9996. NOT APPLICABLE: NO SECOND ROUND    268733
# # 9999. MISSING                            138471

In [20]:
# CSES_int_final[ CSES_int_final["IMD5024_3"].replace(missing_dict).isnull()&CSES_int_final["IMD5024_3"].replace(missing_dict).isnull() ]["IMD1003"].unique()

In [21]:
# CSES_int_final["IMD5024_3"]

In [22]:
# CSES_int_final["IMD5024_1"].value_counts()

In [23]:
# hmm - what do you when you have partial dates?
# some sort of hassle where you interpolate ... maybe easier to look up and fix if it's only one or two cases?

# precision here may be a bit spurious, but not harmful
#- where unclear, I take it using the strict (lazy) interpretation of term limits

# IMD5024 date discrepancies
# Year present, month not
#'30002009. GREECE (2009)':'16 September 2011'

# Year present, day not
# '04002008. AUSTRIA (2008)':1,
# '10002014. BULGARIA (2014)':12,
#        '27602005. GERMANY (2005)':22,
#        '30012015. GREECE (2015)':25,
# 37202011. IRELAND (2011)':24,
#        '35202009. ICELAND (2009)':12,
#'37602006. ISRAEL (2006)':28,
#        '42802011. LATVIA (2011)':2,
# '52802006. NETHERLANDS (2006)':22

## IMD1013 is problematic!
## basically requires a whole bunch of special handling



## this covers the instances that have a year, but are missing day and/or month
CSES_int_final.loc[CSES_int_final["IMD1003"]=='30002009. GREECE (2009)',"IMD5024_2"]=16
CSES_int_final.loc[CSES_int_final["IMD1003"]=='30002009. GREECE (2009)',"IMD5024_1"]="09. SEPTEMBER"
CSES_int_final.loc[CSES_int_final["IMD1003"]=='04002008. AUSTRIA (2008)',"IMD5024_2"]=1
CSES_int_final.loc[CSES_int_final["IMD1003"]=='10002014. BULGARIA (2014)',"IMD5024_2"]=12
CSES_int_final.loc[CSES_int_final["IMD1003"]=='27602005. GERMANY (2005)',"IMD5024_2"]=22
CSES_int_final.loc[CSES_int_final["IMD1003"]=='30012015. GREECE (2015)',"IMD5024_2"]=25
CSES_int_final.loc[CSES_int_final["IMD1003"]=='37202011. IRELAND (2011)',"IMD5024_2"]=24
CSES_int_final.loc[CSES_int_final["IMD1003"]=='35202009. ICELAND (2009)',"IMD5024_2"]=12
CSES_int_final.loc[CSES_int_final["IMD1003"]=='37602006. ISRAEL (2006)',"IMD5024_2"]=28
CSES_int_final.loc[CSES_int_final["IMD1003"]=='42802011. LATVIA (2011)',"IMD5024_2"]=2
CSES_int_final.loc[CSES_int_final["IMD1003"]=='52802006. NETHERLANDS (2006)',"IMD5024_2"]=22

In [24]:
# CSES_int_final["IMD1013_Y"].replace(missing_dict).astype(float).groupby(CSES_int_final["IMD1003"]).apply(lambda x: x.max()-x.min()).dropna().sort_values()

# at most a year apart

In [25]:
# CSES_int_final["IMD1013_M"].replace(missing_dict).replace(date_replace_dict).astype(float).groupby(CSES_int_final["IMD1003"]).apply(lambda x: x.max()-x.min()).dropna().sort_values()

In [26]:
# int(np.ceil(np.random.rand(100,1)*30))

# np.random.rand(100,1)


# CSES_int_final


# election_dates.loc[CSES_int_final["IMD1003"]]+pd.Timedelta('25 days')

In [27]:
def get_date(x):
    if pd.notnull(x):
        return str(int(x))
    else:
        return "nan"
    
dmy_sub = ["_D","_M","_Y"]
num_sub = ["_2","_1","_3"]

flatten = lambda l: [item for sublist in l for item in sublist]
base_date_dict = {"IMD1011":dmy_sub,"IMD1012":dmy_sub,"IMD1013":dmy_sub,"IMD5024":num_sub,"IMD5025":num_sub}
base_date_dict_names = {"IMD1011":"DATE 1ST ROUND ELECTION BEGAN","IMD1012":"DATE 2ND ROUND ELECTION BEGAN",
                        "IMD1013":"DATE QUESTIONNAIRE ADMINISTERED","IMD5024":"DATE ELECTION SCHEDULED",
                        "IMD5025":"DATE ELECTION HELD"}    

date_replace_dict = {'01. JANUARY':1, '02. FEBRUARY':2, '03. MARCH':3, '04. APRIL':4, '05. MAY':5, '06. JUNE':6,
                     '07. JULY':7, '08. AUGUST':8, '09. SEPTEMBER':9, '10. OCTOBER':10, '11. NOVEMBER':11, '12. DECEMBER':12}


missing_narrow = ["99. MISSING","9999. MISSING",'96. [SEE ELECTION STUDY NOTES]']
missing_narrow_dict = dict(zip(missing_narrow,[np.nan]*len(missing_narrow))) 

# '99. MISSING'
missing = ["96. NOT APPLICABLE: NO SECOND ROUND","99. MISSING","9996. NOT APPLICABLE: NO SECOND ROUND","9999. MISSING","96. [SEE ELECTION STUDY NOTES]"]
missing_dict = dict(zip(missing,[np.nan]*len(missing)))


def is_missing(x):
    return (x == "99. MISSING")|(x=="9999. MISSING")|(x=="96. [SEE ELECTION STUDY NOTES]")
    

def create_date_column(base_int):
    
    d_str,m_str,y_str = tuple(base_date_dict[base_int])
    date_temp = CSES_int_final[[base_int+d_str,base_int+m_str,base_int+y_str]]
    #.replace(date_replace_dict).replace(missing_dict).astype('object')
    
    # only occurs in IMD1012 and is consistent for all date compoents
    non_applicable = date_temp[[base_int+d_str,base_int+m_str,base_int+y_str]]\
        .apply(lambda x: (x == "96. NOT APPLICABLE: NO SECOND ROUND")|(x=="9996. NOT APPLICABLE: NO SECOND ROUND")).any(axis=1)
    # missing values appear only in IMD1013 and IMD5024
    # no overlap - but script will break if you add a variable that does have overlap!

    
    year_and_month_present_missing_day = date_temp[base_int+d_str].apply(lambda x: is_missing(x))&\
                                        date_temp[base_int+m_str].apply(lambda x: not is_missing(x))&\
                                        date_temp[base_int+y_str].apply(lambda x: not is_missing(x))
    
    date_temp[base_int+d_str][year_and_month_present_missing_day]==18
    
    year_or_month_missing = date_temp[base_int+m_str].apply(lambda x: is_missing(x))|\
                            date_temp[base_int+y_str].apply(lambda x: is_missing(x))
    
    date_temp = date_temp.replace(date_replace_dict).replace(missing_dict).astype('object')    
    

#    date_temp = date_temp.replace(date_replace_dict).replace({"96. NOT APPLICABLE: NO SECOND ROUND","9996. NOT APPLICABLE: NO SECOND ROUND"])
    
#     # replace missing day with random day from 1-30
#     date_temp[base_int+d_str]= date_temp[base_int+d_str].apply(lambda x: x if pd.notnull(x) else int(np.ceil(np.random.rand())*30)  )

#         # replace missing day with random day from 1-30
#     date_temp[base_int+m_str]= date_temp[base_int+m_str].apply(lambda x: x if pd.notnull(x) else int(np.ceil(np.random.rand())*12)  )
    
    # if month and year present, but day missing -> replace with 18th (highest frequency, mid month, better than trying to recretate the exact dist)
    # if month or year not present -> replace with 25 days after election
    
    # specify which of these holds in non-resp
    
    # you need distinct handling for cases where it's legitimately missing
#     ["96. NOT APPLICABLE: NO SECOND ROUND","99. MISSING","9996. NOT APPLICABLE: NO SECOND ROUND","9999. MISSING"]

    
    null_date_rows = date_temp.isnull().any(axis=1)
    date = date_temp[base_int+d_str].apply(get_date).astype(str)+"\\"+\
        date_temp[base_int+m_str].apply(get_date).astype(str)+"\\"+\
        date_temp[base_int+y_str].apply(get_date).astype(str)
    date[null_date_rows] = np.nan
    
    merged_date = pd.to_datetime(date, format = "%d\%m\%Y")
    if base_int=="IMD1013": ## impute using election day
        merged_date[year_or_month_missing] = election_dates.loc[CSES_int_final["IMD1003"]][year_or_month_missing.values]+\
                                                pd.Timedelta('25 days')
    
    non_resp = merged_date.copy()
    non_resp = np.nan
    non_resp= pd.Series(index=  merged_date.index)
    non_resp[:] =np.nan
    non_resp[year_and_month_present_missing_day] = "year_and_month_present_missing_day"
    if base_int=="IMD1013": ## impute using election day
        non_resp[year_or_month_missing] = "year_or_month_missing"
    else:
        non_resp[year_or_month_missing] = "missing"
    
    non_resp[non_applicable] = "non_applicable"
    non_resp = non_resp.astype('category')
    
    
    return merged_date, non_resp
    

# IMD1011_X
# DATE 1ST ROUND ELECTION BEGAN
base_int = "IMD1011"
IMD1011_date,IMD1011_date_non_resp = create_date_column(base_int)
election_dates = IMD1011_date.groupby(CSES_int_final["IMD1003"]).first()

# IMD1012_X
# DATE 2ND ROUND ELECTION BEGAN
base_int = "IMD1012"
IMD1012_date,IMD1012_date_non_resp = create_date_column(base_int)

# DATE QUESTIONNAIRE ADMINISTERED
base_int = "IMD1013"
IMD1013_date,IMD1013_date_non_resp = create_date_column(base_int)

# IMD5024_X
# DATE ELECTION SCHEDULED
base_int = "IMD5024"
IMD5024_date,IMD5024_date_non_resp = create_date_column(base_int)

# IMD5025_X
# DATE ELECTION HELD
base_int = "IMD5025"
IMD5025_date,IMD5025_date_non_resp = create_date_column(base_int)

In [28]:
# %debug

# CSES_int_final["IMD1011_D"].dtype.categories.dtype.name
#.categories.dtype

# IMD1013_date[1].value_counts()
# IMD1013_date[0]
# IMD1013_date_non_resp.value_counts()


# (CSES_int_final[["IMD5024_2","IMD5024_1","IMD5024_3",]]=='96. [SEE ELECTION STUDY NOTES]').sum()

In [29]:
# average_questionnaire_dates_by_es = IMD1013_date.groupby(CSES_int_final["IMD1003"]).apply(lambda x: (x-pd.to_datetime("1/1/2010")).mean()+pd.to_datetime("1/1/2010"))
# range_questionnaire_dates_by_es = IMD1013_date.groupby(CSES_int_final["IMD1003"]).apply(lambda x: (x-pd.to_datetime("1/1/2010")).max() - (x-pd.to_datetime("1/1/2010")).min())
# range_questionnaire_dates_by_es.dropna().sort_values().tail(50)
# ### range goes up to 257 days
# std_questionnaire_dates_by_es = IMD1013_date.groupby(CSES_int_final["IMD1003"]).apply(lambda x: (x-pd.to_datetime("1/1/2010")).std())
# std_questionnaire_dates_by_es.sort_values().dt.days.replace(0,np.nan).dropna().mean()
# #.replace({pd.Timedelta('0 days'):np.nan}).dropna()
# ### std goes up to 74, mean of 10.44 days

# average_questionnaire_dates_by_es[average_questionnaire_dates_by_es.isnull()]

In [30]:
# CSES_int_final[CSES_int_final["IMD1003"]=="27602005. GERMANY (2005)"]["IMD1013_Y"].value_counts()

In [31]:
# (IMD1013_date - IMD1011_date).median(),(IMD1013_date - IMD1011_date).mean(),

# median 25 days after, mean 53 days after

In [32]:
# CSES_int_final["IMD1013_D"].value_counts()

In [33]:
# # DATE 1ST ROUND ELECTION BEGAN
# base_int = "IMD1011"
# d_str = "_D"
# m_str = "_M"
# y_str = "_Y"
# create_date_column(base_int,d_str,m_str,y_str)

In [34]:
# IMD1011_X
# DATE 1ST ROUND ELECTION BEGAN

# IMD1012_X
# DATE 2ND ROUND ELECTION BEGAN

# IMD1013_X
# DATE QUESTIONNAIRE ADMINISTERED

# IMD5024_X
# DATE ELECTION SCHEDULED

# IMD5025_X
# DATE ELECTION HELD




def get_date(x):
    if pd.notnull(x):
        return str(int(x))
    else:
        return "nan"
    
# def create_date_column(ser):
#     d_str,m_str,y_str = tuple(base_date_dict[ser.name])
    
#     date_temp = input_df[[ser.name+d_str,ser.name+m_str,ser.name+y_str]].copy()
#     date_temp_non_resp = date_temp.apply(lambda x: x if not isnum(x) and re.match(pattern,x) else np.nan).astype('category')
    
#     null_date_rows = input_df[[ser.name+d_str,ser.name+m_str,ser.name+y_str]].isnull().any(axis=1)
#     date = input_df[ser.name+d_str].apply(get_date)+"\\"+input_df[ser.name+m_str].apply(get_date)+"\\"+input_df[ser.name+y_str].apply(get_date)
#     date[null_date_rows] = np.nan
    
    
    
#     non_resp = ser.apply(lambda x: x if not isnum(x) and re.match(pattern,x) else np.nan).astype('category').copy()    
#     non_resp.name = ser.name+"_DK"
#     non_resp_cont_inf = non_resp.value_counts().sort_index().to_dict()    
    
    
#     return pd.to_datetime(date, format = "%d\%m\%Y")    
    
def add_manifest_entry(resp_name,variable,response_type,resp_rows,non_resp_rows,resp_cont_inf,variable_type):
    # response_type = "response"|"nonresponse"
    #
    # get next manifest index
    if process_variable_manifest.shape[0]==0:
        man_ind = 0
    else:
        man_ind = np.max(process_variable_manifest.index)+1
    if variable_type=="date":
        base_int = resp_name.replace("_DAT","").replace("_DK","")
        process_variable_manifest.loc[man_ind] = [resp_name,
                                                  [resp_name+x for x in base_date_dict[base_int]],
                                                  base_date_dict_names[base_int],
                                                  response_type,
                                                  resp_rows,
                                                  non_resp_rows,
                                                  resp_cont_inf,
                                                  variable_type,
                                                  variable_manifest.set_index("index").loc[variable,"variable structural type"],

                                                 ]            
    elif variable_type=="dummy":
        process_variable_manifest.loc[man_ind] = [resp_name,
                                                  variable,
                                                  variable_manifest.set_index("index").loc[variable,"Short Description"],
                                                  response_type,
                                                  resp_rows,
                                                  non_resp_rows,
                                                  resp_cont_inf,
                                                  variable_type,
                                                  variable_manifest.set_index("index").loc[variable,"variable structural type"],

                                                 ]    
        
    else:
        process_variable_manifest.loc[man_ind] = [resp_name,
                                                  variable,
                                                  variable_manifest.set_index("index").loc[variable,"Short Description"]+"["+resp_name.split("_")[-1]+"]",
                                                  response_type,
                                                  resp_rows,
                                                  non_resp_rows,
                                                  resp_cont_inf,
                                                  variable_type,
                                                  variable_manifest.set_index("index").loc[variable,"variable structural type"],

                                                 ]

In [35]:
# re.match(pattern,'99. MISSING')

In [36]:
pattern = "(9{2,8}\d?\.(00)?\.?)|(.*\[SEE ELECTION STUDY NOTES\])|(.*DON'T KNOW)|(.*REFUSED)|(.*NOT APPLICABLE)|(.*MISSING)|(.*Transition Periods)"

seminumeric_replace_dict = {"10. Democratic":10,"-10. AUTOCRATIC":-10,"00.00 THERE IS NO THRESHOLD":0,
                           "00. LEFT":0.0,"10. RIGHT":10.0}


def isnum(x):
    return str(x).replace('.','',1).replace('-','',1).isdigit()

def list_categories(ser):
    return "|".join([str(x) for x in ser.cat.categories])


def process_var(ser,var_type):
    non_resp = ser.apply(lambda x: x if not isnum(x) and re.match(pattern,x) else np.nan).astype('category').copy()    
    non_resp.name = ser.name+"_DK"
    non_resp_cont_inf = non_resp.value_counts().sort_index().to_dict()
    
    if var_type == "seminumeric":
        
        resp=ser.copy()
        
        if ser.dtype.name=='object':
            resp = resp.replace(seminumeric_replace_dict)
        # FIX LATER
        
        resp = resp.apply(lambda x: x if isnum(x) else np.nan).astype('float32').copy()
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_NUM"
        resp_cont_inf = (resp.min(),resp.max())
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf
    
    elif var_type == "ordinal":
        
        resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        resp_cont_inf = dict(zip(resp.cat.categories,
                             range(0,len(resp.cat.categories))))
        
        resp = resp.cat.codes.replace(-1,np.nan).astype('float32')
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_ORD"
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf
    
    elif var_type == "dummy":
        
        resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        resp_cont_inf = resp.value_counts().sort_index().to_dict()
        
        resp = pd.get_dummies( resp, prefix = ser.name )
        #resp.name = ser.name
        
        ## should we change this to numbers???
        
        assert (non_resp.notnull().sum()+resp.any(axis=1).sum()) == ser.shape[0]
        
#         resp.name = ser.name+"_DUM"
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf    
    
    elif var_type == "party":
        
        ## change to replacing with partyfacts_id
        
#         resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories).apply(lambda x: float(x[0:7]) if pd.notnull() else np.nan).astype('float32')
        resp = ser.apply(lambda x: cses_to_partyfacts_final.loc[x]).astype(float)
        resp_cont_inf = (resp.min(),resp.max())
        resp.name = ser.name+"_PTY"

    
        non_resp = ser.copy()
        non_resp[resp.notnull()]=np.nan
        #ser.apply(lambda x: x if not isnum(x) and re.match(pattern,x) else np.nan).astype('category').copy()    
        non_resp.name = ser.name
        non_resp.name = non_resp.name+"_DK"
        non_resp_cont_inf = non_resp.value_counts().sort_index().to_dict()    
        
        
        # what information would you really want here for party data?
        # should I change this with partyfacts_ids - go for min/max?
        #resp.value_counts().sort_index().to_dict()
        
#         resp.name = ser.name
        
        ## should we change this to numbers???
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        

        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf
    
    elif var_type == "date":
        
        resp=ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        
        if (resp.dtype.name=='object') or (resp.dtype.name=='category' and resp.cat.categories.dtype!='int64'):
            resp = resp.replace(date_replace_dict)
                
                
#         base_int = ser.name
        base_int = ser.name.split("_")[0]   
                
        resp, non_resp = create_date_column(base_int)
        
        
        
        
        
        # what information would you really want here for party data?
        resp_cont_inf = resp.value_counts().sort_index().to_dict()
        
        
        
        ## should we change this to numbers???
        
#         assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = base_int+"_DAT"
        non_resp.name = base_int+"_DK"
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf    
    
        ## some final processing here to get datetimes
        # maybe separate variables?
        
    elif var_type == "meta":
                        
        resp = ser.astype('category').cat.remove_categories(non_resp.cat.categories)
        
        # what information would you really want here for party data?
        resp_cont_inf = resp.value_counts().sort_index().to_dict()
        
#         resp = pd.get_dummies( resp, prefix = ser.name )
        resp.name = ser.name
        
        ## should we change this to numbers???
        
        assert (non_resp.notnull().sum()+resp.notnull().sum()) == ser.shape[0]
        
        resp.name = ser.name+"_MET"
        
        
        return non_resp,resp,non_resp_cont_inf,resp_cont_inf           

    
    # Date?

In [37]:
# maybe also want "display names" (descriptions)
    
def process_dataset(input_df,process_variable_manifest):
    resp_df     = pd.DataFrame()
    non_resp_df = pd.DataFrame()

    for variable_type in ["seminumeric","ordinal","dummy","date","meta","drop","party"]:
    #["date","meta","ordinal","drop"]:
    #["seminumeric","ordinal","dummy"]:
        specific_vars = set(input_df.columns).intersection(set(variable_manifest[variable_manifest["variable type"]==variable_type]["index"].values))
        if variable_type=="drop":
            continue
            


        for variable in specific_vars:
            ## only trigger on *one* of the date variable components
            if variable_type=="date" and (variable not in [x+base_date_dict[x][0] for x in base_date_dict.keys()]):
                continue
            
            (non_resp,resp,non_resp_cont_inf,resp_cont_inf) = process_var(input_df[variable],
                                                                          variable_type)






            # add non_resp to relevant dataframe    
            non_resp_rows = non_resp.notnull().sum()
            non_resp_df[non_resp.name] = non_resp

            if isinstance(resp,pd.Series):

                # add resp to relevant dataframe    
                resp_rows = resp.notnull().sum()
                resp_df[resp.name] = resp

                add_manifest_entry(resp.name,variable,"response",resp_rows,non_resp_rows,resp_cont_inf,variable_type)
#                 # get next manifest index
#                 if process_variable_manifest.shape[0]==0:
#                     man_ind = 0
#                 else:
#                     man_ind = np.max(process_variable_manifest.index)+1

#                 process_variable_manifest.loc[man_ind] = [resp.name,
#                                                           variable,
#                                                           variable_manifest.set_index("index").loc[variable,"descr"],
#                                                           "response",
#                                                           resp_rows,
#                                                           non_resp_rows,
#                                                           resp_cont_inf,
#                                                           variable_type,
#                                                           variable_manifest.set_index("index").loc[variable,"variable structural type"],

#                                                          ]
            else:
                for col in resp.columns:

                    # add resp to relevant dataframe    
                    resp_rows = resp.any(axis=1).sum()
                    resp_df[resp[col].name] = resp[col]

                    add_manifest_entry(resp[col].name,variable,"response",resp_rows,non_resp_rows,resp_cont_inf,variable_type)
#                     # get next manifest index
#                     if process_variable_manifest.shape[0]==0:
#                         man_ind = 0
#                     else:
#                         man_ind = np.max(process_variable_manifest.index)+1

#                     process_variable_manifest.loc[man_ind] = [resp[col].name,
#                                                               variable,
#                                                               variable_manifest.set_index("index").loc[variable,"descr"],
#                                                               "response",
#                                                               resp_rows,
#                                                               non_resp_rows,
#                                                               resp_cont_inf,
#                                                               variable_type,
#                                                               variable_manifest.set_index("index").loc[variable,"variable structural type"],

#                                                              ]            

            add_manifest_entry(non_resp.name,variable,"non-response",resp_rows,non_resp_rows,resp_cont_inf,variable_type)
#             # get next manifest index
#             if process_variable_manifest.shape[0]==0:
#                 man_ind = 0
#             else:
#                 man_ind = np.max(process_variable_manifest.index)+1    

#             process_variable_manifest.loc[man_ind] = [non_resp.name,
#                                                       variable,
#                                                       variable_manifest.set_index("index").loc[variable,"descr"],
#                                                       "non-response",
#                                                       resp_rows,
#                                                       non_resp_rows,
#                                                       non_resp_cont_inf,
#                                                       variable_type,
#                                                       variable_manifest.set_index("index").loc[variable,"variable structural type"],

#                                                      ]    
    return resp_df,non_resp_df,process_variable_manifest
    
# ["new_variable_name",
# "source_variable_name",
# "response/non-response",
# "resp_rows",
# "non_resp_rows",
# "contents_inf",
# "variable type",
# "variable structural type"]    
    
    

# spit out

# response column/s
# non-response columns

# create meaningful names for each
# record in manifesto dataframe

# source variable|resp/non-respone|new name|categories inf|rows-resp|rows-non-resp

# categories inf
#  non-resp = sorted category set
#  semi-numeric = min,max
#  ordinal = code -> value dict
#  dummy = largest category??

# balance of rows of resp/non-resp?


# SHORTNAME!

# dummy variables - useful to know what the largest category is (in case used as 'base' - can you do that when you have missing values?)

# process_variable_manifest

In [38]:
# %%time


input_df = respondent_vars_level_dataset.copy()

process_variable_manifest = pd.DataFrame(columns = ["new_variable_name",
                                                    "source_variable_name",
                                                    "description",
                                                    "response/non-response",
                                                    "resp_rows",
                                                    "non_resp_rows",
                                                    "contents_inf",
                                                    "variable type",
                                                    "variable structural type"])


resp_df,nonresp_df,process_variable_manifest = process_dataset(input_df,process_variable_manifest)
# process_variable_manifest

In [39]:
# %debug

In [40]:
%%time


input_df = election_study_level_dataset.copy()

# process_variable_manifest = pd.DataFrame(columns = ["new_variable_name",
#                                                     "source_variable_name",
#                                                     "description",
#                                                     "response/non-response",
#                                                     "resp_rows",
#                                                     "non_resp_rows",
#                                                     "contents_inf",
#                                                     "variable type",
#                                                     "variable structural type"])


es_resp_df,es_nonresp_df,process_variable_manifest = process_dataset(input_df,process_variable_manifest)
# process_variable_manifest

Wall time: 16.6 s

In [167]:
%%time

input_df = party_level_dataset.copy()

party_resp_df,party_nonresp_df,process_variable_manifest = process_dataset(input_df,process_variable_manifest)

Wall time: 716 ms

In [42]:
# party_resp_df

In [168]:
party_resp_df

,IMD5003_NUM,IMD5002_NUM,IMD5001_NUM,IMD5005_NUM,IMD5012_NUM,IMD5029_NUM,IMD5031_NUM,IMD5004_NUM,IMD5011_1. ECOLOGY PARTIES,IMD5011_10. NATIONAL PARTIES,...,IMD5011_5. LEFT LIBERAL PARTIES,IMD5011_6. LIBERAL PARTIES,IMD5011_7. RIGHT LIBERAL PARTIES,IMD5011_8. CHRISTIAN DEMOCRATIC PARTIES,IMD5011_9. CONSERVATIVE PARTIES,IMD5011_90. OTHER,IMD5011_98. NO IDEOLOGICAL FAMILY MENTIONED,IMD1003_MET,partyfacts_id_MET,party_letter_MET
0,NaN,40.000000,44.060001,NaN,6.0,0.0,12.0,NaN,0,0,...,0,0,0,0,1,0,0,00802005. ALBANIA (2005),190,A
1,32.720001,43.849998,37.400002,NaN,4.0,21.0,0.0,54.169998,0,0,...,1,0,0,0,0,0,0,03202015. ARGENTINA (2015),2530,A
2,36.099998,33.099998,38.700001,NaN,4.5,NaN,NaN,38.099998,0,0,...,0,0,0,0,0,0,0,03601996. AUSTRALIA (1996),424,A
3,43.369999,50.000000,40.470001,NaN,6.0,14.0,14.0,45.000000,0,0,...,0,0,1,0,0,0,0,03602004. AUSTRALIA (2004),1998,A
4,40.299999,55.330002,43.380001,NaN,3.0,0.0,21.0,45.000000,0,0,...,0,0,0,0,0,0,0,03602007. AUSTRALIA (2007),424,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1265,NaN,NaN,NaN,0.76,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,1,0,64302004. RUSSIA (2004),7409,I
1266,NaN,0.000000,4.940000,NaN,8.0,0.0,0.0,NaN,0,0,...,0,0,0,1,0,0,0,70302016. SLOVAKIA (2016),63,I
1267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,75202006. SWEDEN (2006),1240,I
1268,NaN,0.000000,3.120000,NaN,2.0,0.0,0.0,NaN,0,0,...,0,0,0,0,0,1,0,75202014. SWEDEN (2014),1240,I
1269,NaN,0.000000,0.250000,NaN,4.0,0.0,0.0,NaN,0,0,...,0,0,0,0,0,0,0,79202011. TURKEY (2011),1740,I

In [146]:
party_resp_df.columns

Index(['IMD5003_NUM', 'IMD5002_NUM', 'IMD5001_NUM', 'IMD5005_NUM',
       'IMD5012_NUM', 'IMD5029_NUM', 'IMD5031_NUM', 'IMD5004_NUM',
       'IMD5011_1. ECOLOGY PARTIES', 'IMD5011_10. NATIONAL PARTIES',
       'IMD5011_11. AGRARIAN PARTIES', 'IMD5011_12. ETHNIC PARTIES',
       'IMD5011_13. REGIONAL PARTIES', 'IMD5011_14. INDEPENDENT PARTIES',
       'IMD5011_16. RELIGIOUS PARTIES', 'IMD5011_17. SINGLE ISSUE PARTIES',
       'IMD5011_18. SOCIAL-LIBERAL', 'IMD5011_19. EXTREME LEFT',
       'IMD5011_2. COMMUNIST PARTIES', 'IMD5011_21. EXTREME NATIONALIST',
       'IMD5011_22. NATIONALIST LEFT', 'IMD5011_23. EXTREME RIGHT',
       'IMD5011_24. CENTRIST', 'IMD5011_25. COMMUNIST-GREEN',
       'IMD5011_26. ORTHODOX-CALVINIST', 'IMD5011_3. SOCIALIST PARTIES',
       'IMD5011_4. SOCIAL DEMOCRATIC PARTIES',
       'IMD5011_5. LEFT LIBERAL PARTIES', 'IMD5011_6. LIBERAL PARTIES',
       'IMD5011_7. RIGHT LIBERAL PARTIES',
       'IMD5011_8. CHRISTIAN DEMOCRATIC PARTIES',
       'IMD5011_9. CONSERVATIVE PARTIES', 'IMD5011_90. OTHER',
       'IMD5011_98. NO IDEOLOGICAL FAMILY MENTIONED', 'IMD1003_MET',
       'partyfacts_id_MET', 'party_letter_MET'],
      dtype='object')

In [43]:
#### Creating Weighted Aggregates of Respondent Variables Grouped by Partyfacts Id (or anything)

In [44]:
### WEIGHTS

#  | Sample weights include those intended to correct for unequal
#  | selection probabilities resulting from "booster" samples,
#  | procedures for selection within the household, non-response,
#  | as well as other features of the sample design.
#  |
#  | Demographic weights adjust sample distributions of socio-
#  | demographic characteristics to more closely resemble the
#  | characteristics of the population.
#  |
#  | Political weights reconcile discrepancies in the reported
#  | electoral behavior of the survey respondents from the
#  | official vote counts.

# they don't advise combining weights (I'm not 100% clear why)

# but you will need to standardise the weights
# - within election studies (already done for IMD weights)
# - between election studies to equalise their effective sample size

# sample_size_per_ES = CSES_int_final["IMD1010_1"].groupby(CSES_int_final["IMD1003"]).sum()
# sample_weights_ssadj = CSES_int_final["IMD1010_1"].values/sample_size_per_ES.loc[CSES_int_final["IMD1003"]].values

# sample_size_per_ES = CSES_int_final["IMD1010_2"].groupby(CSES_int_final["IMD1003"]).sum()
# demographic_weights_ssadj = CSES_int_final["IMD1010_2"].values/sample_size_per_ES.loc[CSES_int_final["IMD1003"]].values

# sample_size_per_ES = CSES_int_final["IMD1010_3"].groupby(CSES_int_final["IMD1003"]).sum()
# political_weights_ssadj = CSES_int_final["IMD1010_3"].values/sample_size_per_ES.loc[CSES_int_final["IMD1003"]].values

In [45]:
# resp_df,nonresp_df,process_variable_manifest

In [46]:
# resp_df


# weighted aggregate <N/mean/std?> over all variables grouped by focal variable <e.g. party reference variable!>

# choose focal variable (or pair of variables - Partyfacts_id x Election Study/Year)
# get null mask series

# choose weight type
# equalise weights across all election studies Yes/No


# since we're necessarily weighting *per election study* - prob want to track max/min weight



## weight_var = ""
## groupby_vars = ["",""]
## then we'll have to apply it to *only numeric variables*




# sidenote: amalgamate lots of party ref variables to create the broadest possible (voter/supporter/)???

In [47]:
# search(resp_df,"IMD1010")

In [48]:
# resp_df["IMD1010_1_MET"].astype(float)

In [49]:
# resp_df.select_dtypes('number')

In [50]:
# resp_df.dtypes.value_counts()

In [51]:
# resp_df.columns[resp_df.dtypes=="category"]
#     datetime64[ns]           : 'IMD1013_DAT'

In [52]:
# weight_var = "IMD1010_1"
# groupby_vars = ["IMD3005_3_PTY"]
                
# resp_df.groupby(groupby_vars).mean()
# resp_df.groupby(groupby_vars).count()

In [53]:
process_variable_manifest

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
0,IMD1014_1_NUM,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,281024,35224,"(0.0, 362.0)",seminumeric,respondent
1,IMD1014_1_DK,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,non-response,281024,35224,"(0.0, 362.0)",seminumeric,respondent
2,IMD2001_1_NUM,IMD2001_1,AGE OF RESPONDENT (IN YEARS),response,309649,6599,"(15.0, 115.0)",seminumeric,respondent
3,IMD2001_1_DK,IMD2001_1,AGE OF RESPONDENT (IN YEARS),non-response,309649,6599,"(15.0, 115.0)",seminumeric,respondent
4,IMD1014_2_NUM,IMD1014_2,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,35437,280811,"(1.0, 275.0)",seminumeric,respondent
...,...,...,...,...,...,...,...,...,...
445,IMD1003_DK,IMD1003,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),non-response,1270,0,"{'00802005. ALBANIA (2005)': 9, '03202015. ARG...",meta,country
446,partyfacts_id_MET,partyfacts_id,Partyfacts Id,response,1270,0,"{3: 4, 4: 4, 6: 3, 29: 4, 36: 1, 41: 1, 42: 1,...",meta,party
447,partyfacts_id_DK,partyfacts_id,Partyfacts Id,non-response,1270,0,"{3: 4, 4: 4, 6: 3, 29: 4, 36: 1, 41: 1, 42: 1,...",meta,party
448,party_letter_MET,party_letter,dataset letter key,response,1270,0,"{'A': 191, 'B': 189, 'C': 185, 'D': 184, 'E': ...",meta,party
449,party_letter_DK,party_letter,dataset letter key,non-response,1270,0,"{'A': 191, 'B': 189, 'C': 185, 'D': 184, 'E': ...",meta,party

In [54]:
# process_variable_manifest["variable structural type"]

In [63]:
# desired_variables = process_variable_manifest[(process_variable_manifest["variable structural type"]=="respondent")&\
#                           (process_variable_manifest["response/non-response"]=="response")&\
#                           (process_variable_manifest["variable type"]\
#                                .apply(lambda x: x in ["ordinal","dummy","seminumeric"]))]["new_variable_name"]

# # dates are a pain to deal with!

In [65]:
def weighted_mean(x, **kws):
    if len(x)==0:
        return np.nan    
    val, weight = map(np.asarray, zip(*x))

#     mask = (~np.isnan(val))&(~np.isnan(weight))
    mask = (~pd.isnull(val))&(~pd.isnull(weight))
    val, weight = val[mask],weight[mask]
    return (val * weight).sum() / weight.sum()

def weighted_std(x, **kws):
    if len(x)==0:
        return np.nan        
    val, weight = map(np.asarray, zip(*x))
#     mask = (~np.isnan(val))&(~np.isnan(weight))
    mask = (~pd.isnull(val))&(~pd.isnull(weight))
    val, weight = val[mask],weight[mask]
    no_non_zero_weights = (weight!=0).sum()
    return (((val-np.mean(val)).pow(2)) * weight).sum() / (((no_non_zero_weights-1)/no_non_zero_weights)*weight.sum())

In [192]:
# def weighted_resp_df(weight_var,groupby_vars,desired_output_cols,not_weighted=False,):
#     if not_weighted:
#         return resp_df[desired_output_cols+groupby_vars].groupby(groupby_vars).mean()
    
#     return resp_df.groupby(groupby_vars).apply(lambda x: np.average(x, weights=x.value))
#     np.average(x.wt, weights=x.value)


def weighted_resp_df(weight_var,groupby_vars,desired_output_cols,not_weighted=False,equalise_es_weights= True):
    if not_weighted:
        return resp_df[desired_output_cols+groupby_vars].groupby(groupby_vars).mean(),\
            resp_df[desired_output_cols+groupby_vars].groupby(groupby_vars).count()

    
    output_df_mean = pd.DataFrame()
    output_df_count = pd.DataFrame()
    output_df_std =  pd.DataFrame()

    for col in desired_output_cols:

    #     col = "IMD2006_ORD"

        mask = resp_df[col].notnull()
        weights = resp_df[weight_var][mask].astype(float)
        if equalise_es_weights:
            sample_size_per_ES = weights.groupby(resp_df["IMD1003_MET"][mask]).sum()
            weights = weights.values/sample_size_per_ES.loc[resp_df["IMD1003_MET"][mask]].values

        temp = pd.Series(list(zip(resp_df[col][mask],weights)))
        gpby = resp_df[groupby_vars][mask]
#         output_df_mean[col] = temp.groupby(resp_df[groupby_vars[0][mask]).apply(weighted_mean)
#         output_df_std[col] = temp.groupby(resp_df[groupby_vars[0]][mask]).apply(weighted_mean)
#         output_df_count[col] = temp.groupby(resp_df[groupby_vars[0]][mask]).count()
        output_df_mean[col] = temp.groupby([resp_df[x] for x in groupby_vars]).apply(weighted_mean)
        output_df_std[col] = temp.groupby([resp_df[x] for x in groupby_vars]).apply(weighted_mean)
        output_df_count[col] = temp.groupby([resp_df[x] for x in groupby_vars]).count()

    ## other forms of 
    return output_df_mean,output_df_count,output_df_std

In [68]:
desired_variables = process_variable_manifest[(process_variable_manifest["variable structural type"]=="respondent")&\
                          (process_variable_manifest["response/non-response"]=="response")&\
                          (process_variable_manifest["variable type"]\
                               .apply(lambda x: x in ["ordinal","dummy","seminumeric"]))]["new_variable_name"]

# dates are a pain to deal with, so dropped

desired_variables = desired_variables.values

In [73]:
%%time
party_ref_respondent_variables = process_variable_manifest[(process_variable_manifest["variable structural type"]=="respondent")&\
                          (process_variable_manifest["response/non-response"]=="response")&\
                          (process_variable_manifest["variable type"]=="party")]["new_variable_name"].values


highest_freq_party_ref = resp_df[party_ref_respondent_variables].apply(lambda x: x.dropna().value_counts().head(1).index[0] if not x.isnull().all() else np.nan ,axis=1)
resp_df["highest_freq_party_ref"] = highest_freq_party_ref

Wall time: 7min 44s

In [269]:
# [x.replace("_PTY","") for x in ['IMD3004_UH_DC_3_PTY', 'IMD3005_3_PTY', 'IMD3002_LH_DC_PTY',
#        'IMD3002_UH_DC_2_PTY', 'IMD3002_PR_2_PTY', 'IMD3002_UH_PL_PTY',
#        'IMD3004_UH_PL_PTY', 'IMD3002_UH_DC_4_PTY', 'IMD3004_LH_PL_PTY',
#        'IMD3002_PR_1_PTY', 'IMD3002_LH_PL_PTY', 'IMD3004_UH_DC_2_PTY',
#        'IMD3004_LH_DC_PTY', 'IMD3004_PR_2_PTY', 'IMD3002_UH_DC_3_PTY',
#        'IMD3004_UH_DC_1_PTY', 'IMD3004_PR_1_PTY', 'IMD3002_UH_DC_1_PTY']]

['IMD3004_UH_DC_3',
 'IMD3005_3',
 'IMD3002_LH_DC',
 'IMD3002_UH_DC_2',
 'IMD3002_PR_2',
 'IMD3002_UH_PL',
 'IMD3004_UH_PL',
 'IMD3002_UH_DC_4',
 'IMD3004_LH_PL',
 'IMD3002_PR_1',
 'IMD3002_LH_PL',
 'IMD3004_UH_DC_2',
 'IMD3004_LH_DC',
 'IMD3004_PR_2',
 'IMD3002_UH_DC_3',
 'IMD3004_UH_DC_1',
 'IMD3004_PR_1',
 'IMD3002_UH_DC_1']

In [227]:
%%time
weight_var = "IMD1010_1_MET"
resp_df["year"] = resp_df["IMD1003_MET"].apply(lambda x: int(x.split("(")[1][0:4]))
groupby_vars = ["highest_freq_party_ref","ELECTORAL EVENT"]
desired_output_cols = desired_variables
# ["IMD2006_ORD",]+list(search(resp_df,"IMD2003").index)
# weighted_resp_df(weight_var,groupby_vars,desired_output_cols,not_weighted=True)
equalise_es_weights= True

output_df_mean,output_df_count,output_df_std = weighted_resp_df(weight_var,groupby_vars,desired_variables,not_weighted=False,equalise_es_weights= True)

Wall time: 2min 23s

In [228]:
output_df_mean = output_df_mean.reset_index().rename(columns = {"highest_freq_party_ref":"partyfacts_id"})
output_df_mean["partyfacts_id"]=output_df_mean["partyfacts_id"].astype(int)
output_df_mean.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_mean_ptryr.pkl")

output_df_count = output_df_count.reset_index().rename(columns = {"highest_freq_party_ref":"partyfacts_id"})
output_df_count["partyfacts_id"]=output_df_count["partyfacts_id"].astype(int)
output_df_count.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_count_ptryr.pkl")

output_df_std = output_df_std.reset_index().rename(columns = {"highest_freq_party_ref":"partyfacts_id"})
output_df_std["partyfacts_id"]=output_df_std["partyfacts_id"].astype(int)
output_df_std.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_std_ptryr.pkl")

In [197]:
%%time
weight_var = "IMD1010_1_MET"
resp_df["year"] = resp_df["IMD1003_MET"].apply(lambda x: int(x.split("(")[1][0:4]))
groupby_vars = ["highest_freq_party_ref"]
desired_output_cols = desired_variables
# ["IMD2006_ORD",]+list(search(resp_df,"IMD2003").index)
# weighted_resp_df(weight_var,groupby_vars,desired_output_cols,not_weighted=True)
equalise_es_weights= True

output_df_mean,output_df_count,output_df_std = weighted_resp_df(weight_var,groupby_vars,desired_variables,not_weighted=False,equalise_es_weights= True)

Wall time: 2min 9s

In [198]:
output_df_mean = output_df_mean.reset_index().rename(columns = {"highest_freq_party_ref":"partyfacts_id"})
output_df_mean["partyfacts_id"]=output_df_mean["partyfacts_id"].astype(int)
output_df_mean.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_mean.pkl")

output_df_count = output_df_count.reset_index().rename(columns = {"highest_freq_party_ref":"partyfacts_id"})
output_df_count["partyfacts_id"]=output_df_count["partyfacts_id"].astype(int)
output_df_count.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_count.pkl")

output_df_std = output_df_std.reset_index().rename(columns = {"highest_freq_party_ref":"partyfacts_id"})
output_df_std["partyfacts_id"]=output_df_std["partyfacts_id"].astype(int)
output_df_std.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_std.pkl")

In [75]:
# output_df_mean,output_df_count,output_df_std



# pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_int_final.pkl")

In [76]:
output_df_mean.index = [int(x) for x in output_df_mean.index]
output_df_mean.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_mean.pkl")

output_df_count.index = [int(x) for x in output_df_count.index]
output_df_count.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_count.pkl")

output_df_std.index = [int(x) for x in output_df_std.index]
output_df_std.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"respond_sample_broad_std.pkl")

In [ ]:
# output_df_std

In [77]:
process_variable_manifest[ process_variable_manifest["new_variable_name"].apply(lambda x: len(x.split("_"))==1)]

Empty DataFrame
Columns: [new_variable_name, source_variable_name, description, response/non-response, resp_rows, non_resp_rows, contents_inf, variable type, variable structural type]
Index: []

In [ ]:
# %debug
# temp

# resp_df[groupby_vars][mask]
# output_df_mean

,IMD5003_NUM,IMD5002_NUM,IMD5001_NUM,IMD5005_NUM,IMD5012_NUM,IMD5029_NUM,IMD5031_NUM,IMD5004_NUM,IMD5011_1. ECOLOGY PARTIES,IMD5011_10. NATIONAL PARTIES,...,IMD5011_5. LEFT LIBERAL PARTIES,IMD5011_6. LIBERAL PARTIES,IMD5011_7. RIGHT LIBERAL PARTIES,IMD5011_8. CHRISTIAN DEMOCRATIC PARTIES,IMD5011_9. CONSERVATIVE PARTIES,IMD5011_90. OTHER,IMD5011_98. NO IDEOLOGICAL FAMILY MENTIONED,IMD1003_MET,partyfacts_id_MET,party_letter_MET
0,NaN,40.000000,44.060001,NaN,6.0,0.0,12.0,NaN,0,0,...,0,0,0,0,1,0,0,00802005. ALBANIA (2005),190,A
1,32.720001,43.849998,37.400002,NaN,4.0,21.0,0.0,54.169998,0,0,...,1,0,0,0,0,0,0,03202015. ARGENTINA (2015),2530,A
2,36.099998,33.099998,38.700001,NaN,4.5,NaN,NaN,38.099998,0,0,...,0,0,0,0,0,0,0,03601996. AUSTRALIA (1996),424,A
3,43.369999,50.000000,40.470001,NaN,6.0,14.0,14.0,45.000000,0,0,...,0,0,1,0,0,0,0,03602004. AUSTRALIA (2004),1998,A
4,40.299999,55.330002,43.380001,NaN,3.0,0.0,21.0,45.000000,0,0,...,0,0,0,0,0,0,0,03602007. AUSTRALIA (2007),424,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1717,NaN,NaN,NaN,0.76,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,1,0,64302004. RUSSIA (2004),7409,I
1720,NaN,0.000000,4.940000,NaN,8.0,0.0,0.0,NaN,0,0,...,0,0,0,1,0,0,0,70302016. SLOVAKIA (2016),63,I
1733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,...,0,0,0,0,0,0,0,75202006. SWEDEN (2006),1240,I
1734,NaN,0.000000,3.120000,NaN,2.0,0.0,0.0,NaN,0,0,...,0,0,0,0,0,1,0,75202014. SWEDEN (2014),1240,I
1742,NaN,0.000000,0.250000,NaN,4.0,0.0,0.0,NaN,0,0,...,0,0,0,0,0,0,0,79202011. TURKEY (2011),1740,I

In [ ]:
# highest_freq_party_ref.notnull().sum()

In [ ]:
# resp_df["IMD3005_3_PTY"].notnull().sum()

In [ ]:
resp_df

In [ ]:
### Turn Left-Right Party/like-dislike Party/like-dislike Leader into


# (1) Single Party Reference for respondent level dataset -> resp_df
    # need a function that takes in 0-9 (modes are 6 and 0!) values and chooses one
    # best liked party, best like leader, party closest to left-right pos

# (2) Party level x Election Study aggregates (one for each weight??) -> party_level dataset

In [78]:
resp_df[[x for x in resp_df.columns if "IMD3007" in x]].notnull().sum(axis=1).value_counts()


# IMD3007_[A-I] -> Left-Right Party (there is a self measure in IMD)
# IMD3008_[A-I] -> like-dislike Party
# IMD3009_[A-I] -> like-dislike Leader (associated with party A-F)

6    70896
0    62002
5    41699
7    39094
8    31628
9    21298
4    19867
2    14275
3    10247
1     5242
dtype: int64

In [136]:
party_level_dataset = party_level_dataset.reset_index()

In [147]:
%%time
party_level_dataset = party_level_dataset.set_index(["IMD1003","party_letter"])
# weights to 
weight_name = {"1":"SAM","2":"DEM","3":"POL"}

for weight in weight_name.keys():

    for variable_pattern in ["IMD3007_[A-I]","IMD3008_[A-I]","IMD3009_[A-F]"]:
        output_df_mean,output_df_count,output_df_std = weighted_resp_df("IMD1010_"+weight+"_MET",
                                                                        ["IMD1003_MET"],
                                                                        [x for x in resp_df.columns if re.match(variable_pattern,x)],
                                                                        not_weighted=False,equalise_es_weights= True)
        aggregates = {"MEAN":output_df_mean,"STD":output_df_std,"CNT":output_df_count}
        for agg in aggregates.keys():

            temp = aggregates[agg].reset_index().melt(id_vars="IMD1003_MET")
            temp["variable"] = temp["variable"].apply(lambda x: x.split("_")[1])
            temp = temp.rename(columns = {"variable":"party_letter","IMD1003_MET":"IMD1003"}).set_index(["IMD1003","party_letter"])

            party_level_dataset["IMD3007_"+agg+"_"+weight_name[weight]] = temp.dropna()["value"]

            
party_level_dataset = party_level_dataset.reset_index()            
### Would be nice to be able to add in leader like-dislike for G/H/I ...
# but need a mapping onto parties because it doesn't relate directly to party G/H/I


### NEED TO ADD TO MANIFEST and move above processing code


            
# temp = output_df_std.reset_index().melt(id_vars="IMD1003_MET")
# temp["variable"] = temp["variable"].apply(lambda x: x.split("_")[1])
# temp = temp.rename(columns = {"variable":"party_letter","IMD1003_MET":"IMD1003"}).set_index(["IMD1003","party_letter"])

# party_level_dataset["IMD3007_STD_SAMPLE"] = temp.dropna()["value"]

# temp = output_df_count.reset_index().melt(id_vars="IMD1003_MET")
# temp["variable"] = temp["variable"].apply(lambda x: x.split("_")[1])
# temp = temp.rename(columns = {"variable":"party_letter","IMD1003_MET":"IMD1003"}).set_index(["IMD1003","party_letter"])

# party_level_dataset["IMD3007_CNT_SAMPLE"] = temp.dropna()["value"]

Wall time: 59.1 s

In [138]:
party_level_dataset.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"party_level_dataset.pkl")

In [139]:
# %debug

In [150]:
party_level_dataset.columns,party_level_dataset.shape

(Index(['IMD1003', 'party_letter', 'partyfacts_id', 'IMD5001', 'IMD5002',
        'IMD5003', 'IMD5004', 'IMD5005', 'IMD5011', 'IMD5012', 'IMD5029',
        'IMD5031', 'ELECTION YEAR', 'COUNTRY', 'IMD3007_MEAN_SAMPLE',
        'IMD3007_MEAN_SAM', 'IMD3007_STD_SAM', 'IMD3007_CNT_SAM',
        'IMD3007_MEAN_DEM', 'IMD3007_STD_DEM', 'IMD3007_CNT_DEM',
        'IMD3007_MEAN_POL', 'IMD3007_STD_POL', 'IMD3007_CNT_POL'],
       dtype='object'),
 (1270, 24))

In [169]:
party_resp_df.shape,party_level_dataset.shape

((1270, 37), (1270, 24))

In [176]:
search(party_resp_df,"party")

partyfacts_id_MET    1270
party_letter_MET     1270
dtype: int64

In [172]:
## UGLY TEMPORARY HACK

party_resp_df = pd.concat([ party_resp_df.reindex(),party_level_dataset[['IMD3007_MEAN_SAM', 'IMD3007_STD_SAM', 'IMD3007_CNT_SAM',
        'IMD3007_MEAN_DEM', 'IMD3007_STD_DEM', 'IMD3007_CNT_DEM',
        'IMD3007_MEAN_POL', 'IMD3007_STD_POL', 'IMD3007_CNT_POL']] ],axis=1).copy()

In [173]:
party_resp_df.shape

(1270, 46)

In [177]:
party_resp_df.select_dtypes('category')

party_resp_df["year"] = party_resp_df["IMD1003_MET"].apply(lambda x: int(x.split("(")[1][0:4]))
party_resp_df["partyfacts_id"] = party_resp_df["partyfacts_id_MET"].astype(int)

In [179]:
# party_resp_df.select_dtypes('number').to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"party_resp.pkl")

In [209]:
party_resp_df.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"party_resp.zip",compression='zip')

In [ ]:
####
## IMD3008 == Best Liked Party
## IMD3009 == Party Best Liked Leader
## IMD3007 == Party Closest To Self Left-Right

In [81]:
%%time

### 

party_letter_to_pf = party_level_dataset.set_index(["IMD1003","party_letter"])["partyfacts_id"]

temp_df = pd.DataFrame()
temp_df["IMD1003"] = resp_df["IMD1003_MET"]

temp_df["party_letter"] = resp_df[[x for x in resp_df.columns if "IMD3008" in x]].idxmax(axis=1).apply(lambda x: x.split("_")[1] if pd.notnull(x) else np.nan)

IMD3008 = temp_df.apply(lambda x: party_letter_to_pf.loc[(x["IMD1003"],x["party_letter"])] if pd.notnull(x["party_letter"]) and (x["IMD1003"],x["party_letter"]) in party_letter_to_pf.index else np.nan ,axis=1)

Wall time: 2min 8s

In [82]:
%%time
party_letter_to_pf = party_level_dataset.set_index(["IMD1003","party_letter"])["partyfacts_id"]

temp_df = pd.DataFrame()
temp_df["IMD1003"] = resp_df["IMD1003_MET"]

temp_df["party_letter"] = resp_df[[x for x in resp_df.columns if "IMD3009" in x]].idxmax(axis=1).apply(lambda x: x.split("_")[1] if pd.notnull(x) else np.nan)

IMD3009 = temp_df.apply(lambda x: party_letter_to_pf.loc[(x["IMD1003"],x["party_letter"])] if pd.notnull(x["party_letter"]) and (x["IMD1003"],x["party_letter"]) in party_letter_to_pf.index else np.nan ,axis=1)

Wall time: 1min 51s

In [83]:
%%time
party_letter_to_pf = party_level_dataset.set_index(["IMD1003","party_letter"])["partyfacts_id"]

temp_df = pd.DataFrame()
temp_df["IMD1003"] = resp_df["IMD1003_MET"]

temp_df["party_letter"] = resp_df[[x for x in resp_df.columns if "IMD3007" in x]].apply(lambda x: x-resp_df["IMD3006_ORD"]).abs().idxmin(axis=1).apply(lambda x: x.split("_")[1] if pd.notnull(x) else np.nan)

IMD3007 = temp_df.apply(lambda x: party_letter_to_pf.loc[(x["IMD1003"],x["party_letter"])] if pd.notnull(x["party_letter"]) and (x["IMD1003"],x["party_letter"]) in party_letter_to_pf.index else np.nan ,axis=1)

Wall time: 1min 54s

In [124]:
resp_df["IMD3007"] = IMD3007
resp_df["IMD3008"] = IMD3008
resp_df["IMD3009"] = IMD3009

In [260]:
IMD3007

0          840.0
1         4715.0
2         2297.0
3         1729.0
4          190.0
           ...
316243     432.0
316244     432.0
316245     809.0
316246     432.0
316247     432.0
Length: 316248, dtype: float64

In [204]:
# IMD3009.value_counts(dropna=False).head(10)

In [203]:
# [x for x in resp_df.columns if "IMD3006" in x]

In [202]:
# resp_df["IMD3006_ORD"]

In [141]:
process_variable_manifest.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"process_variable_manifest.csv")

In [144]:
process_variable_manifest[process_variable_manifest["variable type"]=="dummy"]

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
122,IMD2005_1. CATHOLIC,IMD2005,RELIGIOUS DENOMINATION,response,267271,48977,"{'1. CATHOLIC': 99811, '2. PROTESTANT': 49526,...",dummy,respondent
123,IMD2005_2. PROTESTANT,IMD2005,RELIGIOUS DENOMINATION,response,267271,48977,"{'1. CATHOLIC': 99811, '2. PROTESTANT': 49526,...",dummy,respondent
124,IMD2005_3. ORTHODOX/EASTERN CATHOLIC CHURCHES,IMD2005,RELIGIOUS DENOMINATION,response,267271,48977,"{'1. CATHOLIC': 99811, '2. PROTESTANT': 49526,...",dummy,respondent
125,IMD2005_4. OTHER CHRISTIAN (NO DENOMINATION GI...,IMD2005,RELIGIOUS DENOMINATION,response,267271,48977,"{'1. CATHOLIC': 99811, '2. PROTESTANT': 49526,...",dummy,respondent
126,IMD2005_5. JEWISH,IMD2005,RELIGIOUS DENOMINATION,response,267271,48977,"{'1. CATHOLIC': 99811, '2. PROTESTANT': 49526,...",dummy,respondent
...,...,...,...,...,...,...,...,...,...
439,IMD5011_8. CHRISTIAN DEMOCRATIC PARTIES,IMD5011,IDEOLOGICAL FAMILY,response,1218,52,"{'1. ECOLOGY PARTIES': 78, '10. NATIONAL PARTI...",dummy,party
440,IMD5011_9. CONSERVATIVE PARTIES,IMD5011,IDEOLOGICAL FAMILY,response,1218,52,"{'1. ECOLOGY PARTIES': 78, '10. NATIONAL PARTI...",dummy,party
441,IMD5011_90. OTHER,IMD5011,IDEOLOGICAL FAMILY,response,1218,52,"{'1. ECOLOGY PARTIES': 78, '10. NATIONAL PARTI...",dummy,party
442,IMD5011_98. NO IDEOLOGICAL FAMILY MENTIONED,IMD5011,IDEOLOGICAL FAMILY,response,1218,52,"{'1. ECOLOGY PARTIES': 78, '10. NATIONAL PARTI...",dummy,party
443,IMD5011_DK,IMD5011,IDEOLOGICAL FAMILY,non-response,1218,52,"{'1. ECOLOGY PARTIES': 78, '10. NATIONAL PARTI...",dummy,party

In [200]:
resp_df.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"resp_df.pkl")

In [210]:
resp_df

,IMD1014_1_NUM,IMD2001_1_NUM,IMD1014_2_NUM,IMD3008_G_ORD,IMD3015_1_ORD,IMD3007_A_ORD,IMD3003_UH_ORD,IMD3015_4_ORD,IMD3009_H_ORD,IMD3007_C_ORD,...,IMD3004_PR_2_PTY,IMD3002_UH_DC_3_PTY,IMD3004_UH_DC_1_PTY,IMD3004_PR_1_PTY,IMD3002_UH_DC_1_PTY,highest_freq_party_ref,IMD3007,IMD3008,IMD3009,year
0,NaN,22.0,NaN,NaN,1.0,10.0,NaN,NaN,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,838.0,840.0,2297.0,NaN,2005
1,NaN,22.0,NaN,9.0,NaN,6.0,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,190.0,4715.0,1558.0,NaN,2005
2,NaN,56.0,NaN,7.0,1.0,6.0,NaN,NaN,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,1729.0,2297.0,2297.0,NaN,2005
3,NaN,50.0,NaN,NaN,1.0,10.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1729.0,1729.0,1729.0,NaN,2005
4,NaN,48.0,NaN,0.0,NaN,10.0,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,7075.0,190.0,840.0,NaN,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316243,9.0,20.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,432.0,432.0,432.0,432.0,432.0,2016
316244,3.0,36.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,432.0,NaN,432.0,432.0,432.0,432.0,2016
316245,1.0,81.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,432.0,NaN,809.0,809.0,809.0,809.0,2016
316246,14.0,26.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,809.0,432.0,809.0,809.0,2016
316247,10.0,38.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,432.0,432.0,432.0,432.0,432.0,432.0,2016

In [213]:
resp_df.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+'out.zip', index = None, sep = ",", header=True, encoding='utf-8',
          compression={'method':'zip',
                        'archive_name':'out.csv'})

In [ ]:
####
# add ELECTORAL EVENT to resp_df

In [217]:
    
CSES_multiple_elections_dict = {
 "79202015. TURKEY (2015)":"2015-1",
 "30002012. GREECE (2012)":"2012-2",
 "30012015. GREECE (2015)":"2015-1",
 "30022015. GREECE (2015)":"2015-2",
}

resp_df["ELECTORAL EVENT"] = resp_df\
    .apply(lambda x: CSES_multiple_elections_dict[x["IMD1003_MET"]] if x["IMD1003_MET"] in CSES_multiple_elections_dict.keys() else str(x["year"]) , axis=1)

In [271]:
# put 'IMD3007', 'IMD3008', 'IMD3009', back in later!

resp_df.drop(['IMD3007','IMD3008','IMD3009'],axis=1).to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+'CSES_respondent_level_csv.zip', index = None, sep = ",", header=True, encoding='utf-8',
          compression={'method':'zip',
                        'archive_name':'CSES_respondent_level.csv'})

In [272]:
nonresp_df.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+'CSES_respondent_level_NA_csv.zip', index = None, sep = ",", header=True, encoding='utf-8',
          compression={'method':'zip',
                        'archive_name':'CSES_respondent_level_NA.csv'})

In [230]:
for agg in ["count","mean","std"]:
    for agg_level in ["party-year","party"]:
        fn = "respond_sample_broad_"+agg
        if agg_level=="party-year":
            fn = fn + "_ptryr"
            out_fn = "CSES_resp-agg_sample_broad_"+agg+"_party-year"
        else:
            out_fn = "CSES_resp-agg_sample_broad_"+agg+"_party"
        temp_df = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+fn+".pkl")
        temp_df.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+out_fn+".zip",compression='zip')
        temp_df.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+out_fn+"_csv.zip", index = None, sep = ",", header=True, encoding='utf-8',
          compression={'method':'zip',
                        'archive_name':out_fn+'.csv'})
        


# respond_sample_broad_(count|mean|std)(_ptryr|)

In [282]:
temp_df

,partyfacts_id,IMD1014_1_NUM,IMD2001_1_NUM,IMD1014_2_NUM,IMD3008_G_ORD,IMD3015_1_ORD,IMD3007_A_ORD,IMD3003_UH_ORD,IMD3015_4_ORD,IMD3009_H_ORD,...,IMD1016_1_1. FACE-TO-FACE,IMD1016_1_2. TELEPHONE,IMD1016_1_3. MAIL OR SELF-COMPLETED SUPPLEMENT,IMD1016_1_4. INTERNET,IMD2004_1. MARRIED OR LIVING TOGETHER AS MARRIED,IMD2004_2. WIDOWED,IMD2004_3. DIVORCED OR SEPARATED (MARRIED BUT SEPARATED/NOT LIVING WITH LEGAL SPOUSE),"IMD2004_4. SINGLE, NEVER MARRIED",IMD2002_1. MALE,IMD2002_2. FEMALE
0,3,27.399967,52.943941,NaN,NaN,0.872693,5.219314,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.0,0.419210,0.034393,0.013140,0.121393,0.447132,0.552868
1,4,53.905173,44.047852,NaN,3.250000,0.766421,5.289677,NaN,NaN,NaN,...,0.561163,0.411112,0.027725,0.0,0.473167,0.049321,0.019016,0.394302,0.589339,0.410661
2,6,10.351111,46.822516,NaN,4.868957,0.941368,5.423047,NaN,NaN,2.840538,...,1.000000,0.000000,0.000000,0.0,0.380727,0.057548,0.073991,0.142879,0.447947,0.552053
3,29,16.273319,49.507848,NaN,4.230829,0.820360,3.700862,NaN,NaN,3.773623,...,0.000000,1.000000,0.000000,0.0,0.599755,0.058672,0.106419,0.230452,0.468684,0.531316
4,36,88.707242,45.691976,11.518261,3.377554,0.858226,5.849190,NaN,0.791059,4.210751,...,1.000000,0.000000,0.000000,0.0,0.700000,0.000000,0.000000,0.300000,0.500000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,7971,14.500000,54.000000,NaN,NaN,1.000000,4.500000,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.0,0.000000,0.500000,0.000000,0.500000,0.000000,1.000000
632,8241,8.750000,53.188889,NaN,NaN,0.388917,7.359299,NaN,NaN,NaN,...,0.258398,0.741602,0.000000,0.0,0.536499,0.000000,0.000000,0.370801,0.657300,0.342700
633,8262,14.000000,47.000000,NaN,9.000000,1.000000,7.000000,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
634,8266,35.369707,43.026282,NaN,3.444602,0.452718,5.436444,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.0,0.593350,0.161125,0.094629,0.148338,0.383632,0.616368
635,8268,160.739824,47.805112,NaN,NaN,NaN,4.951596,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,0.0,0.688723,0.075504,0.032007,0.203766,0.474094,0.525906

In [283]:
set(temp_df.columns) - set(process_variable_manifest_un["new_variable_name"].values)

{'partyfacts_id'}

In [286]:
process_variable_manifest_un[process_variable_manifest_un["new_variable_name"]=="partyfacts_id_MET"]

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
446,partyfacts_id_MET,partyfacts_id,Partyfacts Id,response,1270,0,"{3: 4, 4: 4, 6: 3, 29: 4, 36: 1, 41: 1, 42: 1,...",meta,party

In [289]:
process_variable_manifest_un["new_variable_name"] = process_variable_manifest_un["new_variable_name"].replace({"partyfacts_id_MET":"partyfacts_id"})

In [241]:
process_variable_manifest

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
0,IMD1014_1_NUM,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,281024,35224,"(0.0, 362.0)",seminumeric,respondent
1,IMD1014_1_DK,IMD1014_1,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,non-response,281024,35224,"(0.0, 362.0)",seminumeric,respondent
2,IMD2001_1_NUM,IMD2001_1,AGE OF RESPONDENT (IN YEARS),response,309649,6599,"(15.0, 115.0)",seminumeric,respondent
3,IMD2001_1_DK,IMD2001_1,AGE OF RESPONDENT (IN YEARS),non-response,309649,6599,"(15.0, 115.0)",seminumeric,respondent
4,IMD1014_2_NUM,IMD1014_2,INTERVIEW TIMING - NUMBER OF DAYS BETWEEN INTE...,response,35437,280811,"(1.0, 275.0)",seminumeric,respondent
...,...,...,...,...,...,...,...,...,...
494,IMD1003_DK,IMD1003,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),non-response,1270,0,"{'00802005. ALBANIA (2005)': 9, '03202015. ARG...",meta,country
495,partyfacts_id_MET,partyfacts_id,Partyfacts Id,response,1270,0,"{3: 4, 4: 4, 6: 3, 29: 4, 36: 1, 41: 1, 42: 1,...",meta,party
496,partyfacts_id_DK,partyfacts_id,Partyfacts Id,non-response,1270,0,"{3: 4, 4: 4, 6: 3, 29: 4, 36: 1, 41: 1, 42: 1,...",meta,party
497,party_letter_MET,party_letter,dataset letter key,response,1270,0,"{'A': 191, 'B': 189, 'C': 185, 'D': 184, 'E': ...",meta,party
498,party_letter_DK,party_letter,dataset letter key,non-response,1270,0,"{'A': 191, 'B': 189, 'C': 185, 'D': 184, 'E': ...",meta,party

In [247]:
process_variable_manifest_un = process_variable_manifest.drop_duplicates(subset = ['new_variable_name',  'description',
       'response/non-response'                      , 'resp_rows', 'non_resp_rows', 
       'variable type', 'variable structural type'])
# ["new_variable_name"].value_counts()

In [248]:
process_variable_manifest_un["new_variable_name"].value_counts()

IMD1003_DK                      2
IMD1003_MET                     2
IMD5008_2_PTY                   1
IMD5011_10. NATIONAL PARTIES    1
IMD3008_I_ORD                   1
                               ..
IMD5022_2_NUM                   1
IMD5018_1_DK                    1
IMD3004_UH_PL_PTY               1
IMD5011_2. COMMUNIST PARTIES    1
IMD3012_DK                      1
Name: new_variable_name, Length: 448, dtype: int64

In [250]:
process_variable_manifest_un[process_variable_manifest_un["new_variable_name"]=="IMD1003_MET"]

,new_variable_name,source_variable_name,description,response/non-response,resp_rows,non_resp_rows,contents_inf,variable type,variable structural type
186,IMD1003_MET,IMD1003,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),response,316248,0,"{'00802005. ALBANIA (2005)': 1116, '03202015. ...",meta,country
444,IMD1003_MET,IMD1003,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),response,1270,0,"{'00802005. ALBANIA (2005)': 9, '03202015. ARG...",meta,country

In [ ]:
# drop id
# 445,444


# we may have to understand *why* we had those repeat entries!

# to save as csv accessible to *people* - drop contents_inf (it screws up excel)

In [251]:
process_variable_manifest_un.drop([444,445],inplace=True)

In [290]:
process_variable_manifest_un.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"process_variable_manifest.zip",compression='zip')

In [281]:
process_variable_manifest_un.drop("contents_inf",axis=1).to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"process_variable_manifest.csv")

In [278]:
set(resp_df.columns) - set(process_variable_manifest_un["new_variable_name"].values)

{'IMD3007', 'IMD3008', 'IMD3009'}

In [ ]:
## IMD3008 == Best Liked Party
## IMD3009 == Party Best Liked Leader
## IMD3007 == Party Closest To Self Left-Right

In [261]:
set(resp_df.columns) - set(process_variable_manifest_un["new_variable_name"].values)

set()

In [266]:
process_variable_manifest_un["variable type"].value_counts()

ordinal        128
seminumeric    114
dummy          108
party           44
meta            44
date            10
Name: variable type, dtype: int64

In [270]:
resp_df["highest_freq_party_ref"].notnull().sum()

264975

In [276]:
# process_variable_manifest_un

process_variable_manifest_un.loc[process_variable_manifest_un.index.max()+1] = ['ELECTORAL EVENT',"IMD1003","Associated Electoral Event","response",resp_df.shape[0],0,np.nan,"meta","respondent"]
process_variable_manifest_un.loc[process_variable_manifest_un.index.max()+1] = ['year',"IMD1008_YEAR","Survey Year","response",resp_df.shape[0],0,np.nan,"meta","respondent"]
process_variable_manifest_un.loc[process_variable_manifest_un.index.max()+1] = ['highest_freq_party_ref',['IMD3004_UH_DC_3', 'IMD3005_3', 'IMD3002_LH_DC', 'IMD3002_UH_DC_2', 'IMD3002_PR_2', 'IMD3002_UH_PL', 'IMD3004_UH_PL', 'IMD3002_UH_DC_4', 'IMD3004_LH_PL', 'IMD3002_PR_1', 'IMD3002_LH_PL', 'IMD3004_UH_DC_2', 'IMD3004_LH_DC', 'IMD3004_PR_2', 'IMD3002_UH_DC_3', 'IMD3004_UH_DC_1', 'IMD3004_PR_1', 'IMD3002_UH_DC_1'],
 "Party with the most references for a respondent across entire CSES dataset","response",resp_df["highest_freq_party_ref"].notnull().sum(),resp_df["highest_freq_party_ref"].isnull().sum(),np.nan,"party","respondent"]

In [291]:
process_variable_manifest_un.to_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_VL.zip",compression='zip')
# process_variable_manifest_un.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_VL.csv")

In [293]:
process_variable_manifest_un.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_VL_csv.zip",
          index = None, sep = ",", header=True, encoding='utf-8',
          compression={'method':'zip',
                       'archive_name':'CSES_VL.csv'})

In [259]:
nonresp_df

,IMD1014_1_DK,IMD2001_1_DK,IMD1014_2_DK,IMD3008_G_DK,IMD3015_1_DK,IMD3007_A_DK,IMD3003_UH_DK,IMD3015_4_DK,IMD3009_H_DK,IMD3007_C_DK,...,IMD3004_LH_PL_DK,IMD3002_PR_1_DK,IMD3002_LH_PL_DK,IMD3004_UH_DC_2_DK,IMD3004_LH_DC_DK,IMD3004_PR_2_DK,IMD3002_UH_DC_3_DK,IMD3004_UH_DC_1_DK,IMD3004_PR_1_DK,IMD3002_UH_DC_1_DK
0,9999. MISSING,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,98. DON'T KNOW ENOUGH ABOUT/DON'T KNOW WHERE T...,NaN,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9. MISSING,99. MISSING,NaN,...,9999999. MISSING/ABSTAINED (DID NOT VOTE),9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999999. MISSING/ABSTAINED (DID NOT VOTE),9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECT...,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM
1,9999. MISSING,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,NaN,8. VOLUNTEERED: DON'T KNOW,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9. MISSING,99. MISSING,NaN,...,9999999. MISSING/ABSTAINED (DID NOT VOTE),9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999999. MISSING/ABSTAINED (DID NOT VOTE),9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECT...,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM
2,9999. MISSING,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,NaN,NaN,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9. MISSING,99. MISSING,NaN,...,NaN,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,NaN,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECT...,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM
3,9999. MISSING,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,98. DON'T KNOW ENOUGH ABOUT/DON'T KNOW WHERE T...,NaN,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9. MISSING,99. MISSING,98. VOLUNTEERED: DON'T KNOW WHERE TO PLACE,...,9999997. VOLUNTEERED: REFUSED,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,9999997. VOLUNTEERED: REFUSED,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999997. VOLUNTEERED: REFUSED,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECT...,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM
4,9999. MISSING,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,NaN,8. VOLUNTEERED: DON'T KNOW,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9. MISSING,99. MISSING,NaN,...,NaN,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,NaN,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,NaN,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECT...,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM,9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTION,9999995. NOT APPLICABLE: UNICAMERAL SYSTEM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316243,NaN,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,99. MISSING,9. MISSING,NaN,9999999. MISSING,9. MISSING,99. MISSING,99. MISSING,...,999995. NOT APPLICABLE: NOT A LIST SYSTEM,NaN,999995. NOT APPLICABLE: NOT A LIST SYSTEM,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTI...,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),NaN
316244,NaN,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,99. MISSING,9. MISSING,NaN,9999999. MISSING,9. MISSING,99. MISSING,99. MISSING,...,999995. NOT APPLICABLE: NOT A LIST SYSTEM,NaN,999995. NOT APPLICABLE: NOT A LIST SYSTEM,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTI...,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),NaN,999996. NOT APPLICABLE: NO UPPER HOUSE ELECTIO...
316245,NaN,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,99. MISSING,9. MISSING,NaN,9999999. MISSING,9. MISSING,99. MISSING,99. MISSING,...,999995. NOT APPLICABLE: NOT A LIST SYSTEM,NaN,999995. NOT APPLICABLE: NOT A LIST SYSTEM,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTI...,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),NaN,999996. NOT APPLICABLE: NO UPPER HOUSE ELECTIO...
316246,NaN,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,99. MISSING,9. MISSING,NaN,9999999. MISSING,9. MISSING,99. MISSING,99. MISSING,...,999995. NOT APPLICABLE: NOT A LIST SYSTEM,999999. MISSING/ABSTAINED (DID NOT VOTE),999995. NOT APPLICABLE: NOT A LIST SYSTEM,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTI...,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE)
316247,NaN,NaN,9996. NOT APPLICABLE: NO SECOND ROUND,99. MISSING,9. MISSING,NaN,9999999. MISSING,9. MISSING,99. MISSING,99. MISSING,...,999995. NOT APPLICABLE: NOT A LIST SYSTEM,NaN,999995. NOT APPLICABLE: NOT A LIST SYSTEM,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTI...,999999. MISSING/ABSTAINED (DID NOT VOTE),999999. MISSING/ABSTAINED (DID NOT VOTE),NaN,NaN