In [ ]:
# motivated by 
# https://twitter.com/MariosRichards/status/1258726923318018048

In [1]:
dataset_name = "W19_comb"
df_list = [ "BES_Panel" ]

In [2]:
import warnings
warnings.filterwarnings('ignore')

from IPython.display import display
from IPython.display import HTML
import IPython.core.display as di # Example: di.display_html('<h3>%s:</h3>' % str, raw=True)

# This line will hide code by default when the notebook is exported as HTML
di.display_html('<script>jQuery(function() {if (jQuery("body.notebook_app").length == 0) { jQuery(".input_area").toggle(); jQuery(".prompt").toggle();}});</script>', raw=True)

# This line will add a button to toggle visibility of code blocks, for use with the HTML export version
di.display_html('''<button onclick="jQuery('.input_area').toggle(); jQuery('.prompt').toggle();">Toggle code</button>''', raw=True)

%matplotlib inline

import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns
import pickle, os, gc, re

sns.set();
sns.set_palette("colorblind")

from IPython.display import display, display_html, HTML
from IPython.core.debugger import set_trace
# plt.rcParams["axes.grid"] = False

import Jupyter_module_loader
from utility import *
import gaussian_kde

import warnings
warnings.filterwarnings('ignore')

import holoviews as hv
from holoviews import opts

encoding = "ISO-8859-1"

# you should clone this git to a subdirectory called 'BES_analysis_code' (in some directory - I call it BES_analysis - doesn't matter though)
# %matplotlib inline
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric
data_subfolder = BES_data_folder + dataset_name + os.sep

(manifest, dataset_filename, dataset_description, dataset_citation,
 dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)

for df in df_list:
    if df=="BES_Panel":
        globals()[df]  = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    else:
        globals()[df]  = pd.read_pickle(data_subfolder + df + '.zip',compression='zip' )
        globals()[df].replace(-1,np.nan,inplace=True)
  
(var_type, cat_dictionary, new_old_col_names, old_new_col_names) = get_small_files(data_subfolder, encoding)

# get full set of inferred "cross wave" auth-lib/left-right values and ages
# pan_dataset_allr_values = pd.read_csv(BES_small_data_files + "pan_dataset_allr_values"+".csv")
# pan_dataset_ages = pd.read_pickle(BES_small_data_files + "pan_dataset_ages"+".zip", compression='zip')

var_type (7911, 14)

In [3]:
BESW19 = BES_Panel.copy()

In [6]:
BESW16 = BES_Panel.copy()

In [7]:
search(BESW16,"profile_past_vote_2010")

profile_past_vote_2010    63248
dtype: int64

In [8]:
search(BESW19,"profile_past_vote_2010")

profile_past_vote_2010    65581
dtype: int64

In [9]:
memory_use(locs = locals().items())

                        BESW19: 799.9MiB
                     BES_Panel: 695.0MiB
                        BESW16: 695.0MiB
                      var_type:   5.2MiB
                cat_dictionary: 288.1KiB
             new_old_col_names: 288.1KiB
             old_new_col_names: 144.1KiB
             BES_file_manifest:  58.5KiB
                           _i2:   2.5KiB
                           _i5:   2.5KiB

In [10]:
BESW19.shape,BESW16.shape

((97158, 7911), (92587, 6516))

In [13]:
BESW16 = BESW16.set_index("id").sort_index()
BESW19 = BESW19.set_index("id").sort_index()

In [15]:
BESW16["profile_past_vote_2010"].value_counts()

Conservative                                18121
Labour                                      14335
Liberal Democrat                            12307
I would not vote                             9655
Scottish National Party (SNP)                2290
Don't know                                   2018
United Kingdom Independence Party (UKIP)     1873
Green Party                                   993
Other                                         562
Plaid Cymru                                   550
British National Party (BNP)                  544
Name: profile_past_vote_2010, dtype: int64

In [16]:
BESW19["profile_past_vote_2010"].value_counts()

Conservative                                17934
Labour                                      16643
Liberal Democrat                            12853
Scottish National Party (SNP)                6158
I would not vote                             5001
United Kingdom Independence Party (UKIP)     1220
Brexit Party                                 1126
Don't know                                    952
British National Party (BNP)                  868
Plaid Cymru                                   829
10.0                                          741
Green Party                                   686
Other                                         371
Change UK- The Independent Group              199
Name: profile_past_vote_2010, dtype: int64

In [263]:
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

var_dict = {}

for dataset_name in BES_file_manifest[BES_file_manifest["Base_or_Strings"]=="Base"]["Name"]:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    try:
        df = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
        var_dict[dataset_name] = df.columns
    except:
        try:
            df = pd.read_stata(data_subfolder + dataset_filename).set_index("id").sort_index()
            var_dict[dataset_name] = df.columns
            df.to_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
        except:
            var_dict[dataset_name] = "dta not present either"

In [264]:
[x for x in var_dict.keys() if isinstance(var_dict[x],str)]

[]

In [265]:
# ['W13_only', 'W11_only', 'W10_only', 'W9_only', 'W7_only']
# need updating!
# Also updated: W15_only, W14_only,W12_only, ... all the way down, but 'only' files ... only



# bug W5_only appears twice

In [266]:
[x for x in var_dict.keys() if not isinstance(var_dict[x],str) and "profile_past_vote_2010" in var_dict[x]]

['W19_only',
 'W19_comb',
 'W18_only',
 'W17_only',
 'W16_only',
 'W16_comb',
 'W15_only',
 'W15_comb',
 'W14_comb',
 'W13_comb',
 'W11_only',
 'W10_comb',
 'W10_only',
 'W9_comb',
 'W9_only',
 'W8_only',
 'W8_comb',
 'W7_only',
 'W7_comb',
 'W6_only',
 'W6_comb',
 'W5_comb',
 'W5_only',
 'W4_only',
 'W4_comb',
 'W3_only',
 'W3_comb',
 'W2_only',
 'W1_only']

In [267]:
[x for x in var_dict.keys() if not isinstance(var_dict[x],str) and "profile_past_vote_2005" in var_dict[x]]

# W12_only!

['W19_only',
 'W19_comb',
 'W18_only',
 'W17_only',
 'W16_only',
 'W16_comb',
 'W15_only',
 'W15_comb',
 'W14_comb',
 'W13_comb',
 'W12_only',
 'W11_only',
 'W10_comb',
 'W10_only',
 'W9_comb',
 'W9_only',
 'W8_only',
 'W8_comb',
 'W7_only',
 'W7_comb',
 'W6_only',
 'W6_comb',
 'W5_comb',
 'W5_only',
 'W4_only',
 'W4_comb',
 'W3_only',
 'W3_comb',
 'W2_only',
 'W1_only']

In [268]:
[x for x in var_dict["W12_only"] if "profile" in x]
# W12_only really missing profile_past_vote_2010!

['profile_newspaper2',
 'profile_gross_household',
 'profile_socgrade',
 'profile_work_stat',
 'profile_house_tenure',
 'profile_religion',
 'profile_education_age',
 'profile_lea',
 'profile_oslaua',
 'profile_gross_personal',
 'profile_household_children',
 'profile_past_vote_2005',
 'profile_past_vote_2017',
 'profile_turnout_2017',
 'profile_past_vote_2015',
 'profile_turnout_2015',
 'profile_eurefvote',
 'profile_eurefturnout',
 'profile_scotref_turnout',
 'profile_scotref_vote']

In [269]:
present_in_datasets = [x for x in var_dict.keys() if not isinstance(var_dict[x],str) and "profile_past_vote_2010" in var_dict[x]]
present_in_datasets.remove("W19_comb")
present_in_datasets.insert(0,"W19_comb")
present_in_datasets
# need W19_comb first to set all indices!

# Assumes no indices are lost ...

['W19_comb',
 'W19_only',
 'W18_only',
 'W17_only',
 'W16_only',
 'W16_comb',
 'W15_only',
 'W15_comb',
 'W14_comb',
 'W13_comb',
 'W11_only',
 'W10_comb',
 'W10_only',
 'W9_comb',
 'W9_only',
 'W8_only',
 'W8_comb',
 'W7_only',
 'W7_comb',
 'W6_only',
 'W6_comb',
 'W5_comb',
 'W5_only',
 'W4_only',
 'W4_comb',
 'W3_only',
 'W3_comb',
 'W2_only',
 'W1_only']

In [270]:
present_in_datasets = [x for x in present_in_datasets if "only" in x]
present_in_datasets.insert(0,"W19_comb")
present_in_datasets

['W19_comb',
 'W19_only',
 'W18_only',
 'W17_only',
 'W16_only',
 'W15_only',
 'W11_only',
 'W10_only',
 'W9_only',
 'W8_only',
 'W7_only',
 'W6_only',
 'W5_only',
 'W4_only',
 'W3_only',
 'W2_only',
 'W1_only']

In [271]:
# df = pd.DataFrame()
# temp = BESW16[["profile_past_vote_2005","profile_past_vote_2005"]]
# temp.columns = ["W16_"+x for x in temp.columns]
# df = pd.concat([df,temp],axis=1)
# temp = BESW19[["profile_past_vote_2005","profile_past_vote_2005"]]
# temp.columns = ["W19_"+x for x in temp.columns]
# df = pd.concat([df,temp],axis=1)

# df

In [272]:
%%time
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

df = pd.DataFrame()
var_list = ["profile_past_vote_2005","profile_past_vote_2010"]

for dataset_name in present_in_datasets:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    BES_Panel = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    if "id" in BES_Panel.columns:
        temp = BES_Panel[var_list+["id"]].set_index("id").sort_index()
    else:
        temp = BES_Panel[var_list]
    temp.columns = [dataset_name+"_"+x for x in temp.columns]
    df = pd.concat([df,temp],axis=1)
    
df.index = df.index.astype('int')
# note - no extra rows over W19

Wall time: 34.1 s

In [273]:
# vote2005_categories = list( df[[x for x in df.columns if "profile_past_vote_2005"]].stack().value_counts().index )

In [274]:
# vote2010_categories = list( df[[x for x in df.columns if "profile_past_vote_2010"]].stack().value_counts().index )

In [275]:
replace_dict = {'I would not vote':'Did not vote',
                'Conservative Party':'Conservative',
                'Labour Party':'Labour',
                'Liberal Democrats':'Liberal Democrat',
                'Scottish National Party (SNP)':'Scottish National Party',
                'Some other party':'Other',
               }
ppv2005 = [x for x in df.columns if "profile_past_vote_2005" in x]
df.loc[:,ppv2005] = df.loc[:,ppv2005].replace(replace_dict)
vote2005_categories = list( df[ppv2005].stack().value_counts().index )
vote2005_categories

['Conservative',
 'Labour',
 'Liberal Democrat',
 'Did not vote',
 'Scottish National Party',
 "Don't know",
 'An independent candidate',
 'United Kingdom Independence Party (UKIP)',
 'Green Party',
 'Plaid Cymru',
 'British National Party (BNP)',
 'Other',
 10.0,
 'Brexit Party',
 'Change UK- The Independent Group']

In [276]:
replace_dict = {'I would not vote':'Did not vote',
                'Conservative Party':'Conservative',
                'Labour Party':'Labour',
                'Liberal Democrats':'Liberal Democrat',
                'Scottish National Party (SNP)':'Scottish National Party',
                'Some other party':'Other',
               }
ppv2010 = [x for x in df.columns if "profile_past_vote_2010" in x]
df.loc[:,ppv2010] = df.loc[:,ppv2010].replace(replace_dict)
vote2010_categories = list( df[ppv2010].stack().value_counts().index )
vote2010_categories

['Conservative',
 'Labour',
 'Liberal Democrat',
 'Did not vote',
 'Scottish National Party',
 'United Kingdom Independence Party (UKIP)',
 "Don't know",
 'British National Party (BNP)',
 'Plaid Cymru',
 'Green Party',
 'Brexit Party',
 10.0,
 'Other',
 'Change UK- The Independent Group']

In [277]:
%%time
number_of_unique_responses_per_row_2005 = df[ppv2005].apply(lambda x: len((x.dropna()).unique()),axis=1)
number_of_unique_responses_per_row_2005.value_counts()

Wall time: 44.9 s

1    50268
0    40149
2     6741
dtype: int64

In [278]:
%%time
number_of_unique_responses_per_row_2010 = df[ppv2010].apply(lambda x: len((x.dropna()).unique()),axis=1)
number_of_unique_responses_per_row_2010.value_counts()

Wall time: 44.8 s

1    56419
0    31577
2     9162
dtype: int64

In [329]:
# df[ppv2005].loc[  number_of_unique_responses_per_row_2005>=3 ].dropna(how='all',axis=1)

In [280]:
discrepancy_pairs_2005 = df[ppv2005].loc[  number_of_unique_responses_per_row_2005==2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

In [281]:
discrepancy_pairs_2010 = df[ppv2010].loc[  number_of_unique_responses_per_row_2010==2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

In [282]:
discrepancy_pairs_2010.value_counts()

Labour|Conservative                                     2946
Liberal Democrat|Labour                                 1680
Conservative|Did not vote                               1652
Scottish National Party|Liberal Democrat                1634
Brexit Party|Don't know                                  454
10.0|United Kingdom Independence Party (UKIP)            322
British National Party (BNP)|Green Party                 185
Plaid Cymru|Scottish National Party                      113
Change UK- The Independent Group|Other                    82
Green Party|British National Party (BNP)                  65
United Kingdom Independence Party (UKIP)|Plaid Cymru      29
dtype: int64

In [283]:
discrepancy_pairs_2005.value_counts()

Labour|Conservative                                     1896
Liberal Democrat|Labour                                 1593
Conservative|Did not vote                               1287
Scottish National Party|Liberal Democrat                 904
An independent candidate|Don't know                      662
British National Party (BNP)|Green Party                 130
10.0|United Kingdom Independence Party (UKIP)            118
Plaid Cymru|Scottish National Party                       57
Brexit Party|Other                                        47
Green Party|British National Party (BNP)                  25
United Kingdom Independence Party (UKIP)|Plaid Cymru      20
Change UK- The Independent Group|Other                     2
dtype: int64

In [284]:
df["discrepancy_pairs_2005"] = discrepancy_pairs_2005
df["discrepancy_pairs_2010"] = discrepancy_pairs_2010

In [285]:
# df[df["discrepancy_pairs_2005"]=="10.0|United Kingdom Independence Party (UKIP)"]["discr_2005_change_dataset"].value_counts()

In [286]:
df["discr_2005_change_dataset"] = np.nan
# discrep_pair = "Other|Veritas"
for discrep_pair in discrepancy_pairs_2005.value_counts().index:
    pair_first_part = discrep_pair.split("|")[0]
    if pair_first_part=="10.0":
        pair_first_part=10.0
    temp_ser = (df.loc[discrepancy_pairs_2005[discrepancy_pairs_2005==discrep_pair].index,ppv2005]==pair_first_part).replace(False,np.nan).cumsum(axis=1).replace(True,1.0).idxmax(axis=1)
    df.loc[temp_ser.index,"discr_2005_change_dataset"] = temp_ser
df.groupby("discr_2005_change_dataset")["discrepancy_pairs_2005"].value_counts()

discr_2005_change_dataset        discrepancy_pairs_2005
W10_only_profile_past_vote_2005  Labour|Conservative                                     454
                                 Conservative|Did not vote                               409
                                 Liberal Democrat|Labour                                 398
                                 Scottish National Party|Liberal Democrat                240
                                 An independent candidate|Don't know                     210
                                                                                        ...
W8_only_profile_past_vote_2005   Plaid Cymru|Scottish National Party                      25
                                 Green Party|British National Party (BNP)                 11
                                 Brexit Party|Other                                        8
                                 United Kingdom Independence Party (UKIP)|Plaid Cymru      8
                                 Change UK- The Independent Group|Other                    1
Name: discrepancy_pairs_2005, Length: 74, dtype: int64

In [287]:
df["discr_2010_change_dataset"] = np.nan
# discrep_pair = "Other|Veritas"
for discrep_pair in discrepancy_pairs_2010.value_counts().index:
    pair_first_part = discrep_pair.split("|")[0]
    if pair_first_part=="10.0":
        pair_first_part=10.0    
    temp_ser = (df.loc[discrepancy_pairs_2010[discrepancy_pairs_2010==discrep_pair].index,ppv2010]==pair_first_part).replace(False,np.nan).cumsum(axis=1).replace(True,1.0).idxmax(axis=1)
  
    df.loc[temp_ser.index,"discr_2010_change_dataset"] = temp_ser
df.groupby("discr_2010_change_dataset")["discrepancy_pairs_2010"].value_counts()

discr_2010_change_dataset        discrepancy_pairs_2010
W10_only_profile_past_vote_2010  Labour|Conservative                                     674
                                 Conservative|Did not vote                               479
                                 Scottish National Party|Liberal Democrat                410
                                 Liberal Democrat|Labour                                 377
                                 Brexit Party|Don't know                                 123
                                                                                        ...
W8_only_profile_past_vote_2010   British National Party (BNP)|Green Party                 29
                                 Plaid Cymru|Scottish National Party                      27
                                 Green Party|British National Party (BNP)                 20
                                 Change UK- The Independent Group|Other                   18
                                 United Kingdom Independence Party (UKIP)|Plaid Cymru      8
Name: discrepancy_pairs_2010, Length: 83, dtype: int64

In [288]:
df["discr_2010_change_dataset"].value_counts().sort_index()

W10_only_profile_past_vote_2010    2259
W11_only_profile_past_vote_2010     891
W15_only_profile_past_vote_2010    1633
W17_only_profile_past_vote_2010     132
W18_only_profile_past_vote_2010      62
W19_comb_profile_past_vote_2010      81
W19_only_profile_past_vote_2010       6
W7_only_profile_past_vote_2010     2062
W8_only_profile_past_vote_2010     2036
Name: discr_2010_change_dataset, dtype: int64

In [289]:
df["discr_2005_change_dataset"].value_counts().sort_index()

W10_only_profile_past_vote_2005    1830
W11_only_profile_past_vote_2005     725
W15_only_profile_past_vote_2005     339
W17_only_profile_past_vote_2005      34
W18_only_profile_past_vote_2005      12
W19_comb_profile_past_vote_2005      24
W4_only_profile_past_vote_2005        2
W7_only_profile_past_vote_2005     1835
W8_only_profile_past_vote_2005     1940
Name: discr_2005_change_dataset, dtype: int64

In [290]:
df["discrepancy_pairs_2005"].value_counts()

Labour|Conservative                                     1896
Liberal Democrat|Labour                                 1593
Conservative|Did not vote                               1287
Scottish National Party|Liberal Democrat                 904
An independent candidate|Don't know                      662
British National Party (BNP)|Green Party                 130
10.0|United Kingdom Independence Party (UKIP)            118
Plaid Cymru|Scottish National Party                       57
Brexit Party|Other                                        47
Green Party|British National Party (BNP)                  25
United Kingdom Independence Party (UKIP)|Plaid Cymru      20
Change UK- The Independent Group|Other                     2
Name: discrepancy_pairs_2005, dtype: int64

In [291]:
df["discrepancy_pairs_2010"].value_counts()

Labour|Conservative                                     2946
Liberal Democrat|Labour                                 1680
Conservative|Did not vote                               1652
Scottish National Party|Liberal Democrat                1634
Brexit Party|Don't know                                  454
10.0|United Kingdom Independence Party (UKIP)            322
British National Party (BNP)|Green Party                 185
Plaid Cymru|Scottish National Party                      113
Change UK- The Independent Group|Other                    82
Green Party|British National Party (BNP)                  65
United Kingdom Independence Party (UKIP)|Plaid Cymru      29
Name: discrepancy_pairs_2010, dtype: int64

In [292]:
df["W7_only_profile_past_vote_2005"].value_counts()

Conservative                                8919
Labour                                      7793
Liberal Democrat                            4585
Did not vote                                2657
Scottish National Party                     1474
Don't know                                   883
An independent candidate                     430
United Kingdom Independence Party (UKIP)     408
Green Party                                  348
Plaid Cymru                                  303
Other                                        199
British National Party (BNP)                 198
10.0                                          83
Brexit Party                                  32
Change UK- The Independent Group               1
Name: W7_only_profile_past_vote_2005, dtype: int64

In [308]:
df

,W19_comb_profile_past_vote_2005,W19_comb_profile_past_vote_2010,W19_only_profile_past_vote_2005,W19_only_profile_past_vote_2010,W18_only_profile_past_vote_2005,W18_only_profile_past_vote_2010,W17_only_profile_past_vote_2005,W17_only_profile_past_vote_2010,W16_only_profile_past_vote_2005,W16_only_profile_past_vote_2010,...,W3_only_profile_past_vote_2005,W3_only_profile_past_vote_2010,W2_only_profile_past_vote_2005,W2_only_profile_past_vote_2010,W1_only_profile_past_vote_2005,W1_only_profile_past_vote_2010,discrepancy_pairs_2005,discrepancy_pairs_2010,discr_2005_change_dataset,discr_2010_change_dataset
1,Labour,United Kingdom Independence Party (UKIP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Labour,United Kingdom Independence Party (UKIP),Labour,United Kingdom Independence Party (UKIP),NaN,NaN,NaN,NaN
2,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,NaN,NaN,...,Conservative,Conservative,NaN,NaN,Conservative,Conservative,NaN,NaN,NaN,NaN
3,Labour,Liberal Democrat,Labour,Liberal Democrat,NaN,NaN,NaN,NaN,Labour,Liberal Democrat,...,Labour,Liberal Democrat,Labour,Liberal Democrat,Labour,Liberal Democrat,NaN,NaN,NaN,NaN
4,Conservative,Conservative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Conservative,Conservative,Conservative,Conservative,NaN,NaN,NaN,NaN
5,Did not vote,Liberal Democrat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Did not vote,Liberal Democrat,Did not vote,Liberal Democrat,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [293]:
DNV2005 = (df["W7_only_profile_past_vote_2005"]=="Did not vote")
DNV2010 = (df["W7_only_profile_past_vote_2010"]=="Did not vote")

In [310]:
BES_Panel = BES_Panel.set_index("id").sort_index()

In [311]:
first_wave_joined_panel = BES_Panel[search(BES_Panel,"wave\d+").index].replace(False,np.nan).fillna(method='ffill',axis=1).replace(np.nan,False).astype('bool')
first_wave_joined_panel.columns = [int(x.replace("wave","")) for x in first_wave_joined_panel.columns]

In [313]:
for wave in range(1,20):
    mask  = list(set(first_wave_joined_panel[first_wave_joined_panel[wave]].index).union()  )
    print( wave,
          DNV2010.loc[first_wave_joined_panel[first_wave_joined_panel[wave]].index].sum(),
          DNV2010.loc[first_wave_joined_panel[~first_wave_joined_panel[wave]].index].sum(),
          DNV2005.loc[first_wave_joined_panel[first_wave_joined_panel[wave]].index].sum(),
          DNV2005.loc[first_wave_joined_panel[~first_wave_joined_panel[wave]].index].sum(),
         )

1 1661 714 1990 667
2 1836 539 2180 477
3 2028 347 2298 359
4 2374 1 2657 0
5 2375 0 2657 0
6 2375 0 2657 0
7 2375 0 2657 0
8 2375 0 2657 0
9 2375 0 2657 0
10 2375 0 2657 0
11 2375 0 2657 0
12 2375 0 2657 0
13 2375 0 2657 0
14 2375 0 2657 0
15 2375 0 2657 0
16 2375 0 2657 0
17 2375 0 2657 0
18 2375 0 2657 0
19 2375 0 2657 0

In [309]:
df.shape, BES_Panel.shape

((97158, 38), (97158, 7911))

In [300]:
temp_df = df.copy()

In [303]:
df = temp_df.copy()

In [322]:
var_counts = pd.DataFrame.from_dict( {k:v for k,v in var_dict.items() if k in present_in_datasets} , orient='index').stack().value_counts()

In [327]:
var_counts[var_counts==17].index

Index(['housing', 'profile_past_vote_2005', 'profile_turnout_2017',
       'profile_past_vote_2017', 'euRefLA', 'profile_past_vote_2010',
       'profile_newspaper', 'profile_scotref_turnout', 'profile_turnout_2015',
       'profile_gross_household', 'profile_lea', 'profile_eurefvote',
       'profile_past_vote_2015', 'profile_gross_personal', 'disability',
       'profile_household_children', 'gender', 'profile_scotref_vote',
       'profile_education_age', 'marital', 'ageGroup'],
      dtype='object')

In [388]:
var_counts[var_counts==4].index

Index(['natSecurityGrn', 'profile_work_type', 'responsibleDebtEU',
       'responsibleImmigLibDems', 'happyEULeave', 'scotRefID4', 'respdate',
       'responsibleDebtDontKnow', 'approveEU', 'responsibleCostLiveLab',
       ...
       'responsibleEducationWelshGovt', 'responsibleImmigConservatives',
       'responsibleImmigLabour', 'partyContactBrexit_4',
       'responsibleNHSScottishGovt', 'partyContactBrexit_7', 'refAreGood',
       'responsibleCostLiveNone', 'beliefTradeoff',
       'responsibleEducationScotGovt'],
      dtype='object', length=116)

In [ ]:
# profile_eurefturnout, profile_ethnicity, profile_religion, countryOfBirth, profile_past_vote_2015

In [373]:
var_counts.value_counts().sort_index()

1     8383
2      913
3      127
4      116
5       97
6       55
7       57
8       22
9       39
10      34
11      21
12      13
13      69
14      25
15      25
16      18
17      21
dtype: int64

In [330]:
present_in_datasets

['W19_comb',
 'W19_only',
 'W18_only',
 'W17_only',
 'W16_only',
 'W15_only',
 'W11_only',
 'W10_only',
 'W9_only',
 'W8_only',
 'W7_only',
 'W6_only',
 'W5_only',
 'W4_only',
 'W3_only',
 'W2_only',
 'W1_only']

In [333]:
%%time
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

df = pd.DataFrame()
var_list = list(var_counts[var_counts==17].index)

for dataset_name in present_in_datasets:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    BES_Panel = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    if "id" in BES_Panel.columns:
        temp = BES_Panel[var_list+["id"]].set_index("id").sort_index()
    else:
        temp = BES_Panel[var_list]
    temp.columns = [dataset_name+"_"+x for x in temp.columns]
    df = pd.concat([df,temp],axis=1)
    
df.index = df.index.astype('int')
# note - no extra rows over W19

Wall time: 51.7 s

In [334]:
%%time

number_of_unique_responses_per_row = {}

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]

    number_of_unique_responses_per_row[focal_var] = df[var_cols].apply(lambda x: len((x.dropna()).unique()),axis=1)
    number_of_unique_responses_per_row[focal_var].value_counts()

Wall time: 20min 46s

In [338]:
for key in number_of_unique_responses_per_row.keys():
    print(key)
    display(number_of_unique_responses_per_row[key].value_counts())

housing

0    65301
1    31857
dtype: int64

profile_past_vote_2005

1    50268
0    40149
2     6741
dtype: int64

profile_turnout_2017

1    70322
0    26836
dtype: int64

profile_past_vote_2017

1    60451
0    36707
dtype: int64

euRefLA

1    93773
0     3385
dtype: int64

profile_past_vote_2010

1    56419
0    31577
2     9162
dtype: int64

profile_newspaper

1    56739
0    30228
2     9731
3      460
dtype: int64

profile_scotref_turnout

0    87199
1     9959
dtype: int64

profile_turnout_2015

1    77713
0    19328
2      117
dtype: int64

profile_gross_household

1    39499
2    27572
3    14400
0     9005
4     5190
5     1325
6      161
7        6
dtype: int64

profile_lea

1    54633
0    42525
dtype: int64

profile_eurefvote

1    68514
0    28644
dtype: int64

profile_past_vote_2015

1    71125
0    26033
dtype: int64

profile_gross_personal

1    55276
0    22902
2    18460
3      520
dtype: int64

disability

1    51225
0    33356
2    11798
3      779
dtype: int64

profile_household_children

1    73757
0    19313
2     4080
3        8
dtype: int64

gender

1    96521
0      629
2        8
dtype: int64

profile_scotref_vote

0    88359
1     8799
dtype: int64

profile_education_age

1    39216
0    23432
2    21590
3    12920
dtype: int64

marital

1    64090
0    33068
dtype: int64

ageGroup

1    66930
0    30228
dtype: int64

In [ ]:
# discrepancy_pairs_2005 = df[ppv2005].loc[  number_of_unique_responses_per_row_2005==2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

In [339]:
%%time

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]
    df["nuniq_"+focal_var] = number_of_unique_responses_per_row[focal_var]
    df["discrep_"+focal_var] = df[var_cols].loc[  df["nuniq_"+focal_var]>=2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

Wall time: 1min 35s

In [342]:
df

,W19_comb_housing,W19_comb_profile_past_vote_2005,W19_comb_profile_turnout_2017,W19_comb_profile_past_vote_2017,W19_comb_euRefLA,W19_comb_profile_past_vote_2010,W19_comb_profile_newspaper,W19_comb_profile_scotref_turnout,W19_comb_profile_turnout_2015,W19_comb_profile_gross_household,...,nuniq_gender,discrep_gender,nuniq_profile_scotref_vote,discrep_profile_scotref_vote,nuniq_profile_education_age,discrep_profile_education_age,nuniq_marital,discrep_marital,nuniq_ageGroup,discrep_ageGroup
1,Own the leasehold/freehold outright,Labour,NaN,NaN,E06000050,United Kingdom Independence Party (UKIP),The Mirror / Daily Record,NaN,"Yes, voted","Â£10,000 to Â£14,999 per year",...,1,NaN,0,NaN,1,NaN,1,NaN,1,NaN
2,Own the leasehold/freehold outright,Conservative,"Yes, voted",Conservative,E07000215,Conservative,The Daily Telegraph,NaN,"Yes, voted","Â£50,000 to Â£59,999 per year",...,1,NaN,0,NaN,3,20+|d|Foreman or Supervisor of Other Workers (...,1,NaN,1,NaN
3,Own the leasehold/freehold outright,Labour,"Yes, voted",Labour,E07000136,Liberal Democrat,The Mirror / Daily Record,NaN,"Yes, voted","Â£5,000 to Â£9,999 per year",...,1,NaN,0,NaN,2,20+|d,1,NaN,1,NaN
4,Buying leasehold/freehold on a mortgage,Conservative,NaN,NaN,NaN,Conservative,The Sun,NaN,NaN,"Â£25,000 to Â£29,999 per year",...,1,NaN,0,NaN,1,NaN,1,NaN,1,NaN
5,Own the leasehold/freehold outright,I would not vote,NaN,NaN,NaN,Liberal Democrat,The Daily Telegraph,NaN,NaN,"Â£25,000 to Â£29,999 per year",...,1,NaN,0,NaN,1,NaN,1,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98447,NaN,NaN,"No, did not vote",NaN,NaN,NaN,NaN,NaN,"No, did not vote",NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
98448,NaN,NaN,"No, did not vote",NaN,NaN,NaN,NaN,NaN,"No, did not vote",NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
98449,NaN,NaN,"Yes, voted",Don't know,NaN,NaN,NaN,NaN,"Yes, voted",NaN,...,1,NaN,0,NaN,1,NaN,0,NaN,0,NaN
98450,NaN,NaN,"No, did not vote",NaN,NaN,NaN,NaN,NaN,Don't know,NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN
98451,NaN,NaN,Don't know,NaN,NaN,NaN,NaN,NaN,"Yes, voted",NaN,...,1,NaN,0,NaN,0,NaN,0,NaN,0,NaN

In [347]:
df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1)

,discrep_profile_past_vote_2005,discrep_profile_past_vote_2010,discrep_profile_newspaper,discrep_profile_turnout_2015,discrep_profile_gross_household,discrep_profile_gross_personal,discrep_disability,discrep_profile_household_children,discrep_gender,discrep_profile_education_age
1,NaN,NaN,The Mirror / Daily Record|None,NaN,"Â£10,000 to Â£14,999 per year|Â£25,000 to Â£29...",NaN,"Yes, limited a little|No",NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,"Â£50,000 to Â£59,999 per year|£60,000 to £69,9...","Â£50,000 to Â£59,999 per year|£10,000 to £14,9...",NaN,NaN,NaN,20+|d|Foreman or Supervisor of Other Workers (...
3,NaN,NaN,NaN,NaN,"Â£5,000 to Â£9,999 per year|£5,000 to £9,999 p...","Â£5,000 to Â£9,999 per year|£5,000 to £9,999 p...",NaN,NaN,NaN,20+|d
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
98447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [349]:
df["discrep_gender"].value_counts()

Female|Male    7
Male|Female    1
Name: discrep_gender, dtype: int64

In [352]:
BES_Panel.loc[df[df["discrep_gender"].notnull()].index,]

Int64Index([30929, 35852, 38388, 39244, 76846, 77218, 77875, 89977], dtype='int64')

In [353]:
search(BES_Panel,"sexuality")

Series([], dtype: float64)

In [360]:
df[df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1).columns[3]].value_counts()

No, did not vote|Yes, voted    33
Yes, voted|No, did not vote    21
Yes, voted|Don't know          20
No, did not vote|Don't know    19
Don't know|Yes, voted          13
Don't know|No, did not vote    11
Name: discrep_profile_turnout_2015, dtype: int64

In [368]:
df[df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1).columns[8]].value_counts().head(20)

Female|Male    7
Male|Female    1
Name: discrep_gender, dtype: int64

In [391]:
%%time
(BES_code_folder, BES_small_data_files, BES_data_folder,
 BES_output_folder, BES_file_manifest, BES_R_data_files) = setup_directories()

global BES_Panel, BES_numeric, BES_reduced, BES_reduced_with_na, BES_non_numeric

df = pd.DataFrame()
var_list = ["profile_eurefturnout", "profile_ethnicity", "profile_religion", "countryOfBirth", "profile_past_vote_2015"]

for dataset_name in present_in_datasets:
    
    data_subfolder = BES_data_folder + dataset_name + os.sep

    (manifest, dataset_filename, dataset_description, dataset_citation,
     dataset_start, dataset_stop, dataset_wave) = get_manifest(dataset_name, BES_file_manifest)    
    BES_Panel = pd.read_pickle(data_subfolder + dataset_filename.replace('.dta','.zip'),compression='zip')
    pres_var_list = [x for x in var_list if x in BES_Panel.columns]
    if "id" in BES_Panel.columns:
        temp = BES_Panel[pres_var_list+["id"]].set_index("id").sort_index()
    else:
        temp = BES_Panel[pres_var_list]
    temp.columns = [dataset_name+"_"+x for x in temp.columns]
    df = pd.concat([df,temp],axis=1)
    
df.index = df.index.astype('int')
# note - no extra rows over W19

Wall time: 30.4 s

In [392]:
%%time

number_of_unique_responses_per_row = {}

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]

    number_of_unique_responses_per_row[focal_var] = df[var_cols].apply(lambda x: len((x.dropna()).unique()),axis=1)
    number_of_unique_responses_per_row[focal_var].value_counts()

Wall time: 4min 56s

In [393]:
%%time

for focal_var in var_list:
    var_cols = [x for x in df.columns if focal_var in x]
    df["nuniq_"+focal_var] = number_of_unique_responses_per_row[focal_var]
    df["discrep_"+focal_var] = df[var_cols].loc[  df["nuniq_"+focal_var]>=2 ].dropna(how='all',axis=1).apply(lambda x: "|".join([str(x) for x in x.dropna().unique()]),axis=1)

Wall time: 6.39 s

In [397]:
df[[x for x in df.columns if "discrep" in x]].dropna(how='all',axis=1).columns

Index(['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'],
      dtype='object')

In [406]:
df[['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'][2]].value_counts().head(5)

Other: Rest of world|Other: Commonwealth member country    27
Other: Commonwealth member country|Other: Rest of world    27
England|Other: Rest of world                               25
Prefer not to answer|England                               15
England|Wales                                              10
Name: discrep_countryOfBirth, dtype: int64

In [404]:
df[['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'][1]].value_counts().head(5)

Yes - Church of England/Anglican/Episcopal|No, I do not regard myself as belonging to any particular religion.    1615
No, I do not regard myself as belonging to any particular religion.|Yes - Church of England/Anglican/Episcopal    1434
No, I do not regard myself as belonging to any particular religion.|Prefer not to say                              705
Yes - Other|No, I do not regard myself as belonging to any particular religion.                                    300
Yes - Roman Catholic|No, I do not regard myself as belonging to any particular religion.                           294
Name: discrep_profile_religion, dtype: int64

In [407]:
df[['discrep_profile_ethnicity', 'discrep_profile_religion',
       'discrep_countryOfBirth'][0]].value_counts().head(5)

Any other white background|White British        6
White British|Any other white background        4
Any other mixed background|White British        3
Prefer not to say|White British                 2
Any other Asian background|Prefer not to say    1
Name: discrep_profile_ethnicity, dtype: int64

In [ ]:
##############################################################################

# comparing W19_comb
# BES_Panel,BES_Panelv02

In [3]:
BES_Panelv02 = pd.read_pickle("..\\BES_analysis_data\\"+"W19_comb"+os.sep+"BES_Panelv02",compression='zip')

In [4]:
BES_Panel.shape, BES_Panelv02.shape

((97158, 7911), (97006, 8080))

In [184]:
search(BES_Panelv02,"mpname")

mpNameW1    30587
dtype: int64

In [186]:
gone_vars = list(set(BES_Panel.columns) - set(BES_Panelv02.columns))
old_stubs = {re.match("(.*?W\d+)",x).groups()[0]:x for x in gone_vars if re.match(".*W\d+W\d+",x)}
pd.Series([x for x in gone_vars if x not in old_to_new_dict.keys()]).sort_values().head(140)[-50:]

# countryOfBirth/countryOfBirthW17 -> disappeared
# euRefLA/profile_lea/profile_leaW7  -> disappeared 
# profile_household_childrenW18/profile_household_childrenW19/profile_household_children  -> disappeared
# profile_mpnameW2/profile_mpnameW3  -> disappeared
# profile_work_type|profile_work_organisation|profile_work_responsibility|profile_work_industry  -> disappeared



# currentUnionMemberW16/currentUnionMemberW17/everUnionMemberW16/everUnionMemberW17 -> transformed
# edlevelW11/educationW11 -> transformed

# euRefpastVoteW14/euRefpastVoteW17 -> transformed
# mother/fatherNumEmployeesWX -> parentNumEmployees
# headHouseholdPastWX -> headHouseholdPast


# 102                 pastvote_EURefW17
# 89               pastvote_eup_2019W18
# 2                pastvote_eup_2019W19
# 118               pastvote_ge_2019W19
# 26                          voted2015
# 12                       voted2017W19

103               pastvote_ge_2019W19
72              profile_education_age
57                  profile_ethnicity
11            profile_gross_household
69             profile_gross_personal
42               profile_house_tenure
48         profile_household_children
17      profile_household_childrenW18
59      profile_household_childrenW19
81             profile_household_size
6                         profile_lea
102                     profile_leaW7
8                    profile_mpnameW2
45                   profile_mpnameW3
98                  profile_newspaper
4                      profile_oslaua
35                   profile_religion
55                 profile_scotRefW17
19                 profile_scotRefW18
26                 profile_scotRefW19
0            profile_work_industryW14
51           profile_work_industryW17
70           profile_work_industryW18
40           profile_work_industryW19
87       profile_work_organisationW14
92       profile_work_organisationW17
15       profile_work_organisationW18
34       profile_work_organisationW19
91     profile_work_organisationW1_W3
93     profile_work_responsibilityW14
56     profile_work_responsibilityW17
44     profile_work_responsibilityW18
49     profile_work_responsibilityW19
66            profile_work_statW1_W10
67               profile_work_typeW11
53               profile_work_typeW14
52               profile_work_typeW17
100              profile_work_typeW18
78               profile_work_typeW19
36             profile_work_typeW2_W4
31             profile_work_typeW7W10
80               scotRefTurnoutW3_W14
75                  scotRefVoteW3_W14
97             scotReferendumRetroW11
13             scotReferendumRetroW15
23              scotReferendumVoteW11
27              scotReferendumVoteW15
90                       sexualityW14
20                          voted2015
10                       voted2017W19
dtype: object

In [66]:
new_vars= list(set(BES_Panelv02.columns) - set(BES_Panel.columns))
# [x for x in new_vars if 
new_stubs = {x:re.match("(.*?W\d+)",x).groups()[0] for x in new_vars if re.match(".*W\d+_",x)}
# [x for x in new_vars if not re.match("(age|pano|pcon|country|gor)|(p_)|(.*W\d+_W\d+)|(likeJohnson|enviroGrowth|oslaua|parentNumEmployees)",x)]

# new columns
# profile style columns for waves that weren't included before (age/pano/pcon/country/gor/)
# enviroGrowth has reappeared???
# variables where the formatting for multiple waves has been made more consistent
# likeBoris -> likeJohnson

In [70]:
# al2W10_W12
old_to_new_dict = {}
for new_key in new_stubs.keys():
    if new_stubs[new_key] in old_stubs.keys():
        old_to_new_dict[old_stubs[new_stubs[new_key]]] = new_key
    else:
        print("doesn't appear to have older analogue",new_key)

doesn't appear to have older analogue motherVoteW3W14_W17
doesn't appear to have older analogue fatherVoteW3W14_W17

In [198]:
for new_var in new_vars:
    if "likeJohnson" in new_var:
        old_to_new_dict[new_var.replace("likeJohnson","likeBoris")] = new_var
    elif "parentNumEmployees" in new_var:
        old_to_new_dict[new_var.replace("parentNumEmployees","fatherNumEmployees")] = new_var
        old_to_new_dict[new_var.replace("parentNumEmployees","motherNumEmployees")] = new_var
#     else:
#         print("doesn't appear to have older analogue",new_key)

In [222]:
old_to_new_dict["profile_sexualityW10"] = "xsexualityW10"
old_to_new_dict["sexualityW17"] = "p_sexualityW17"


old_to_new_dict["profile_scotref_vote"] = "p_vote_scot_ref"
old_to_new_dict["profile_scotref_turnout"] = "p_turnout_scot_ref"
old_to_new_dict["pastvote_ge_2019W19"] = "p_past_vote_2019"
old_to_new_dict["voted2015"] = "voted2015newwordingW15"


old_to_new_dict["newspaperReadW15"] = "p_paper_readW15"
old_to_new_dict["profile_newspaper2W12"] = "p_paper_readW12"
old_to_new_dict["profiles_newspaper2W16"] = "p_paper_readW16"
old_to_new_dict["profiles_newspaper2W17"] = "p_paper_readW17"

old_to_new_dict["ethnicity2W15"] = "p_ethnicityW15"
old_to_new_dict["ethnicity2W16"] = "p_ethnicityW16"
old_to_new_dict["profile_ethnicity2W17"] = "p_ethnicityW17"
old_to_new_dict["profile_ethnicity2W18"] = "p_ethnicityW18"
old_to_new_dict["profile_ethnicity2W19"] = "p_ethnicityW19"

In [223]:

drop_vars = ["work_type","work_organisation","work_responsibility","work_industry","profile_lea",
             "profile_oslaua","profile_mpname","education","fatherVote","motherVote","headHouseholdPast",
             "headHouseholdPast","motherNumEmployees","fatherNumEmployees","edlevel","everUnionMember",
             "currentUnionMember","profile_household_children","sexuality","countryOfBirth"]

for x in [x for x in gone_vars if "profile" in x and x not in old_to_new_dict.keys()]:
    
    if x.replace("profile","p") in new_vars:
        old_to_new_dict[x] = x.replace("profile","p")
    elif x.replace("profile_household_size","p_hh_size") in new_vars:
        old_to_new_dict[x] = x.replace("profile_household_size","p_hh_size")
    elif x.replace("profile_marital_stat","p_marital") in new_vars:
        old_to_new_dict[x] = x.replace("profile_marital_stat","p_marital")
    elif x.replace("profile_house_tenure","p_housing") in new_vars:
        old_to_new_dict[x] = x.replace("profile_house_tenure","p_housing")
    elif x.replace("profile_socialgrade_cie","p_socgrade") in new_vars:
        old_to_new_dict[x] = x.replace("profile_socialgrade_cie","p_socgrade")
    elif x.replace("profile_newspaper","p_paper_read") in new_vars:
        old_to_new_dict[x] = x.replace("profile_newspaper","p_paper_read")
        
        
        
        
        

        

for x in [x for x in gone_vars if re.match("educationW\d+|edlevelW\d+",x)]:
    if x.replace("education","p_education") in new_vars:
        old_to_new_dict[x] = x.replace("education","p_education")
    if x.replace("edlevel","p_edlevel") in new_vars:
        old_to_new_dict[x] = x.replace("edlevel","p_edlevel")        
        
# for x in [x for x in gone_vars if re.match("motherNumEmployeesW\d+|fatherNumEmployeesW\d+",x)]:
#     if x.replace("education","p_education") in new_vars:
#         old_to_new_dict[x] = x.replace("education","p_education")
# #     if x.replace("edlevel","p_edlevel") in new_vars:
# #         old_to_new_dict[x] = x.replace("edlevel","p_edlevel")    
    
for x in gone_vars:
    if not np.any([y in x for y in drop_vars]) and re.match("\d",x[-1]) and x not in old_to_new_dict.keys():
        print(x, " not in new vars")        
        
# many of the "amalgamated waveless" variables have disappeared
# work_type|organisation|responsibility|industry
# profile_lea,profile_leaW17,profile_oslaua
# profile_mpnameW2,profile_mpnameW3


# profile_scotRefW17,profile_scotRefW18,profile_scotRefW19
# profile_household_childrenW18,profile_household_childrenW19
# profile_work_statW1_W10

pastvote_eup_2019W19  not in new vars
euRefpastVoteW17  not in new vars
voted2017W19  not in new vars
scotReferendumRetroW15  not in new vars
profile_scotRefW18  not in new vars
scotReferendumVoteW11  not in new vars
profile_scotRefW19  not in new vars
scotReferendumVoteW15  not in new vars
euRefpastVoteW14  not in new vars
profile_scotRefW17  not in new vars
profile_work_statW1_W10  not in new vars
scotRefVoteW3_W14  not in new vars
pastvote_eup_2019W18  not in new vars
scotRefTurnoutW3_W14  not in new vars
pastvote_EURefW17  not in new vars
scotReferendumRetroW11  not in new vars

In [ ]:
# pastvote_eup_2019W19  not in new vars
# euRefpastVoteW17  not in new vars
# voted2017W19  not in new vars
# # voted2015  not in new vars -> voted2015newwordingW15
# euRefpastVoteW14  not in new vars
# pastvote_eup_2019W18  not in new vars
# pastvote_EURefW17  not in new vars
# # pastvote_ge_2019W19  not in new vars

In [169]:
BES_Panel["profile_household_childrenW18"].value_counts()

0                    29664
1                     3494
2                     2904
3                      655
Prefer not to say      654
4                      182
Don't know             150
5 or more               82
6 or more                5
Name: profile_household_childrenW18, dtype: int64

In [168]:
BES_Panel["profile_household_sizeW18"].value_counts()

2                    17458
1                     7928
3                     5700
4                     4211
5                     1210
Prefer not to say      569
6                      345
Don't know             112
7                      106
8 or more               71
Name: profile_household_sizeW18, dtype: int64

In [220]:
search(BES_Panelv02,"genElecTurnoutRetro")

genElecTurnoutRetroW6         30258
genElecTurnoutRetroW7         30895
genElecTurnoutRetroW13        31136
genElecTurnoutRetro2017W18     9369
genElecTurnoutRetroW19        32177
dtype: int64

In [221]:
search(BES_Panel,"genElecTurnoutRetro")

genElecTurnoutRetroW6         30258
genElecTurnoutRetroW13        31136
genElecTurnoutRetro2017W18     9369
genElecTurnoutRetroW19        32177
dtype: int64

In [208]:
[x for x in new_vars if x not in old_to_new_dict.values()]

# disability and sexuality largely new

# 

# new variables:
# p_parent, p_edlevelUni (edlevel but includes qualifications people are currently getting?)

# return of old variables:
# enviroGrowth

['p_sexualityW13',
 'p_sexualityW9',
 'p_religionW6',
 'p_disabilityW13',
 'oslauaW9',
 'p_paper_readW4',
 'p_gross_personalW17',
 'p_edlevelUniW8',
 'p_religionW1',
 'p_gross_householdW1',
 'p_edlevelW5',
 'p_maritalW6',
 'p_parentW10',
 'p_sexualityW15',
 'countryW18',
 'p_parentW15',
 'p_edlevelW9',
 'p_gross_personalW1',
 'p_maritalW12',
 'oslauaW19',
 'p_hh_sizeW17',
 'oslauaW14',
 'p_hh_sizeW11',
 'gorW20',
 'p_parentW11',
 'p_gross_personalW2',
 'p_parentW9',
 'p_edlevelW4',
 'p_education_ageW8',
 'p_ethnicityW6',
 'p_disabilityW4',
 'oslauaW2',
 'p_ethnicityW1',
 'p_maritalW3',
 'p_sexualityW18',
 'p_hh_sizeW14',
 'p_socgradeW11',
 'p_turnout_2010',
 'p_disabilityW14',
 'p_gross_personalW13',
 'p_parentW16',
 'p_sexualityW2',
 'oslauaW16',
 'p_disabilityW2',
 'p_work_statW9',
 'oslauaW15',
 'p_past_vote_2019',
 'p_religionW2',
 'enviroGrowthW17',
 'p_parentW8',
 'p_turnout_2005',
 'ageW3',
 'enviroGrowthW7',
 'p_gross_personalW4',
 'p_scot_list_vote_2011',
 'oslauaW3',
 'p_edlevelUniW19',
 'gorW18',
 'p_housingW3',
 'p_paper_readW6',
 'p_maritalW7',
 'p_disabilityW12',
 'p_ethnicityW13',
 'p_edlevelW8',
 'p_educationW8',
 'p_hh_sizeW9',
 'p_sexualityW8',
 'oslauaW10',
 'p_edlevelUniW9',
 'p_housingW5',
 'p_education_ageW12',
 'p_gross_personalW16',
 'p_disabilityW16',
 'p_paper_readW14',
 'p_edlevelUniW17',
 'p_maritalW9',
 'p_gross_householdW3',
 'oslauaW11',
 'p_hh_sizeW13',
 'p_disabilityW18',
 'p_disabilityW15',
 'motherVoteW3W14_W17',
 'p_edlevelUniW7',
 'p_maritalW1',
 'p_paper_readW8',
 'p_scot_const_vote_2016',
 'p_sexualityW3',
 'p_maritalW4',
 'p_hh_sizeW16',
 'p_sexualityW6',
 'p_education_ageW1',
 'p_maritalW8',
 'p_scot_const_vote_2011',
 'p_ethnicityW4',
 'p_hh_sizeW3',
 'p_sexualityW11',
 'p_ethnicityW10',
 'p_sexualityW4',
 'p_disabilityW1',
 'p_ethnicityW3',
 'p_hh_sizeW6',
 'p_work_statW15',
 'p_paper_readW3',
 'p_work_statW2',
 'countryW4',
 'p_welsh_const_vote_2016',
 'p_gross_householdW4',
 'panoW18',
 'p_socgradeW2',
 'p_housingW2',
 'p_hh_sizeW12',
 'p_sexualityW7',
 'oslauaW1',
 'p_paper_readW19',
 'p_hh_sizeW2',
 'oslauaW18',
 'p_gross_householdW9',
 'p_parentW13',
 'p_parentW17',
 'p_sexualityW19',
 'p_housingW19',
 'oslauaW13',
 'p_disabilityW11',
 'p_education_ageW15',
 'p_edlevelUniW10',
 'panoW4',
 'p_religionW7',
 'p_educationW10',
 'p_education_ageW17',
 'oslauaW17',
 'p_parentW14',
 'oslauaW5',
 'p_sexualityW10',
 'p_disabilityW17',
 'p_disabilityW3',
 'p_welsh_list_vote_2016',
 'p_hh_sizeW4',
 'p_socgradeW9',
 'p_gross_householdW5',
 'oslauaW8',
 'p_paper_readW9',
 'oslauaW6',
 'p_work_statW6',
 'p_hh_sizeW8',
 'p_religionW18',
 'p_gross_personalW3',
 'p_gross_personalW15',
 'p_work_statW1',
 'p_education_ageW3',
 'p_edlevelW2',
 'p_work_statW10',
 'p_edlevelUniW18',
 'p_scot_list_vote_2016',
 'p_paper_readW7',
 'enviroGrowthW16',
 'p_ethnicityW14',
 'p_ethnicityW9',
 'p_work_statW5',
 'p_sexualityW14',
 'p_edlevelW3',
 'p_education_ageW10',
 'p_work_statW8',
 'p_religionW4',
 'genElecTurnoutRetroW7',
 'p_gross_personalW11',
 'p_housingW7',
 'pconW18',
 'p_housingW8',
 'fatherVoteW3W14_W17',
 'p_maritalW5',
 'p_edlevelUniW12',
 'p_gross_personalW10',
 'pconW4',
 'p_education_ageW16',
 'p_ethnicityW11',
 'p_hh_sizeW5',
 'p_gross_personalW8',
 'p_housingW18',
 'p_ethnicityW2',
 'p_edlevelUniW14',
 'p_edlevelW1',
 'p_educationW5',
 'p_edlevelW6',
 'p_sexualityW16',
 'p_gross_householdW8',
 'p_edlevelUniW11',
 'p_parentW12',
 'p_education_ageW14',
 'p_paper_readW1',
 'p_disabilityW10',
 'p_maritalW19',
 'p_gross_householdW6',
 'p_socgradeW6',
 'p_turnout_2019',
 'p_maritalW2',
 'p_religionW3',
 'p_gross_personalW12',
 'p_gross_personalW14',
 'p_housingW9',
 'p_edlevelW10',
 'p_hh_sizeW15',
 'oslauaW4',
 'ageW2',
 'p_gross_householdW2',
 'p_disabilityW7',
 'p_ethnicityW5',
 'p_education_ageW11',
 'p_religionW5',
 'oslauaW12',
 'p_education_ageW5',
 'p_gross_personalW6',
 'p_disabilityW5',
 'p_gross_personalW9',
 'p_paper_readW5',
 'p_sexualityW12',
 'p_education_ageW6',
 'enviroGrowthW4',
 'ageW6',
 'gorW4',
 'p_edlevelUniW15',
 'ageW10',
 'ageW5',
 'p_work_statW3',
 'p_housingW4',
 'p_ethnicityW8',
 'p_housingW1',
 'p_parentW19',
 'p_ethnicityW12',
 'p_gross_personalW5',
 'p_education_ageW2',
 'oslauaW7',
 'p_parentW18',
 'p_maritalW10',
 'p_edlevelUniW16',
 'ageW4',
 'p_disabilityW6',
 'p_housingW6',
 'p_religionW19',
 'p_socgradeW1',
 'p_socgradeW10',
 'p_edlevelUniW13',
 'p_sexualityW5',
 'p_disabilityW8',
 'p_socgradeW4',
 'p_hh_sizeW1',
 'p_work_statW16',
 'countryW20',
 'p_education_ageW9',
 'p_education_ageW4',
 'p_paper_readW18',
 'p_socgradeW5',
 'voted2015newwordingW15',
 'p_educationW1',
 'p_disabilityW19',
 'p_paper_readW2',
 'p_socgradeW3',
 'p_religionW9',
 'p_work_statW4',
 'p_religionW8',
 'p_sexualityW1',
 'p_disabilityW9']

In [164]:
BES_Panelv02["p_parentW13"].value_counts()
# completely new question (parent/guardian?)
# ditto edlevelUni (I guess includes the qualification you're currently doing)

Yes    18121
No     11428
Name: p_parentW13, dtype: int64

In [165]:
BES_Panel["headHouseholdPastW13"].value_counts()

My father                    22097
My mother                     3457
Don't know                     774
No one in my house worked      605
Someone else                   482
Name: headHouseholdPastW13, dtype: int64

In [153]:
BES_Panelv02["p_edlevelW17"].value_counts()

Undergraduate        9873
GCSE                 6638
A-level              5987
Postgrad             3066
No qualifications    2169
Below GCSE           1359
Name: p_edlevelW17, dtype: int64

In [159]:
BES_Panel["edlevelW17"].value_counts()

Undergraduate        10041
GCSE                  6629
A-level               6066
Postgrad              3062
No qualifications     2181
Below GCSE            1375
Name: edlevelW17, dtype: int64

In [197]:
pd.Series([x for x in new_vars if x not in old_to_new_dict.values()]).sort_values().head(500)[-50:]

55       p_scot_list_vote_2011
156      p_scot_list_vote_2016
267              p_sexualityW1
135             p_sexualityW10
98              p_sexualityW11
221             p_sexualityW12
0               p_sexualityW13
162             p_sexualityW14
14              p_sexualityW15
189             p_sexualityW16
35              p_sexualityW18
122             p_sexualityW19
42               p_sexualityW2
89               p_sexualityW3
100              p_sexualityW4
248              p_sexualityW5
92               p_sexualityW6
114              p_sexualityW7
68               p_sexualityW8
1                p_sexualityW9
245               p_socgradeW1
246              p_socgradeW10
37               p_socgradeW11
111               p_socgradeW2
263               p_socgradeW3
250               p_socgradeW4
258               p_socgradeW5
198               p_socgradeW6
141               p_socgradeW9
51              p_turnout_2005
38              p_turnout_2010
199             p_turnout_2019
108    p_welsh_const_vote_2016
139     p_welsh_list_vote_2016
151              p_work_statW1
154             p_work_statW10
104             p_work_statW15
253             p_work_statW16
106              p_work_statW2
229              p_work_statW3
265              p_work_statW4
161              p_work_statW5
146              p_work_statW6
165              p_work_statW8
45               p_work_statW9
110                    panoW18
128                     panoW4
170                    pconW18
176                     pconW4
259     voted2015newwordingW15
dtype: object

In [172]:
BES_Panel["profile_house_tenureW14"].value_counts()

Own - outright                                                                          11908
Own - with a mortgage                                                                    8136
Rent - from a private landlord                                                           3826
Rent - from a housing association                                                        1941
Rent - from my local authority                                                           1618
Neither - I live rent-free with my parents, family or friends                            1075
Neither - I live with my parents, family or friends but pay some rent to them            1036
Other                                                                                     492
Own (part-own) - through shared ownership scheme (i.e. pay part mortgage, part rent)      206
Name: profile_house_tenureW14, dtype: int64

In [121]:
BES_Panelv02["p_housingW14"].value_counts()

Own â outright                                                                          11938
Own â with a mortgage                                                                    8165
Rent â from a private landlord                                                           3893
Rent â from a housing association                                                        1950
Rent â from my local authority                                                           1643
Neither â I live rent-free with my parents, family or friends                            1098
Neither â I live with my parents, family or friends but pay some rent to them            1063
Other                                                                                       482
Own (part-own) â through shared ownership scheme (i.e. pay part mortgage, part rent)      214
Name: p_housingW14, dtype: int64

In [13]:
BES_Panelv02[['xsexualityW10', 'genElecTurnoutRetroW7', 'voted2015newwordingW15']]

      xsexualityW10 genElecTurnoutRetroW7 voted2015newwordingW15
0               NaN                   NaN                    NaN
1               NaN                   NaN                    NaN
2               NaN                   NaN                    NaN
3      Heterosexual            Yes, voted                    NaN
4               NaN                   NaN                    NaN
...             ...                   ...                    ...
97001           NaN                   NaN                    NaN
97002           NaN                   NaN                    NaN
97003           NaN            Yes, voted                    NaN
97004  Heterosexual            Don't know                    NaN
97005           NaN            Yes, voted                    NaN

[97006 rows x 3 columns]

In [174]:
BES_Panelv02['voted2015newwordingW15'].value_counts()

Yes, voted          1374
No, did not vote     519
Don't know           181
Name: voted2015newwordingW15, dtype: int64

In [37]:
BES_Panelv02['genElecTurnoutRetroW7'].value_counts()

Yes, voted          27307
No, did not vote     2791
Don't know            797
Name: genElecTurnoutRetroW7, dtype: int64

In [219]:
BES_Panelv02['p_turnout_2015'].value_counts()

Voted         70536
DNV           12760
Don't know      951
Name: p_turnout_2015, dtype: int64

In [39]:
(BES_Panelv02['voted2015newwordingW15']==BES_Panelv02['genElecTurnoutRetroW7']).sum()
# no overlap ... assume the w15 is supplemental?

0

In [14]:
BES_Panelv02["xsexualityW10"].value_counts()

Heterosexual         26801
Prefer not to say     1144
Gay or lesbian        1104
Bisexual               911
Other                  277
Name: xsexualityW10, dtype: int64

In [30]:
BES_Panelv02["p_sexualityW10"].value_counts()

Heterosexual         26805
Prefer not to say     1139
Gay or lesbian        1105
Bisexual               912
Other                  275
Name: p_sexualityW10, dtype: int64

In [31]:
BES_Panelv02["xsexualityW10"].notnull().sum(),BES_Panelv02["p_sexualityW10"].notnull().sum()

(30237, 30236)

In [32]:
set(BES_Panelv02["xsexualityW10"][BES_Panelv02["xsexualityW10"].notnull()].index)\
    -set(BES_Panelv02["p_sexualityW10"][BES_Panelv02["p_sexualityW10"].notnull()].index)

{67489}

In [33]:
(BES_Panelv02["xsexualityW10"] != BES_Panelv02["p_sexualityW10"]).sum()

23

In [35]:
BES_Panelv02[["xsexualityW10","p_sexualityW10"]][(BES_Panelv02["xsexualityW10"] != BES_Panelv02["p_sexualityW10"])]

           xsexualityW10     p_sexualityW10
2311   Prefer not to say       Heterosexual
5382   Prefer not to say       Heterosexual
5841   Prefer not to say       Heterosexual
7928               Other  Prefer not to say
8071        Heterosexual     Gay or lesbian
16664  Prefer not to say           Bisexual
16812       Heterosexual  Prefer not to say
19758       Heterosexual  Prefer not to say
20053  Prefer not to say       Heterosexual
30290  Prefer not to say       Heterosexual
32289       Heterosexual  Prefer not to say
41320       Heterosexual           Bisexual
43856  Prefer not to say       Heterosexual
51358  Prefer not to say       Heterosexual
52622           Bisexual       Heterosexual
52825  Prefer not to say       Heterosexual
57213       Heterosexual  Prefer not to say
64165       Heterosexual  Prefer not to say
75636  Prefer not to say       Heterosexual
85385  Prefer not to say       Heterosexual
86247       Heterosexual  Prefer not to say
89445  Prefer not to say       Heterosexual
95545              Other       Heterosexual

In [42]:
BES_Panelv02["p_past_vote_2017"].value_counts()

Labour                                      23742
Conservative                                23741
Liberal Democrat                             5258
Scottish National Party (SNP)                2523
United Kingdom Independence Party (UKIP)     1498
Green Party                                  1289
Don't know                                   1204
Other                                         726
Plaid Cymru                                   395
British National Party (BNP)                    1
Name: p_past_vote_2017, dtype: int64

In [109]:
BES_Panel["sexualityW17"].value_counts()

Yes    29976
No      1317
5.0     1316
3.0     1057
4.0      359
Name: sexualityW17, dtype: int64

In [111]:
BES_Panelv02["p_sexualityW17"].value_counts()

Heterosexual         29993
Gay or lesbian        1321
Prefer not to say     1319
Bisexual              1062
Other                  360
Name: p_sexualityW17, dtype: int64

In [112]:
BES_Panel["sexualityW14"].value_counts()

No                   7014
Yes                   539
Prefer not to say     248
Name: sexualityW14, dtype: int64

In [114]:
BES_Panelv02["p_sexualityW14"].value_counts()

Heterosexual         27422
Prefer not to say     1304
Gay or lesbian        1082
Bisexual               851
Other                  284
Name: p_sexualityW14, dtype: int64

In [131]:
search(BES_Panel,"ethnicity")

discussantEthnicity1W2    24933
discussantEthnicity2W2    18238
discussantEthnicity3W2    13210
ethnicity2W15             30842
ethnicity2W16             37958
profile_ethnicityW7       30833
profile_ethnicity2W17     34364
profile_ethnicity2W18     37825
profile_ethnicity2W19     32177
profile_ethnicity         70290
dtype: int64

In [ ]:
##################################################
# Done with trying to line these up/tired!

In [226]:
old_to_new_dict_non_matching = old_to_new_dict.copy()
# backup in case you want a set *without* all the matching variables

for col in set(BES_Panelv02.columns).intersection(set(BES_Panel.columns)):
    old_to_new_dict[col] = col

In [229]:
BES_Panel.shape,BES_Panelv02.shape

((97158, 7911), (97006, 8080))

In [ ]:
BES_Panel = BES_Panel.set_index("id")
BES_Panelv02 = BES_Panelv02.set_index("id")

In [273]:
BES_Panel = BES_Panel.sort_index()
BES_Panelv02 = BES_Panelv02.sort_index()

In [250]:
nowtsW19 = (BES_Panel["wt_new_W19_result"].isnull() & BES_Panel["wave19"])

In [251]:
nowtsW19.sum()

629

In [252]:
len(set(BES_Panel.index) - set(BES_Panelv02.index))

152

In [253]:
len(set(BES_Panelv02.index)-set(BES_Panel.index))

0

In [254]:
nowtsW19v2 = (BES_Panelv02["wt_new_W19_result"].isnull() & BES_Panelv02["wave19"])

In [255]:
nowtsW19v2.sum()

0

In [285]:
df_diff = (BES_Panel.loc[BES_Panelv02.index,old_to_new_dict.keys()].rename(old_to_new_dict,axis=1).astype('object')!=BES_Panelv02.loc[BES_Panelv02.index,old_to_new_dict.values()].astype('object'))

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [286]:
df_diff.sum()

al4W10_W12                   62015
preschoolKidsInHouseW1_W5    55094
al1W10_W12                   62015
polKnowBercowW1_W3           60177
polKnowPutinW2_W4            63821
                             ...
snpUnitedW11                 93213
likeSNPW9                    93114
integrityFarronW10           89574
partyContactLD_5W18          91876
changeCostLiveLabW1          66462
Length: 7818, dtype: int64

In [290]:
df_diff.sum().sort_values().tail(50)

countryW11                    97006
wt_new_W13_result             97006
countryW3                     97006
wt_new_W9_W14                 97006
countryW12                    97006
wt_new_W19_result             97006
wt_new_W9W19                  97006
wt_full_W1W2                  97006
wt_new_W13W19                 97006
wt_new_W2W6                   97006
wt_newW17W19                  97006
wt_daily_W18                  97006
wt_full_W4W5                  97006
wt_new_W6W7                   97006
p_work_statW17                97006
wt_full_W1_W11                97006
countryW8                     97006
wt_new_W6_W12                 97006
wt_new_W18                    97006
p_socgradeW17                 97006
countryW17                    97006
countryW1                     97006
wt_new_W14                    97006
wt_new_W7W13                  97006
wt_new_W7                     97006
wt_new_W11_W13                97006
wt_full_W7W8                  97006
wt_new_W2W6W7                 97006
countryW7                     97006
wt_new_W17                    97006
wt_new_W9                     97006
wt_new_W12                    97006
wt_daily_W8                   97006
wt_new_W6                     97006
voted2015newwordingW15        97006
p_sexualityW17                97006
wt_full_W1W2W3W4W5W6W7W8W9    97006
wt_new_W1_W13                 97006
wt_new_W1_W12                 97006
wt_new_W11                    97006
wt_full_W4W6                  97006
p_gross_personalW7            97006
p_education_ageW18            97006
wt_new_W16W19                 97006
wt_full_W1W2W3                97006
wt_full_W4                    97006
wt_new_W17W18W19              97006
wt_full_W4W5W6                97006
p_gross_personalW18           97006
wt_new_W6W13W19               97006
dtype: int64

In [242]:
BES_Panel["selfOccEmployeesW15"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
97153    NaN
97154    NaN
97155    NaN
97156    NaN
97157    NaN
Name: selfOccEmployeesW15, Length: 97158, dtype: category
Categories (3, object): [I do not have employees < I have employees < Don't know]

In [274]:
BES_Panel.loc[BES_Panelv02.index,"gender"].sort_index()

id
1          Male
2        Female
3        Female
4        Female
5        Female
          ...
98447    Female
98448      Male
98449      Male
98450    Female
98451      Male
Name: gender, Length: 97006, dtype: category
Categories (2, object): [Male < Female]

In [272]:
BES_Panelv02.index

Int64Index([95126, 66250, 71010, 30819, 90554, 55200, 71572, 16546, 84526,
            35989,
            ...
            54003, 88710, 19111, 62529, 72987, 97130, 11566, 11157, 27434,
            50539],
           dtype='int64', name='id', length=97006)

In [280]:
gender_diff = BES_Panelv02.loc[BES_Panelv02.index,"gender"].sort_index()!=BES_Panel.loc[BES_Panelv02.index,"gender"].sort_index()

In [281]:
gender_diff.sum()

31

In [288]:
BES_Panelv02.loc[BES_Panelv02.index,"gender"].isnull().sum()

916

In [289]:
BES_Panel.loc[BES_Panelv02.index,"gender"].isnull().sum()

4826

In [294]:
BES_Panelv02["countryW11"].value_counts()

1.0    24997
2.0     3793
3.0     2166
Name: countryW11, dtype: int64

In [296]:
old_category_cols = BES_Panel[old_to_new_dict.keys()].columns[BES_Panel[old_to_new_dict.keys()].dtypes=="category"]

In [298]:
new_category_cols = BES_Panelv02[old_to_new_dict.values()].columns[BES_Panelv02[old_to_new_dict.values()].dtypes=="category"]

In [300]:
gc.collect()

20

In [301]:
len(old_category_cols),len(new_category_cols),

(7633, 7591)

In [308]:
pd.Series([old_to_new_dict[x] for x in old_category_cols if old_to_new_dict[x] not in new_category_cols]).sort_values()

# country*
# jobzone*
# discussantturnoutName(1|2|3)(W2|W4|W12)
# changeViewW19|harassedSocMediaW19|partyAgree2W12|polSocMediaW19|socMediaUseW19
# warm(Denmark|France|Greece|Poland|Romania|Spain|UK)

6                 changeViewW19
24                    countryW1
9                    countryW10
35                   countryW11
10                   countryW12
23                   countryW13
26                   countryW14
21                   countryW15
38                   countryW16
37                   countryW17
29                   countryW19
22                    countryW2
31                    countryW3
11                    countryW5
1                     countryW6
0                     countryW7
36                    countryW8
39                    countryW9
30    discussantturnoutName1W12
15     discussantturnoutName1W2
41     discussantturnoutName1W4
33    discussantturnoutName2W12
12     discussantturnoutName2W2
7      discussantturnoutName2W4
2     discussantturnoutName3W12
18     discussantturnoutName3W2
8      discussantturnoutName3W4
3           harassedSocMediaW19
5              jobzoneW16W17W18
20                   jobzoneW19
13            jobzoneW1W2W3W4W5
4               jobzoneW6W7W8W9
34               partyAgree2W12
27               polSocMediaW19
16               socMediaUseW19
40                warmDenmarkW7
28                 warmFranceW7
14                 warmGreeceW7
32                 warmPolandW7
19                warmRomaniaW7
17                  warmSpainW7
25                     warmUKW7
dtype: object

In [316]:
missing_labels = [old_to_new_dict[x] for x in old_category_cols if old_to_new_dict[x] not in new_category_cols]

['countryW7',
 'countryW6',
 'discussantturnoutName3W12',
 'harassedSocMediaW19',
 'jobzoneW6W7W8W9',
 'jobzoneW16W17W18',
 'changeViewW19',
 'discussantturnoutName2W4',
 'discussantturnoutName3W4',
 'countryW10',
 'countryW12',
 'countryW5',
 'discussantturnoutName2W2',
 'jobzoneW1W2W3W4W5',
 'warmGreeceW7',
 'discussantturnoutName1W2',
 'socMediaUseW19',
 'warmSpainW7',
 'discussantturnoutName3W2',
 'warmRomaniaW7',
 'jobzoneW19',
 'countryW15',
 'countryW2',
 'countryW13',
 'countryW1',
 'warmUKW7',
 'countryW14',
 'polSocMediaW19',
 'warmFranceW7',
 'countryW19',
 'discussantturnoutName1W12',
 'countryW3',
 'warmPolandW7',
 'discussantturnoutName2W12',
 'partyAgree2W12',
 'countryW11',
 'countryW8',
 'countryW17',
 'countryW16',
 'countryW9',
 'warmDenmarkW7',
 'discussantturnoutName1W4']

In [320]:
old_category_cols_minus_ml = [x for x in old_category_cols if old_to_new_dict[x] in new_category_cols]

In [333]:
old_cat_lists = BES_Panel[old_category_cols_minus_ml].apply(lambda x: "|".join(map(str,x.cat.categories)))

In [334]:
new_cat_lists = BES_Panelv02[new_category_cols].apply(lambda x: "|".join(map(str,x.cat.categories)))

In [342]:
gc.collect()

153

In [336]:
cat_lists_differ = [old_cat_lists[x]!=new_cat_lists[x] for x in range(len(new_cat_lists))]

In [337]:
old_cat_lists

al4W10W11W12                      Strongly disagree|Disagree|Neither agree nor d...
preschoolKidsInHouseW1W2W3W4W5                                               No|Yes
al1W10W11W12                      Strongly disagree|Disagree|Neither agree nor d...
polKnowBercowW1W2W3               Chancellor of the Exchequer|Deputy Prime Minis...
polKnowPutinW2W3W4                President of Russia|Chancellor of Germany|Prim...
                                                        ...
snpUnitedW11                      Very divided|Fairly divided|Neither united nor...
likeSNPW9                         Strongly dislike|1|2|3|4|5|6|7|8|9|Strongly li...
integrityFarronW10                No integrity at all|1|2|3|4|5|6|7|8|9|Complete...
partyContactLD_5W18                                               No|Yes|Don't know
changeCostLiveLabW1               Getting a lot lower|Getting a little lower|Sta...
Length: 7591, dtype: object

In [339]:
np.sum(cat_lists_differ)

135

In [351]:
df = pd.DataFrame([(old_category_cols_minus_ml[x],new_category_cols[x],old_cat_lists[x],new_cat_lists[x]) for x in range(len(new_cat_lists)) if cat_lists_differ[x]])

In [354]:
df.columns = ["old_var_name","new_var_name","old_cat_list","new_cat_list"]
df.head(50)

,old_var_name,new_var_name,old_cat_list,new_cat_list
0,profile_education_ageW19,p_education_ageW19,a|b|C1|C2|d|e|Refused,15 or under|16|17-18|19|20+|Still at school/Fu...
1,profile_turnout_2017,p_turnout_2017,"No, did not vote|Yes, voted|Don't know",DNV|Voted|Don't know
2,profile_gross_householdW16,p_gross_householdW16,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
3,profile_gross_householdW15,p_gross_householdW15,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
4,profile_socgradeW14,p_socgradeW14,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
5,profile_gross_householdW12,p_gross_householdW12,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
6,profile_religionW17,p_religionW17,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
7,profile_gross_personalW18,p_gross_personalW18,"under £5,000 per year|£5,000 to £9,999 per yea...","Â under Â£5,000 per year|Â Â£5,000 to Â£9,999 ..."
8,profile_socgradeW12,p_socgradeW12,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
9,profile_religionW14,p_religionW14,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
10,profile_religionW10,p_religionW10,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
11,profile_turnout_2015,p_turnout_2015,"No, did not vote|Yes, voted|Don't know",DNV|Voted|Don't know
12,profile_past_vote_2010,p_past_vote_2010,I would not vote|Conservative|Labour|Liberal D...,Conservative|Labour|Liberal Democrat|Scottish ...
13,profile_gross_personalW7,p_gross_personalW7,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","Â under Â£5,000 per year|Â Â£5,000 to Â£9,999 ..."
14,profile_gross_householdW18,p_gross_householdW18,"under £5,000 per year|£5,000 to £9,999 per yea...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
15,profile_religionW13,p_religionW13,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
16,profile_gross_householdW13,p_gross_householdW13,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
17,profile_religionW11,p_religionW11,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
18,profile_gross_householdW17,p_gross_householdW17,"under £5,000 per year|£5,000 to £9,999 per yea...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
19,profile_socgradeW7,p_socgradeW7,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Refused|Unknown
20,profile_socgradeW15,p_socgradeW15,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
21,profile_religionW16,p_religionW16,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
22,profile_work_statW17,p_work_statW17,Conservative|Labour|Liberal Democrat|Scottish ...,Working full time (30 or more hours per week)|...
23,profile_gross_householdW11,p_gross_householdW11,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
24,profile_religionW15,p_religionW15,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
25,profile_socgradeW16,p_socgradeW16,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
26,profile_gross_householdW10,p_gross_householdW10,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
27,profile_socgradeW8,p_socgradeW8,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Refused|Unknown
28,profile_past_vote_2005,p_past_vote_2005,I would not vote|Conservative|Labour|Liberal D...,Conservative|Labour|Liberal Democrat|Scottish ...
29,profile_gross_householdW19,p_gross_householdW19,"under £5,000 per year|£5,000 to £9,999 per yea...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
30,profile_socgradeW13,p_socgradeW13,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Refused|Unknown
31,profile_religionW12,p_religionW12,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
32,profile_gross_householdW14,p_gross_householdW14,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
33,profile_gross_personalW19,p_gross_personalW19,"under £5,000 per year|£5,000 to £9,999 per yea...","Â under Â£5,000 per year|Â Â£5,000 to Â£9,999 ..."
34,profile_education_ageW18,p_education_ageW18,Professional or higher technical work / higher...,15 or under|16|17-18|19|20+|Still at school/Fu...
35,profile_marital_statW14,p_maritalW14,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
36,profile_marital_statW18,p_maritalW18,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
37,profile_marital_statW16,p_maritalW16,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
38,profile_marital_statW17,p_maritalW17,a|b|C1|C2|d|e|Refused,Married|In a civil partnership|Separated but s...
39,profile_marital_statW11,p_maritalW11,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
40,profile_marital_statW15,p_maritalW15,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
41,profile_marital_statW13,p_maritalW13,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
42,profile_house_tenureW14,p_housingW14,Own - outright|Own - with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
43,profile_house_tenureW12,p_housingW12,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
44,profile_house_tenureW17,p_housingW17,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
45,profile_house_tenureW11,p_housingW11,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
46,profile_house_tenureW15,p_housingW15,Own - outright|Own - with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
47,profile_house_tenureW16,p_housingW16,Own - outright|Own - with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
48,profile_house_tenureW13,p_housingW13,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
49,profile_socialgrade_cieW18,p_socgradeW18,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown

In [472]:
df.sort_values(by="old_var_name").head(150)[-50:]

,old_var_name,new_var_name,old_cat_list,new_cat_list
2,profile_gross_householdW16,p_gross_householdW16,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
18,profile_gross_householdW17,p_gross_householdW17,"under £5,000 per year|£5,000 to £9,999 per yea...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
14,profile_gross_householdW18,p_gross_householdW18,"under £5,000 per year|£5,000 to £9,999 per yea...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
29,profile_gross_householdW19,p_gross_householdW19,"under £5,000 per year|£5,000 to £9,999 per yea...","under Â£5,000 per year|Â£5,000 to Â£9,999 per ..."
7,profile_gross_personalW18,p_gross_personalW18,"under £5,000 per year|£5,000 to £9,999 per yea...","Â under Â£5,000 per year|Â Â£5,000 to Â£9,999 ..."
33,profile_gross_personalW19,p_gross_personalW19,"under £5,000 per year|£5,000 to £9,999 per yea...","Â under Â£5,000 per year|Â Â£5,000 to Â£9,999 ..."
13,profile_gross_personalW7,p_gross_personalW7,"under Â£5,000 per year|Â£5,000 to Â£9,999 per ...","Â under Â£5,000 per year|Â Â£5,000 to Â£9,999 ..."
45,profile_house_tenureW11,p_housingW11,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
43,profile_house_tenureW12,p_housingW12,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
48,profile_house_tenureW13,p_housingW13,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
42,profile_house_tenureW14,p_housingW14,Own - outright|Own - with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
46,profile_house_tenureW15,p_housingW15,Own - outright|Own - with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
47,profile_house_tenureW16,p_housingW16,Own - outright|Own - with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
44,profile_house_tenureW17,p_housingW17,Own  outright|Own  with a mortgage|Own (part...,Own â outright|Own â with a mortgage|Own (...
39,profile_marital_statW11,p_maritalW11,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
41,profile_marital_statW13,p_maritalW13,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
35,profile_marital_statW14,p_maritalW14,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
40,profile_marital_statW15,p_maritalW15,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
37,profile_marital_statW16,p_maritalW16,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
38,profile_marital_statW17,p_maritalW17,a|b|C1|C2|d|e|Refused,Married|In a civil partnership|Separated but s...
36,profile_marital_statW18,p_maritalW18,Married|Living as married|Separated (after bei...,Married|In a civil partnership|Separated but s...
28,profile_past_vote_2005,p_past_vote_2005,I would not vote|Conservative|Labour|Liberal D...,Conservative|Labour|Liberal Democrat|Scottish ...
12,profile_past_vote_2010,p_past_vote_2010,I would not vote|Conservative|Labour|Liberal D...,Conservative|Labour|Liberal Democrat|Scottish ...
10,profile_religionW10,p_religionW10,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
17,profile_religionW11,p_religionW11,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
31,profile_religionW12,p_religionW12,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
15,profile_religionW13,p_religionW13,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
9,profile_religionW14,p_religionW14,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
24,profile_religionW15,p_religionW15,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
21,profile_religionW16,p_religionW16,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
6,profile_religionW17,p_religionW17,"No, I do not regard myself as belonging to any...","No, I do not regard myself as belonging to any..."
53,profile_scotref_turnout,p_turnout_scot_ref,"Yes, I voted|No, I did not vote|No, I was not ...","No, I did not vote|Yes, I voted|No, I was not ..."
52,profile_scotref_vote,p_vote_scot_ref,I voted 'No' (Scotland should not be an indepe...,Voted no|Voted yes|Don't know
8,profile_socgradeW12,p_socgradeW12,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
30,profile_socgradeW13,p_socgradeW13,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Refused|Unknown
4,profile_socgradeW14,p_socgradeW14,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
20,profile_socgradeW15,p_socgradeW15,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
25,profile_socgradeW16,p_socgradeW16,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
19,profile_socgradeW7,p_socgradeW7,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Refused|Unknown
27,profile_socgradeW8,p_socgradeW8,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Refused|Unknown
50,profile_socialgrade_cieW17,p_socgradeW17,Self-employed|Private sector firm or company (...,A|B|C1|C2|D|E|Unknown
49,profile_socialgrade_cieW18,p_socgradeW18,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
51,profile_socialgrade_cieW19,p_socgradeW19,a|b|C1|C2|d|e,A|B|C1|C2|D|E|Unknown
11,profile_turnout_2015,p_turnout_2015,"No, did not vote|Yes, voted|Don't know",DNV|Voted|Don't know
1,profile_turnout_2017,p_turnout_2017,"No, did not vote|Yes, voted|Don't know",DNV|Voted|Don't know
22,profile_work_statW17,p_work_statW17,Conservative|Labour|Liberal Democrat|Scottish ...,Working full time (30 or more hours per week)|...
96,reaskVoteW12,reaskVoteW12,I would not vote|Conservative|Labour|Liberal D...,I would/did not vote|Conservative|Labour|Liber...
76,scotReferendumRetroW3,scotReferendumRetroW3,"Yes, I voted|No, I did not vote|No, I was not ...","No, I did not vote|Yes, I voted|No, I was not ..."
59,sexualityW17,p_sexualityW17,No|Yes|3.0|4.0|5.0,Heterosexual|Gay or lesbian|Bisexual|Other|Pre...
75,voted2015,voted2015newwordingW15,1.0|2.0|99.0,"No, did not vote|Yes, voted|Don't know"

In [476]:
df.to_pickle(data_subfolder+"categories_dont_match_up.zip",compression='zip')

In [465]:
"|".join(BES_Panelv02["p_past_vote_2019"].cat.categories),"|".join(BES_Panel["pastvote_ge_2019W19"].cat.categories)

("Conservative|Labour|Liberal Democrat|Scottish National Party (SNP)|Plaid Cymru|Green Party|Other|Brexit Party|Don't know",
 "Conservative|Labour|Liberal Democrat|Scottish National Party (SNP)|Plaid Cymru|Brexit Party|Green|Other|Don't know")

In [409]:
cat_differences.shape

(97006, 7456)

In [450]:
# [x for x in old_to_new_dict.keys() if "pcon" in x]#
[x for x in cat_differences.columns if "pcon" in x]

['pconW8', 'pconW9']

In [355]:
df2 = pd.DataFrame([(old_category_cols_minus_ml[x],new_category_cols[x],old_cat_lists[x],new_cat_lists[x]) for x in range(len(new_cat_lists)) if not cat_lists_differ[x]])

In [366]:
cat_differences = BES_Panel.loc[BES_Panelv02.index,df2[0]].rename(old_to_new_dict,axis=1)\
    .apply(lambda x: x.cat.as_ordered() ) != BES_Panelv02.loc[BES_Panelv02.index,df2[1]].apply(lambda x: x.cat.as_ordered() )

In [370]:
cat_differences.sum().replace(0,np.nan).dropna().sort_values()

parentNumEmployees        3.0
p_edlevelW15              3.0
gorW8                    19.0
gender                   31.0
p_education_ageW7        33.0
gorW6                    34.0
p_edlevelW13             42.0
p_hh_sizeW19             53.0
gorW13                   58.0
p_education_ageW13       63.0
p_past_vote_2017         63.0
p_ethnicityW7            64.0
gorW3                    77.0
gorW9                    80.0
p_edlevelW11             95.0
p_edlevelW19             96.0
p_hh_sizeW10            105.0
gorW5                   108.0
p_paper_readW13         136.0
p_edlevelW17            144.0
pconW9                  165.0
p_hh_sizeW18            183.0
gorW2                   198.0
gorW10                  204.0
p_edlevelW12            223.0
p_work_statW19          223.0
p_work_statW11          258.0
p_work_statW14          260.0
p_housingW10            268.0
p_work_statW13          288.0
p_edlevelW18            290.0
p_hh_sizeW7             303.0
p_edlevelW14            322.0
pconW8                  327.0
p_edlevelW7             377.0
p_work_statW18          510.0
p_paper_readW10         531.0
p_edlevelW16            539.0
p_work_statW12          589.0
p_educationW14          693.0
p_paper_readW11         721.0
p_work_statW7           801.0
p_eurefvote             804.0
p_gross_householdW7    1033.0
p_past_vote_2015       1090.0
p_eurefturnout         3294.0
p_paper_readW12        8605.0
dtype: float64

In [382]:
BES_Panel["profile_newspaper2W12"].value_counts()

None                                           13987
The Daily Mail / The Scottish Daily Mail        4330
The Guardian                                    3129
Other Newspaper                                 2704
The Sun                                         2182
The Times                                       1709
The Daily Telegraph                             1599
The Mirror / Daily Record                       1349
Other local daily morning newspaper             1180
The Independent                                  788
The Express                                      661
The Daily Star / The Daily Star of Scotland      202
The Financial Times                              200
The Herald (Glasgow)                             199
The Scotsman                                     111
The Western Mail                                  64
Name: profile_newspaper2W12, dtype: int64

In [381]:
BES_Panelv02["p_paper_readW12"].value_counts()

None                                           14246
The Daily Mail / The Scottish Daily Mail        4620
The Guardian                                    2981
The Sun                                         2394
Other Newspaper                                 2119
The Times                                       1674
The Daily Telegraph                             1617
The Mirror / Daily Record                       1446
Other local daily morning newspaper             1188
The Express                                      681
The Independent                                  655
The Daily Star / The Daily Star of Scotland      206
The Herald (Glasgow)                             189
The Financial Times                              184
The Scotsman                                     122
The Western Mail                                  71
Name: p_paper_readW12, dtype: int64

In [387]:
mask = BES_Panelv02.loc[BES_Panelv02.index,"p_paper_readW12"]!=BES_Panel.loc[BES_Panelv02.index,"profile_newspaper2W12"]
pd.concat([BES_Panelv02.loc[BES_Panelv02.index,"p_paper_readW12"],BES_Panel.loc[BES_Panelv02.index,"profile_newspaper2W12"] ],axis=1)[mask]

,p_paper_readW12,profile_newspaper2W12
id,,
18,None,The Herald (Glasgow)
31,None,Other Newspaper
40,None,Other Newspaper
50,The Guardian,The Times
55,The Daily Telegraph,Other Newspaper
...,...,...
69516,The Daily Mail / The Scottish Daily Mail,The Mirror / Daily Record
69518,The Mirror / Daily Record,The Guardian
69521,The Sun,The Daily Mail / The Scottish Daily Mail
69525,None,The Independent
69527,None,The Times

In [392]:
# (BES_Panelv02.loc[BES_Panelv02.index,"p_paper_readW12"][mask].astype('object')+BES_Panel.loc[BES_Panelv02.index,"profile_newspaper2W12"][mask].astype('object')).value_counts().head(50)

In [407]:
[x for x in old_to_new_dict.keys() if old_to_new_dict[x] == "p_past_vote_2015"]

['profile_past_vote_2015']

In [408]:
mask = BES_Panelv02.loc[BES_Panelv02.index,"p_past_vote_2015"]!=BES_Panel.loc[BES_Panelv02.index,"profile_past_vote_2015"]
pd.concat([BES_Panelv02.loc[BES_Panelv02.index,"p_past_vote_2015"],BES_Panel.loc[BES_Panelv02.index,"profile_past_vote_2015"] ],axis=1)[mask]

                    p_past_vote_2015         profile_past_vote_2015
id
26                       Plaid Cymru                         Labour
598                 Liberal Democrat                         Labour
801                      Plaid Cymru                   Conservative
949    Scottish National Party (SNP)                     Don't know
1334                     Green Party                         Labour
...                              ...                            ...
78487                     Don't know                   Conservative
78557                   Conservative                         Labour
78681                     Don't know                   Conservative
78864                         Labour  Scottish National Party (SNP)
79259                         Labour                   Conservative

[1090 rows x 2 columns]

In [477]:
BES_Panelv02["p_past_vote_2015"].value_counts().sum()

71128

In [394]:
mask = BES_Panelv02.loc[BES_Panelv02.index,"p_eurefturnout"]!=BES_Panel.loc[BES_Panelv02.index,"profile_eurefturnout"]
pd.concat([BES_Panelv02.loc[BES_Panelv02.index,"p_eurefturnout"],BES_Panel.loc[BES_Panelv02.index,"profile_eurefturnout"] ],axis=1)[mask]

         p_eurefturnout profile_eurefturnout
id
365          Yes, voted           Don't know
544    No, did not vote           Yes, voted
809          Yes, voted     No, did not vote
878          Yes, voted     No, did not vote
1623   No, did not vote           Yes, voted
...                 ...                  ...
98439        Yes, voted     No, did not vote
98441        Don't know     No, did not vote
98446        Yes, voted     No, did not vote
98450        Yes, voted           Don't know
98451        Yes, voted     No, did not vote

[3294 rows x 2 columns]

In [405]:
BES_Panel.loc[BES_Panelv02.index,["profile_eurefturnout","profile_eurefvote"]][mask]

      profile_eurefturnout profile_eurefvote
id
365             Don't know               NaN
544             Yes, voted      Leave the EU
809       No, did not vote               NaN
878       No, did not vote               NaN
1623            Yes, voted      Leave the EU
...                    ...               ...
98439     No, did not vote               NaN
98441     No, did not vote               NaN
98446     No, did not vote               NaN
98450           Don't know               NaN
98451     No, did not vote               NaN

[3294 rows x 2 columns]

In [406]:
BES_Panelv02.loc[BES_Panelv02.index,["p_eurefturnout","p_eurefvote"]][mask]

         p_eurefturnout            p_eurefvote
id
365          Yes, voted           Leave the EU
544    No, did not vote                    NaN
809          Yes, voted  Stay/remain in the EU
878          Yes, voted           Leave the EU
1623   No, did not vote                    NaN
...                 ...                    ...
98439        Yes, voted  Stay/remain in the EU
98441        Don't know                    NaN
98446        Yes, voted           Leave the EU
98450        Yes, voted           Leave the EU
98451        Yes, voted           Leave the EU

[3294 rows x 2 columns]

In [396]:
BES_Panelv02.index

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            98442, 98443, 98444, 98445, 98446, 98447, 98448, 98449, 98450,
            98451],
           dtype='int64', name='id', length=97006)

In [402]:
search(BES_Panelv02,"eurefvote")

euRefVoteW1                30529
euRefVoteW2                25817
euRefVoteW3                27830
euRefVoteW4                31550
euRefVoteW6                30258
euRefVoteW7                30895
euRefVoteSqueezeW7          4717
euRefVoteUnsqueezeW7       30895
euRefVotePostW8             4326
euRefVoteW8                33501
euRefVoteSqueezeW8          3818
euRefVoteUnsqueezeW8       29175
euRefVote2W8               29175
euRefVoteHypotheticalW9     1788
euRefVoteW9                28248
euRefVoteW10               30237
euRefVoteW11               30956
euRefVoteW12               34394
euRefVoteW13               31136
euRefVoteW14               31063
euRefVoteW15               30602
euRefVoteW16               37959
euRefVoteW17               34041
euRefVoteW18               37443
euRefVoteW19               32177
p_eurefvote                70220
dtype: int64

In [410]:
old_category_not_cols = BES_Panel[old_to_new_dict.keys()].columns[BES_Panel[old_to_new_dict.keys()].dtypes!="category"]

In [411]:
new_category_not_cols = BES_Panelv02[old_to_new_dict.values()].columns[BES_Panelv02[old_to_new_dict.values()].dtypes!="category"]

In [413]:
len(old_category_not_cols)

185

In [414]:
len(new_category_not_cols)

227

In [415]:
missing_labels_not_cols = [old_to_new_dict[x] for x in old_category_not_cols if old_to_new_dict[x] not in new_category_not_cols]

In [416]:
missing_labels_not_cols

[]

In [420]:
old_category_not_cols

Index(['wt_new_W1_W16', 'ageW12', 'wt_new_W7W13', 'starttimeW5',
       'wt_full_W1_W11', 'wave19', 'panoW9', 'wave15', 'starttimeW16',
       'starttimeW4',
       ...
       'endtimeW2', 'wt_daily_W12', 'wt_full_W1W2W3W4W5W6W7W8W9', 'ageW1',
       'endtimeW8', 'riskScaleW8', 'wt_full_W1W2W3W4W5W6', 'endtimeW17',
       'CampaignDayW5', 'respdateW8'],
      dtype='object', length=185)

In [423]:
notcat_diff = BES_Panel.loc[BES_Panelv02.index,old_category_not_cols]!=BES_Panelv02.loc[BES_Panelv02.index,[old_to_new_dict[x] for x in old_category_not_cols]]

In [438]:
notcat_diff.sum().replace(0.0,np.nan).dropna().sort_values().head(50)[-50:]

panoW1                           1.0
panoW3                         182.0
panoW9                         320.0
panoW8                         349.0
panoW19                        350.0
wave2                          477.0
wave1                          477.0
wave18                         477.0
wave13                         477.0
wave8                          477.0
wave4                          477.0
wave9                          477.0
wave12                         477.0
wave14                         477.0
wave11                         477.0
wave5                          477.0
wave7                          477.0
wave17                         477.0
wave3                          477.0
wave10                         477.0
wave16                         477.0
panoW5                         477.0
wave15                         477.0
wave6                          477.0
wave19                         477.0
panoW17                        482.0
panoW15                        695.0
panoW2                         841.0
panoW6                         906.0
panoW7                        1753.0
panoW16                       2089.0
panoW14                       2119.0
panoW13                       2492.0
panoW12                       2923.0
panoW10                       2999.0
panoW11                       3079.0
Age                          25759.0
endtimeW16                   59047.0
starttimeW16                 59047.0
respdateW18                  59181.0
xbefore_yesterday_dateW18    59181.0
xtoday_dateW18               59181.0
endtimeW18                   59181.0
xyesterday_dateW18           59181.0
starttimeW18                 59181.0
respdateW12                  62612.0
endtimeW12                   62612.0
starttimeW12                 62612.0
endtimeW17                   62640.0
starttimeW17                 62640.0
dtype: float64

In [471]:
non_null_mask = BES_Panel.loc[BES_Panelv02.index,"pastvote_ge_2019W19"].notnull() & BES_Panelv02.loc[BES_Panelv02.index,"p_past_vote_2019"].notnull()
mask = BES_Panelv02.loc[BES_Panelv02.index,"p_past_vote_2019"].astype('object').replace("Green Party","Green")!=BES_Panel.loc[BES_Panelv02.index,"pastvote_ge_2019W19"].astype('object')
pd.concat([BES_Panelv02.loc[BES_Panelv02.index,"p_past_vote_2019"],BES_Panel.loc[BES_Panelv02.index,"pastvote_ge_2019W19"] ],axis=1)[non_null_mask][mask]




# join(BES_Panelv02["p_past_vote_2019"].cat.categories),"|".join(BES_Panel["pastvote_ge_2019W19"].cat.categories)

Empty DataFrame
Columns: [p_past_vote_2019, pastvote_ge_2019W19]
Index: []

In [440]:
mask

id
1         <NA>
2        False
3        False
4         <NA>
5         <NA>
         ...
98447     <NA>
98448     <NA>
98449     <NA>
98450     <NA>
98451     <NA>
Name: panoW11, Length: 97006, dtype: boolean

In [441]:
BES_Panelv02.loc[BES_Panelv02.index,"panoW11"]

id
1          NaN
2        552.0
3         80.0
4          NaN
5          NaN
         ...
98447      NaN
98448      NaN
98449      NaN
98450      NaN
98451      NaN
Name: panoW11, Length: 97006, dtype: float64

In [443]:
non_null_mask = BES_Panel.loc[BES_Panelv02.index,"panoW11"].notnull() & BES_Panelv02.loc[BES_Panelv02.index,"panoW11"].notnull()
mask = BES_Panelv02.loc[BES_Panelv02.index,"panoW11"][non_null_mask]!=BES_Panel.loc[BES_Panelv02.index,"panoW11"][non_null_mask]
pd.concat([BES_Panelv02.loc[BES_Panelv02.index,"panoW11"],BES_Panel.loc[BES_Panelv02.index,"panoW11"] ],axis=1)[non_null_mask][mask]

       panoW11  panoW11
id
119      305.0      444
461      606.0      225
506       83.0       82
525      577.0      465
577      345.0      436
...        ...      ...
66804    648.0      388
66952    507.0       67
67074    430.0      103
67254    125.0      205
67508    415.0      521

[568 rows x 2 columns]

In [444]:
pd.concat([BES_Panelv02.loc[BES_Panelv02.index,"pconW11"],BES_Panel.loc[BES_Panelv02.index,"pconW11"] ],axis=1)[non_null_mask][mask]

                         pconW11                     pconW11
id
119                       Henley    Oxford West and Abingdon
461                      Wealden                  Eastbourne
506             Bournemouth West            Bournemouth East
525                       Totnes                Reading West
577    Kirkcaldy and Cowdenbeath  Ochil and South Perthshire
...                          ...                         ...
66804               York Central          Manchester, Gorton
66952       Sheffield South East                   Blackburn
67074              Norwich North                   Broadland
67254                 Canterbury                Dudley South
67508   Newcastle upon Tyne East                South Ribble

[568 rows x 2 columns]

In [475]:
gc.collect()

416

In [16]:
import pandas as pd
import numpy as np

In [ ]:
####################################

# Now W19_comb_strings

In [5]:

df=pd.read_stata( '../BES_analysis_data/W19_comb_strings\\BES2019_W19Strings_v0.3.dta',encoding='latin1' )

TypeError: read_stata() got an unexpected keyword argument 'encoding'

In [3]:
%debug

> c:\programdata\anaconda3\envs\bes_analysis\lib\site-packages\pandas\io\stata.py(1489)_read_strls()
   1487             va = self.path_or_buf.read(length)
   1488             if typ == 130:
-> 1489                 va = va[0:-1].decode(self._encoding)
   1490             # Wrap v_o in a string to allow uint64 values as keys on 32bit OS
   1491             self.GSO[str(v_o)] = va

ipdb> va
b'I didn\x92t like any of the candidates\x00'
ipdb> [0:-1]
*** SyntaxError: invalid syntax
ipdb> va
b'I didn\x92t like any of the candidates\x00'
ipdb> typ
130
ipdb> va[0:-1]
b'I didn\x92t like any of the candidates'
ipdb> self._encoding
'utf-8'
ipdb> va[0:-1].decode('latin-1')
'I didn\x92t like any of the candidates'
ipdb> quit

In [ ]:
b'I didn\x92t like any of the candidates\x00'

In [4]:
print('I didn\x92t like any of the candidates')

I didnt like any of the candidates

In [ ]:
encoding='latin-1'

In [12]:
import pandas as pd
df=pd.read_stata( '../BES_analysis_data/W19_comb_strings\\BES2019_W19Strings_v0.3_vs14stata.dta' )

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 102: invalid start byte

In [13]:
%debug

> c:\programdata\anaconda3\envs\bes_analysis\lib\site-packages\pandas\io\stata.py(1489)_read_strls()
   1487             va = self.path_or_buf.read(length)
   1488             if typ == 130:
-> 1489                 va = va[0:-1].decode(self._encoding)
   1490             # Wrap v_o in a string to allow uint64 values as keys on 32bit OS
   1491             self.GSO[str(v_o)] = va

ipdb> va
b'Because the original vote was to leave and ever since democracy has failed to deliver because it doesn\x92t suit some people\x92s interests\x00'
ipdb> quit

In [37]:
savFileName = '../BES_analysis_data/W19_comb_strings\\BES2019_W19Strings_v0.3.dta'
reader = pd.io.stata.StataReader(savFileName)

header = reader.variable_labels()

In [21]:
reader.format_version

116

In [24]:
reader.get_chunk()

StopIteration:

In [26]:
import gc
gc.collect()

3056

In [38]:
df = pd.DataFrame()
import sys
reader.format_version = 117
chunk = reader.get_chunk(1000)
while len(chunk) > 0:
    df = df.append(chunk, ignore_index=True)
    chunk = reader.get_chunk(1000)
    print('.')
    sys.stdout.flush()

KeyError: '65544'

In [31]:
reader.read()

StopIteration:

In [ ]:
### Waste of time and energy - load in spss, save as csv!

In [2]:
import pandas as pd
BES_stringsv02=pd.read_pickle( '../BES_analysis_data/W19_comb_strings\\BES2019_W19Strings_v0.2.zip',compression='zip' )

In [5]:
BES_stringsv02.dtypes.value_counts()

category    2
category    2
category    1
category    1
category    1
           ..
category    1
category    1
category    1
category    1
category    1
Length: 286, dtype: int64

In [6]:
BES_stringsv02

,MII_textW1,bestOnMIIOthW1,generalElectionVoteOthW1,generalElectionVoteOthW2,generalElectionVoteOthW3,generalElectionVoteOthW4,generalElectionVoteOthW5,generalElectionVotePostOthW5,generalElectionVoteOthW6,generalElectionVoteOthwishW6,...,indContactW19,othContactW19,changeViewDetailW19,othSubjClassW19,othersectorW19,othSubjClassW2_W4W7W9,othSubjClassW10W11,othSubjClassW12W14,genElecOthCodedW15,genElecOthCodedTIGW15
id,,,,,,,,,,,,,,,,,,,,,
1,this awful coalition,__na__,__na__,__na__,,__na__,__na__,__na__,__na__,__na__,...,,,,,,,,,,
2,terrorism,__na__,__na__,,__na__,__na__,__na__,__na__,__na__,__na__,...,__na__,,__na__,,__na__,,,,,
3,__na__,__na__,__na__,__na__,__na__,__na__,__na__,__na__,__na__,__na__,...,__na__,,__na__,,__na__,,,,,
4,economy,__na__,__na__,__na__,,,,,,,...,,,,,,,,,,
5,__na__,__na__,__na__,__na__,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98447,,,,,,,,,,,...,,,,,,,,,,
98448,,,,,,,,,,,...,,,,,,,,,,
98449,,,,,,,,,,,...,__na__,,__na__,,__na__,,,,,
98450,,,,,,,,,,,...,,,,,,,,,,
98451,,,,,,,,,,,...,,,,,,,,,,

In [17]:
BES_stringsv03=pd.read_csv( '../BES_analysis_data/W19_comb_strings\\BES2019_W19Strings_v0.3.csv' , encoding='latin-1')

In [18]:
BES_stringsv03 = BES_stringsv03.rename(columns={'ï»¿id':'id'}).set_index("id").sort_index().apply(lambda x: x.str.lower().replace(" ",np.nan).astype('category'))

In [19]:
BES_stringsv03.to_pickle('../BES_analysis_data/W19_comb_strings\\BES2019_W19Strings_v0.3.zip', compression='zip')

In [21]:
BES_stringsv02.shape,BES_stringsv03.shape

((97158, 288), (97006, 288))

In [23]:
set(BES_stringsv03.columns)-set(BES_stringsv02.columns)

set()

In [41]:
string_diff = BES_stringsv03.loc[BES_stringsv03.index].applymap(lambda x: str(x)) != BES_stringsv02.loc[BES_stringsv03.index].replace(" ",np.nan).applymap(lambda x: str(x))

In [42]:
BES_stringsv03.loc[BES_stringsv03.index,"MII_textW1"][string_diff["MII_textW1"]]

Series([], Name: MII_textW1, dtype: category
Categories (5188, object): ["unsustainability" in different areas - econom..., ', (un)employment, (unfair) wage structure, ..., youth unempoyment, zero hour contracts, zero hours contracts, â£])

In [40]:
BES_stringsv02.loc[BES_stringsv03.index,"MII_textW1"][string_diff["MII_textW1"]].replace(" ",np.nan)

id
27695    NaN
30591    NaN
30592    NaN
30593    NaN
30594    NaN
        ...
98447    NaN
98448    NaN
98449    NaN
98450    NaN
98451    NaN
Name: MII_textW1, Length: 66417, dtype: category
Categories (5188, object): ["unsustainability" in different areas - econom..., ', (un)employment, (unfair) wage structure, ..., youth unempoyment, zero hour contracts, zero hours contracts, â£]

In [44]:
string_diff.sum().sort_values()

MII_textW1                     0
partyMemberNowOthW12           0
partyMemberPastOthW12          0
bestOnMIIOthW12                0
MII_textW12                    0
                              ..
othContactW3                   0
welshElectionVoteListOthW3     0
welshElectionVoteConstOthW3    0
genElecOthCodedW15             0
genElecOthCodedTIGW15          0
Length: 288, dtype: int64

In [ ]:
# identical!