In [4]:
%%time
%matplotlib inline
%run Prosser_header.py

Wall time: 8 ms

In [5]:
dataset_folder = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\datasets\\"
output_folder  = "C:\\Users\\Marios\\Documents\\GitHub\\Thomas Prosser project\\output\\"

In [6]:
CSES_int = pd.read_stata(dataset_folder + "CSES"+os.sep+"integrated 1-4"+os.sep+"cses_imd.dta")

def get_dta_meta(fn):
    reader = pd.io.stata.StataReader( fn )
    header = reader.variable_labels()
    labels = reader.value_labels()
    return header,labels

# pd.read_stata(dataset_folder + "CSES"+os.sep+"module 5"+os.sep+"cses5.dta")
header5,labels5 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 5"+os.sep+"cses5.dta")
header4,labels4 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 4"+os.sep+"cses4.dta")
header3,labels3 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 3"+os.sep+"cses3.dta")
header2,labels2 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 2"+os.sep+"cses2.dta")
header1,labels1 = get_dta_meta(dataset_folder + "CSES"+os.sep+"module 1"+os.sep+"cses1.dta")
headerINT,labelsINT = get_dta_meta(dataset_folder + "CSES"+os.sep+"integrated 1-4"+os.sep+"cses_imd.dta")

In [66]:
CSES_int_5 = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_int_5.pkl")
CSES_int_final = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"CSES_int_final.pkl")

In [67]:
df = CSES_int_final.apply(lambda x: "|".join([str(x) for x in x.unique()]))
df = df.reset_index()

In [68]:
df["un_val_len"] = df[0].apply(lambda x: len(x.split("|")))

In [69]:
df["descr"] = df["index"].apply(lambda x: headerINT[x] if x in headerINT.keys() else np.nan)

In [70]:
df[0][df["un_val_len"]>100] = df[0][df["un_val_len"]>100].apply(lambda x: x.split("|")[0:100])

In [71]:
df["final_dtypes"] = CSES_int_final.apply(lambda x: x.dtype.name).values
df["original_dtypes"] = df["index"].apply(lambda x: CSES_int[x].dtype if x in CSES_int.columns else np.nan)

In [72]:
df

,index,0,un_val_len,descr,final_dtypes,original_dtypes
0,IMD1001,CSES-IMD|CSES-MODULE-5,2,dataset,object,object
1,IMD1002_VER,VER2019-OCT-17|VER2020-MAY-14,2,DATASET VERSION,object,object
2,IMD1002_DOI,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,2,DIGITAL OBJECT IDENTIFIER,object,object
3,IMD1003,"[00802005. ALBANIA (2005), 03202015. ARGENTINA...",194,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),object,category
4,IMD1004,"[ALB_2005, ARG_2015, AUS_1996, AUS_2004, AUS_2...",194,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),object,object
...,...,...,...,...,...,...
272,IMD5058_1,"[10.46, 3.4, 3.21, 3.17, 3.03, 3.42, 4.83, 5.1...",134,EFFECTIVE NUMBER OF ELECTORAL PARTIES,category,category
273,IMD5058_2,999.00. MISSING|3.4|3.03|3.42|4.83|5.15|5.78|1...,91,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,category,category
274,IMD5059_1,"[3.75, 3.52, 2.62, 2.44, 2.43, 2.36, 4.27, 4.5...",134,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,category,category
275,IMD5059_2,999.00. MISSING|3.48|2.43|2.36|4.27|4.59|5.06|...,88,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,category,category
276,IMD1008_MOD_5,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,2,NaN,category,NaN

In [103]:
len( CSES_int_final.apply(lambda x: x.dtype.name).values )

277

In [113]:
df = df[['index',  'un_val_len','final_dtypes', 'original_dtypes','descr', 0,  ]]
df.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv")

In [ ]:
## how much has partyfacts updated?

In [73]:
partyfacts_core_parties = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+"partyfacts-core-parties.csv")
partyfacts_external_parties = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+ "partyfacts-external-parties.csv")

In [74]:
partyfacts_core_parties_newest = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+"Newest version"+os.sep+"partyfacts-core-parties.csv")
partyfacts_external_parties_newest = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+"Newest version"+os.sep+ "partyfacts-external-parties.csv")
# partyfacts_countries = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+ "partyfacts-countries.csv")
# partyfacts_datasets = pd.read_csv(dataset_folder+"PartyFacts"+os.sep+ "partyfacts-datasets.csv")

# pf_country_to_code = partyfacts_countries[["country","name"]].set_index("name")["country"].apply(lambda x: x.lower())

# county_iso = 'THA'

# pfc = partyfacts_core_parties[partyfacts_core_parties["country"]==county_iso].sort_values(by='year_first')
# pfc[-60:]

In [75]:
partyfacts_core_parties.shape, partyfacts_core_parties_newest.shape

((6902, 17), (6962, 17))

In [76]:
partyfacts_external_parties.shape,partyfacts_external_parties_newest.shape

((25319, 17), (26595, 17))

In [81]:
cses_variable_types = pd.read_pickle(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"cses_variable_types.pkl")
# fix to add new variable
cses_variable_types.loc["IMD1008_MOD_5"] = ["ID COMPONENT - CSES MODULE 5","country"]

In [85]:
df = pd.read_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv",index_col="Unnamed: 0")
df

,index,un_val_len,final_dtypes,original_dtypes,descr,0,variable type,variable structural type
0,IMD1001,2,object,object,dataset,CSES-IMD|CSES-MODULE-5,meta,dataset
1,IMD1002_VER,2,object,object,DATASET VERSION,VER2019-OCT-17|VER2020-MAY-14,meta,dataset
2,IMD1002_DOI,2,object,object,DIGITAL OBJECT IDENTIFIER,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,meta,dataset
3,IMD1003,194,object,category,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),"['00802005. ALBANIA (2005)', '03202015. ARGENT...",metam,country
4,IMD1004,194,object,object,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),"['ALB_2005', 'ARG_2015', 'AUS_1996', 'AUS_2004...",meta,country
...,...,...,...,...,...,...,...,...
272,IMD5058_1,148,object,category,EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['10.46', '3.4', '3.21', '3.17', '3.03', '3.42...",seminumeric,country
273,IMD5058_2,108,object,category,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['999.00. MISSING', '3.4', '3.03', '3.42', '4....",seminumeric,country
274,IMD5059_1,149,object,category,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,"['3.75', '3.52', '2.62', '2.44', '2.43', '2.36...",seminumeric,country
275,IMD5059_2,106,object,category,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,"['999.00. MISSING', '3.48', '2.43', '2.36', '4...",seminumeric,country
276,IMD1008_MOD_5,2,category,NaN,NaN,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,meta,country

In [86]:
df

,index,un_val_len,final_dtypes,original_dtypes,descr,0,variable type,variable structural type
0,IMD1001,2,object,object,dataset,CSES-IMD|CSES-MODULE-5,meta,dataset
1,IMD1002_VER,2,object,object,DATASET VERSION,VER2019-OCT-17|VER2020-MAY-14,meta,dataset
2,IMD1002_DOI,2,object,object,DIGITAL OBJECT IDENTIFIER,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,meta,dataset
3,IMD1003,194,object,category,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),"['00802005. ALBANIA (2005)', '03202015. ARGENT...",metam,country
4,IMD1004,194,object,object,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),"['ALB_2005', 'ARG_2015', 'AUS_1996', 'AUS_2004...",meta,country
...,...,...,...,...,...,...,...,...
272,IMD5058_1,148,object,category,EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['10.46', '3.4', '3.21', '3.17', '3.03', '3.42...",seminumeric,country
273,IMD5058_2,108,object,category,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['999.00. MISSING', '3.4', '3.03', '3.42', '4....",seminumeric,country
274,IMD5059_1,149,object,category,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,"['3.75', '3.52', '2.62', '2.44', '2.43', '2.36...",seminumeric,country
275,IMD5059_2,106,object,category,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,"['999.00. MISSING', '3.48', '2.43', '2.36', '4...",seminumeric,country
276,IMD1008_MOD_5,2,category,NaN,NaN,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,meta,country

In [87]:
df["variable structural type"] = df["index"].apply(lambda x: cses_variable_types.loc[x])["variable type"]

In [28]:
df.to_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv")

In [183]:
df = pd.read_csv(dataset_folder + "CSES"+os.sep+"Integration"+os.sep+"variable_manifest.csv", index_col = "Unnamed: 0")
df

,index,un_val_len,final_dtypes,original_dtypes,descr,0,variable type,variable structural type
0,IMD1001,2,object,object,dataset,CSES-IMD|CSES-MODULE-5,meta,dataset
1,IMD1002_VER,2,object,object,DATASET VERSION,VER2019-OCT-17|VER2020-MAY-14,meta,dataset
2,IMD1002_DOI,2,object,object,DIGITAL OBJECT IDENTIFIER,doi:10.7804/cses.imd.2019-10-17|doi:10.7804/cs...,meta,dataset
3,IMD1003,194,object,category,ID VARIABLE - ELECTION STUDY (NUMERIC POLITY),"['00802005. ALBANIA (2005)', '03202015. ARGENT...",meta,country
4,IMD1004,194,object,object,ID VARIABLE - ELECTION STUDY (ALPHABETIC POLITY),"['ALB_2005', 'ARG_2015', 'AUS_1996', 'AUS_2004...",meta,country
...,...,...,...,...,...,...,...,...
272,IMD5058_1,148,object,category,EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['10.46', '3.4', '3.21', '3.17', '3.03', '3.42...",seminumeric,country
273,IMD5058_2,108,object,category,CORRECTED EFFECTIVE NUMBER OF ELECTORAL PARTIES,"['999.00. MISSING', '3.4', '3.03', '3.42', '4....",seminumeric,country
274,IMD5059_1,149,object,category,EFFECTIVE NUMBER OF PARLIAMENTARY PARTIES,"['3.75', '3.52', '2.62', '2.44', '2.43', '2.36...",seminumeric,country
275,IMD5059_2,106,object,category,CORRECTED EFFECTIVE NUMBER OF PARLIAMENTARY PA...,"['999.00. MISSING', '3.48', '2.43', '2.36', '4...",seminumeric,country
276,IMD1008_MOD_5,2,category,NaN,NaN,00. NOT IN CSES MODULE 5|01. IN CSES MODULE 5,meta,country

In [163]:
df["variable type"].value_counts()

seminumeric    112
ordinal         72
party           32
dummy           25
meta            19
date            15
metam            1
drop             1
Name: variable type, dtype: int64

In [88]:
def isnum(x):
    return str(x).replace('.','',1).replace('-','',1).isdigit()

In [89]:
# variable whose contents should be *explicit decimal values* or *non-response codes*

seminumeric_vars = df[df["variable type"]=="seminumeric"]["index"].values

In [160]:
decimals_dropped = CSES_int_final[seminumeric_vars].applymap(lambda x: x if not isnum(x) else np.nan)

In [161]:
decimals_dropped_vc = decimals_dropped.stack().value_counts()

In [170]:
decimals_dropped_vc

999. MISSING                                                      4555367
996. NOT APPLICABLE: UNICAMERAL SYSTEM                            2178722
997. NOT APPLICABLE: NO UPPER HOUSE ELECTION                      1978464
97. NOT APPLICABLE                                                1447699
997. NOT APPLICABLE: NO PRESIDENTIAL ELECTION                     1235379
996. NOT APPLICABLE: NO ROLE OF PRESIDENT                          972396
10. Democratic                                                     576914
99.00 MISSING                                                      501448
997. NOT APPLICABLE: NO LOWER HOUSE ELECTION                       468614
97.00 NOT APPLICABLE                                               425221
999.00. MISSING                                                    285892
9996. NOT APPLICABLE: NO SECOND ROUND                              271965
00.00 THERE IS NO THRESHOLD                                        180328
91. [SEE ELECTION STUDY NOTES]                                      68173
999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION                59626
99. MISSING                                                         50895
9999. MISSING                                                       44481
997.00. PRESIDENTIAL ELECTION ONLY - NOT CALCULATED                 42722
96.00 OTHER THRESHOLD [SEE ELECTION STUDY NOTES]                    41478
99999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION              27559
999999999. MISSING AND/OR NOT AVAILABLE AT TIME OF PUBLICATION      25686
99.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION                 24043
999999.00. MISSING/NOT AVAILABLE AT TIME OF PUBLICATION             22034
9995. NOT ASCERTAINED                                                5413
-88. Transition Periods                                              2220
9. MISSING                                                           1208
9997. REFUSED                                                         656
9998. DON'T KNOW                                                      119
dtype: int64

In [156]:
manual_fixes = ["-88. Transition Periods","00.00 THERE IS NO THRESHOLD","10. Democratic"]

np.unique( [int(x.split(".")[0]) for x in decimals_dropped_vc.index if x not in manual_fixes] )

array([        9,        91,        96,        97,        99,       996,
             997,       999,      9995,      9996,      9997,      9998,
            9999,     99999,    999999, 999999999])

In [174]:
[x for x in decimals_dropped_vc.index if not re.match("9{1,8}\d?\.(00)?\.?",x)]

['10. Democratic', '00.00 THERE IS NO THRESHOLD', '-88. Transition Periods']

In [181]:
# %debug

In [ ]:
ordinal         72
party           32
dummy           25

In [164]:
ordinal_vars = df[df["variable type"]=="ordinal"]["index"].values
ordinal_decimals_dropped = CSES_int_final[ordinal_vars].applymap(lambda x: x if not isnum(x) else np.nan)
ordinal_decimals_dropped_vc = ordinal_decimals_dropped.stack().value_counts()

In [184]:
party_vars = df[df["variable type"]=="party"]["index"].values
party_decimals_dropped = CSES_int_final[party_vars].applymap(lambda x: x if not isnum(x) else np.nan)
party_ordinal_decimals_dropped_vc = party_decimals_dropped.stack().value_counts()

In [194]:
dummy_vars = df[df["variable type"]=="dummy"]["index"].values
dummy_decimals_dropped = CSES_int_final[dummy_vars].applymap(lambda x: x if not isnum(x) else np.nan)
dummy_decimals_dropped_vc = dummy_decimals_dropped.stack().value_counts()

In [168]:
ordinal_decimals_dropped_vc.head(60)

99. MISSING                                                             4270105
9. MISSING                                                              3201590
1. RESPONDENT CAST A BALLOT                                              841266
5. NO                                                                    689627
00. STRONGLY DISLIKE                                                     499807
7. NOT APPLICABLE                                                        424423
9999995. NOT APPLICABLE: NO ROLE OF PRESIDENT                            404579
9999999. MISSING                                                         402268
1. CORRECT                                                               396650
1. YES                                                                   333793
98. VOLUNTEERED: DON'T KNOW WHERE TO PLACE                               294330
9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS / NO SECOND ROUND     278460
8. VOLUNTEERED: DON'T KNOW                                               243178
9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECTIONS                       230646
9999996. NOT APPLICABLE: NO UPPER HOUSE ELECTION                         222161
9999995. NOT APPLICABLE: UNICAMERAL SYSTEM                               220309
2. BICAMERAL LEGISLATURE (TWO LEGISLATIVE CHAMBERS)                      200193
98. DON'T KNOW ENOUGH ABOUT/DON'T KNOW WHERE TO RATE                     192446
0. INCORRECT                                                             187412
10. RIGHT                                                                186407
10. STRONGLY LIKE                                                        161271
00. LEFT                                                                 159485
0. RESPONDENT DID NOT CAST A BALLOT                                      156323
2. FAIRLY SATISFIED                                                      141414
0. DID NOT VOTE FOR THE OUTGOING GOVERNMENT (INCUMBENT)                  127498
5. WHO PEOPLE VOTE FOR CAN MAKE A BIG DIFFERENCE                         121316
5. IT MAKES A BIG DIFFERENCE WHO IS IN POWER                             116472
1. UNICAMERAL LEGISLATURE (ONE LEGISLATIVE CHAMBER)                      116055
4. LARGE TOWN OR CITY                                                     93260
4. NOT VERY SATISFIED                                                     87643
1. VOTED FOR THE OUTGOING GOVERNMENT (INCUMBENT)                          86143
97. VOLUNTEERED: REFUSED                                                  77476
2. GOOD JOB                                                               73022
3. STAYED THE SAME                                                        67936
1. RURAL AREA OR VILLAGE                                                  64550
2. SMALL OR MIDDLE-SIZED TOWN                                             60542
5. GOTTEN WORSE                                                           56471
96. HAVEN'T HEARD OF PARTY                                                54738
9999999. MISSING / ABSTAINED (DID NOT VOTE)                               54434
2. SECOND HOUSEHOLD INCOME QUINTILE                                       54129
3. THIRD HOUSEHOLD INCOME QUINTILE                                        53931
9999996. NOT APPLICABLE: NO LOWER HOUSE ELECTION                          53930
3. BAD JOB                                                                53441
96. HAVEN'T HEARD OF LEADER                                               52472
1. LOWEST HOUSEHOLD INCOME QUINTILE                                       50652
95. VOLUNTEERED: HAVEN'T HEARD OF LEFT-RIGHT                              48759
4. FOURTH HOUSEHOLD INCOME QUINTILE                                       48430
5. HIGHEST HOUSEHOLD INCOME QUINTILE                                      45121
96. VOLUNTEERED: HAVEN'T HEARD OF PARTY                                   44559
3. SUBURBS OF LARGE TOWN OR CITY                                          39130
1. GOTTEN BETTER                                                          38267
7. VOLUNTEERED: REFUSED                                                   36260
9999996. NOT ASCERTAINED/INCUMBENT CANDIDATE/PARTY DID NOT CONTEST        35909
5. NOT AT ALL SATISFIED                                                   34133
2. SOMEWHAT BETTER                                                        30962
4. SOMEWHAT WORSE                                                         30578
1. VERY SATISFIED                                                         29625
2. YES; WEAKLY ENFORCED SANCTIONS                                         25160
1. IT DOESN'T MAKE ANY DIFFERENCE WHO IS IN POWER                         24996
97. NOT APPLICABLE                                                        24503
dtype: int64

In [177]:
pd.Series( [x for x in ordinal_decimals_dropped_vc.index if re.match("9{1,8}\d?\.(00)?\.?",x)] )

0                                           99. MISSING
1                                            9. MISSING
2         9999995. NOT APPLICABLE: NO ROLE OF PRESIDENT
3                                      9999999. MISSING
4            98. VOLUNTEERED: DON'T KNOW WHERE TO PLACE
5     9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECT...
6     9999996. NOT APPLICABLE: NO PRESIDENTIAL ELECT...
7      9999996. NOT APPLICABLE: NO UPPER HOUSE ELECTION
8            9999995. NOT APPLICABLE: UNICAMERAL SYSTEM
9     98. DON'T KNOW ENOUGH ABOUT/DON'T KNOW WHERE T...
10                             97. VOLUNTEERED: REFUSED
11                           96. HAVEN'T HEARD OF PARTY
12          9999999. MISSING / ABSTAINED (DID NOT VOTE)
13     9999996. NOT APPLICABLE: NO LOWER HOUSE ELECTION
14                          96. HAVEN'T HEARD OF LEADER
15         95. VOLUNTEERED: HAVEN'T HEARD OF LEFT-RIGHT
16              96. VOLUNTEERED: HAVEN'T HEARD OF PARTY
17    9999996. NOT ASCERTAINED/INCUMBENT CANDIDATE/P...
18                                   97. NOT APPLICABLE
19    9999993. VOLUNTEERED: RESPONDENT NOT REGISTERE...
20                        9999997. VOLUNTEERED: REFUSED
21                     9999998. VOLUNTEERED: DON'T KNOW
dtype: object

In [ ]:
 # ordinals
    # non responses missing from match
    "8. VOLUNTEERED: DON'T KNOW", "6. [SEE ELECTION STUDY NOTES]", "7. VOLUNTEERED: REFUSED"
 # party
    # non responses
    ['9999989. INDEPENDENT CANDIDATE',
       '999989. INDEPENDENT (NON-PARTY CANDIDATE)',
       '999989. INDEPENDENT CANDIDATE',
       '9999988. NONE OF THE CANDIDATES/PARTIES',
       '9999988. NONE OF THE CANDIDATES PARTIES',
       '999988. NONE OF THE CANDIDATES/PARTIES']
 # dummy
    # non responses
'5. [SEE ELECTION STUDY NOTES]','3. [SEE ELECTION STUDY NOTES]'],'4. [SEE ELECTION STUDY NOTES]',
"8. VOLUNTEERED: DON'T KNOW",'7. REFUSED','7. VOLUNTEERED: REFUSED','7. NOT APPLICABLE',    
#     responses
'9. CONSERVATIVE PARTIES','9. HINDUISM',

In [192]:
pd.Series( [x for x in party_ordinal_decimals_dropped_vc.index if not re.match("9{1,8}\d?\.(00)?\.?",x) and x[0:1]=="9"] ).values

array(['9999989. INDEPENDENT CANDIDATE',
       '999989. INDEPENDENT (NON-PARTY CANDIDATE)',
       '999989. INDEPENDENT CANDIDATE',
       '9999988. NONE OF THE CANDIDATES/PARTIES',
       '9999988. NONE OF THE CANDIDATES PARTIES',
       '999988. NONE OF THE CANDIDATES/PARTIES'], dtype=object)

In [197]:
pd.Series( [x for x in dummy_decimals_dropped_vc.index if re.match("9{1,8}\d?\.(00)?\.?",x)] ).values

array(['99. MISSING', '9. MISSING', '9. CONSERVATIVE PARTIES',
       '90. OTHER', '97. NOT APPLICABLE',
       '98. NO IDEOLOGICAL FAMILY MENTIONED', '96. OTHER: NOT SPECIFIED',
       '9999. MISSING', '97. VOLUNTEERED: REFUSED',
       "98. VOLUNTEERED: DON'T KNOW", '9997. REFUSED', '9. HINDUISM',
       "9998. DON'T KNOW"], dtype=object)

In [ ]:
## check categories, see if we have any with the same 'numbers'

In [102]:
CSES_int_final.select_dtypes('object').shape

def is_dup(x):
    return len(set(x))!=len(x)

In [104]:
CSES_int_final.select_dtypes('category').apply(lambda x:is_dup([int(y.split(".")[0]) for y in x.cat.categories if isinstance(y,str) and re.match("(\d+)\.",y)]))

0

In [108]:
temp = CSES_int_final.select_dtypes('object').astype('category').apply(lambda x:is_dup([int(y.split(".")[0]) for y in x.cat.categories if isinstance(y,str) and re.match("(\d+)\.",y)]))

In [111]:
CSES_int_final[CSES_int_final.select_dtypes('object').columns[temp]]

## any repeated

,IMD2001_1,IMD2001_2,IMD5022_2,IMD5022_3,IMD5022_4
0,22,01. YOUNGEST - 24 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
1,22,01. YOUNGEST - 24 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
2,56,05. 55-64 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
3,50,04. 45-54 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
4,48,04. 45-54 YEARS,99.00 MISSING,99.00 MISSING,99.00 MISSING
...,...,...,...,...,...
35160,20,01. YOUNGEST - 24 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35161,36,03. 35-44 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35162,81,06. 65 - OLDEST,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35163,26,02. 25-34 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE
35164,38,03. 35-44 YEARS,97. NOT APPLICABLE,0,97. NOT APPLICABLE

In [140]:
CSES_int_final = CSES_int_final.reset_index().rename(columns={"index":"original_index"})

In [150]:
replace_dict= {"9997. VOLUNTEERED: REFUSED":"9997. REFUSED",
 "9998. VOLUNTEERED: DON'T KNOW":"9998. DON'T KNOW",}
CSES_int_final["IMD2001_1"] = CSES_int_final["IMD2001_1"].replace(replace_dict)
#
replace_dict = {'9997. VOLUNTEERED: REFUSED':'9997. REFUSED',
                "9998. VOLUNTEERED: DON'T KNOW":"9998. DON'T KNOW"}
CSES_int_final["IMD2001_2"] = CSES_int_final["IMD2001_2"]\
                                  .replace(replace_dict).astype('category').cat.set_categories(CSES_int["IMD2001_2"].cat.categories,
                                  ordered=True)
#
replace_dict = {'97. NOT APPLICABLE':'97.00 NOT APPLICABLE'}

CSES_int_final["IMD5022_2"] = CSES_int_final["IMD5022_2"].replace(replace_dict)
CSES_int_final["IMD5022_3"] = CSES_int_final["IMD5022_3"].replace(replace_dict)
CSES_int_final["IMD5022_4"] = CSES_int_final["IMD5022_4"].replace(replace_dict)